[2016-02-01 09:24] danmihaila opened #4024 "New Contribute Flow: Resouce format error"
Add a new resource. Click on "import from URL" radio button. Choose a file and manually enter the "format". When user is choosing one format, it will automatically switch the radion button option to "Import from file"

[2016-02-01 09:41] danmihaila opened #4025 "New Contribute Flow: missing actions on first landing page"
- [ ] The X closing modal is not working (I tested in macos FF)
- [ ] FAQ blue text has to be link to our FAQ page
  ![screen shot 2016-02-01 at 11 39 36](https://cloud.githubusercontent.com/assets/3865844/12713681/b9fa35e2-c8d8-11e5-9f60-4176745dac29.png)

[2016-02-01 09:43] danmihaila opened #4026 "New Contribute Flow: Name and Title are missing"
When Name or Title is missing we should display only one error. I know that we are missing 2 fields, but it might be confusing for users to see 2 error messages displayed, but only one error. I would say to keep "Title" as the form label.
![screen shot 2016-02-01 at 11 41 58](https://cloud.githubusercontent.com/assets/3865844/12713727/0989bbbe-c8d9-11e5-9a11-e330bcc198bf.png)

[2016-02-01 10:09] danmihaila opened #4027 "New Contribute Flow: review the text errors and align with current labels"
![screen shot 2016-02-01 at 12 05 56](https://cloud.githubusercontent.com/assets/3865844/12714304/9614d002-c8dc-11e5-92a9-a3749fdaa1bc.png)

[2016-02-01 10:10] danmihaila opened #4028 "New Contribute Flow: License other/ Methodology other"
When user is picking other for license or methodology and not filling the text, the system should raise an error as the describing other license/methodology became mandatory.

[2016-02-01 11:48] #4011 closed, assigned to aalecs

[2016-02-01 13:12] #4021 closed, assigned to aalecs

[2016-02-01 13:32] #3994 closed, assigned to alexandru-m-g

[2016-02-01 15:20] alexandru-m-g commented on #4022
If a resource form is empty the server side validation of that resource will fail. Let me know if this needs to be changed.

[2016-02-01 15:20] #4022 closed, assigned to alexandru-m-g

[2016-02-01 15:26] alexandru-m-g commented on #4023
Usually the server manages to guess the format if the format field is empty. You'll get a validation error if that didn't succeed.

[2016-02-01 15:26] #4023 closed, assigned to alexandru-m-g

[2016-02-01 15:44] #3934 closed, assigned to aalecs

[2016-02-01 15:44] #4007 closed, assigned to aalecs

[2016-02-01 15:44] #4025 closed, assigned to aalecs

[2016-02-01 23:22] #4024 closed, assigned to alexandru-m-g

[2016-02-01 23:28] alexandru-m-g commented on #3928
Closing this after discussion with @danmihaila

[2016-02-01 23:28] #3928 closed, assigned to alexandru-m-g

[2016-02-02 10:12] danmihaila opened #4030 "HDX Views and Downloads: dataset list page"
We decided  to split “Popular” into “Trending”(short-term traction) and “Most downloads” (long-term traction) to make sure new/old datasets are treated fairly.
- Hover on flame icon for “Trending" (measured by recent views without showing the number which confuses everyone)
- Next to flame icon - display rounded up/significant number of downloads (i.e. 10000+ downloads, 5000+ downloads, 1000+ down

[2016-02-02 10:15] danmihaila opened #4031 "HDX Views and Downloads: dataset view page"
We decided to split “Popular” into “Trending”(short-term traction) and “Most downloads” (long-term traction).
- hover on flame logo for “Trending” (without showing number)
- (next to the flame/trending icon) display rounded up/significant number of downloads (i.e. 1000+ downloads, 100+ downloads etc)
- total number of downloads will be displayed at the bottom in the continuous browse.
  ![dataset_

[2016-02-02 11:44] danmihaila commented on #4016
done

[2016-02-02 11:44] #4016 closed, assigned to danmihaila

[2016-02-02 11:44] #4003 closed, assigned to danmihaila

[2016-02-02 12:56] danmihaila opened #4032 "HDX Documentation: new contribute flow"
- [ ] Help Document for New contribute flow
- [ ] Text to update teh FAQ re new contribute flow

[2016-02-02 14:35] danmihaila opened #4033 "New Contribute Flow: drag&drop is missing for json-repository first resource"
![screen shot 2016-02-02 at 16 28 15](https://cloud.githubusercontent.com/assets/3865844/12752369/f12a703e-c9ca-11e5-8e06-5a6dd0309592.png)

[2016-02-02 14:38] alexandru-m-g commented on #4030
@danmihaila @yumiendo So when should the trending icon appear ? What's the threshold ( in dataset views ) ?

[2016-02-02 14:48] danmihaila commented on #4033
this is not a bug actually, it is done according to mockups. Pinging @yumiendo and @aalecs

[2016-02-02 14:48] #4033 closed, assigned to aalecs

[2016-02-02 14:51] alexandru-m-g opened #4034 "HDX Views and Downloads: Sorting"
Sort dropdown with Trending & Most Downloads(new)

[2016-02-02 14:54] alexandru-m-g opened #4035 "New Contribute Flow: mouse select / cursor issues in resource form"
you cannot select ( or click to move the cursor ) in the resource form textboxes, like name, url

[2016-02-02 15:41] alexandru-m-g commented on #4035
Forgot to add: tested in Firefox. I think this happened once before and @brew fixed it ( if I remember correctly )

[2016-02-02 23:30] #4028 closed, assigned to alexandru-m-g

[2016-02-03 13:24] danmihaila opened #4036 "New Contribute Flow: Drag & drop issue"
<img width="623" alt="screen shot 2016-02-03 at 15 09 46" src="https://cloud.githubusercontent.com/assets/3865844/12783405/15c7ccba-ca8a-11e5-961c-1c6a9b32d385.png">
drag & drop freezes if somehow IOS focus is not present. If you move the mouse over the region it is working fine.

[2016-02-03 13:26] danmihaila opened #4037 "New Contribute Flow: FAQ link missing"
Missing FAQ link
Under “Your files”> google drive - we need to make “FAQ” a link.

[2016-02-04 11:27] alexandru-m-g opened #4038 "New contribute flow: Horizontal scrollbar showing"
I tested in Linux - Firefox and Chrome in FullHD, and in Windows in Firefox:
![scrollbar](https://cloud.githubusercontent.com/assets/6586348/12813794/0d469918-cb43-11e5-8988-e077686ae36b.png)
Notice the scrollbar at the bottom

[2016-02-04 12:26] danmihaila opened #4039 "New Contribute Flow: Dataset’s quality has been confirmed"
Add a black information text: "Has the quality of this dataset been evaluated by our data team?"
This option will appear only for sysadmins

[2016-02-04 12:27] danmihaila opened #4040 "New Contribute Flow: Description placeholder"
Change the description placeholder to:
"What type of data is included in this dataset ? For example, 'This data is about an assessment in x region' "

[2016-02-04 12:30] danmihaila opened #4041 "New Contribute Flow: Multi-line text/textarea field scroll not working in Chrome"
When trying to scroll up to the top of text field (after adding lengthy description or caveat etc) the whole page scrolls up instead of text field.
write a long paragraph in text field > try to scroll up to the top of text field > the page moves
<img width="622" alt="screen shot 2016-02-04 at 14 29 25" src="https://cloud.githubusercontent.com/assets/3865844/12814963/c80c6b12-cb4b-11e5-8172-634a5ca

[2016-02-04 12:40] danmihaila opened #4042 "New Contribute Flow: “(?)” under Update frequency title"
“(?)” under Update frequency title should have a speech bubble (like the one you get on Dropbox/google drive). Update frequency is a new feature so it’d be nice to give a speech bubble.
Text: "How often are you going to update this dataset? HDX will remind you when its time to update."

[2016-02-04 12:42] danmihaila opened #4043 "New Contribute Flow: change the header to “Edit Details” in edit mode"
Once dataset is submitted and user clicks on edit > change the header to “Edit Details”
To distinguish “add data” from “edit” - 1. change the header to “Edit Details” 2. change bg color to #888 and 3. “x” to #fff

[2016-02-04 12:44] danmihaila opened #4044 "New Contribute Flow: When not logged in and click on “add data” > old login screen shows"
Can we update the screen below to the newer login screen?

[2016-02-04 14:03] danmihaila opened #4045 "New Contribute Flow: Modal should close only by X button"
To avoid accidentally close the form, the modal should close only when user clicks on X button

[2016-02-04 14:19] danmihaila opened #4046 "New Contribute Flow: make blue text into black"
turn other blue text (ie. any common dataset format / CSV etc) into black (like Map view)

[2016-02-04 14:23] danmihaila opened #4047 "New Contribute Flow: when name already exists the saving is not finishing the process"
When errors are returned and not all of them are fixed
From yumi ( and I reproduced it too): I had a few errors returned when submitting > fixed a couple > resubmitted > loading animation keeps going (and only way out is to click on ‘x’...which loses everything)
Steps:
chose file from google drive > filled out dataset title, chose ‘other’ under license(didnt define license) > submitted > returned

[2016-02-04 14:28] danmihaila opened #4048 "New Contribute Flow: Expand modal window"
can we remove the margin top/bottom and expand the height of the the window (screen attached)?
<img width="624" alt="screen shot 2016-02-04 at 16 27 30" src="https://cloud.githubusercontent.com/assets/3865844/12817746/3c4cea3c-cb5c-11e5-90e5-087c53e0d7ca.png">

[2016-02-05 08:07] #4035 closed, assigned to aalecs

[2016-02-05 08:32] #4045 closed, assigned to aalecs

[2016-02-05 08:51] danmihaila opened #4049 "New Contribute Flow: Reorderding resources activates the drop area"
when reordering resources - the drag/drop area gets activated by another resource. is it possible to deactivate it while reordering?

![screen shot 2016-02-05 at 10 51 17](https://cloud.githubusercontent.com/assets/3865844/12841707/6c4ec2f6-cbf6-11e5-8b4f-2aa6e4c78827.png)

[2016-02-05 09:11] danmihaila commented on #4037
this is done by @aalecs

[2016-02-05 09:11] #4037 closed, assigned to danmihaila

[2016-02-05 09:26] #4040 closed, assigned to danmihaila

[2016-02-05 10:17] #4039 closed, assigned to danmihaila

[2016-02-05 10:19] cjhendrix opened #4050 "New Contribute: Geopreview not working on 2nd resource"
Works fine on Demo (current contribute flow):  https://demo-data.hdx.rwlabs.org/dataset/cod-admin-3-4

But on Feature (new cont. flow), the second resource never previewed: https://feature-data.hdx.rwlabs.org/dataset/burundi-adm-levels-3-4

[2016-02-05 10:23] #4042 closed, assigned to danmihaila

[2016-02-05 10:26] aalecs commented on #4041
Seems the problem is because the whole content is inside an iframe. I didn't find a solution in a short time, should we spend more time on this?

[2016-02-05 10:28] danmihaila commented on #4041
I think we can leave it like this for the moment as it is only on Chrome and not all the time. I will move it to sprint candidates and we will return to this one later.
Pinging @yumiendo to be aware. thanks, @aalecs

[2016-02-05 11:38] #4048 closed, assigned to aalecs

[2016-02-05 14:16] danmihaila commented on #4044
message displayed: In order to add data, you need to login below or register on HDX

[2016-02-05 15:02] danmihaila opened #4051 "New Contribute Flow: Add mandatory red stars for fields"
can we add \* to mandatory fields under resources so its obvious.
![screen shot 2016-02-05 at 17 01 54](https://cloud.githubusercontent.com/assets/3865844/12849800/38a7a614-cc2a-11e5-8fb5-7d6fdb34ae76.png)

[2016-02-05 15:40] yumiendo commented on #4044
Thanks dan for the 2 screenshots. I prefer the longer message (because its more clear) - is it possible to add the height so the bottom is not cut off?

[2016-02-05 15:46] danmihaila commented on #4044
ok. this means we will have the login widget with height bigger. is this ok?

[2016-02-05 16:00] yumiendo commented on #4030
I learned from @danmihaila that 10 views of dataset page makes it 'trending' - so lets keep that the same.

[2016-02-05 16:03] #4044 closed, assigned to danmihaila

[2016-02-05 16:31] #4047 closed, assigned to alexandru-m-g

[2016-02-07 21:44] alexandru-m-g commented on #4051
@danmihaila
This is actually a bit more tricky then it seems. I tried to get it working by using just placeholders and CSS but got stuck because:
1.  Styling placeholders is a non-stadard feature in browsers that the documentation advises against ( since it might have different results for different users using different browsers ) : https://developer.mozilla.org/en/docs/Web/CSS/::-moz-placeholder

[2016-02-08 10:47] #4049 closed, assigned to aalecs

[2016-02-08 10:47] #4036 closed, assigned to aalecs

[2016-02-08 15:35] alexandru-m-g commented on #4043
Here is how it would look after the change.
@danmihaila @yumiendo
![new_in_form](https://cloud.githubusercontent.com/assets/6586348/12889993/46d2af56-ce8a-11e5-8e88-d9533564f75a.png)
![new_add_resource](https://cloud.githubusercontent.com/assets/6586348/12889992/46cfdcfe-ce8a-11e5-9ed8-d338df93bfb1.png)
![edit](https://cloud.githubusercontent.com/assets/6586348/12889994/46d40a54-ce8a-11e5-8c7e-f2d

[2016-02-09 12:50] danmihaila opened #4052 "New Contribute Flow: user with no organization tries to add data"
When an user with no organization tries to add data, it is logged out and displayed message is:
Unauthorized to create a package
It should redirect similar as https://github.com/OCHA-DAP/hdx-ckan/issues/4044

[2016-02-09 12:57] danmihaila opened #4053 "New Contribute Flow: On initial screen, faq link should point to "What are the recommended data formats?""
In first screen (Drag & Drop) -  faq link at the bottom
description [mandatory] - is it possible to link to ‘What are the recommended data formats?” question(ideally drawer open like screen below) under FAQ?

[2016-02-09 12:59] danmihaila opened #4054 "New Contribute Flow: File format dropdown under ‘resource’ has a bit of delay"
When you start typing file format - it has a delay (and I thought predictive dropdown wasnt working) is there a way to show options quicker?
After a discussion with @yumiendo : can a search icon change to loading gif? it can be same one as the one we used on dataset page under meta data > "Visibility: Private - make it public"
![screen shot 2016-02-09 at 14 59 14](https://cloud.githubusercontent.c

[2016-02-09 13:03] danmihaila commented on #4041
I double tested in chrome and FF and for me now it is working well. I will close this one and reopened if it is the case

[2016-02-09 13:03] #4041 closed, assigned to aalecs

[2016-02-09 13:27] cjhendrix opened #4055 "Request new org: clicking submit button with empty required fields appears to succeed, but actually fails"
1. Log in as a non-sysadmin
2. navigate to My Organizations
3. click Request New
4. leave form with 1 or more required fields blank
5. click Submit

My Orgs is reloaded without any success or failure message.  Instead, we should provide validation failure messages.

[2016-02-09 14:14] yumiendo commented on #4043
Hi alex - thank you for these !
Two things - (both css)
1. on 'add detail' page header - can we change the 'x' (close button) to white
2. on the drag/drop page at the bottom - 'supported formats' and 'any common data' etc in bold. I know i made you change to #000000 but it looks too emphasized so can we tone them down to #888888 (and keep them as bold. screen attached)
<img width="705" alt="screen

[2016-02-09 14:17] danmihaila commented on #4043
@yumiendo @alexandru-m-g number 2 is related to https://github.com/OCHA-DAP/hdx-ckan/issues/4046 which I've done.
I will work on item 2, no worries.

[2016-02-09 14:18] danmihaila commented on #4046
as per @yumiendo request in #4043
on the drag/drop page at the bottom - 'supported formats' and 'any common data' etc in bold. I know i made you change to #000000 but it looks too emphasized so can we tone them down to #888888 (and keep them as bold. screen attached)
<img width="705" alt="7d7ba55c-cf0d-11e5-881b-d067b008d03f" src="https://cloud.githubusercontent.com/assets/3865844/12918636/a9ce28a

[2016-02-09 14:40] yumiendo commented on #4043
Im sorry if this is tied to another github issue - can we make sure to add \* to the fields under resource?
<img width="648" alt="screen shot 2016-02-09 at 9 41 12 am" src="https://cloud.githubusercontent.com/assets/8006323/12919208/0e7eb8f2-cf11-11e5-9f6a-9d0231656a72.png">

[2016-02-09 14:50] alexandru-m-g commented on #4043
@yumiendo This is in #4051.
Also added a comment there. Making the star red is actually the complicated part. Please advise on how important that is.

[2016-02-09 14:57] yumiendo commented on #4051
@alexandru-m-g is adding a gray \* also hard to do? i can be ok with gray ones if thats easier to do.

[2016-02-09 15:54] alexandru-m-g commented on #4051
ok, gray is easy

[2016-02-09 17:55] #4027 closed, assigned to alexandru-m-g

[2016-02-09 17:59] #4051 closed, assigned to alexandru-m-g

[2016-02-09 20:22] alexandru-m-g commented on #4043
@yumiendo, @danmihaila:
I've made the changes to the (X) button to make it white. But check below how it looks when you scroll down:
![scroll](https://cloud.githubusercontent.com/assets/6586348/12929448/69c82788-cf7b-11e5-8e6e-d0260b075e52.png)
Let me know if that is ok.

[2016-02-11 12:31] alexandru-m-g commented on #4030
The commit https://github.com/OCHA-DAP/hdx-ckan/commit/6d9724ca14c35bddc668db31c109f18bc702e1c4 is actually related to this ticket. Wrong commit message.

[2016-02-11 12:31] #4030 closed, assigned to alexandru-m-g

[2016-02-11 12:44] #3924 closed, assigned to teodorescuserban

[2016-02-11 13:28] alexandru-m-g commented on #4031
I've committed the change for this. Isn't it weird that on the same page the user can see both something like 200+ and the real number which can be like 999 ?

Ex in screenshot below:
![1](https://cloud.githubusercontent.com/assets/6586348/12977562/18d0678c-d0d4-11e5-9c88-53081ec37d03.png)
![2](https://cloud.githubusercontent.com/assets/6586348/12977563/18d86bd0-d0d4-11e5-8a0a-782731deebb5.png)

@

[2016-02-11 13:40] danmihaila opened #4056 "New Contribute Flow: make it private/make it public should edit the dataset"
"make it private"/"make it public" should be a link to edit dataset

[2016-02-11 19:39] yumiendo commented on #4031
Hi alex, why is the total roundup number(in this case 200+) much smaller than the actual downloads (447)?? shouldn't the round up number be 400+?

[2016-02-11 22:09] alexandru-m-g commented on #4031
@yumiendo i thought the thresholds are the ones specified in #4030. If I should use other ones please let me know.

[2016-02-12 13:21] #4046 closed, assigned to danmihaila

[2016-02-12 13:21] #4052 closed, assigned to danmihaila

[2016-02-12 13:21] #4056 closed, assigned to danmihaila

[2016-02-12 14:51] yumiendo commented on #4043
this is great - thank you.

[2016-02-12 15:18] yumiendo commented on #4031
oh im sorry... Iooks like I didn't call out all numbers(threshold) in the example and caused confusion.
can we include all the in-between numbers...
10,20,30,40,50,60,70,80,90,
100, 200, 300, 400, 500, 600,700,800, 900
1000,1100, 1200,1300,1400, 1500,1600,1700,1800,1900,
2000, 2100, 2200,2300,2400,2500,2600,2700,2800,2900,
same goes for 3000....9900
10000, 11000,12000.....

[2016-02-14 22:44] alexandru-m-g commented on #4034
@teodorescuserban @danmihaila the solr schema was changed by this ticket. So we need to:
1.  Update solr with the new schema.xml from here https://github.com/OCHA-DAP/hdx-ckan/blob/97d56f2338eec7ee31126a058fcc0dcb2c92ed74/ckanext-hdx_search/ckanext/hdx_search/hdx-solr/schema.xml#L142
2.  Do a complete reindex

[2016-02-14 22:46] #4043 closed, assigned to alexandru-m-g

[2016-02-15 09:20] danmihaila opened #4061 "HXL Proxy: research"
- [x] call with David, Alex and Dan about HXL Proxy
- [x] research about architecture and how can it be integrated with HDX
- [ ] try to build a simple chart with data fetched via HXL Proxy

[2016-02-15 10:12] danmihaila opened #4062 "HDX issues: clean current hdx issues from github"

[2016-02-15 10:33] cjhendrix opened #4063 "hdx feedback gmail address looks a little fishy as a Google Drive developer"
Perhaps change this to hdx@un.org

![image](https://cloud.githubusercontent.com/assets/1654485/13046246/02e46822-d3d8-11e5-864d-94821bf8af6d.png)

[2016-02-15 14:26] #4034 closed, assigned to alexandru-m-g

[2016-02-15 15:21] cjhendrix opened #4064 "New contribute flow: Make capitalization consistent"
The items highlighted below should probably be in title case to be consistent with the text "Privacy Settings"

![image](https://cloud.githubusercontent.com/assets/1654485/13052597/1779bfbc-d400-11e5-9943-1de76eb7ca4a.png)

[2016-02-15 17:31] cjhendrix opened #4066 "New contribute: change default text for the resource note field"
To make the distinction between the description of the dataset and the description of the resource, I suggest we change the default text from
`Add description`
to
`Add a note about this resource`

This also will align better with the metadata guidance page.

![image](https://cloud.githubusercontent.com/assets/1654485/13055901/3cf9151e-d412-11e5-9c6a-a1ad92015d23.png)

[2016-02-15 17:31] cjhendrix commented on #4066
tagging @yumiendo @JavierTeran

[2016-02-15 17:35] yumiendo commented on #4066
Perhaps we can change from "Add description" to "Note - add useful note about this file" ? @JavierTeran what do you think?

[2016-02-15 22:15] alexandru-m-g opened #4067 "Requesting new organization issue"
The following problem appears in chrome when the inserted URL does not have the protocol ( ex. http:// )
The browser stops the normal form submit because the URL field does not validate. However, a js event is still triggered from _custom_organization_creation.js_ on clicking `$('.create-org-btn').click(function(){....` . This event is actually only needed for the normal edit organization form.

[2016-02-15 22:20] alexandru-m-g commented on #4031
commit https://github.com/OCHA-DAP/hdx-ckan/commit/cc2f502a24f9a67a2555fea303ff57b60155b4c2 is actually related to #4067  (sorry)

[2016-02-15 22:21] #4031 closed, assigned to alexandru-m-g

[2016-02-15 22:21] alexandru-m-g commented on #4067
Related commit: https://github.com/OCHA-DAP/hdx-ckan/commit/cc2f502a24f9a67a2555fea303ff57b60155b4c2

[2016-02-15 22:21] #4067 closed, assigned to alexandru-m-g

[2016-02-16 09:33] danmihaila opened #4069 "New Contribute Flow: update the FAQ text"

[2016-02-16 10:37] #4064 closed, assigned to danmihaila

[2016-02-16 12:46] #4069 closed, assigned to danmihaila

[2016-02-16 12:46] #4032 closed, assigned to danmihaila

[2016-02-16 15:32] alexandru-m-g opened #4081 "New Contribute Flow: drag and drop not working when editing and adding a new resource"
Drag and drop of local files is not working when editing and adding a new resource.

After you try to reorder the resource it starts to work

This is related to #4049

[2016-02-17 12:08] cjhendrix opened #4086 "My Organizations: misalignment of buttons"
Small misalignment of buttons in both chrome and FF

![image](https://cloud.githubusercontent.com/assets/1654485/13109116/a57a863e-d577-11e5-853d-a1d4878eccfb.png)

[2016-02-17 15:02] cjhendrix opened #4087 "Some proposed tweaks to make new contribute even faster"
After files are dropped, place focus in first "File Type" field.

After hitting enter on a file type, move focus to note field.

Add "File Type" field to the tab sequence in the form.

After "Source", add "Organisation" and "Maintainer" to tab sequence.

Date picker still has the weird behavior of requiring the user to choose Month, then year, then day to register a change.  See #2600.

Tabbing fr

[2016-02-17 15:33] cjhendrix opened #4088 "New Contribute: Non sysadmin user can assign _any_ user as maintainer"
User's should only be able to assign editors/admins of the org owning the dataset.

In the example below, user Linky is not a member/editor/admin of OCHA-BGSS.

![image](https://cloud.githubusercontent.com/assets/1654485/13114504/0eafbfc2-d594-11e5-86c5-59354a0b1c01.png)

[2016-02-17 15:37] cjhendrix opened #4089 "New Contribute: mistake in default text on "end date" field"
Should be "End Date"

![image](https://cloud.githubusercontent.com/assets/1654485/13114659/c4d75f44-d594-11e5-97c8-ff9770d2a12b.png)

[2016-02-17 15:43] cjhendrix opened #4090 "New Contribute: Odd behavior on file type field"
1. drag/drop a resource
2. put cursor in resource name field
3. tab (focus disappears, but I think it is on the file type field)
4. start typing a file type
5. some kind of ajax search popup appears in top left of browser (see below)

![image](https://cloud.githubusercontent.com/assets/1654485/13114781/4312970c-d595-11e5-9225-df9d1ab67513.png)

[2016-02-18 11:12] danmihaila opened #4091 "Investigate why some datasets doesn't have activity stream"
e.g https://data.hdx.rwlabs.org/dataset/ethiopia-common-food-prices-2002-2014

[2016-02-18 11:36] danmihaila commented on #4091
it doesn't show for private datasets. closing it

[2016-02-18 11:36] #4091 closed, assigned to nobody

[2016-02-18 11:50] danmihaila opened #4092 "New Contribute Flow: bug when adding a url resource"
Steps to reproduce:
- add data
- choose one option for resource
- remove the selected resource
- add new resource button click
- choose url/api option
- fill only the URL field
- save dataset as private
  Keeps loading the modal

[code]

[2016-02-18 12:45] #4092 closed, assigned to alexandru-m-g

[2016-02-18 13:22] danmihaila opened #4100 "Travis failing"
Travis is still failing. I am not sure if it is from dev or a configuration.

[2016-02-18 13:23] teodorescuserban commented on #4100
will take a look.

În joi, 18 feb. 2016 la 15:22, danmihaila notifications@github.com a
scris:

[2016-02-19 14:11] cjhendrix opened #4103 "New Contribute: dataset edit changes package_creator"
I edited the file format on one resource of an existing dataset.  This resulted in two activity stream entries.   The earliest one (updating package_creator) shouldn't happen.

![image](https://cloud.githubusercontent.com/assets/1654485/13177653/cbb543c6-d71a-11e5-832a-8557a69c4680.png)

[2016-02-19 19:59] teodorescuserban opened #4104 "Geopreview not working."

[2016-02-19 20:02] teodorescuserban commented on #4104
Fixed.

Root cause: the generation of a new gislayer image grabbed a newer version (0.3.6) of rq-dashboard module which does not have RQDashboard anymore. This is essential for the current version of gislayer (which workd with the version 0.3.4 of rq-dashboard).

I installed manually the working version, then I made a PR to @alexandru-m-g 's gislayer with a small requirements.txt change to ensure

[2016-02-19 20:02] #4104 closed, assigned to teodorescuserban

[2016-02-22 13:21] #4081 closed, assigned to alexandru-m-g

[2016-02-22 17:50] cjhendrix opened #4105 "In some cases, file resources are getting set to "Import from URL""
It's not clear if this is a bug, or just some awkwardness in the new interface taht we haven't caught yet.

From Slack discussion:
Seeing something odd.  The most recent resources in the dataset below have odd links for the download button and result in 404.  The download links look like `filename.csv/` (that's the full link).

https://data.hdx.rwlabs.org/dataset/refugee-and-returnee-data (31KB)
h

[2016-02-22 22:03] teodorescuserban commented on #4105
They look like they were create by a scripț (a buggy one). I remember
having similar issues în early stages of cod script.

On Mon, 22 Feb 2016, 19:50 cjhendrix notifications@github.com wrote:

[2016-02-23 08:24] cjhendrix commented on #4105
Tagging @takavarasha @luiscape on this one since it _might_ some our scripts doing this.  If not, data team may want to contact someone at UNHCR responsible for their scripts.

[2016-02-23 11:01] danmihaila opened #4106 "New Contribute Flow: improve speed for a dataset with several resources"
On testing, I edited https://test-data.hdx.rwlabs.org/dataset/refugee-and-returnee-data which contains 5 resources and took about 10-12 seconds.
Also, when I changed from private to public to check the activity stream I noticed some strange records:
![screen shot 2016-02-23 at 12 59 56](https://cloud.githubusercontent.com/assets/3865844/13249534/9224ded0-da2d-11e5-9825-905eaec8d6ac.png)

[2016-02-23 11:02] danmihaila opened #4107 "HDX visualizations: WFP indicators"
to be added reqs

[2016-02-23 11:02] danmihaila opened #4108 "HDX visualizations: WHO"
tbd

[2016-02-23 11:04] danmihaila opened #4109 "HDX visualizations: 3w"
tbd

[2016-02-23 11:07] danmihaila opened #4110 "HDX Membership: adding a member trigger sending email to all admins of the org"
*\* Notification - "person name"  has been added to "org" as editor **

when someone adds a member, rest of admins receive confirmation email ie. “Yumi Endo has been added to WFP as editor”

[2016-02-23 11:08] danmihaila opened #4111 "HDX Membership: add My Organization link"
top right menu to include "My organizations"

[2016-02-23 11:10] alexandru-m-g commented on #4106
@danmihaila Can you explain a bit more about the strange records in the activity stream ? Also, analyzing and modifying the activity stream seems to be outside the scope of the issue.
Can we have a new ticket ? Is it for this sprint ?

[2016-02-23 11:27] danmihaila commented on #4106
@alexandru-m-g you are right: we don't need to fix the activity stream in this issue, but I thought they might be related.
The issue to be done here is to improve the speed of saving dataset.

[2016-02-23 11:30] danmihaila opened #4112 "HDX dataset: activity stream research"
The default recording of CKAN activity stream is not working very well. A research is needed and after this we can come up with final requirements

[2016-02-23 11:33] danmihaila opened #4113 "New Contribute Flow: stop old contribute links"
We need "to stop" the links to old contribute (ckan default) UI:
- dataset/edit
- resource/edit
- dataset/new
- resource/new

We will need to display a message saying something like:
" In order to add/edit a dataset/resource you need to use the link 'Add/ Data'/'Edit Dataset' " . Add Data or Edit Dataset will be links to the new contribute flow.
Pinging @yumiendo to review the text to be displayed

[2016-02-23 12:54] danmihaila commented on #4100
@teodorescuserban any updates on this one?

[2016-02-23 12:55] danmihaila commented on #4088
@cjhendrix is this something that we need to discuss with @luiscape @JavierTeran @takavarasha or @yumiendo  ?

[2016-02-23 12:58] danmihaila commented on #4053
@aalecs do you think we can make the following change to FAQ: when adding a full url to an FAQ item ( including #anchor_or_id_of_item) to display it expanded?

[2016-02-23 12:58] danmihaila commented on #4017
@luiscape @JavierTeran @takavarasha @yumiendo do you agree with this change?

[2016-02-23 12:59] danmihaila commented on #4006
@cjhendrix I think we should do when we have time a review of all tags that are used or in use on prod. We should also check again if the new CKAN is allowing tags with uppercase too.

[2016-02-23 13:06] danmihaila commented on #4105
reproduced & found too by @aalecs and assigned to him.

[2016-02-23 13:13] takavarasha commented on #4088
I see no problem as long as non sysadmin user has admin editor rights to
the org that owns dataset.

On Tuesday, February 23, 2016, danmihaila notifications@github.com wrote:

[2016-02-23 13:21] aalecs commented on #4105
What I found:
- create new dataset by drag&droping a file
- for the resource select "Import from URL"
- add any url and fill the rest of the required fields
- hit Save

Result:
- instead of having a resource with URL, the initial drag&dropped file is uploaded

@cjhendrix - does it sound like the users might have used this scenario to create those resources? I don't have the rights to view those da

[2016-02-23 13:25] cjhendrix commented on #4105
It's possible. Because they are private, the activity stream info isn't recorded.  But it is the most recently updated resource in every case.

[2016-02-23 13:28] cjhendrix commented on #4088
I don't think it's ok for a user with edit right to set the maintainer to be _any_ user on HDX.   I doubt anyone would use this maliciously, but it is potentially confusing.

[2016-02-23 13:30] danmihaila commented on #4105
@aalecs check the first dataset  on staging: https://test-data.hdx.rwlabs.org/dataset/refugee-and-returnee-data
it is public

[2016-02-23 13:32] danmihaila commented on #4088
this is only about the metadata, not about users that can edit the dataset.

[2016-02-23 13:38] cjhendrix commented on #4088
Yes. Once we add user2user communication, it's about who would receive the notification (or email or whatever).

[2016-02-23 13:39] aalecs commented on #4105
Thanks @danmihaila ... I checked it and it doesn't look to be caused by the bug I described.
Might be the case that some scripts are doing this as CJ previously commented.

[2016-02-23 13:44] takavarasha commented on #4088
I get it now. The issue is the ANY hdx user part. I agree it should not be any hdx user. The list of maintainers should be limited to only those users who are admins or editors of the org that the dataset belongs to.

Sent from my iPhone

[2016-02-23 13:50] takavarasha commented on #4088
I would say that the list of eligible maintainers of a particular dataset should limited to the list of users who are members of the organization that owns the dataset. Earlier I had said admin or editor but I think any member of the organisation can be the maintainer.

Sent from my iPhone

[2016-02-23 14:08] teodorescuserban commented on #4100
Not yet.

On Tue, 23 Feb 2016, 14:54 danmihaila notifications@github.com wrote:

[2016-02-23 14:14] #4090 closed, assigned to aalecs

[2016-02-23 14:58] cjhendrix commented on #4088
sounds good to me

[2016-02-23 18:07] yumiendo commented on #4017
Shall we change to "Select Role"? so its not pre-selected to anything?

[2016-02-24 08:47] cjhendrix commented on #4017
Good idea!

[2016-02-24 09:26] cjhendrix commented on #3679
I'm running into this again managing two collaboration orgs.  The user request email comes to me with the email, but not the user name.  However the add user dialog only works with user names.

A quick fix would be to add the user name to the email we send when a new request is made.

[2016-02-24 12:55] danmihaila opened #4117 "New Contribute Flow: change resource type from file upload to URL when validation fails"
this  needs to be done as hotfix.
Steps to reproduce:
- drag 3-4 resources
-  delete 1 resource name
- add title and save dataset as private
- when displaying the validation errors you can notice that all resources changed from file upload to URL/API

[2016-02-25 08:36] #4117 closed, assigned to alexandru-m-g

[2016-02-25 13:57] #4110 closed, assigned to danmihaila

[2016-02-25 13:57] #4111 closed, assigned to danmihaila

[2016-02-25 15:19] aalecs commented on #4053
I added this feature for the FAQ page, the only thing to remember is that the anchor has to be of the question title div and not of the question answer div :)

(referenced the commit in another issue - 1c85f1f)

[2016-02-25 15:19] #4053 closed, assigned to aalecs

[2016-02-25 15:21] #4086 closed, assigned to aalecs

[2016-02-25 17:44] alexandru-m-g commented on #4061
## What I did:
-  Played with the HXL proxy and HXL validation
-  Wrote a simple script that (tries to) import HXLized data into the CKAN datastore and tries to guess which columns are integers based on the HXL tags ( https://bitbucket.org/agartner/hxl-2-ckan-datastore )
-  Did a small speed comparison between HXL proxy and the datastore. Results and conclusions can be found here: https://docs.goo

[2016-02-26 12:19] danmihaila commented on #4105
this is done via hotfixes already deployed. to be reopen in case it appears again

[2016-02-26 12:19] #4105 closed, assigned to danmihaila

[2016-02-26 12:20] #4113 closed, assigned to alexandru-m-g

[2016-02-26 12:21] danmihaila commented on #4100
@teodorescuserban can you make this issue high priority ? tnx

[2016-02-26 15:18] cjhendrix commented on #4103
I think this may be related:

When I updated one resource, (new file for one resource + change to the resource note), I got three actions in the activity stream (screen cap below).  I can see that there may indeed be three actions (two changes to the resource + 1 for touching the dataset), but I don't _think_ ckan was tracking it that way before.

![Uploading image.png…]()

[2016-02-29 08:45] #4061 closed, assigned to alexandru-m-g

[2016-02-29 09:01] danmihaila commented on #4050
@cjhendrix can you confirm this is still a valid issue?

[2016-02-29 09:05] danmihaila commented on #3844
this is not an issue anymore with the latest contribute flow. @takavarasha I am closing this one, please reopen if you still think it is an issue

[2016-02-29 09:05] #3844 closed, assigned to nobody

[2016-02-29 09:05] danmihaila commented on #3784
i think this is a duplicate and will be tackle in a more recent user

[2016-02-29 09:05] #3784 closed, assigned to nobody

[2016-02-29 09:05] danmihaila commented on #3755
@cjhendrix I think this is fixed. can you confirm and close this one?

[2016-02-29 10:22] cjhendrix commented on #3755
Yep,  fixed.

[2016-02-29 10:22] #3755 closed, assigned to nobody

[2016-02-29 10:38] #4038 closed, assigned to aalecs

[2016-02-29 10:39] danmihaila commented on #4038
ref https://github.com/OCHA-DAP/hdx-ckan/commit/0d2f6315c9102031fd57ad0f2fc7acad2a8ee42b

[2016-02-29 11:01] cjhendrix commented on #4050
Seems to be fixed:  https://data.hdx.rwlabs.org/dataset/ljksldkfjslkj  Both previewed after being created at the same time (drag and drop method).

[2016-02-29 11:01] #4050 closed, assigned to nobody

[2016-02-29 14:24] #4100 closed, assigned to teodorescuserban

[2016-02-29 17:56] aalecs commented on #4054
@danmihaila
There isn't a way to show them quicker because the options are generated server-side. Maybe they can be cached a bit? @alexandru-m-g
The current select2 search has a loading spinner that is replacing the search icon while it's getting the response from the back-end. Is it not working for you? I checked Safari/Chrome/Firefox and in all of them it's working :)

[2016-02-29 17:57] aalecs commented on #3893
@cjhendrix Can you give me a link to the demo server? I can't find the orgs on prod/stag.

[2016-03-01 09:58] danmihaila opened #4133 "New Contribute Flow: reupload of same file not working"
I created a dataset and uploaded a test.txt file. I changed the file local and tried to reupload using browse and drag&drop > save dataset. The content of the  file is not refreshed.
https://test-data.hdx.rwlabs.org/dataset/un-test

[2016-03-01 13:40] #4106 closed, assigned to alexandru-m-g

[2016-03-01 13:41] danmihaila commented on #3892
this is closed

[2016-03-01 13:41] #3892 closed, assigned to yumiendo

[2016-03-01 13:43] danmihaila commented on #3825
this is not a bug. It is an external link (to a website) and marked as XML resource. CKAN is allowing you to preview a html page as xml :)
I think we can close this one

[2016-03-01 13:44] danmihaila commented on #3551
@cjhendrix is this still an issue? can you reproduce it?

[2016-03-01 13:45] danmihaila commented on #3533
@cjhendrix i think we can close this one

[2016-03-01 13:53] #4054 closed, assigned to aalecs

[2016-03-01 14:18] #4133 closed, assigned to alexandru-m-g

[2016-03-01 15:28] cjhendrix commented on #3679
Ok, I see the name now (thanks @alexandru-m-g).  I still find the format a bit messy, but the important info is there if a user reads through it.  Closing.

[2016-03-01 15:28] #3679 closed, assigned to nobody

[2016-03-01 15:28] alexandru-m-g commented on #3982
This was changed in #3948 .

[2016-03-01 15:28] #3982 closed, assigned to alexandru-m-g

[2016-03-02 09:20] cjhendrix commented on #3533
I still think we should fix the image size just to keep the site as light as possible.  Field bandwidths are often frustratingly slow.  I guess what would help would be to have some idea of what our target is for the size to load a given HDX page so we could know if these images are blowing the budget or not.  To me they seem big (and I see them loading slowly sometimes).  If you disagree, feel fr

[2016-03-02 09:22] cjhendrix commented on #3551
Can't reproduce now. Closing.

[2016-03-02 09:22] #3551 closed, assigned to JavierTeran

[2016-03-02 09:40] cjhendrix commented on #3551
You're right, but I think we need to assign it to the data team.  I don't think this should be on HDX.

[2016-03-02 09:41] cjhendrix commented on #3551
@JavierTeran  This "dataset" is just a link to a web page with no data.  Thought you might want to have a look at it.

[2016-03-02 09:59] danmihaila commented on #3533
maybe we could cache the images in browser

[2016-03-02 10:00] cjhendrix opened #4136 "Trial Implementation of Mixpanel"
- Separate dev/prod as described here: https://mixpanel.com/blog/2012/09/12/best-practices-updated/
- Get distinct_id working correctly and linked to our user db.  http://500.co/mixpanel-pitfalls-how-to-get-it-right/

And from this doc:
https://docs.google.com/spreadsheets/d/18_ExT6h2OiK6r1PYkQ6n3BEdQ1WYCA4zL28CyjDkXe8/edit#gid=421590394
- establish our custom super properties
- Instrument [resour

[2016-03-02 11:28] aalecs commented on #3893
@cjhendrix - it might have to do with the fact that the datasets assigned to cluster A and D are not pulbic.
I did a test with 3 orgs named as you suggested and it works in all cases and the search isn't case sensitive.

Unless you can still reproduce the issue, we can close this ticket.

[2016-03-03 07:51] #4103 closed, assigned to alexandru-m-g

[2016-03-03 12:43] cjhendrix opened #4142 "Contribute: resource format is limited only to existing values"
I believe this used to be a free tag.  Maybe we decided to consciously limit this?  If not, we should allow new values to be added.   Alternatively, if we are controlling this vocabulary now, it might be worth cleaning up the values that are in there.

[2016-03-03 12:56] cjhendrix opened #4143 "Contribute: Autocomplete not working for resource type after a space"
Typing "zipped" returns "zipped shapefile as a choice.  This is correct.  However, typing any of the characters after "zipped"  (i.e. " shapefile"), the autocomplete does not return the result and user cannot add a file type when no results are found.

![image](https://cloud.githubusercontent.com/assets/1654485/13494905/a1d3355e-e147-11e5-9fcf-5dc3d852c583.png)

[2016-03-03 13:00] danmihaila commented on #4143
I agree, it looks to work only with 1 word. nice catch

[2016-03-03 13:32] cjhendrix opened #4144 "Contribute: tweak to validation message"
When a user gives a Dataset Title that already exists, the message is

"That URL is already in use."

While this is perfectly true, it may confuse a contributor, especially if they are given a URL resource.  I suggest we change the error message to

"That title is already in use.  Please edit your title or the URL just below it."

![image](https://cloud.githubusercontent.com/assets/1654485/1349574

[2016-03-03 19:40] alexandru-m-g commented on #4088
@cjhendrix @takavarasha A normal member ( non-admin, non-editor) can only view but not edit the datasets of the organization. So is he still suitable as a maintainer of a dataset ?

[2016-03-04 08:24] cjhendrix commented on #4088
Good question.

No, I'd say members are not suitable as maintainers.

[2016-03-04 09:13] cjhendrix opened #4146 "Location Page: when a group has no datasets, the message is not customized"
An edge case, for sure.

![image](https://cloud.githubusercontent.com/assets/1654485/13522729/8e607f9a-e1f1-11e5-9816-d79e9e0e2342.png)

[2016-03-04 09:16] cjhendrix commented on #2378
This is still happening with the new contribute flow.

[2016-03-04 09:25] cjhendrix opened #4147 "Contribute: making a dataset public causes error on location id"
Related to #2378 since I can only get it to happen with a new location.
1. Create a new group
2. Create a new private dataset assigned to your new group (I used a fake URL resource).  You may run into issue #2378 at this point.
3. From the dataset view page, click "make it public"
4. The location field may or may not be populated.  The behavior is inconsistent.  Reloading the modal will sometimes

[2016-03-04 10:02] danmihaila commented on #4146
@cjhendrix what message should be displayed?

[2016-03-04 11:47] cjhendrix commented on #4146
"Sorry no datasets found"  would work.

[2016-03-04 11:48] cjhendrix commented on #4146
Or if it keeps the code more consistent, "Sorry no datasets found for "Foolandia""

[2016-03-04 11:58] alexandru-m-g opened #4148 "Preview not working for cloud resources"
Since resource urls to cloud resources do not actually link to a CSV ( or other type for that matter) file but actually to the Google Drive viewer, our previews don't work for them.

We should discuss how to handle these cases .

[2016-03-04 15:31] mgalex commented on #4088
After discussing with @danmihaila , we decided to postpone this a bit as it would add more complexity to the javascript side since the organization of dataset is changeable:
  *  [ ] we need javascript logic to make different requests to autocomlete API depending on the selected org.
  *  [ ] If the org changes we need to reset the maintainer
  *  [ ] There's a need for a new API endpoint that ret

[2016-03-04 15:32] alexandru-m-g commented on #4088
After discussing with @danmihaila , we decided to postpone this a bit as it would add more complexity to the javascript side since the organization of dataset is changeable:
-  [ ] we need javascript logic to make different requests to autocomlete API depending on the selected org.
-  [ ] If the org changes we need to reset the maintainer
-  [ ] There's a need for a new API endpoint that returns m

[2016-03-07 09:34] #4055 closed, assigned to alexandru-m-g

[2016-03-07 14:01] danmihaila commented on #4088
ping @takavarasha @cjhendrix @yumiendo for comments. I think this is not going to be an easy task and lets discuss and decide what is the best solution we could implement here.

[2016-03-07 21:50] yumiendo commented on #4088
Based on reading the thread - I think "dropdown with any member of the org" makes sense. (though having someone who's just a member as a maintainer seem not very practical...but in those cases admins can provide editor/admin status)

@alexandru-m-g can you explain  "If the org changes we need to reset the maintainer" ? you mean once the user is on "add data" page and change the organisation dropdo

[2016-03-07 22:34] takavarasha commented on #4088
I agree with Yumi, a dropdown with all members would work. I also have concrete examples of ordinary members who are the maintainers of datasets. While not necessarily editors nor admins, these user delegate editorial tasks to other users in their organization. In addition, remember that maintainers  will also receive questions about datasets when we eventually have user-to-user comms. I am not co

[2016-03-08 10:53] danmihaila commented on #4088
the scenario is like this:
we are editing a dataset X which belongs to organization O1. Organization O1 has 2 members: M1 and M2. In edit form if we change from O1 to O2 the list of available members should also dynamically change because M1 and M2 users might not be part of O2.
Question: the maintainer is not usually the same user who is editing the dataset?

[2016-03-08 15:12] #4089 closed, assigned to danmihaila

[2016-03-08 15:36] #4066 closed, assigned to danmihaila

[2016-03-08 17:42] alexandru-m-g commented on #4088
@yumiendo as you said "we need to reload new set of members."  Also, if the organization changes, but before that the dataset already had a maintainer (from the previous org) we should empty the maintainer field ( and basically not allow the dataset to get to a state where the maintainer is not from the org that is selected in the dataset)

[2016-03-08 17:51] yumiendo commented on #4088
@alexandru-m-g that makes sense. hope this is not difficult to implement!

@danmihaila To your question - I think maintainer 'can be' an editor/owner of the dataset. (there may be other cases...)
@takavarasha @cjhendrix ?

[2016-03-11 11:19] cjhendrix opened #4152 "Contribute: on smaller screens, horizontal scrollbar has no effect"
Only tested in Chome/Win7.

![20160311-121756_capture](https://cloud.githubusercontent.com/assets/1654485/13700798/6f4ef05e-e783-11e5-8a34-52845564aaab.gif)

[2016-03-16 09:34] danmihaila opened #4153 "New Contribute Flow: bug when viewing dataset with no resources"
When adding a dataset with no resources, there is a link pointing to old contribute flow.
![why not add](https://cloud.githubusercontent.com/assets/3865844/13807663/2200606e-eb5a-11e5-80ee-775b0ae40c25.gif)

[2016-03-23 11:44] cjhendrix commented on #3893
D'oh!  That private-not-in-search thing keeps catching me out.  I hate that!  I'm sure it's just as confusing to our users with private data, but we already have an issue for that somewhere. Closing this one.

[2016-03-23 11:44] #3893 closed, assigned to aalecs

[2016-03-29 11:41] danmihaila opened #4154 "HDX visualizations: WFP indicators on hdx url"
We created a fork of https://github.com/SimonbJohnson/hdx-wfp-indicators here: https://github.com/OCHA-DAP/hdx-wfp-indicators
We need to have a public url on test-data for the moment for visualization, e.g:
https://test-data.hdx.rwlabs.org/visualization/wfp-indicators
Test to @aalecs and pinging @teodorescuserban to support on server side

[2016-03-29 12:05] aalecs commented on #4154
@teodorescuserban I've deployed the visualisation on github.io: http://ocha-dap.github.io/hdx-wfp-indicators
Can you do the setup in nginx for test-data? Thanks!

[2016-03-29 13:32] teodorescuserban commented on #4154
Done.
Thanks for help setting this up, @aalecs

[2016-04-04 13:56] danmihaila opened #4155 "CPS - not importing raw output from CKAN"
Currently CPS is not importing the raw output from CKAN. We need to investigate what is the cause, low priority for current sprint.

[2016-04-15 14:43] takavarasha opened #4156 "On dataset page, it would be great if clicking on organisation logo would take user to the organisation page"
On the dataset page, and if the organisation is branded (is a custom organisation with a logo), it would be great if the logo were a link to the organisation page of the organisation that owns the dataset. Users have been observed clicking on the logo with the expectation that they will be taken to the organisation page. There is currently no action associated with clicking the organisation's logo

[2016-04-15 15:13] amcguire62 commented on #4155
Can this be incl in next sprint

[2016-04-19 07:26] danmihaila commented on #4154
this is done

[2016-04-19 07:26] #4154 closed, assigned to aalecs

[2016-04-19 07:49] #4109 closed, assigned to aalecs

[2016-04-19 07:49] #4108 closed, assigned to aalecs

[2016-04-19 07:49] #4107 closed, assigned to aalecs

[2016-04-19 11:51] danmihaila opened #4157 "Research: testing UI"

[2016-04-20 12:21] danmihaila commented on #2270
closing this one as we probably are going to move to mixpanel

[2016-04-20 12:21] #2270 closed, assigned to nobody

[2016-04-20 12:23] danmihaila commented on #2506
this is done in our new contribute flow

[2016-04-20 12:23] #2506 closed, assigned to yumiendo

[2016-04-20 12:23] danmihaila commented on #2673
closing this until we get more requirements or requests to implement this

[2016-04-20 12:23] #2673 closed, assigned to aalecs

[2016-04-20 12:24] #3486 closed, assigned to danmihaila

[2016-04-20 12:25] #3563 closed, assigned to nobody

[2016-04-20 12:26] #3618 closed, assigned to nobody

[2016-04-20 12:26] #3692 closed, assigned to cjhendrix

[2016-04-20 12:27] #3693 closed, assigned to nobody

[2016-04-20 12:51] danmihaila commented on #3748
@cjhendrix do we have an update on this file? it looks like a broken external link right now.

[2016-04-20 12:54] danmihaila commented on #3714
@cjhendrix right now for me is not very slow, but average. is this still an issue re simplification?

[2016-04-20 12:58] danmihaila commented on #3747
@cjhendrix I changed the type to geojson on staging and it looks good: https://test-data.hdx.rwlabs.org/dataset/mexico-volcanes-activos
I am not sure this is an issue anymore if we change resource type from json to geojson

[2016-04-20 12:59] danmihaila commented on #3749
@cjhendrix can we have the url of dataset?

[2016-04-21 07:35] cjhendrix commented on #3749
https://data.hdx.rwlabs.org/dataset/mexico-recursos-en-salud

[2016-04-21 07:36] #3747 closed, assigned to cjhendrix

[2016-04-21 07:38] cjhendrix commented on #3714
About 20 seconds to load when I tested it just now.

[2016-04-21 07:40] cjhendrix commented on #3748
Yes, file is broken.  Closing for now.

[2016-04-21 07:40] #3748 closed, assigned to cjhendrix

[2016-04-22 17:25] takavarasha opened #4158 "New Contribute Flow: Potential for confusion when uploading "Import from url" type resources"
Consider providing an explicit instruction for the user to enter a url in the URL box. Currently, the user is presented with a URL textbox with a label that reads "eg. http://example.com/population-jan-2011.json". Some users may not realise that they have to enter a url in that box. Instead, they may interpret it as an example to the kind of input that is expected in the File name textbox directly

[2016-04-25 11:37] danmihaila opened #4159 "Map Explorer CKAN: integrate powerview extension"
Integrate powerview extension (https://github.com/OCHA-DAP/ckanext-powerview) with HDX project and keep it easy to be updated (make a short doc how to keep it updated inside HDX)

[2016-04-25 11:42] danmihaila opened #4160 "Map Explorer CKAN: saving a powerview"
when user clicks on "save" button it will save a powerview in db. @yumiendo  to provide final flow

[2016-04-25 12:17] danmihaila opened #4161 "Jenkins: implement Jenkins with our dev/staging server"
We need to have a full stack for dev server + Jenkins to allow devs to easily deploy and test

[2016-04-26 10:43] danmihaila commented on #12
@davidmegginson I am assigning you this epic as you were the first contributor. If you still think this is issue will be something intereseting for HDX keep it open and maybe we can add some requirements, otherwise lets close it. thanks

[2016-04-26 10:44] danmihaila commented on #92
@cjhendrix do you think this is still an issue with our latest changes and FAQ page?

[2016-04-26 10:45] danmihaila commented on #694
this is implemented: delete forever done :)

[2016-04-26 10:45] #694 closed

[2016-04-26 10:46] danmihaila commented on #789
@cjhendrix I don't completely understand this issue. can you give more details please?

[2016-04-26 10:46] danmihaila commented on #1007
I think this is done via new features already implemented. @cjhendrix pls reopen if you still think it is an issue

[2016-04-26 10:46] #1007 closed

[2016-04-26 10:47] cjhendrix commented on #92
Wow, that one really is ancient history.  And we did add page-specific help.  And we have faq.  Closing.

[2016-04-26 10:47] #92 closed

[2016-04-26 10:47] danmihaila commented on #1008
this is an actual issue and will be part of a bigger one related to documentation. moving to Sprint candidates for the moment

[2016-04-26 10:48] danmihaila commented on #1025
not an issue anymore.

[2016-04-26 10:48] #1025 closed

[2016-04-26 10:49] danmihaila commented on #1208
@cjhendrix do we still think this is an issue? we have members link. if still an issue lets ping Yumi to help otherwise lets close this one. tnx

[2016-04-26 10:50] cjhendrix commented on #789
This was something @ochadataproject wanted us to look into.  The idea is that someone would have to agree to a terms of use statement before they could request an organization.   I'm not sure if she still considers it important.  I'd leave it open it open in the archive in case we ever come back to it.

[2016-04-26 10:51] danmihaila commented on #1413
@cjhendrix
1) did you discuss with data team about vocabularies?
2) we have the autocomplete which can suggest to users existing tags. Do you think of something more?

[2016-04-26 10:51] cjhendrix commented on #1208
It's still an issue.  Assigning to @yumiendo as you suggest.   Note that this was just an observation by me.  No priority has been given to this.

[2016-04-26 10:51] danmihaila commented on #1424
@cjhendrix do you think we still need this in CPS due to our current position ?

[2016-04-26 10:53] danmihaila commented on #1460
@cjhendrix I think this issue can be closed. I tried with WFP and it is working good and also with gfsc .
https://data.hdx.rwlabs.org/organization?q=gfsc#headerSearch
I think we can close this one

[2016-04-26 10:54] danmihaila commented on #1502
@cjhendrix I think we can close this due to our new contribute flow implementation

[2016-04-26 10:55] danmihaila commented on #1508
pinging @yumiendo and @cjhendrix . I think this could be included in our new membership work.

[2016-04-26 10:56] danmihaila commented on #1516
I would say to close this issue as it will be part of our new membership work.
@cjhendrix @yumiendo

[2016-04-26 10:56] danmihaila commented on #1568
@cjhendrix is this still an issue?

[2016-04-26 10:57] danmihaila commented on #1585
closing this one as no longer true for our new contribute flow. ping @cjhendrix to be aware

[2016-04-26 10:57] #1585 closed

[2016-04-26 10:58] danmihaila commented on #1593
@cjhendrix i think we can close this issue. tnx

[2016-04-26 11:01] danmihaila commented on #1930
@cjhendrix do you think we could close this one?

[2016-04-26 11:02] danmihaila commented on #2146
@luiscape @takavarasha @cjhendrix can you please confirm that we still need to update the list of countries?

[2016-04-26 11:02] danmihaila commented on #2227
I think we can close this one @cjhendrix

[2016-04-26 11:03] danmihaila commented on #3030
this is done, closing this one

[2016-04-26 11:03] #3030 closed, assigned to nobody

[2016-04-26 11:04] danmihaila commented on #3509
this is done, closing it

[2016-04-26 11:04] #3509 closed, assigned to nobody

[2016-04-26 11:09] danmihaila commented on #789
ok, assigned to @ochadataproject

[2016-04-26 11:12] danmihaila commented on #211
@cjhendrix I am afraid I don't understand this issue and requirements. When you have time, can you please add more information.
Of course, if it is not an issue anymore lets close it :) Moving it to Epics.

[2016-04-26 11:14] danmihaila commented on #285
@alexandru-m-g @cjhendrix as https://github.com/OCHA-DAP/hdx-ckan/issues/183 is closed, I think we could also close this one. Anyway, moving it to epics.

[2016-04-26 11:21] danmihaila commented on #487
@cjhendrix can you please give more information on this one?

[2016-04-26 11:22] danmihaila commented on #634
@cjhendrix can you still reproduce this one?

[2016-04-26 11:23] danmihaila commented on #670
done, closing it

[2016-04-26 11:23] #670 closed

[2016-04-26 11:23] danmihaila commented on #744
i think this is working good now. closing it. @cjhendrix please reopen if you think it needs work

[2016-04-26 11:23] #744 closed

[2016-04-26 11:24] danmihaila commented on #775
@cjhendrix is this still a valid requirement? can you give more information who requested it and why ?

[2016-04-26 11:25] danmihaila commented on #793
not an issue anymore

[2016-04-26 11:25] #793 closed

[2016-04-26 11:25] danmihaila commented on #794
not an issue anymore

[2016-04-26 11:25] #794 closed

[2016-04-26 11:25] danmihaila commented on #795
not an issue anymore

[2016-04-26 11:25] #795 closed

[2016-04-26 11:26] danmihaila commented on #838
not an issue anymore

[2016-04-26 11:26] #838 closed

[2016-04-26 11:27] danmihaila commented on #875
still a valid issue

[2016-04-26 11:28] danmihaila commented on #982
not an issue anymore, closing it
<img width="1440" alt="screen shot 2016-04-26 at 14 28 19" src="https://cloud.githubusercontent.com/assets/3865844/14816720/27b55cae-0bbb-11e6-8395-a475626e1af7.png">

[2016-04-26 11:28] #982 closed

[2016-04-26 11:30] danmihaila commented on #988
issue is fixed. @alexandru-m-g pls reopen if you still think it is an issue
<img width="375" alt="screen shot 2016-04-26 at 14 29 34" src="https://cloud.githubusercontent.com/assets/3865844/14816766/66d3b3e0-0bbb-11e6-879e-c8ff7749a417.png">
<img width="1440" alt="screen shot 2016-04-26 at 14 29 37" src="https://cloud.githubusercontent.com/assets/3865844/14816765/66d27c5a-0bbb-11e6-9fb0-0790f8b2e9

[2016-04-26 11:30] #988 closed

[2016-04-26 11:31] danmihaila commented on #991
@cjhendrix I can't reproduce this one. closing it?

[2016-04-26 11:34] danmihaila commented on #1044
@cjhendrix we have the git history of each file and "author" for our custom files.
If you think we should add name of dev when we change a chunk of code we could add it.
My idea was to add in code for any change we make a comment with the number of git issue for reference. But also this is going to be found in git history (if dev is committing with git number issue in comment, probably 90% of case

[2016-04-26 11:34] danmihaila commented on #1441
closing it

[2016-04-26 11:34] #1441 closed

[2016-04-26 11:36] danmihaila commented on #1453
this is partially done via new membership work and will be completed when we finalize the membership tasks.
I would say to close this one. Assigned to @yumiendo for reference.

[2016-04-26 11:40] danmihaila commented on #1632
I am closing this one. OCHA Kenya doesn't exist. If I search for
OCHA Liberia it is working good
https://data.hdx.rwlabs.org/search?q=+OCHA+Liberia+
<img width="1440" alt="screen shot 2016-04-26 at 14 40 00" src="https://cloud.githubusercontent.com/assets/3865844/14817010/d992d162-0bbc-11e6-9fd4-c7f1bc86f78d.png">

[2016-04-26 11:42] danmihaila commented on #1632
OCHA Kenya doesn't exist anymore. If I search https://data.hdx.rwlabs.org/search?q=+OCHA+Liberia+ it is working ok
<img width="1440" alt="screen shot 2016-04-26 at 14 40 00" src="https://cloud.githubusercontent.com/assets/3865844/14817059/1aa4866e-0bbd-11e6-9771-fb3605c52437.png">

[2016-04-26 11:43] danmihaila commented on #1632
<img width="1440" alt="screen shot 2016-04-26 at 14 40 00" src="https://cloud.githubusercontent.com/assets/3865844/14817076/3e844bbe-0bbd-11e6-87c2-a7af40b886d7.png">

[2016-04-26 11:43] #1632 closed

[2016-04-26 11:45] danmihaila commented on #1716
@davidmegginson is this still an issue and if yes what should be the priority? I think we can just make the resource not to be "zipped shapefile" or similar.

[2016-04-26 11:45] danmihaila commented on #2761
closing this one. we will migrate to a shorter url.

[2016-04-26 11:45] #2761 closed, assigned to nobody

[2016-04-26 11:46] danmihaila commented on #4155
done, closing it

[2016-04-26 11:46] #4155 closed, assigned to alexandru-m-g

[2016-04-26 12:00] mcarans commented on #1008
I would like to increase the priority of this. I worry if it is part of a wider documentation effort, it may be a long time before I can see it. I would like the API documentation to have an example usage for each function. I would be happy to have this task split into producing a rough draft first with polishing later as I need to know the API as soon as possible to talk with our organisations.

[2016-04-26 13:30] cjhendrix opened #4162 "MapExplorer: add sort order and deduplication actions"
We need to be able to replicate this recipe in order to support "taking the latest" data from a dataset.

https://proxy.hxlstandard.org/data/edit?filter01=sort&sort-tags01=%23date%2Bend&sort-reverse01=on&filter02=dedup&dedup-tags02=%23country%2Bname&url=http%3A%2F%2Fdata.hdx.rwlabs.org%2Fdataset%2F6c4260fe-35b9-4dcd-b963-babb0d49d42a%2Fresource%2F3106b05f-e171-49ac-a353-d7b56aed918f%2Fdownload%2FF

[2016-04-26 13:31] cjhendrix commented on #4162
I'm asking @davidmegginson for confirmation that the deduplication filter takes the first encountered.  In testing, it appears to be the case, but we want to be sure it's reliable.

[2016-04-26 13:38] cjhendrix commented on #1716
It's still an issue.  And the current work around is to change the format, but this breaks the discoverability of the data.  As for priority, that's not up to me or @davidmegginson .  There are lots of small usability issues like this one that fall through the gap between the bigger issues that @amcguire62 manages and the smaller issues that @danmihaila manages.   It's that "gap" that we've talked

[2016-04-26 13:43] cjhendrix commented on #1044
I think this one is totally in your domain now Dan.  It was something the dev team discussed a long time ago.  If you don't think it's helpful, feel free to close.

[2016-04-26 13:45] cjhendrix commented on #991
I think it's still there: https://data.hdx.rwlabs.org/user?q=logged  And still not very important.  :)

[2016-04-26 13:49] cjhendrix commented on #775
I'm afraid I don't remember that detail.  @JavierTeran @takavarasha Do we still think this is important?

[2016-04-26 13:53] cjhendrix commented on #634
Yes, it's still an issue.  But now we would expect the add data modal to open rather than the "select org" page.

[2016-04-26 13:58] cjhendrix commented on #285
I think the locations dropdown will disappear from the homepage soon, so we can close this as OBE.

[2016-04-26 13:58] #285 closed

[2016-04-26 13:59] cjhendrix commented on #211
It's still an issue.  Users have no way of indicating what language is used _within_ a dataset.  I'd say keep it in epics or archive.

[2016-04-26 14:00] #2227 closed

[2016-04-26 14:02] cjhendrix commented on #2146
Still an issue.

[2016-04-26 14:02] #1930 closed

[2016-04-26 14:03] #1928 closed

[2016-04-26 14:07] #1593 closed

[2016-04-26 14:08] cjhendrix commented on #1568
It might still be an issue for dashboard, but the other two are done.  I'll close it as no one is complaining.

[2016-04-26 14:08] #1568 closed

[2016-04-26 14:09] cjhendrix commented on #1516
Keep it open.  we haven't done it yet.  :)

[2016-04-26 14:10] cjhendrix commented on #1502
We didn't do this, but maybe we don't want it any more?

[2016-04-26 14:10] #1460 closed

[2016-04-26 14:11] cjhendrix commented on #1424
I'm not sure what the plan is for CPS now.  Assigning to @amcguire62

[2016-04-26 14:13] cjhendrix commented on #1413
Our tags are still very messy.  I think this is a serious usability problem as it makes search more difficult. The solution probably involves regular manual work to clean up tags as well as some improvements to autocomplete (which is too slow).

[2016-04-26 14:38] danmihaila commented on #1502
ok, keep it in Epics for the moment

[2016-04-26 14:39] danmihaila commented on #1413
the autocomplete is the CKAN default... if we need to speed it up, maybe we should re-write it or cache the tags.

[2016-04-26 14:46] ochadataproject commented on #789
Thanks let's leave it open as I would like to do this at some stage

On Tuesday, April 26, 2016, cjhendrix notifications@github.com wrote:

[2016-04-26 14:56] cjhendrix opened #4163 "Problem with label not showing when code is used by WFP"
Tagging @amcguire62

Label shows ok on HDX:
![image](https://cloud.githubusercontent.com/assets/1654485/14822608/9d4f708a-0bcf-11e6-9775-33ba06497ac2.png)

But doesn't show on WFP's site:
![image](https://cloud.githubusercontent.com/assets/1654485/14822656/cda63020-0bcf-11e6-9cc3-5a68714f4313.png)

The same is true in FF and Chrome.

[2016-04-26 16:13] takavarasha commented on #775
I am afraid I also do not remember

[2016-04-26 16:18] takavarasha commented on #2146
Leave with @JavierTeran to decide

[2016-04-26 18:58] davidmegginson commented on #1044
This is assigned to me -- should we switch it to @danmihaila ?

[2016-04-26 19:04] davidmegginson commented on #4162
Confirmed. For good measure, I've added that to the class documentation in libhxl-python, to make it part of the interface contract (never trust a feature that's not in the contract :) ):

[code]

[2016-04-26 22:00] danmihaila commented on #1044
David, it will be great to have your opinion about this

Dan Mihaila
Sent from my iPhone

[2016-04-27 10:53] amcguire62 commented on #4163
Simon wonder any chance you could look at this - if its easy or hard or point them to the solution. We dont really want to be fixing their system so at this stage i think its reasonable we point them in the right direction.

[2016-04-27 11:13] davidmegginson commented on #1044
Sure. In pure Agile, no code is supposed to belong to anyone, so putting a name on the top of the module goes against the Agile spirit (there's always the git log to show who did what).

I'm not an Agile purist myself, but I've generally not put my name on modules I've contributed to other people's open-source projects, except in Java (where the JavaDoc sort-of encourages it)—as soon as the name i

[2016-04-27 18:16] davidmegginson commented on #1716
I'm going to pass this on to @amcguire62 , because it requires managing a series of business decisions first (from Sarah and @JavierTeran , perhaps), before we can make a final technical decision.

[2016-04-27 18:18] davidmegginson commented on #12
If I'm the only one driving it, then we should close it, because I don't provide business requirements to the dev team (at least, not outside HXL).  We can reopen the issue if/when it becomes a priority.

[2016-04-27 18:18] #12 closed

[2016-04-27 18:22] davidmegginson commented on #1929
Converted CJ's original description into a checklist.  I think it's fair to say that libhxl and the HXL Proxy satisfy the first two steps, and that the Map Explorer may satisfy the fourth ("HXL preview within HDX").

Still TBD: KoBo (etc.) integration; validation support within HDX.

[2016-04-29 13:40] danmihaila opened #4164 "Luis's handover: hdx presentation"
http://luiscape.github.io/hdx-presentation/ to be moved to an HDX github.io account.

[2016-05-03 06:56] danmihaila commented on #4161
@teodorescuserban any update on this issue?

[2016-05-03 09:16] danmihaila opened #4165 "WHS: Homepage redesign"
The new homepage redesign and redlines:
- [ ] - both search boxes needs to be similar with what we have on /dataset -> autocomplete
- [ ] - trending - static text for the moment (json to be provided)
- [ ] - thumbnails - static info (json to be provided)
- [ ] - movie to be embedded - @yumiendo to provide more details how movie will be played/embedded (open in new tab or player embedded)
  ![homep

[2016-05-03 11:22] alexandru-m-g commented on #4159
@teodorescuserban @danmihaila this ticket involves changes to the server configuration

**requirements.txt** was modified to include needed dependencies for powerviews. So a `pip install -r requirements.txt` will be needed.

Also, the database tables for powerviews need to be created.
`hdx-ckan/ckanext-powerview# paster powerview init -c /srv/prod.ini`

[2016-05-03 11:22] #4159 closed, assigned to alexandru-m-g

[2016-05-03 11:24] alexandru-m-g commented on #4160
This involved just a bit of testing on the CKAN side. The bulk of the work is here: https://github.com/OCHA-DAP/liverpool16/issues/51

[2016-05-03 11:24] #4160 closed, assigned to alexandru-m-g

[2016-05-03 15:57] SimonbJohnson commented on #4163
@cjhendrix do you have a link to the wfp viz in the screenshot.  The link in the screenshot takes me to another vis

http://vam.wfp.org/CountryPage_indicators.aspx?iso3=YEM

[2016-05-04 10:25] danmihaila commented on #3754
@teodorescuserban can you please check if you add your changes. I think for our prod server we should NOT have the reject of user-agents.
@cjhendrix can you please check if feature-data is still on google? I tried and don't see it anymore

[2016-05-04 10:27] danmihaila commented on #3787
not an issue anymore. @cjhendrix please reopen if you can reproduce it.
<img width="1440" alt="screen shot 2016-05-04 at 13 27 04" src="https://cloud.githubusercontent.com/assets/3865844/15011697/f26c43cc-11fb-11e6-9b82-ad1f03e92dec.png">

[2016-05-04 10:27] #3787 closed, assigned to cjhendrix

[2016-05-04 10:29] danmihaila commented on #3904
@cjhendrix is this still an issue with the new contribute flow deployed?

[2016-05-04 10:30] danmihaila commented on #3905
@cjhendrix is this a valid issue? i am closing it

[2016-05-04 10:30] #3905 closed, assigned to cjhendrix

[2016-05-04 10:31] danmihaila commented on #3918
Share is done. Follow to be implemented (not easy). Edit to be added.

[2016-05-04 10:32] danmihaila commented on #3958
@cjhendrix can you please put a priority on this one based on discussions with @ochadataproject ? @amcguire62 pls comment as well.

[2016-05-04 10:36] danmihaila commented on #4087
assigned to @yumiendo to check them when time is good. Also, pinging @ochadataproject and @amcguire62

[2016-05-04 10:37] danmihaila commented on #4088
assigned to @cjhendrix for comments. @takavarasha any thoughts?

[2016-05-04 10:39] cjhendrix commented on #3958
I can't prioritize it.  Reassigning to @amcguire62

[2016-05-04 10:40] danmihaila commented on #4136
@cjhendrix what is our deadline with this one? what do you also need from dev team?

[2016-05-04 10:41] danmihaila commented on #4142
assigned to @yumiendo to comment

[2016-05-04 10:42] cjhendrix commented on #3904
Still an issue.

[2016-05-04 10:44] cjhendrix commented on #4136
The q2 OKR is to have a basic implementation and instrument the home page.  It will require some dev support.  I'm not sure how much, perhaps a week of someone?

[2016-05-04 10:48] cjhendrix commented on #4088
Just re-read the whole thread.  I think we are agreed that:
1. the maintainer dropdown should be populated with only members, editors, and admins of the org owning the dataset
2. if the org is changed, the maintainer value should be cleared (with whatever validation implications this has)

[2016-05-04 10:50] danmihaila commented on #129
as nobody is complaining I am closing this one. Feel free to reopen if we face any issues with search

[2016-05-04 10:50] #129 closed

[2016-05-04 10:51] danmihaila commented on #482
@cjhendrix I think we can close it. I see a 404 for both urls

[2016-05-04 10:51] #482 closed

[2016-05-04 10:52] danmihaila commented on #666
@cjhendrix is this a valid issue anymore?

[2016-05-04 10:53] cjhendrix commented on #3754
No, I don't see it.

[2016-05-04 10:53] danmihaila commented on #827
@cjhendrix  I think this is done, closing it.

[2016-05-04 10:53] #827 closed

[2016-05-04 10:54] danmihaila commented on #836
not an issue anymore

[2016-05-04 10:54] #836 closed

[2016-05-04 10:54] danmihaila commented on #978
I don't this is an issue anymore specially with custom org page

[2016-05-04 10:55] danmihaila commented on #1021
@teodorescuserban can you still reproduce it? can you paste here an url or screenshot. Closing it, please reopen if it is still an issue

[2016-05-04 10:55] #1021 closed

[2016-05-04 10:55] cjhendrix commented on #666
I suspect the issue still exists, but whether or not it is important is for @teodorescuserban to say.

[2016-05-04 10:55] danmihaila commented on #1066
not an issue anymore

[2016-05-04 10:55] #1066 closed

[2016-05-04 10:56] danmihaila commented on #1067
not an issue anymore

[2016-05-04 10:56] #1067 closed

[2016-05-04 10:56] danmihaila commented on #1075
not an issue anymore

[2016-05-04 10:56] #1075 closed

[2016-05-04 10:58] cjhendrix commented on #978
It's an issue for both custom org and default orgs.

[2016-05-04 10:58] danmihaila commented on #1122
still an issue. strange bug

[2016-05-04 10:59] danmihaila commented on #978
assigning to @yumiendo and pinging @ochadataproject for comments

[2016-05-04 11:02] danmihaila commented on #4162
moving this issue to ME repo
https://github.com/OCHA-DAP/liverpool16/issues/69

[2016-05-04 11:02] #4162 closed, assigned to nobody

[2016-05-04 11:05] danmihaila commented on #1295
not an issue anymore

[2016-05-04 11:05] #1295 closed

[2016-05-04 11:06] danmihaila commented on #1436
not an issue anymore

[2016-05-04 11:06] #1436 closed

[2016-05-04 11:09] danmihaila commented on #1471
the issue is still valid and breaks the template. We could also add the url in page and in this case we can fix also the issue with url changes

[2016-05-04 11:10] danmihaila commented on #666
@teodorescuserban please take a look and comment

[2016-05-04 11:11] #1474 closed

[2016-05-04 11:12] #1481 closed

[2016-05-04 11:13] #1482 closed

[2016-05-04 11:14] danmihaila commented on #1504
this should be part of activiy stream research

[2016-05-04 11:14] danmihaila commented on #1530
we need to check if this is still an issue...probably not..i hope :)

[2016-05-04 11:15] #1577 closed

[2016-05-04 11:16] danmihaila commented on #1597
@takavarasha do you still needs tables?

[2016-05-04 11:17] #1618 closed

[2016-05-04 11:17] #1620 closed

[2016-05-04 11:18] danmihaila commented on #1624
@alexandru-m-g i think we can close this one. pls reopen if it is still an issue

[2016-05-04 11:18] #1624 closed

[2016-05-04 11:18] danmihaila commented on #1672
i don't think it is still an issue

[2016-05-04 11:18] #1672 closed

[2016-05-04 11:20] danmihaila commented on #1713
assigned to @yumiendo and @ochadataproject for comments

[2016-05-04 11:21] #1803 closed

[2016-05-04 11:21] danmihaila commented on #1808
@teodorescuserban can you please give an update on this?

[2016-05-04 11:22] #1814 closed

[2016-05-04 11:23] danmihaila commented on #1850
still a bug
<img width="1440" alt="screen shot 2016-05-04 at 14 23 21" src="https://cloud.githubusercontent.com/assets/3865844/15012741/ca407a78-1203-11e6-9520-9866681dae6a.png">

[2016-05-04 11:24] danmihaila commented on #1872
might be closed when moving to mix panel.

[2016-05-04 11:25] danmihaila commented on #1873
I don't think we still have an issue with the new CKAN

[2016-05-04 11:25] #1873 closed

[2016-05-04 11:25] #1888 closed

[2016-05-04 11:26] #1914 closed

[2016-05-04 11:28] danmihaila commented on #2033
@cjhendrix still an issue?

[2016-05-04 11:28] danmihaila commented on #2053
@teodorescuserban do we still need this one?

[2016-05-04 11:28] #2061 closed

[2016-05-04 11:29] takavarasha commented on #1597
This was after a user tried to use the markdown formatting instructions to do tables. I guess we can say in the instructions that tables are not supported.

[2016-05-04 11:29] danmihaila commented on #2157
@cjhendrix still an issue?

[2016-05-04 11:29] #2169 closed

[2016-05-04 11:30] danmihaila commented on #2178
json is usually ugly :) closing it

[2016-05-04 11:30] #2178 closed

[2016-05-04 11:30] #2181 closed

[2016-05-04 11:31] danmihaila commented on #2213
i would say to close this one.. @cjhendrix

[2016-05-04 11:31] #2213 closed

[2016-05-04 11:31] #2229 closed

[2016-05-04 11:32] #2232 closed

[2016-05-04 11:33] danmihaila commented on #2233
I can not reproduce it anymore, closing it

[2016-05-04 11:33] #2233 closed

[2016-05-04 11:34] #2236 closed

[2016-05-04 11:34] #2244 closed

[2016-05-04 11:34] #2256 closed

[2016-05-04 11:35] danmihaila commented on #2275
@cjhendrix can you please provide more details for reqs? I don't understand what we need...

[2016-05-04 11:36] #2283 closed, assigned to nobody

[2016-05-04 11:37] danmihaila commented on #2338
maybe not an issue if we move to mixpanel.

[2016-05-04 11:38] danmihaila commented on #2346
@cjhendrix I can not reproduce it anymore. closing it, please reopen if it is valid

[2016-05-04 11:38] #2346 closed, assigned to nobody

[2016-05-04 11:39] #2362 closed, assigned to yumiendo

[2016-05-04 11:42] danmihaila commented on #2409
@alexandru-m-g is this still a valid issue? I am not sure how we bumped into this one.

[2016-05-04 11:43] #2600 closed, assigned to nobody

[2016-05-04 11:45] #2790 closed, assigned to yumiendo

[2016-05-04 11:49] #2971 closed, assigned to nobody

[2016-05-04 11:54] danmihaila commented on #3074
any updates on this one @teodorescuserban  and @alexandru-m-g ?

[2016-05-04 11:55] #3116 closed, assigned to nobody

[2016-05-04 11:57] danmihaila commented on #3264
@takavarasha any updates on this one?

[2016-05-04 11:57] danmihaila commented on #3442
@teodorescuserban i found the issue about Jenkins too  :) I hope we can have it done this sprint

[2016-05-04 12:32] danmihaila commented on #3680
we need coordination in case we implement mix panel

[2016-05-04 12:33] #3825 closed, assigned to nobody

[2016-05-04 12:34] danmihaila commented on #3843
/cod is going to filter but the checbox is not checked!
@teodorescuserban can you check the redirect url
https://data.hdx.rwlabs.org/search?q=&ext_page_size=25&sort=title_case_insensitive+asc&tags=cod&ext_cod=1#dataset-filter-start

[2016-05-04 12:36] #3264 closed, assigned to takavarasha

[2016-05-04 12:55] #2286 closed, assigned to alexandru-m-g

[2016-05-04 12:57] #2660 closed, assigned to aalecs

[2016-05-04 12:57] #2721 closed, assigned to aalecs

[2016-05-04 12:59] #2866 closed, assigned to nobody

[2016-05-04 13:01] #2952 closed, assigned to nobody

[2016-05-04 13:02] danmihaila commented on #2963
@cjhendrix I am not sure I understand what is the req here...

[2016-05-04 13:02] #3000 closed, assigned to danmihaila

[2016-05-04 13:02] #3036 closed, assigned to amcguire62

[2016-05-04 13:02] #3037 closed, assigned to amcguire62

[2016-05-04 13:02] #3038 closed, assigned to amcguire62

[2016-05-04 13:04] #3283 closed, assigned to nobody

[2016-05-04 13:06] danmihaila commented on #3676
@davidmegginson pls comment

[2016-05-04 13:06] #3688 closed, assigned to danmihaila

[2016-05-04 13:07] danmihaila commented on #3911
@takavarasha is this still an issue?

[2016-05-04 13:08] danmihaila commented on #4156
@yumiendo pls advice

[2016-05-04 13:10] danmihaila commented on #3754
closing it

[2016-05-04 13:10] #3754 closed, assigned to cjhendrix

[2016-05-04 13:12] #1597 closed

[2016-05-04 13:21] #1823 closed

[2016-05-04 14:42] takavarasha commented on #3911
No

[2016-05-04 14:42] #3911 closed, assigned to takavarasha

[2016-05-04 14:44] takavarasha commented on #4156
This was mentioned by @ochadataproject during demo with user

[2016-05-04 20:57] yumiendo commented on #4160
Step 1:
<img width="979" alt="screen shot 2016-05-04 at 5 21 54 pm" src="https://cloud.githubusercontent.com/assets/8006323/15029661/949e5ac0-121c-11e6-882f-d54f18656f49.png">

please include:
1. header bar "Lake Chad Basin Crisis" + "Explore data layers below to generate interactive visualisation"
2. Save button on the header bar

[2016-05-04 21:04] yumiendo commented on #4160
Step 2:
name the visualisation (reuse modal screens)
<img width="1440" alt="screen shot 2016-05-04 at 5 19 26 pm" src="https://cloud.githubusercontent.com/assets/8006323/15029674/a6a49766-121c-11e6-97b6-dbc7786a4f16.png">

[2016-05-04 21:29] yumiendo commented on #4160
after the step 2 - people click on save > which one of the following are we doing to MVP?
a. let people copy the direct link to share + message that says your visualisation is now saved under your dashboard. (also if we can send email with the link it'd be awesome)
b. a + people can also copy link to embed their visualisation
@danmihaila  @amcguire62 ?

[2016-05-05 12:59] danmihaila opened #4167 "WFP embed feature err"
![screen shot 2016-05-05 at 15 59 12](https://cloud.githubusercontent.com/assets/3865844/15044007/5d0ec608-12da-11e6-91f5-b6df442cf227.png)

[2016-05-05 20:40] yumiendo commented on #4156
@danmihaila pls implement this change.

[2016-05-05 20:51] yumiendo commented on #4160
step 3 - after user click on save > (the page in the bg refreshes to user's visualisation page with the customised header + description)

<img width="1440" alt="screen shot 2016-05-05 at 4 50 09 pm" src="https://cloud.githubusercontent.com/assets/8006323/15056747/478a6916-12e1-11e6-90c7-44eed7abf3ea.png">

text:
"Copy the URL below to share your visualisation with your colleagues. Anyone with this

[2016-05-06 08:24] cjhendrix opened #4169 "Tag line on mailchimp sign up needs to be updated to match new homepage tagline."
When we deploy new homepage (or before):

http://unocha.us2.list-manage.com/subscribe?u=83487eb1105d72ff2427e4bd7&id=6fd988326c

[2016-05-06 09:20] cjhendrix opened #4170 "Order by dropdown is outside the scroll bar"
Chrome, no zoom:
![image](https://cloud.githubusercontent.com/assets/1654485/15068779/e3499532-1379-11e6-9a33-69c541c7f9a3.png)

[2016-05-06 09:22] cjhendrix commented on #4170
Same on prod.

[2016-05-06 15:27] cjhendrix opened #4171 "Dashboard sort menu display problem"
Similar problem on prod.  Win/Chrome/no zoom.

![image](https://cloud.githubusercontent.com/assets/1654485/15077661/bf1c7b62-13af-11e6-90ac-7ee14290a27b.png)

[2016-05-06 15:29] cjhendrix opened #4172 "non-fatal error messages on geo preview"
from Dan:
same err on prod server now
https://data.humdata.org/dataset/niger-administrative-boundaries ( same for https://data.humdata.org/dataset/list-of-ecuador-schools )

![image](https://cloud.githubusercontent.com/assets/1654485/15077701/f5fc3dac-13af-11e6-8c8e-d648dbcdbc5a.png)

[2016-05-06 15:44] cjhendrix commented on #2157
yep

[2016-05-06 15:45] cjhendrix commented on #2033
nope. closing.

[2016-05-06 15:45] #2033 closed

[2016-05-09 11:48] danmihaila opened #4175 "WHS: Homepage redesign - mobile"
Design and implement the changes to do the mobile features for homepage. Please use this branch and coordinate with @aalecs .
https://github.com/OCHA-DAP/hdx-ckan/tree/dev-map-explorer
More details during our SPAR call.

![homepage_v4_mob](https://cloud.githubusercontent.com/assets/3865844/15114815/788305ca-1604-11e6-9a44-4dccadc02ff2.png)
![homepage_v4_mob_menu](https://cloud.githubusercontent.co

[2016-05-09 11:55] danmihaila opened #4176 "Humdata.org migration issues"
Issues are listed here

[2016-05-09 13:25] danmihaila opened #4177 "New logo: remove beta"
@yumiendo pls provide the link to google drive for asset. thanks.

[2016-05-09 13:35] yumiendo commented on #4177
https://drive.google.com/file/d/0B24NBcgmV490dGJ5NlEwWmd1Vmc/view?usp=sharing
<img width="413" alt="screen shot 2016-05-09 at 9 30 46 am" src="https://cloud.githubusercontent.com/assets/8006323/15114588/a5868b14-15c8-11e6-8ad4-81147b17a156.png">

[2016-05-09 13:37] baripembo commented on #4177
@yumiendo is there also mobile version? thanks!

[2016-05-09 13:47] yumiendo commented on #4177
@baripembo
mob version here https://drive.google.com/file/d/0B24NBcgmV490dTd1MTVHVGhabmM/view?usp=sharing

[2016-05-10 11:51] danmihaila opened #4179 "Dashboard: My visualizations"
This section will display the powerviews for each user/ created by each user. Similar to My organizations, My Datasets.
@yumiendo to provide a mockup

[2016-05-10 11:52] danmihaila commented on #4177
@aalecs please update our logo.

[2016-05-10 11:56] danmihaila commented on #4161
this is done via blackmesh. closing it for the moment. thanks @teodorescuserban

[2016-05-10 11:56] #4161 closed, assigned to teodorescuserban

[2016-05-10 12:36] cjhendrix commented on #4163
I put Simon in touch with them by email.

[2016-05-11 00:13] baripembo commented on #4175
@yumiendo can you please provide some annotations for the mobile view -- mainly font sizes. thank you!

[2016-05-11 16:21] yumiendo commented on #4175
here is the annotated one - let me know if you have any question
 ![homepage_v4_mob_spec](https://cloud.githubusercontent.com/assets/8006323/15188281/d51669de-1772-11e6-95a1-77e5524542ef.png)
![homepage_v4_mob_menu_spec](https://cloud.githubusercontent.com/assets/8006323/15188282/d51b5ec6-1772-11e6-834a-186bbe2cfb9b.png)

[2016-05-12 07:36] cjhendrix opened #4180 "Indicator csv and txt files not previewing"
![image](https://cloud.githubusercontent.com/assets/1654485/15207172/9e392426-1824-11e6-8cad-70b1301c109f.png)

[2016-05-12 08:57] cjhendrix opened #4181 "Improve text justification on dataset description"
Short lines ending in a long URL justify awkwardly.  Adding a hard return (in fact two returns are required in markdown) creates too much space between the paragraphs.   The solution would be to left justify lines below a certain percentage of the width.

![image](https://cloud.githubusercontent.com/assets/1654485/15209172/f5ebb1a6-182f-11e6-8685-d40358449ce3.png)

[2016-05-12 12:05] danmihaila commented on #4175
@baripembo I merged the code from @aalecs and you. can you please check the carousel for mobile? thank you.

[2016-05-13 11:58] #4177 closed, assigned to aalecs

[2016-05-13 12:01] #4165 closed, assigned to aalecs

[2016-05-13 19:13] baripembo commented on #4175
sent the code update to @aalecs to integrate

[2016-05-16 08:49] danmihaila commented on #4062
done

[2016-05-16 08:49] #4062 closed, assigned to danmihaila

[2016-05-16 08:50] danmihaila commented on #4164
done

[2016-05-16 08:50] #4164 closed, assigned to danmihaila

[2016-05-16 08:50] danmihaila commented on #3442
done

[2016-05-16 08:50] #3442 closed, assigned to teodorescuserban

[2016-05-16 08:50] danmihaila commented on #4179
Below is MVP for the my visualisations tab on dashboard
![manage---yumi-endo---users---humanitarian-data-exchange](https://cloud.githubusercontent.com/assets/8006323/15279974/95095660-1af8-11e6-8c44-ff534ef53025.png)

the available actions are:
Edit - once its published (im hoping) you can go back and edit + update through https://github.com/OCHA-DAP/liverpool16/issues/94 step 1 - with existing ti

[2016-05-16 08:51] danmihaila commented on #4176
this is done

[2016-05-16 08:51] #4176 closed, assigned to danmihaila

[2016-05-16 08:52] danmihaila commented on #4175
@aalecs can we close this one?

[2016-05-16 08:56] #4175 closed, assigned to aalecs

[2016-05-16 12:14] danmihaila opened #4188 "WHS: Homepage - search not working on mobile"
When searching on mobile, click on one option is doing nothing.
![screen shot 2016-05-16 at 15 13 19](https://cloud.githubusercontent.com/assets/3865844/15289153/dc2970cc-1b78-11e6-88fc-078291b933d2.png)

[2016-05-17 04:15] baripembo commented on #4188
@danmihaila @aalecs It appears that the mobile search is not working because it does not like that there are two div's with id="search-ahead". One in the desktop nav and one in the mobile nav. I don't have access to the js that is initializing this search ahead functionality -- would it be possible to rename one of the divs and target both for the search ahead functionality?

I would also add this

[2016-05-17 16:23] aalecs commented on #4188
Fixed + added style for small layouts

[2016-05-17 16:23] #4188 closed, assigned to aalecs

[2016-05-18 07:33] cjhendrix opened #4190 "Hard refresh required after login"
1. log out
2. view an org page for an org that has private datasets  for example: https://data.humdata.org/organization/wfp
3. private datasets will not be visible (as expected)
4. log in
5. navigate back to the org page (private datasets still not visible, which has always been the behavior).
6. refresh.  In the past, this would recognize the login and private datasets would be visible.  Now howe

[2016-05-18 09:01] amcguire62 commented on #4190
Given all our other work i think this is a priority but in the sprint following WHS

[2016-05-18 09:03] danmihaila commented on #4190
You found it 😀 this is happening because wfp has a cache. Can you reproduce it with other org?

Dan Mihaila
Sent from my iPhone

[2016-05-18 12:09] danmihaila commented on #4190
ping @cjhendrix
@teodorescuserban @alexandru-m-g pls confirm we have a cache on WFP org page.

[2016-05-18 12:20] danmihaila opened #4191 "WHS: Homepage - HDX movie"
Arti pls update the url of the movie. see email

[2016-05-18 13:58] aalecs commented on #4191
also updating carousel with data from https://docs.google.com/spreadsheets/d/10jS9VBqB-WSpbHP7JLJY1PqULVMvMUVvaSCJEx8Ors0/edit#gid=482650323

[2016-05-18 14:01] #4191 closed, assigned to aalecs

[2016-05-18 17:14] amcguire62 opened #4193 "Change text on FAQ on New Home Page"
Change text "READ OUR FAQ"

to new text "LEARN MORE"

[2016-05-18 17:16] amcguire62 opened #4194 "Change Carousel Timing"
Increase the carousel time to 20 sec from current approx 5 sec delay

[2016-05-19 01:21] takavarasha opened #4195 "Dataset edit modal appears to show resources as if they are of type "Upload file""
The edit dataset modal appear to show resources of type "Import from URL" as empty "Upload file" resources.

To reproduce
1. Start with a dataset containing an "Import from URL" resource
2. Click on edit
3. Notice that the "Import form URL" resource is shown as if it is an empty "Upload File" resource.

It is not know what the effect of saving this resource is going to be.

[2016-05-19 07:35] danmihaila commented on #4195
@takavarasha can you please give us a dataset url as example?

[2016-05-19 08:32] #4193 closed, assigned to aalecs

[2016-05-19 08:48] #4194 closed, assigned to aalecs

[2016-05-20 17:20] danmihaila opened #4210 "WFP visualization err"
When mouse over the middle chart, the circle is not following the mouse. You can see there are plenty of err. might be related to migration to humdata?
<img width="1440" alt="screen shot 2016-05-20 at 20 19 02" src="https://cloud.githubusercontent.com/assets/3865844/15435983/2925e822-1ec8-11e6-86a1-718408ac6e8b.png">

[2016-05-22 09:13] cjhendrix opened #4211 "new posts not showing on blog front page"
I don't think this is important until after WHS.   I think this is related to caching.

The latest post (HDX 1.0) is visible here http://docs.humdata.org/blog/
but not visible here http://docs.humdata.org/

[2016-05-22 09:14] cjhendrix commented on #4211
I've tried hard refresh and incogntio, FYI

[2016-05-22 09:16] danmihaila commented on #4211
@teodorescuserban is it cache?

[2016-05-22 09:27] cjhendrix commented on #4211
Cache must have updated.  Showing now.  Closing.

[2016-05-22 09:27] #4211 closed, assigned to nobody

[2016-05-23 07:33] #4179 closed, assigned to danmihaila

[2016-05-23 07:37] danmihaila opened #4212 "Testing: UI"
- [x] Research Selenium vs. other options
- [x] Setting up again Selenium for automated browser testing
- [ ] dev documentation how to run local
- [x] research if/how Selenium could be integrated with docker, stag/prod servers, etc.

[2016-05-23 07:37] danmihaila opened #4213 "Nosetests"
- [x] checking current status of nosetests and fix the failing ones
- [x] add min 5 nosetests (TBD for which section/module)

[2016-05-23 07:53] danmihaila commented on #4158
@yumiendo can you please check @takavarasha comment?

[2016-05-23 07:53] #4157 closed, assigned to alexandru-m-g

[2016-05-23 11:56] alexandru-m-g commented on #4180
@cjhendrix Text files I was able to preview: https://data.humdata.org/dataset/yem_baseline_data/resource/9fe2698c-87b5-4d66-bba5-5f22f8729e59

@teodorescuserban Is it possible that the switch to the new domain is causing dataproxy some problems. Maybe because links to manage.hdx.rwlabs.org are also redirected ?

[2016-05-23 12:03] alexandru-m-g commented on #4144
@cjhendrix What if 2 different titles generate the same "name" property ( and so the same URL). Then the message is not entirely correct.

[2016-05-23 13:04] cjhendrix commented on #4144
No, it would be a white lie, but the user wouldn't know it.  I don't think that matters.  Am I missing something?

[2016-05-23 13:38] alexandru-m-g commented on #4144
No, you are mostly right. The small issue here is that these messages are the same as the ones that users of the API get. So we probably need to tweak a bit the logic to change the message if it is rendered on the UI.

[2016-05-24 09:31] #4143 closed, assigned to aalecs

[2016-05-24 11:06] aalecs commented on #4181
@cjhendrix we could change the url title to something shorter like "here" or "key figgures" and have the url set on that short text, like in this screenshot:
![screen shot 2016-05-24 at 14 05 32](https://cloud.githubusercontent.com/assets/5638491/15501861/bb16cc90-21b8-11e6-85c8-c05815a9bf1c.png)

[2016-05-24 13:56] aalecs commented on #4171
@cjhendrix I can't reproduce the issue ... there's nothing

[2016-05-24 13:56] #4171 closed, assigned to aalecs

[2016-05-24 18:56] danmihaila commented on #4213
@alexandru-m-g i added 2 sub-tasks

[2016-05-25 07:26] cjhendrix commented on #4171
I can't reproduce it either.  Gremlin.

[2016-05-25 07:29] cjhendrix commented on #4181
Of course, but I'm thinking of users who may not have any markdown-fu.

[2016-05-25 14:12] mcarans opened #4216 "Create metadata for manual vs programmatic update"
Each HDX object eg. dataset, resource, visualization (gallery item) should have a flag which indicates if it was updated manually or programmatically.

[2016-05-25 14:14] mcarans opened #4217 "Make revision metadata more accessible in GUI"
The revision id information for datasets, resources and gallery items should be more readily viewable in the GUI, at least by administrators and others in the same organisation. Perhaps it could be possible to open the activity stream to look at it in detail?

[2016-05-25 20:16] danmihaila commented on #4217
this could be included in https://github.com/OCHA-DAP/hdx-ckan/issues/4112

[2016-05-25 20:18] danmihaila commented on #4216
I like the idea, but we need to discuss more how to implement + research to check if there is an existing ckan extension.
@cjhendrix @takavarasha @alexandru-m-g what do you think?

[2016-05-25 20:31] takavarasha commented on #4216
Would this be an additional field to revision objects that are created whenever on object is updated?

[2016-05-25 21:46] alexandru-m-g commented on #4216
What I'm wondering is if we couldn't make this part of a bigger feature: an improved activity stream.
That would a hold the log of exactly what happened to a dataset/resource. One of the information in the activity stream/log could be also how (UI vs API) it was updated.

[2016-05-25 21:58] takavarasha commented on #4216
Such a feature would be great. Just to be clear, does it mean being very specific anout the change that was made. For example, to be able to tell that the user changed to title from yyy to zzz?

[2016-05-26 08:08] mcarans commented on #4217
Ok to include in https://github.com/OCHA-DAP/hdx-ckan/issues/4112

[2016-05-26 08:10] mcarans commented on #4216
Perhaps this should be rolled into https://github.com/OCHA-DAP/hdx-ckan/issues/4112

[2016-05-26 20:17] #4170 closed, assigned to alexandru-m-g

[2016-05-26 21:46] alexandru-m-g commented on #4147
I tested this both locally and on feature-data (https://feature-data.hdx.rwlabs.org/dataset/testing-dataset-acountryfortesting ) . I can't reproduce this problem. More so, there is code that specifically invalidates the cache when a new group is created. There's also a test, testing that.

But I have the following scenario in mind, which @teodorescuserban might confirm if it's possible:
-  On prod

[2016-05-27 07:15] cjhendrix commented on #4147
I'm pretty sure this is related to #2378, so I'll wait until we fix that to try and reproduce this one.   but I like you're theory.  It would make sense.

[2016-05-27 09:44] cjhendrix commented on #2378
reproduced on demo 27-May-2016

[2016-05-27 11:37] alexandru-m-g commented on #4147
@teodorescuserban I need your help. I can't reproduce this locally at all. CJ, managed to reproduce the problem on demo. Any ideas ?
This is the same problem as #2378

[2016-05-27 11:56] #4146 closed, assigned to danmihaila

[2016-05-27 11:56] #4153 closed, assigned to danmihaila

[2016-05-27 11:56] #4156 closed, assigned to danmihaila

[2016-05-27 13:15] ochadataproject commented on #4156
Great glad this was done :)

On Friday, May 27, 2016, Dan Mihaila notifications@github.com wrote:

[2016-05-27 21:35] teodorescuserban opened #4220 "travis fails"
Most likely since we added ckanclient and powerview

[2016-05-27 21:55] #4220 closed, assigned to teodorescuserban

[2016-05-30 08:38] danmihaila commented on #4181
Until we found a nicer fix I think we are ok as it is now. I understand now the issue, and I think users could change their text a bit. We could make a FAQ entry with recommendations.
@cjhendrix pls reopen if you still think it is a big issue.

[2016-05-30 08:38] #4181 closed, assigned to aalecs

[2016-05-30 08:49] danmihaila commented on #4169
@cjhendrix can you give more info re this?

[2016-05-30 09:17] danmihaila commented on #2378
together with @alexandru-m-g we found that the problem might be related to /api/action/cached_group_list and python cache and because we are using several processes on server side.
pinging @teodorescuserban
We will follow with a call to brainstorm for a solution.

[2016-05-30 12:41] cjhendrix commented on #4169
Done.

[2016-05-30 12:41] #4169 closed, assigned to cjhendrix

[2016-05-31 09:05] mcarans commented on #4112
One feature of the activity stream that would be good to improve is that it record if resources of datasets are updated if they are changed through the package_update call rather than resource_update - currently the stream just says the dataset was updated.

[2016-05-31 09:16] mcarans opened #4222 "Make API consistent between resources and gallery items"
In HDX the relationship between datasets and resources vs datasets and gallery items is the same ie. a dataset can have one of more resources or gallery items. Resources and gallery items must be associated with one dataset. This is not reflected in the API which follows CKAN related items for gallery items.

Either the gallery item should be like a resource ie. downloaded/uploaded as part of data

[2016-05-31 09:17] mcarans opened #4223 "related_show a gallery item does not give dataset_id"
When doing related_show on a gallery item (eg.
https://data.humdata.org/api/3/action/related_show?id=1ac83feb-bbb2-497e-878b-e813ab03233b), the dataset id with which it is associated should be one of the fields returned.

[2016-05-31 20:44] takavarasha opened #4224 "Contribute Flow: Import file options (Google Drive and Dropbox) not working"
The import file option for google drive and dropbox on the contribute flow are currently broken. When a user clicks on the dropbox link, a modal with following text is shown: {error: "Origin does not match any app domain"}
![image](https://cloud.githubusercontent.com/assets/6885303/15689738/6e4b9288-274e-11e6-81dc-d06b375aa881.png)

For google drive, the following error is shown:
![image](https://

[2016-06-01 11:55] danmihaila opened #4225 "Faq: Reuters story"
under the question 'Has HDX been featured in the media?'
Reuters - From displacement to death, UN data innovation aims to boost aid response

Hyperlink the title to here: http://af.reuters.com/article/commoditiesNews/idAFL5N18N1U1

[2016-06-01 12:17] mgalex commented on #4224
This was related to some configs that needed to changed in the dropbox and google accounts related to the domain change. More info in #3889

[2016-06-01 12:21] alexandru-m-g commented on #4224
This was related to some configs that needed to be changed in the dropbox and google accounts related to the domain change. More info in #3889
@danmihaila @takavarasha can you please confirm it works ok now ?

[2016-06-01 12:31] danmihaila commented on #4224
it works for me (google drive). I don't have a dropbox account to test it.

[2016-06-01 21:32] alexandru-m-g commented on #4152
This is the ticket that we were talking about ( related to the contribute flow being in full-width mode )

[2016-06-02 06:46] #4213 closed, assigned to alexandru-m-g

[2016-06-02 14:23] cjhendrix opened #4227 "Blog page not showing latest blogs"
not showing the latest blogs:  http://docs.humdata.org/blog/

showing latest blogs:  http://docs.humdata.org

Also, styling on main nav is not correct:
![image](https://cloud.githubusercontent.com/assets/1654485/15748222/444c0f62-28de-11e6-8b99-fcedd5c6f2bd.png)

[2016-06-02 15:56] cjhendrix opened #4228 "Initial mixpanel implementation"
We may want to split this issue into multiple issues, but for now:
- [ ] configure prod/dev/localhost instances to deliver data to different mixpanel projects   https://mixpanel.com/blog/2012/09/12/best-practices-updated/
- [ ] _(later)_ flag users to ignore: https://mixpanel.com/help/questions/articles/can-i-exclude-myself-from-mixpanel-data
- [ ] Encrypt comms to mixpanel with .set_config  :   h

[2016-06-03 08:54] #4225 closed, assigned to danmihaila

[2016-06-03 12:20] danmihaila commented on #4195
https://data.humdata.org/api/3/action/package_show?id=acled-conflict-data-for-africa-realtime-2016
and indicators:
https://data.humdata.org/api/3/action/package_show?id=proportion_of_the_population_using_improved_sanitation_facilities

[2016-06-03 12:22] danmihaila commented on #4195
@mcarans  can you check your update script? I think the acled dataset resources are not set well the type and it looks bad when editing the dataset. lets chat on slack

[2016-06-03 12:22] alexandru-m-g commented on #4195
From what I see the _url_type_ and the _resource_type_ are null.
@takavarasha Where they created by a script ? Theoretically those 2 fields are never null when created via the UI.

[2016-06-04 12:35] alexandru-m-g commented on #4180
This was fixed by @teodorescuserban on production. There was a problem with the name resolution for our old CPS domain (manage.hdx.rwlabs.org).

Not sure if there are some modifications that still need to be done on the docker configuration files so I'm assigning this to Serban. If there's nothing else to be done, please close.

[2016-06-04 19:46] davidmegginson opened #4231 "Dropbox and Google Drive choosers not set up for demo-data.humdata.org"
This is not essential for IMPACT-WCA, but if it's an easy configuration change, it would be nice to set up authorisation in the Google Drive and Dropbox APIs so that the new demo-data.humdata.org domain is accepted.  Here's what I get right now ...

Dropbox chooser: `{"error": "Origin does not match any app domain"}`

Google Drive chooser: `Error: origin_mismatch`

[2016-06-04 19:48] teodorescuserban commented on #4231
I don't know who authorised it in the first place. If it's a configuration that needs to be updated on Google and Dropbox side, I am unaware of the settings required.
ping @davidmegginson

[2016-06-04 23:08] alexandru-m-g commented on #4231
I made the changes and it now works for me. The changes are detailed in this ticket #3889.
Please confirm that it is fixed.

[2016-06-06 08:59] #4227 closed, assigned to danmihaila

[2016-06-06 09:02] danmihaila opened #4232 "HDX Membership: discuss the next issues to be implemented"
this is the ref doc:
https://docs.google.com/spreadsheets/d/1ZZ8JgwtfvEXYYYLyp77AXCp-6T0ki_H3tZvh64owl5Y/edit?disco=AAAAAlsRLqM#gid=0

[2016-06-06 09:03] #2378 closed, assigned to alexandru-m-g

[2016-06-06 09:04] danmihaila opened #4233 "Jira deploy"

[2016-06-06 09:20] danmihaila commented on #4088
@cjhendrix for step no 2:
- if the org is changed the maintainer value is cleared - ok.
- if user will want to select a maintainer - what users will be displayed in the dropdown? the members of the new organization??

[2016-06-06 09:27] alexandru-m-g commented on #4147
This should be closed by fixing #2378

[2016-06-06 09:27] #4147 closed, assigned to alexandru-m-g

[2016-06-06 12:45] teodorescuserban commented on #4180
Really fixed now. Will propagate the changes to docker images this week.

[2016-06-06 12:45] #4180 closed, assigned to teodorescuserban

[2016-06-06 13:44] teodorescuserban commented on #4190
Yes, wfp does have a cache.

[code]

First line keeps the data in browsers' cache for 1 minute.
The second line keeps the data in nginx cache (to fater serve to other clients) for 1 minute.

[2016-06-06 14:24] cjhendrix commented on #4088
Correct.  The only valid maintainers are members (at any level) of the org which owns the dataset.

[2016-06-06 14:32] danmihaila commented on #4190
@teodorescuserban can you remove the cache from wfp org page? thanks

[2016-06-06 15:57] alexandru-m-g commented on #4212
After discussions with @aalecs it seems that we have 2 options:
-  using Selenium as we did before
-  using Protractor:
  -  might make it easier to test angular applications
  -  actually ( in the backend it uses the Selenium WebDriver )

About running the tests on the server side or Travis:
-  we could run them headless by using XVFB ( a virtual X server )
-  we could run them headless by using

[2016-06-06 21:00] davidmegginson commented on #4231
Confirmed that it now works -- thanks, @alexandru-m-g !

[2016-06-06 21:00] #4231 closed, assigned to teodorescuserban, cjhendrix, danmihaila

[2016-06-08 13:24] #4152 closed, assigned to aalecs

[2016-06-09 11:40] cjhendrix opened #4236 "Clean up page titles to support the page type property"

[2016-06-09 13:52] #4167 closed, assigned to SimonbJohnson, aalecs

[2016-06-09 13:56] aalecs commented on #4210
@danmihaila can you still reproduce the issue? Please reopen if you can.

[2016-06-09 14:01] aalecs commented on #4163
@danmihaila - can we have the link to the vis on the WFP site ?

[2016-06-09 14:21] cjhendrix commented on #4163
I typed it from the screen cap, but it doesn't seem to use our viz any more, even after you go through the data selection process.  http://vam.wfp.org/CountryPage_indicators.aspx?iso3=YEM

Perhaps we can ignore this one for now.

[2016-06-09 15:53] takavarasha opened #4237 "Add package_search endpoint that also includes private datasets in the results"
I would to use the API to search for packages and get both public and private datasets in the results (taking into account whether or not I have access to the private datasets in question)

[2016-06-09 19:58] takavarasha opened #4238 "New organisation request form : CKAN does not handle validation of the URL of Organisation field very well"
On the New Organisation Request page (https://data.humdata.org/organization/request_new),
CKAN responds with two conflicting messages about the organisation request when the "URL of Organisation" field is blank. See image below. In a subsequent test, ckan did not allow a url without the protocal part. I put www.google.com and got a 'Please enter a url' message. In the past, this has led to users f

[2016-06-10 07:55] danmihaila commented on #4210
still an issue @aalecs

[2016-06-12 14:23] alexandru-m-g commented on #4212
Created a small test in Selenium for map explorer. It just loads a data slice, checks that map and chart are loaded and then removes it and checks that the map and chart have disappeared: https://github.com/OCHA-DAP/hdx-ckan-selenium/commit/e0ab9eb3ed3a02414cc151c697f4070aad1e7f8b

[2016-06-13 09:23] teodorescuserban commented on #4190
I have disabled the one-minute cache for WFP.
Also, I disabled the one-minute cache for Nepal earthquake page.

[2016-06-13 09:23] #4190 closed, assigned to teodorescuserban

[2016-06-13 12:01] aalecs commented on #4210
Happening only in Firefox and it seems it's an open issue in Firefox:
https://github.com/d3/d3/issues/2771

If this needs fixing then we need to ask Simon to take a look on how we can avoid using the translate property in generating the chart.
@danmihaila

[2016-06-13 12:07] aalecs commented on #4163
Closing for now :)

[2016-06-13 12:07] #4163 closed, assigned to SimonbJohnson, aalecs

[2016-06-13 14:30] takavarasha commented on #4224
It works for google drive.

[2016-06-13 14:30] #4224 closed, assigned to takavarasha

[2016-06-13 14:39] takavarasha opened #4240 "api/action/user_list times out on production"
Calls to /api/action/user_list are timing out on production server.

[2016-06-13 16:06] danmihaila commented on #4240
@teodorescuserban any hint?

[2016-06-13 18:24] teodorescuserban commented on #4240
yes, nginx 60 seconds timeout.

[2016-06-13 18:26] teodorescuserban commented on #4240
On staging it takes 51 seconds so it doesn't timeout.

Too many users? no solr index? no pagination on user list?

[2016-06-13 18:29] teodorescuserban commented on #4240
The same call with a query (/api/action/user_list?q=tes) works great.

[2016-06-13 18:34] teodorescuserban commented on #4240
If you ask me, that call should not be allowed unauthenticated. Look what wealth of info delivers...

[2016-06-14 11:13] danmihaila commented on #4240
@teodorescuserban this is the default ckan api call. I will make an issue to review it and to optimize if it is ok the case.
Basically for sysadmin user it displays more information (like email).

[2016-06-14 11:35] danmihaila commented on #4228
moved to next sprint. @alexandru-m-g pls update what is done in Sprint 90 and what you are going to do in 91

[2016-06-14 11:48] danmihaila opened #4241 "New Contribute Flow: the add data if full page"
After latest changes the page is full screen. Check prod vs demo server
![screen shot 2016-06-14 at 14 47 39](https://cloud.githubusercontent.com/assets/3865844/16041601/fb909288-323e-11e6-98ef-1db4de3960ae.png)
![screen shot 2016-06-14 at 14 47 37](https://cloud.githubusercontent.com/assets/3865844/16041602/fbaba78a-323e-11e6-86be-7fdf2ec1303b.png)

[2016-06-14 11:49] danmihaila commented on #3533
@aalecs you could check if there is a paramater to adjust the size of screenshot in px

[2016-06-14 14:00] aalecs commented on #4210
Reopening so we can transfer it in the backlog

[2016-06-14 16:13] teodorescuserban commented on #4240
Yes but it is not auth.

On Tue, 14 Jun 2016, 14:13 Dan Mihaila, notifications@github.com wrote:

[2016-06-14 18:13] yumiendo commented on #4087
Im in to support these for power users (like CJ).
are these hard to implement?

[2016-06-15 13:55] cjhendrix opened #4242 "FAQ: last categories are not selected"
In FF on linux and Chrome on Win
1. Remove any zoom
2. Go to FAQ.
3. Click one of the last two categories in the list at left (contact or data policy).
4. Page scrolls but the category is not highlighted.

It seems that the first category visible on the page is what is highlighted, and for the last two categories (depending on your screen size and zoom) it is one of the earlier categories that is

[2016-06-15 14:15] cjhendrix opened #4243 "Update Terms of Service and FAQ"
Update faq and terms of service with privacy policy data found here:

https://docs.google.com/document/d/1nYRAYjrnf37LZ3A5nll4KgFeiS53o0GyXAGlaylvfhc/edit#

[2016-06-15 15:19] davidmegginson opened #4244 "Multiple scrollbars on contribute page"
Under Ubuntu 16.04, using Chrome Version 51.0.2704.79 (64-bit):

![Screenshot](http://www.clipular.com/c/6220009359015936.png?k=n5buYt7xk2OufJz2dkHloXO7ELo)

[2016-06-15 15:25] davidmegginson commented on #4244
Also spotted under the MS Edge browser in Win10.

[2016-06-15 15:30] davidmegginson commented on #4244
_Not_ on the demo server, so it must be a fairly-recent introduction.

[2016-06-15 19:58] danmihaila commented on #4244
@aalecs can you double check this issue? Might be related with the full page change.

[2016-06-16 14:53] cjhendrix opened #4245 "Change shared link for resource share"
We currently share the link to the resource which will be either:
1. a download from hdx in a goo.gl link
2. a direct link to a remote resource (like a geonode page or dropbox download)

Mixpanel can't count downloads from the 2nd situation.

Change the link shared for **resource** shares to be the dataset page instead.

Tagging @alexandru-m-g in case I've misunderstood something.

[2016-06-16 15:43] cjhendrix opened #4246 "Instrument the homepage"
Add the following MP events to the home page.

add the [link click] event to
- [x] carousel items; [link type] = carousel
- [x] learn more (faq) button; [link type] = learn more faq

add the [link click] event to the main nav (not limited to home page);  [link type] = main nav
- [ ] data
- [ ] locations
- [ ] organisations
- [ ] specific crisis
- [ ] faq

add the [link click] event to the footer n

[2016-06-16 16:35] alexandru-m-g commented on #4245
What if we share the preview link instead ? I know some resources don't really have a preview but we could imagine a version of the preview page even for those.
Just seemed a bit weird to share the same link whether you share the whole dataset or just a resource.

[2016-06-16 17:10] #4244 closed, assigned to aalecs

[2016-06-16 17:10] #4241 closed, assigned to aalecs

[2016-06-17 09:24] #4142 closed, assigned to aalecs, yumiendo

[2016-06-17 11:52] aalecs commented on #3533
@teodorescuserban We need to install the imagemagick suite in the ckan container before being able to use the thumbnail generator ... the command is similar to:
apt-get install imagemagick

[2016-06-17 12:54] cjhendrix commented on #4245
I agree, it is a bit weird, but our preview page doesn't look very nice. I think it can be @yumiendo or @amcguire62 's call.  Could we perhaps remove the share links from resources?

[2016-06-17 14:39] yumiendo commented on #4245
I find resource level 'share' lacking bit of information/credentials (user receives a direct link to download and its missing description, meta data, source, etc)

my preference would be to remove the share option from resources and we let users 'share' at dataset level only... unless @amcguire62 thinks this is a deal breaker :)

In addition - shall we add a bit of details in the 'share' email:

T

[2016-06-17 14:47] cjhendrix commented on #4245
Sounds good to me!

[2016-06-20 11:26] cjhendrix opened #4247 "There is no search sugestion for 'el nino'"
We give suggestions for 'ebola' and 'nepal earthquake', but not 'el nino'.  There should be a suggestion that goes to '/crisis/elnino'.  It should be labeled as "crisis page"

[2016-06-20 14:21] amcguire62 commented on #4245
+1 good for me also

[2016-06-21 07:20] #4212 closed, assigned to danmihaila

[2016-06-21 07:24] danmihaila opened #4249 "HDX Membership: research how to manage requests"
Server side storing of requests from users

Options:
- [ ] activity stream
- [ ] existing extension
- [ ] new extension

[2016-06-21 08:30] danmihaila commented on #4195
Actions:
- @mcarans  to update the HDX Library to add the missing fields for resources
- @takavarasha / @mcarans  to run the scripts to update the resources
- Dan to check in about 10-14 days the remaining not updated resources and to manually patch them in CKAN db.

[2016-06-21 11:10] danmihaila commented on #4158
@yumiendo any view re this issue?

[2016-06-21 12:45] amcguire62 opened #4252 "change TOS"
Change this text from

https://data.humdata.org/about/terms

HDX does not allow data that includes personally identifiable information (PII) to be shared publicly through the site. All data shared publicly must be sufficiently aggregated or anonymized so as to prevent identification of people or other harm to affected people and the humanitarian community. We do allow data that is shared privately

[2016-06-21 14:17] yumiendo commented on #4158
Hi @takavarasha , what do you think of the copy changes below?

**for the URL text field**
change the copy from "eg. http://example.com/population-jan-2011.json" to

**for file name text field**
change the copy from "File name" to

[2016-06-21 15:57] takavarasha commented on #4158
I think that works very well.

[2016-06-21 18:17] cjhendrix commented on #4243
closed by #4248

[2016-06-21 18:17] #4243 closed, assigned to cjhendrix

[2016-06-22 08:56] danmihaila commented on #4240
assigned to @teodorescuserban  to increase timeout on prod

[2016-06-22 11:32] danmihaila opened #4253 "Resource update: last_modified research"
In CKAN 2.5.1 the last_modified field is getting updated when doing an upload via UI. We also need to check the API upload.
Data team needs this field to be updated when a resource is uploaded/created/modified/etc.
The main task is to check if we can bring the code from 2.5.1 into our version or to make our own action.
Also, after research we could use "revision_timestamp" from resource_revision t

[2016-06-22 12:28] aalecs commented on #4242
@danmihaila & @cjhendrix - to fix this issue we need to add a large space at the end of the FAQ section, after the contact item, that should have a height of 80-90% of the users browser window. That's necessary so the scroll will position the last items on the top of the screen and the menu-heighlight script would function properly.
Is that acceptable? 😃

[2016-06-22 12:36] danmihaila commented on #4242
@aalecs can we have a screenshot?

[2016-06-22 13:38] aalecs commented on #4242
![screen shot 2016-06-22 at 16 38 11](https://cloud.githubusercontent.com/assets/5638491/16268607/c32c0aa8-3897-11e6-8918-47cbc84b3ac0.png)

![screen shot 2016-06-22 at 16 37 46](https://cloud.githubusercontent.com/assets/5638491/16268609/c633d686-3897-11e6-9c44-cf08f60575a5.png)

[2016-06-22 13:41] danmihaila commented on #4242
I think it looks good.
@cjhendrix @yumiendo any comments?

[2016-06-22 13:41] danmihaila commented on #4242
@aalecs what is the minimum % that is going to work well?

[2016-06-22 13:49] aalecs commented on #4242
I checked and it's about 75% for a "tall" screen :) I have 1440px height on my screen and it's ok. For smaller screens there's not a problem since the footer will be larger compared to the screen height ;)

[2016-06-23 11:39] teodorescuserban commented on #4240
Fixed as per https://github.com/OCHA-DAP/hdx-dockers/pull/8
Increasing timeout to 120 for all requests.

This fix is in prod, but NOT on staging.
New nginx image building is under way.

[2016-06-23 11:39] #4240 closed, assigned to teodorescuserban, danmihaila

[2016-06-23 11:50] teodorescuserban commented on #4240
New nginx image has been generated.

[2016-06-23 11:50] danmihaila commented on #4240
@takavarasha / @mcarans  please test it on production server. it is working for me

[2016-06-24 19:04] yumiendo opened #4260 ""1 to 1" and "1 to many" communication"
Below are the comps that accommodate our new feature - 'contact the contributor'(1 to 1) and 'group message'(1 to many)

**Changes on dataset page:** (screenshot below, pink underline)
<img width="1317" alt="screen shot 2016-06-24 at 1 25 38 pm" src="https://cloud.githubusercontent.com/assets/8006323/16345301/31dfd5ba-3a0f-11e6-9755-f99e55b7a41c.png">

Im cleaning up the actions available on datas

[2016-06-24 19:09] yumiendo commented on #4260
**things to consider**: Not sure if we discussed this a year ago - have we decided if we'd cc all messages to HDX?(if so, we'd need to include a disclaimer) it seems a little creepy that HDX is monitoring people's conversations. But if the inquiry is either 'report a problem' or 'suggest edits' (things that affects HDX as a service)- we might want to CC hdx.feedback@gmail.com. Any opinions/better

[2016-06-25 14:29] alexandru-m-g commented on #4245
I have pushed a change for removing the share link for resources.

@yumiendo @danmihaila
About the second change related to the email body, without changing too much the mechanism for how that works we could do something like the following:
-  here is the test dataset with a long formatted description
  ![description](https://cloud.githubusercontent.com/assets/6586348/16357248/8e4e15d8-3af9-11e6-8

[2016-06-26 14:06] alexandru-m-g commented on #4253
@danmihaila I've tested a bit on the CKAN beta site and it doesn't seem like the _last_modified_ property is being updated. Check this link: http://beta.ckan.org/api/action/package_show?id=this-is-just-a-test-dataset

I see that there is a case in which uploaded files get that field populated [here](https://github.com/ckan/ckan/blob/e171528b8e4a9220dd3b2245a4b2a0a7d1a64a07/ckan/lib/uploader.py#L20

[2016-06-27 06:40] #4242 closed, assigned to aalecs

[2016-06-27 06:41] #4252 closed, assigned to aalecs

[2016-06-27 06:41] #4247 closed, assigned to aalecs

[2016-06-27 06:59] cjhendrix commented on #4260
Hi Yumi,

When we discussed this a while back, we did decide to copy hdx.feedback
when a user contacts a maintainer.    We didn't think through it in too
much detail, but in general we wanted to know if users were reporting
problems with datasets.  I think a disclaimer on the form makes sense.

--cj

From:   yumiendo notifications@github.com
To:     OCHA-DAP/hdx-ckan hdx-ckan@noreply.github.com
Cc

[2016-06-27 10:42] teodorescuserban commented on #3533
@aalecs : imagemagick has been added to staging ckan container.

[2016-06-27 13:53] danmihaila commented on #4260
@yumiendo
- disclaimer
- template for email

[2016-06-27 20:22] teodorescuserban commented on #3533
installed on staging, @aalecs

[2016-07-04 04:23] yumiendo opened #4266 "Membership management - org page updates"
![membership](https://cloud.githubusercontent.com/assets/8006323/16550786/5e0910be-417d-11e6-9124-feeb3c81f711.png)
- add 'members' tabs (introduce tabs for featured org pages...)
- update the actions below org description - "follow this organisation", "group message"(for org members only), "edit organisation info"(admin only)

...more to come.

[2016-07-06 13:36] yumiendo commented on #4260
@danmihaila
disclaimer copy: Your message may be monitored by the HDX team for internal use: such as improving your user experience, the overall quality of our services and introducing service enhancements for the future.

where to put: (same for group message)
<img width="1053" alt="screen shot 2016-07-06 at 9 35 50 am" src="https://cloud.githubusercontent.com/assets/8006323/16619652/044102c6-435

[2016-07-06 14:09] yumiendo commented on #4260
both emails are pending data team's approval/edits -

email template for contact the contributor: https://docs.google.com/document/d/18ezdFET74It72Dgpz9k_YGxOjPKXtTab5fYsgZ919RE/edit?usp=sharing

email template for group message:
https://docs.google.com/document/d/1b6NPYWdIQCOIGbYt4LM4-dd2q-GgdYeeYISpSxQkryI/edit?usp=sharing

[2016-07-07 18:44] ochadataproject commented on #4260
Thanks with edits

disclaimer copy: Your message may be monitored by the HDX team for internal
use such as improving your user experience and the overall quality of our
services.

On Wednesday, July 6, 2016, yumiendo notifications@github.com wrote:

[2016-07-13 20:38] yumiendo commented on #4266
**Add/invite colleague**
- after submit, show modal screen with confirmation https://cloud.githubusercontent.com/assets/8006323/16346537/d165a7bc-3a15-11e6-90f3-7a4665afe048.png

several possible cases:
1. if person is already HDX member > org admin(s) receives membership request (this is skipped if added by org admin - if there are multiple admins, they receive email confirming someone is added)

[2016-07-22 20:27] takavarasha opened #4280 "Contact the contributor: Ascii codec error when sending email to contributor or group members"
The following message is shown when using the contact the contributor feature: Can't send your request: 'ascii' codec can't encode character u'\xe9' in position 35: ordinal not in range(128)

![image](https://cloud.githubusercontent.com/assets/6885303/17070166/7503bf9e-5028-11e6-9231-aa1414ab2599.png)

[2016-07-23 05:44] danmihaila commented on #4280
@takavarasha can you please give more details? what message did you try to send? was it a french char/accent?

[2016-07-23 10:17] takavarasha commented on #4280
The unicode chatacter is in the title of the dataset.

[2016-07-23 10:20] takavarasha commented on #4280
https://data.humdata.org/dataset/dr-congo-limite-des-zones-de-sante

[2017-09-17 14:37] jbothma commented on #129
Sorry to necrobump - I just found this when looking into why searching for the example _Environment_ doesn't return an existing name "Environmental Affairs".

Has this since been solved or raised otherwise?

[2017-09-21 14:37] xiaoyinghu commented on #87
I have uploaded a zip file, the format is "zip". However, button is showed up as "Go to resource".

The button show as "Download" for "csv" or "xlsx" though.

Any one has idea what's the difference?

[2017-09-21 14:42] xiaoyinghu commented on #87
Sorry, just realized this is an closed issue. I'm going to open a new issue.

[2017-09-21 14:49] xiaoyinghu opened #4603 "No Download Button for Zip file. Only Go To Resource Button"
CKAN version: 2.8

I'm expect user can click "Download" button from "Explore" dropdown box and in the dataset page. Only "Go to Resource" button available. User can click the file link as well for download. But some users are expecting "Download" explicitly.

One of the most expected behavior is to download data. Can the button change to "Download" when there's a valid file format is specified?

I

[2017-09-21 18:50] xiaoyinghu commented on #4603
Looks like you can change in html file of button text. I now changed Go to resource to Download. We only have downloadable resources. It is closed.

[2017-09-21 18:50] #4603 closed, assigned to nobody

[2017-09-29 13:12] longhotsummer commented on #129
@jbothma in our case, it's because "environmental affairs" is the name of a resource, which is stored as the field type "textgen", which is [not stemmed in the default CKAN schema](https://github.com/ckan/ckan/blob/master/ckan/config/solr/schema.xml#L117).

[2018-01-03 10:30] #3966 closed, assigned to nobody

[2018-04-16 07:55] kartikbha opened #4780 "relation "page" does not exist - LINE 2: FROM page"
I am getting below error. Pls suggest.

File "/usr/local/lib/python2.7/dist-packages/sqlalchemy/util/compat.py", line 189, in raise_from_cause
    reraise(type(exception), exception, tb=exc_tb)
  File "/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/base.py", line 947, in _execute_context
    context)
  File "/usr/local/lib/python2.7/dist-packages/sqlalchemy/engine/default.py", line 435,

[2018-04-16 07:56] kartikbha opened #4781 "ckan.plugins.core.PluginNotFoundException: requestdata"
I am getting below error when i am running.
docker exec -t hdxckan_ckan_1 hdxckantool test

Traceback (most recent call last):
  File "/usr/local/bin/nosetests", line 9, in <module>
    load_entry_point('nose==1.3.0', 'console_scripts', 'nosetests')()
  File "/usr/local/lib/python2.7/dist-packages/nose/core.py", line 118, in __init__
    **extra_args)
  File "/usr/lib/python2.7/unittest/main.py",

[2018-04-16 09:49] teodorescuserban commented on #4781
It seems you missed installing all plugins required.
Please make sure you run: `docker exec hdxckan_ckan_1 python setup.py develop`, `docker exec hdxckan_ckan_1 pip install -r requirements.txt` and `docker exec hdxckan_ckan_1 hdxckantool plugins dev`, @kartikbha

[2018-04-16 11:59] kartikbha commented on #4781
I still have several issues but request data error gone after installing https://github.com/OCHA-DAP/ckanext-requestdata. @teodorescuserban I already installed those plugins/libs.

[2018-04-16 13:52] teodorescuserban commented on #4781
Please create new issues for your other difficulties (I saw you already added another issue).
Ok to close this one then, @kartikbha ?

[2018-04-16 13:53] teodorescuserban commented on #4780
This would indicate you might have some issues on the database side. Did you initialised the database with `paster db init -c /your/path/to/ckan.ini`?

[2018-04-16 23:13] #4781 closed, assigned to nobody

[2018-04-16 23:13] kartikbha commented on #4781
fixed after installing https://github.com/OCHA-DAP/ckanext-requestdata.

[2018-04-16 23:54] kartikbha opened #4783 "Docker compose file at two places"
I see, two docker-compose files at two different places.
One is at top level.
https://github.com/OCHA-DAP/hdx-ckan/blob/dev/docker-compose.yml

Second at.
https://github.com/OCHA-DAP/hdx-ckan/blob/dev/contrib/docker/docker-compose.yml

Can you please explain the use of these two different ones.

[2018-04-17 07:05] danmihaila commented on #4783
@kartikbha i want to let you know that this repo is not the official CKAN and have several customizations tailored for our HDX project

[2018-04-25 10:11] kartikbha opened #4785 "Organisation creation"
Trying to create Organisation in the local latest HDX-CKAN instance. Request is getting placed but no org. is actually created in the system. SMTP settings are working as well. I am only getting a notification of a request submitted.
Can you please suggest, what to do to create organization in the local running instance of HDX-CKAN ?

[2018-04-27 08:17] kartikbha commented on #4785
configuration = Configuration(hdx_site='prod',hdx_key="xxxx-96bc4010740d",user_agent="admin",hdx_config_yaml="/root/hdx_configuration.yml",project_config_dict={"MY_PARAMETER":"MY_VALUE"})
remoteckan = ckanapi.RemoteCKAN("http://xxx:5050/",apikey="xxxxxx-96bc4010740d",user_agent="admin")
configuration.setup_remoteckan(remoteckan)

organization = Organization(configuration=configuration)
organizatio

[2018-08-31 08:54] teodorescuserban commented on #3074
not relevant anymore

[2018-08-31 08:54] #3074 closed, assigned to teodorescuserban

[2018-08-31 08:56] teodorescuserban commented on #2189
closing

[2018-08-31 08:56] #2189 closed

[2018-08-31 08:57] teodorescuserban commented on #3843
closing

[2018-08-31 08:57] #3843 closed, assigned to teodorescuserban

[2018-08-31 09:00] #3533 closed, assigned to teodorescuserban, aalecs

[2019-05-17 10:17] #4233 closed, assigned to danmihaila

[2022-08-18 21:34] rainorsun opened #5841 "How to process new organization requests?"
So I have finally managed to get HDX setup for my organisation. And I am able to get onboarding emails in dev via Mailhog. My challenge is, the flow for requesting a new organisation stops at the sending an email to the Data team with details of the new organisation.

Maybe I missed something. But I am stuck. I need an organisation to create datasets. But I can't do this unless, I setup an organis

[2022-08-22 16:11] takavarasha commented on #5841
Please send email to hdx@un.org so we can arrange a call to better understand this issue.

[2022-08-30 08:51] #5841 closed, assigned to nobody

[2022-09-28 13:30] ffischer1984 opened #5858 "What's the ckan version of the last stable hdx-distribution?"
I'm considering to use hdx as a foundation for a Open Data Platform. In this context I've asked myself what's the ckan-version of the last stable hdx-distribution?

[2022-09-29 07:44] danmihaila commented on #5858
@ffischer1984  we are running CKAN 2.9.5 right now

[2022-10-05 18:34] #5858 closed, assigned to nobody