[2015-06-15 14:15] teodorescuserban commented on #2935
@alexandru-m-g please see my previous comment about upload_handle

[2015-06-15 18:02] takavarasha opened #2953 "Organisation Pages: ORDER BY options for dataset list on organization not working"
Selecting an ORDER BY option for the dataset list on organization does not have any effect.

![image](https://cloud.githubusercontent.com/assets/6885303/8166642/1a276e8a-1367-11e5-8851-8fdd657ab48c.png)

[2015-06-15 18:06] alexandru-m-g commented on #2935
I did a bit of testing on staging while connecting directly to ckan ( not through nginx ):
- I uploaded a 5 MB file in 17s - worked
- I uploaded an 8 MB file in 27.44s - worked
- I uploadded a 12 MB file  - failed (no response) after 30.4s

That makes me think there's something in CKAN that times out after 30s ( and on prod since there are more resources we don't hit this timeout ).
@teodorescuser

[2015-06-15 18:14] teodorescuserban commented on #2935
Please note:
1. the timeout comes from the fact that the call to `upload_handle` is remaining pending (never responded)
2. the resources we all think about are cpu and ram - staging is having both. The only thing that should slow down stag comparing to prod is the hard discs speed - but we are talking about 20-30 MB not 30 GB :)

Gunicorn is timing out because ckan does not respond to `upload_hand

[2015-06-15 18:28] alexandru-m-g commented on #2935
@teodorescuserban for an 8 MB file CKAN staging answers in 27s. That's not ideal but it works. For a 12MB it clearly takes more than 30s so Gunicorn kills the thread. Can't we try increasing the 2 Gunicorn timeouts on staging ?

Why prod does the job quicker, that's an interesting question. Surely related to hard disk speeds as well. Maybe it would be worth investigating after we switch to the new

[2015-06-15 18:29] teodorescuserban commented on #2935
Yes, an interesting question, but again, the file is not transferred until call to upload_handle completes.
That should be a fast call.
Can I call you on hangouts?

[2015-06-15 18:36] alexandru-m-g commented on #2900
@mbellotti I've checked out the _hdx_ckan_2_3_ branch. I think there is an issue cause for the files from our extension I don't see the GIT history anymore. I see only 1 commit: the last one.

See attached screenshot:
![git_history](https://cloud.githubusercontent.com/assets/6586348/8167377/9334847c-13a6-11e5-86fe-582eb0f86ec5.png)

[2015-06-15 18:40] alexandru-m-g commented on #2935
Yes. Just call me on hangouts if you want.

[2015-06-15 18:55] mbellotti commented on #2900
I talked to Dan about this already, it's because the CKAN installer (or in
this case updater) overwrites the git directory completely. Didn't realize
this until after. Not sure what to do about this to be honest, but open to
suggestions

On Mon, Jun 15, 2015 at 2:36 PM, Alexandru Gartner <notifications@github.com

[2015-06-15 19:00] alexandru-m-g commented on #2900
My suggestion would be to look at what that script does and see why it overrides the git folder. I think it's important cause otherwise we're loosing valuable information.

[2015-06-15 19:12] alexandru-m-g commented on #2900
Or is there a way to first checkout the ckan core code, then run the update script and then merge our code over it ?

[2015-06-15 19:27] mbellotti commented on #2900
Wouldn't it be easier to just use git rebase to combine dev and
hdx_ckan_2_3 when the time comes?

On Mon, Jun 15, 2015 at 3:12 PM, Alexandru Gartner <notifications@github.com

[2015-06-15 19:28] danmihaila commented on #2900
I think we need to find a solution to have at least our history from git. It will help to track bugs, issues or old issues, etc

[2015-06-16 04:09] mbellotti commented on #2900
Yeah, but this is no big deal... Git is magical like that. I went ahead and
fixed this, check the branch now and make the history is as it should be.

On Mon, Jun 15, 2015 at 3:28 PM, danmihaila notifications@github.com
wrote:

[2015-06-16 09:45] danmihaila opened #2956 "Dataset view: no existing files display a message/link to add"
the text is on white...
![screen shot 2015-06-16 at 12 44 13](https://cloud.githubusercontent.com/assets/3865844/8180329/97671c38-1425-11e5-9833-50f6ccd626f2.png)

[2015-06-16 11:11] danmihaila commented on #2882
@mbellotti this is still an issue. We also have a bug on prod with links from header which open in new tabs.
Pls check this screenshot from staging : https://test-data.hdx.rwlabs.org/dataset/json-repository  > "test dan" resource
![screen shot 2015-06-16 at 14 09 09](https://cloud.githubusercontent.com/assets/3865844/8181754/77a66384-1431-11e5-95d2-a9f7114627c8.png)
This issue become more and more

[2015-06-16 13:53] cjhendrix commented on #2439
Closing this as OBE

[2015-06-16 13:53] #2439 closed, assigned to aalecs

[2015-06-16 14:12] teodorescuserban commented on #2941
Closing.

[2015-06-16 14:12] #2941 closed, assigned to nobody

[2015-06-17 08:09] danmihaila commented on #2942
this is merged, but now https://github.com/OCHA-DAP/hdx-ckan/issues/2882 is still an issue

[2015-06-17 14:21] takavarasha opened #2960 "Map on custom org 3w viz not reset when the Reset All button is clicked"
![ocha afghanistan - humanitarian data exchange](https://cloud.githubusercontent.com/assets/6885303/8209340/70393488-14da-11e5-9cc7-cca7a3a0eae3.png)

[2015-06-17 15:21] danmihaila commented on #2960
I think the reset is about resetting the selection and not the position of the map.
Maybe we should take into consideration to reset map position

[2015-06-18 13:47] mbellotti commented on #2473
Dan asked me to summarize the status of this issue:

The resources that are causing SSL to fail on some browsers are not loaded by HDX, they are loaded dynamically by leaflet.js which guesses the right url to use. In some cases it guesses incorrectly, using HTTP instead of HTTPS, triggering this error.

We could probably fix this, but we'd have to maintain a custom build of leaflet.js to do it. Be

[2015-06-18 16:51] teodorescuserban commented on #2473
+1

În Joi, 18 iun. 2015 la 16:47, mbellotti notifications@github.com a scris:

[2015-06-19 09:01] teodorescuserban commented on #2473
Please be aware that we are already using leaflet/mapbox on org pages.

https://data.hdx.rwlabs.org/organization/wfp

[2015-06-21 18:44] alexandru-m-g commented on #2946
This commit should be in this issue: https://github.com/OCHA-DAP/hdx-ckan/commit/56c131436aea919e4bfaaa46c8c4cc7543ee94e6

[2015-06-21 18:46] alexandru-m-g commented on #2951
This ticket is completed by this commit.The schema was updated to the 2.3 version: https://github.com/OCHA-DAP/hdx-ckan/commit/716c5ee8340b55bb83e5e45b38e5aeecba81f715

[2015-06-21 18:47] #2951 closed, assigned to alexandru-m-g

[2015-06-21 18:47] #2946 closed, assigned to alexandru-m-g

[2015-06-21 18:48] alexandru-m-g commented on #2944
@danmihaila Please be more specific regarding which "org vs group" problem you are referring to.

[2015-06-21 19:07] alexandru-m-g commented on #2944
The hdx_group plugin only contains the schema changes that are specific to the group entity.

[2015-06-22 13:15] alexandru-m-g opened #2962 "Trying to have a correct GIT history in the upgrade branch to 2.3"
I have created a new branch for the 2.3 upgrade: https://github.com/OCHA-DAP/hdx-ckan/tree/history_2_3_upgrade

I've had problems with the following CKAN CORE files while merging. I've mainly took the version from ckan 2.3 since we shouldn't modify ckan core:
- [ ]   datastore/plugin.py ( @teodorescuserban we will need to double check this, it's related to #1837 )
- [x]   ckan/logic/auth/validator

[2015-06-22 15:35] cjhendrix opened #2963 "Quality Checked Flag not set on country centric indicators"
I found that the "quality checked" flag is not set for the country-centric indicator datasets.  I've confirmed with Javier that these datasets should be flagged as quality checked.

This includes any dataset where name is in the form:
`xxx_rw_indicators`
`xxx_fts_indicators`
`xxx_baseline_data`

I suspect that we should NOT also flag these as indicators since the indicator page graph will not work

[2015-06-22 15:51] mbellotti commented on #2962
https://github.com/OCHA-DAP/hdx-ckan/commit/eae55fba13922fd5499f2d9a402c84314b434d20 Looks good to me. There are a couple other changes related to user_email_validator in schema.py (https://github.com/OCHA-DAP/hdx-ckan/commit/eae55fba13922fd5499f2d9a402c84314b434d20#diff-e4189be2bde0fc4cd4cfbfc28f3227fbL29) and (https://github.com/OCHA-DAP/hdx-ckan/commit/eae55fba13922fd5499f2d9a402c84314b434d20#d

[2015-06-22 16:25] alexandru-m-g commented on #2962
@mbellotti Could you please open a PR towards this branch with any other user_email_validator - related changes that need to be in 2.3 ?

[2015-06-22 16:32] mbellotti commented on #2962
Okay get.py was another core update that was eventually accepted: https://github.com/ckan/ckan/issues/2001

group.py is a little weird because this (https://github.com/OCHA-DAP/hdx-ckan/commit/eae55fba13922fd5499f2d9a402c84314b434d20#diff-379752379d1d722bcb76beff6e0ebef8L148) looks like something we might have added and pushed back into core but it is not labelled as such and I can't find any reco

[2015-06-22 17:19] teodorescuserban commented on #2962
@alex fine by me as long as it wont err on nosetests.
I recall you did some changes on that replicates upstream ckan behaviour.

Lun, 22 iun. 2015, 19:32, mbellotti notifications@github.com a scris:

[2015-06-22 17:27] cjhendrix commented on #2930
Duplicate of #2396. closing

[2015-06-22 17:27] #2930 closed, assigned to nobody

[2015-06-22 17:28] cjhendrix commented on #2401
OBE.  Closing.

[2015-06-22 17:28] #2401 closed, assigned to nobody

[2015-06-23 08:59] alexandru-m-g commented on #2962
@danmihaila @mbellotti The last 3 paths (ckan/controllers/related.py, ckan/controllers/pacakge.py, ckan/controllers/group.py ) were wrong in my description above, I changed them:

[2015-06-23 09:31] danmihaila commented on #2962
@alexandru-m-g @mbellotti
- [x] ckan/controllers/package.py ( can you check this pls ? I think it's just formatting but double-check )

mine is ok, only an automatic format - no need to bring changes

[2015-06-23 12:02] cjhendrix opened #2964 "Add crises menu to blog"

[2015-06-23 12:44] reubano opened #2965 "unable to create custom org page"
https://data.hdx.rwlabs.org/organization/ocha-somalia

Steps:
- Enable the custom org flag (sysadmin)
- Edit custom org settings (admin)
- Click 'update organization' (admin)
- Page redirects to regular org page
- Click edit (admin)
- Custom org flag not present and custom settings are gone

[2015-06-23 12:49] danmihaila commented on #2965
@reubano can you please specify what user you used to set the custom org?

[2015-06-23 12:52] reubano commented on #2965
CJ enabled the flag, I edited the settings. Is that what you mean?

[2015-06-23 13:56] danmihaila commented on #2965
After chatting with @reubano we found the problem is related to "admin" role.
1. Custom org is enabled by a sysadmin.
2. The admin of the org is editing, but there is no checkbox displayed to set flag about custom org.

[2015-06-23 14:00] alexandru-m-g commented on #2965
I think that's how the initial requirements were: #2298

[2015-06-23 15:54] cjhendrix opened #2967 "Add to the list of file formats that trigger geo preview"
Here is the current list of formats that should trigger geo preview creation:
- zipped shapefile
- shapefile
- kml
- kmz
- geojson
- gml

[2015-06-23 15:56] danmihaila commented on #2967
I think we should have all the formats supported to trigger or only one "general".

Dan Mihaila
Sent from my iPhone

[2015-06-23 16:01] cjhendrix opened #2968 "Multiple geometry types in kml not supported"
KML allows multiple geometry types (points, lines, polygons, multipolygons, etc) to be in the the same file.  It appears that ogr2ogr supports this, but our system only captures one of outputs (only line in this case: http://feature-data.hdx.rwlabs.org/dataset/geotest07)

There is a good argument to be made that we may not want to go down the rabbit hole of supporting multiple geometry types in a

[2015-06-23 16:04] cjhendrix commented on #2967
That would mess with the ability to filter by format.  Also, in the future, we may want to trigger completely different geo preview processes for formats like WMS.

[2015-06-23 16:06] danmihaila commented on #2967
I agree. Then I think we should have a full list of formats such as:
- kml
- geojson
- zipped shapefile??

Dan Mihaila
Sent from my iPhone

[2015-06-23 18:54] luiscape opened #2969 "New window opening when clicking on the "Reset all" link of the 3W visualization"
When exploring the 3W component visualization an user can filter the data by clicking on the map or on the bars. However, when the user wants to "reset" the visualization by clicking on "Reset all", it opens a new window as it the link had a `target=_blank` parameter set.

This issue is happening on `Firefox 38.0.5` on Mac Yosemite 10.10.3 (14D136). Other users have reported the same issue with Fi

[2015-06-23 20:36] danmihaila commented on #2969
Related to #2942 , ping @mbellotti

[2015-06-23 20:57] mbellotti commented on #2969
Okay I suggest we comment out this script and table this issue. I can
modify tracking.js to open a new window for downloads, will that work for
now?

On Tue, Jun 23, 2015 at 4:37 PM, danmihaila notifications@github.com
wrote:

[2015-06-24 08:33] cjhendrix opened #2970 "Relevance sorting on search seems odd when searching for CODs"
The following search "afghanistan common operational dataset" (on stag) does return the desired dataset, but only as the 6th entry (Afghanistan Population Stats).  That dataset contains a tag "common operational dataset".

![image](https://cloud.githubusercontent.com/assets/1654485/8325790/64596aca-1a5c-11e5-8459-2e19372bcc61.png)

Is it because the title is weighted higher?  Maybe we could tweak

[2015-06-24 13:04] cjhendrix opened #2971 "Dataset Create/Edit: On failure of URL validation (URL already exists), visibility defaults back to private"
1. Create a new dataset and give it a name/url that already exists.
2. Set visibility to public
3. Submit the form.
4. Validation error raised on URL
5. Visibility re-set to private

[2015-06-24 13:04] cjhendrix commented on #2971
To keep in mind when we work on the new contribute flow.

[2015-06-24 13:11] cjhendrix opened #2972 "Simplification doesn't seem to provide any simplification for point datasets"
We could research if anyone is working on this.

Example: http://feature-data.hdx.rwlabs.org/dataset/geotest08

[2015-06-24 13:16] cjhendrix opened #2973 "Consider how we handle datasets that are "orphaned" in postgis by resource deletion or updates"

[2015-06-24 13:21] cjhendrix commented on #2924
I presume this will require a delay while the geometry is loaded. If so, then we might need a loading icon to show instead of the full world map while we wait to get the the data and calculate extents.

Alternatively, we might be able to make a quick call to postgis to get the extent of the layer and set the extent while we wait for the data to load.

[2015-06-24 13:27] takavarasha commented on #2938
@aalecs, any update on this. Pinging @amcguire62  who is also interested in this

[2015-06-24 13:33] danmihaila commented on #2938
@takavarasha dev team is focusing this sprint on upgrade to 2.3. What is the priority of this issue? I am thinking that if @SimonbJohnson is setting HDX CKAN local, he could change the code and maybe doing a hotfix on prod if the priority is very high.

[2015-06-24 13:42] takavarasha commented on #2938
@amcguire62 asked about this and asked me to follow up. I am sure he will comment soon on priority.

[2015-06-24 14:13] alexandru-m-g commented on #2970
@cjhendrix Yes, titles are more important - check here: https://github.com/OCHA-DAP/hdx-ckan/blob/dev/ckan/lib/search/query.py#L26

QUERY_FIELDS = "name^4 title^4 tags^2 groups^2 text"

[2015-06-24 14:26] cjhendrix commented on #2970
I assume the last item, "text" is the description. If that's so, I would propose
"name^2 title^4 tags^4 groups^4 text"

But where is are the orgs?  I'm pretty sure we are searching that too.

[2015-06-24 14:27] alexandru-m-g commented on #2970
Basically every field that you don't see above is concatenated together in "text".

[2015-06-24 14:39] cjhendrix commented on #2970
So then I'd suggest adding organizations^2 to the list above.   That's just my gut feeling based on the search terms analysis we did and the problem we will face with people searching for the CODs

[2015-06-24 14:41] alexandru-m-g commented on #2970
Just orgs ? What about description ?

[2015-06-24 14:46] cjhendrix commented on #2970
That would be part of "text" no?

[2015-06-24 14:53] danmihaila commented on #2970
I think this requirements should be part of the new search module. I am just guessing that in case we will make another SOLR schema or maybe to improve the current one...
ping @mbellotti to be aware of this discussion

[2015-06-24 15:05] alexandru-m-g commented on #2970
1) This is not part of the solr schema
2) Are we modifying the schema for the new search module ?

[2015-06-24 15:19] alexandru-m-g commented on #2970
@cjhendrix Why would Afghanistan Population Statistics be higher ? I don't see the words "common" or "operational" in the description of the dataset.

I only see the COD tag

[2015-06-24 15:27] cjhendrix commented on #2970
I think Serban re-ran the cod migration (which would have deleted the "common operational dataset" tag that I added manually).  Trust me, it was there.    :)

[2015-06-24 16:01] alexandru-m-g opened #2975 "Problem with sorting on the org members page"
Clicking on "Name Descending" does not work
![1](https://cloud.githubusercontent.com/assets/6586348/8334960/57060f80-1aa3-11e5-84e5-34af8ed3547c.png)

[2015-06-24 21:37] danmihaila commented on #2969
@mbellotti can you please revert your changes? We will need to revert&hotfix production and to bring the fix to 2.3 branch too.

Sent from my iPad

[2015-06-24 21:43] alexandru-m-g commented on #2969
I suggest investing a bit of time to see if it's possible to fix this without modifying core ckan

[2015-06-24 21:44] mbellotti commented on #2969
We never modified ckan core for this.

On Wed, Jun 24, 2015 at 5:43 PM, Alexandru Gartner <notifications@github.com

[2015-06-24 21:45] alexandru-m-g commented on #2969
I mean tracking.js. isn't it part of core ckan?

[2015-06-24 22:21] mbellotti commented on #2969
Ah! Sorry I assumed you were talking about the revert.

On Wed, Jun 24, 2015 at 5:45 PM, Alexandru Gartner <notifications@github.com

[2015-06-25 06:24] teodorescuserban commented on #2028
Jun 25: 5.6GB uncompressed, 4.2GB archive.

tagging @cjhendrix, @amcguire62 and @danmihaila

[2015-06-25 11:52] amcguire62 commented on #2964
please can we do next sprint

[2015-06-25 12:29] cjhendrix opened #2982 "Enable conversion support for file geodatabases in ogr2ogr"
File geodatabases are much less common than shapefiles, but not rare.  It would be good to add support for them and OGR2OGR has a library that can do this.  However file geodatabases are most frequently used to store multiple layers in the same "file", so **if** we decide we should support multiple layers per resource, we may want to consider enabling file geodatabase support.

[2015-06-25 14:11] cjhendrix commented on #2397
I'm going to close this one since it needs to be updated a bit for the new vector tiles geo preview.  I'll make a new issue.

[2015-06-25 14:11] #2397 closed, assigned to nobody

[2015-06-25 14:17] cjhendrix opened #2983 "Geo preview: process files with multiple layers"
It is common for zipped shapefiles to have >1 shapefile inside. It is also possible for KML (though less common).  We may want to handle this situation by generating multiple layers in postgis.  We wouldn't need to modify the resource (it would stay one download file with many shapefiles inside), but postgis would hold more than one layer per resource.

An example zip is the `multiple shape files.

[2015-06-25 16:05] cjhendrix opened #2984 "geo preview: clear the attribute popup if the layer containing the displayed feature is turned off"
![image](https://cloud.githubusercontent.com/assets/1654485/8359102/a41107aa-1b64-11e5-92af-0e40e67b7b6e.png)

[2015-06-26 08:25] danmihaila commented on #2964
done by @alexandru-m-g and @danmihaila and deployed on prod

[2015-06-26 08:36] cjhendrix commented on #2631
We've basically done this, and we have more specific issues to address what remains to be done.  Closing this one.  Good work all!

[2015-06-26 08:36] #2631 closed, assigned to alexandru-m-g

[2015-06-26 09:27] cjhendrix opened #2987 "Geo preview: uploading duplicate resources"
CKAN allows the same file or link to be used multiple times as resources on the same dataset.

The geo preview is handling this inconsistently:

1) For both filestore and remote resources: only a single geopreview is available on the map.
![image](https://cloud.githubusercontent.com/assets/1654485/8374469/e8b9e4a8-1bf5-11e5-9030-00cff2dfcc4b.png)

2) For remote resources, changing one of the resou

[2015-06-26 09:36] cjhendrix commented on #2967
Updated the list in the issue description above.

[2015-06-26 09:41] teodorescuserban commented on #2987
my guess is that is the map layer that filters out duplicates.
try to rename SOM file locally as npl and upload it as duplicate.
the resource gis-related things are stored as datasetname_resourceid in the
gis db and referenced accordingly on both gisapi and gislayer so this
shouldnt happen

În Vin, 26 iun. 2015 la 12:27, cjhendrix notifications@github.com a scris:

[2015-06-26 09:41] cjhendrix commented on #2934
Pinging @amcguire62.

I propose that for the first iteration, we just stick with having geo preview triggered when the file format is set to one of the magic words.  We can add a link to the help button that links directly to some explanatory text in the FAQ, which I will write (but we have to get the FAQ up first.)

[2015-06-26 09:53] cjhendrix commented on #2926
Just tested it here and it seems to be ok: http://feature-data.hdx.rwlabs.org/dataset/geotest15-which-has-a-long-name-for-testing-the-bug-with-not-getting-geopreview-on-long-names

[2015-06-26 11:25] cjhendrix commented on #2983
Note that it is quite common to have the shapefiles be inside 1..\* folders inside the zip.  :/

[2015-06-26 13:49] danmihaila opened #2990 "Sitemap extension: improvements"
It is needed to check the performance of our extension to provide information about all our pages to search engines. This will improve our visibility. Ping @yumiendo, @cjhendrix and @amcguire62
- [ ] small research about site.xml structure and if HDX site.xml is valid. Check also what are the recommendations
- [ ] add organizations to site.xml
- [ ] add locations to site.xml
- [ ] add static pages

[2015-06-26 13:54] teodorescuserban commented on #2926
might be related to max size for resource name in postgis or along the way,
because the actual table made for a resource is datasetname_resourceID

În Vin, 26 iun. 2015 la 12:53, cjhendrix notifications@github.com a scris:

[2015-06-26 14:48] alexandru-m-g commented on #2926
The table name in postgis should have the following name: first 10 characters from datasetname + a hash string that has always the same length

https://bitbucket.org/agartner/gisrestlayer/src/a31be6ade273f1153cdc8fb698675a5c5a7df29b/api/import_api.py?at=master#cl-186

[2015-06-26 21:00] mbellotti commented on #2990
Couple of thoughts here:
Sitemaps are really just a tool to give webcrawlers somewhere to start, to help them find content that is not necessarily well linked and to give Google some sense of the structure of a site. It's not necessary to list every single page on the sitemap, a crawler will index organization and location pages by following links to them on the datasets listed on the sitemap

If

[2015-06-29 08:57] danmihaila opened #2996 "Create/Edit Dataset: upload/store resources"
- [ ] Move the way we store to the new 2.3 ckan.
- [ ] Old way of storing (OFS) will still have to be supported, but the new resources/upload/updates will not use OFS anymore
- [ ] OFS were storing many versions of the same file/resources. How can we safely remove the history/old files from our system and keep only the last version?
  In order to do this, @teodorescuserban will have to provide (ma

[2015-06-29 08:58] danmihaila opened #2997 "Onboarding: new registration module - UI"
Details will be added soon

[2015-06-29 08:58] danmihaila opened #2998 "Onboarding: new registration module - backend support"
Details will be added soon

[2015-06-29 09:05] danmihaila commented on #2396
closing this one and will create another issue

[2015-06-29 09:05] #2396 closed, assigned to nobody

[2015-06-29 09:08] danmihaila opened #2999 "Geo-preview: triggering geo transformation"
- [ ] resources/datasets created via API
- [ ] resource/datasets created via HDX UI (we need to bring changes from geo branch to 2.3 upgrade branch)

[2015-06-29 09:09] danmihaila commented on #2935
@alexandru-m-g @teodorescuserban @cjhendrix what is the status of this issue?
should we move it sprint 59? who is going to work on this one?

[2015-06-29 09:09] danmihaila commented on #2396
moved to https://github.com/OCHA-DAP/hdx-ckan/issues/2999

[2015-06-29 09:23] danmihaila opened #3000 "CKAN 2.3: ckanext-hdx_crises - more changes"
- [ ] add more nosetests
- [ ] decide about Ebola crises page

[2015-06-29 10:12] cjhendrix opened #3001 "Script failing in submit dataset flow"
Looks like the map doesn't load and a helpful popup says why:

![image](https://cloud.githubusercontent.com/assets/1654485/8405892/1e28a48a-1e58-11e5-9502-eb2fcf5e05d6.png)

[2015-06-29 10:15] cjhendrix commented on #3001
Sorry, wrong procedure to use for documenting this issue.

[2015-06-29 10:15] #3001 closed, assigned to nobody

[2015-06-29 11:58] alexandru-m-g commented on #2999
I think we should move the logic that triggers the "gis layer creation" process from the controller to the _resource_create_ & _resource_update_ actions.
Also, we need to make sure that even in case a new resource is created, its ID is sent to the GIS layer.

[2015-06-29 12:08] alexandru-m-g commented on #2973
1.  Send signal from  resource_delete() action
2.  Delete corresponding PostGIS tabel
3.  Delete mapping from  Spatial Server ( might not be necessary if we consider that as long as the resource is deleted, the respective endpoint won't be hit anymore. At the next restart the url mapping is not created anymore since the PostGIS table doesn't exist anymore )

[2015-06-29 13:25] #2948 closed, assigned to mbellotti

[2015-06-29 13:25] #2920 closed, assigned to mbellotti

[2015-06-29 13:26] #2900 closed, assigned to mbellotti

[2015-06-29 13:28] #2943 closed, assigned to danmihaila

[2015-06-29 13:29] danmihaila commented on #2964
done

[2015-06-29 13:29] #2964 closed, assigned to danmihaila

[2015-06-29 13:33] #2944 closed, assigned to alexandru-m-g

[2015-06-29 13:33] #2962 closed, assigned to alexandru-m-g

[2015-06-29 13:34] alexandru-m-g commented on #2848
This is done. So I'll close it.

[2015-06-29 13:34] #2848 closed, assigned to alexandru-m-g

[2015-06-29 13:35] #2949 closed, assigned to mbellotti

[2015-06-29 13:37] #2969 closed, assigned to mbellotti

[2015-06-29 13:38] #2942 closed, assigned to mbellotti

[2015-06-29 13:44] mbellotti commented on #2882
Trying this approach:
- see if we can extend tracking.js and have it load instead of the core tracking.js
- only open resources that are uploaded as links, not file uploads.

[2015-06-29 13:44] danmihaila commented on #2882
moving to Sprint 59

[2015-06-29 13:53] cjhendrix commented on #2935
A good file for testing (>200MB): https://www.dropbox.com/s/e0x0ya180t8x3to/Africa_adm2_multipoly_GADM.geojson?dl=0

[2015-06-29 19:44] amcguire62 commented on #2938
@danmihaila please ping it over to Simon, hopefully he is operational now.

[2015-06-29 20:01] takavarasha opened #3002 "Non-ascii characters in resource name may cause internal server error"
On production, attempting to download a resource whose name contains non-ascii characters may cause an internal server error if the extension of the resource is omitted in the name of the resource. The following steps will reproduce the behavior described above:

1 Edit the name of any resource on production to "My tést"
2 After saving the resource, click on the download link to download the resou

[2015-06-29 23:37] reubano commented on #2406
Issue still present on test server when posting to `api/action/resource_create`

[2015-06-30 00:25] reubano commented on #2406
Also when updating a resource with a file >1MB using the website, it just hangs.

[2015-06-30 02:19] reubano commented on #2935
Related to #2406

[2015-06-30 02:32] reubano commented on #2481
I'm having an issue with [OCHA Somalia](https://data.hdx.rwlabs.org/organization/ocha-somalia). The image shows up fine in the editor

![window 2015-06-30 at 05 29 13](https://cloud.githubusercontent.com/assets/157864/8422811/1a57bb48-1ee9-11e5-9798-40e981a1d538.png)

But, once you view the org page... it tries to fetch the google docs hosted image from ckan

![window 2015-06-30 at 05 28 32](https

[2015-06-30 07:37] danmihaila commented on #2481
@reubano we are not using it as external link, but instead as local storage of the files.
If this is a request we could modify the code, so we could display external links but I am not sure how it will handle the SSL and https. I guess we should just upload the files using the uploader for the moment.

[2015-06-30 09:47] danmihaila commented on #2938
This is done and deployed on prod.
https://data.hdx.rwlabs.org/organization/wfp
 closing it

[2015-06-30 09:47] #2938 closed, assigned to SimonbJohnson

[2015-06-30 11:00] khanh78 commented on #2331
Hello,

is anyone can help me to configure reource_proxy ?
do I need only add in ckan_plugin = resource_proxy ?

Thanks for your helps

[2015-06-30 14:35] reubano commented on #2481
@danmihaila I'm not sure I'm following you. Under 'Custom Styles' you have the option to upload logos or provide links. Are you saying it won't work if you provide a link?

[2015-06-30 14:38] danmihaila commented on #2481
yes, it looks it doesn't work with links. Basically we need to upload files for the moment

[2015-06-30 14:45] reubano commented on #2481
Ok, has this always been the case or did a recent change break the link feature?

[2015-06-30 15:26] danmihaila commented on #2481
This was the default behaviour we had

[2015-07-01 01:30] davidmegginson opened #3009 "Trying to download private resource does not return 401 (Unauthorized)"
When I attempt to download a private (at the time of writing) resource like http://data.hdx.rwlabs.org/dataset/beneficiary-target/resource_download/600672e7-9421-4bcb-b1c8-835b77be7d3c (at the time of download), the app returns a 303 (see other) redirect, then a 302 (found) redirect, then a 200 (ok) status with the HTML login page.

This provides a good interactive user experience via the browser,

[2015-07-01 01:36] davidmegginson opened #3010 "Filestore downloads do not support CORS"
Public data files downloadable from HDX should support CORS, so that browser-based visualisations hosted on other domains can use them without resorting to hacks like a JSONP proxy.  This means simply adding one HTTP header to all public files downloaded from the Filestore:

[code]

This change will make a big difference in the usability of HDX-hosted data by web developers.  More details here: ht

[2015-07-01 08:28] danmihaila commented on #3009
this is interesting. We might do these changes in there is a strong recommendation to do it after our upgrade to 2.3 and migration to new servers.
Thanks @davidmegginson for rising this concerns

[2015-07-01 13:24] davidmegginson commented on #3009
It actually turns out that there is no documented way to download a private resource from the FileStore non-interactively — there's no API call where you can provide your CKAN API key, for example. That may become a separate issue for some of the HXL pilots (not the Guinea one, yet).

[2015-07-02 07:41] amcguire62 commented on #2934
i agree

[2015-07-02 08:19] cjhendrix opened #3014 "Search Results: when filtering by "zipped shapefile" and ordering by "last modified" no datasets are shown"
On prod:
1. go to /dataset
2. filter by format = "zipped shapefile"
3. sort by "last modified"

I wasn't able find this with different combinations of format at sort.  My bet is that the space in "zipped shapefile" is choking something.

![image](https://cloud.githubusercontent.com/assets/1654485/8472677/8ec87a10-20a3-11e5-9fe0-fc4cfdb6478a.png)

[2015-07-02 08:24] danmihaila commented on #3014
good catch. it looks to be a bug about tags with at least two words. if you try this url it will work
https://data.hdx.rwlabs.org/dataset?sort=title_case_insensitive+desc&res_format=zipped%20shapefile
or
"https://data.hdx.rwlabs.org/dataset?sort=title_case_insensitive+desc&res_format=zipped shapefile"

[2015-07-03 13:54] mbellotti commented on #2882
I'll test this a bit more throughout today but assuming we are satisfied with just download links opening up in new window/tabs and only if they are not files we're hosting then this should be ready to go?

[2015-07-03 13:58] danmihaila commented on #2948
@mbellotti there were some missing imports in misc.py. I committed them and will merge soon

[2015-07-03 14:00] danmihaila commented on #2882
@mbellotti can you make a pull request to "dev" branch too? We will need to deploy this to prod before going to 2.3.

[2015-07-03 14:30] mbellotti commented on #2882
Okay, I should be able to have that done by today :)

[2015-07-03 14:31] alexandru-m-g opened #3019 "Resource preview not working anymore after 2.3 upgrade"
Basically the resource preview doesn't exist in CKAN 2.3 in the same way as it was in 2.2.

Plugins like recline_preview and text_preview have been transformed to recline_view and text_view in order to allow for multiple views for a single resource. This in turn involved more changes that are not directly compatible with our current HDX CKAN code.

Restructure the HDX CKAN code that deals with res

[2015-07-03 14:54] cjhendrix opened #3021 "Default organizatoin page: change or remove the "updated" date"
![image](https://cloud.githubusercontent.com/assets/1654485/8501218/b290cec4-21a3-11e5-89b2-5dd21077a221.png)
This currently displays the most recent date of update to a dataset belonging to the org.

Preferred behavior: display "Joined on" with the created date.

[2015-07-03 15:26] danmihaila commented on #3021
I think we should check if it is the latest change on organization entity or dataset belonging the org.
@cjhendrix and @amcguire62 do we have any plans to change the default org page template?

[2015-07-03 15:29] cjhendrix opened #3022 "Search result snippet: use dataset_date instead of metadata_modified"
The user gave an example of a dataset from 2010 which shows 2015 in the search result snippet because that's when the dataset was added to HDX.  This is confusing to users.

Things to consider when considering how to solve this:
1. dataset date is not a required field and will not always be present
2. sort behavior needs to remain sensible
3. currently ckan is unaware of updates to remote resource

[2015-07-03 15:33] cjhendrix commented on #3022
Maybe we should just show both the dates:
- Date metadata modified
- Dataset date

It won't be as pretty, but I think both of those dates would be useful to users.

[2015-07-03 15:38] cjhendrix commented on #3021
I haven't heard of any plans. @amcguire62 ?

[2015-07-06 13:47] cjhendrix opened #3028 "Move google-analytics.js into <head>"
Google recommends having the js inside the <head> tag so that hits are captured even if the user navigates onward before page load has completed.  This is important both for tracking bounces.

We probably had some reason for putting it at the end of the page, and that may still trump google's recommendation, but I thought it is worth reconsidering.

[2015-07-06 19:10] danmihaila opened #3029 "Resource create/edit: file upload"
It looks this is a blocker and the main issue after our upgrade to 2.3. My recommendation is to align with ckan flow and change our flow according to it as follows:
- file will be upload when resource is create, this means no ajax upload anymore
- fix the templates and align them according to 2.3 version

[2015-07-07 08:07] cjhendrix opened #3030 "Add a "search within" box to the crisis and custom location pages"
Add the search box similar to what appears on the custom org pages.

![image](https://cloud.githubusercontent.com/assets/1654485/8541629/edb16c72-248f-11e5-8bef-79764df54282.png)

[2015-07-07 08:20] danmihaila commented on #2945
reopened.
@mbellotti  there are some missing imports in
hdx_package/controllers/related_controller.py
hdx_package/helpers/update.py

[2015-07-07 08:49] danmihaila opened #3031 "Email validation: login error (Typo)"
@mbellotti I think it is a typo in code. please check error below:
ckanext.hdx_users.controllers.mail_validation_controller:343 in logged_in

AttributeError: 'ValidationController' object has no attribute '_sane_came_from'

Can you fix it as it is a blocker?

[2015-07-07 08:58] danmihaila commented on #3031
another one in mail_validation_controller: 131-133 (numbers might be different):
def request(...)
...
                    send_mail(name, email, org, reason)
                    h.flash_success(_('We will check your request and we will send you an email!'))
                    h.redirect_to('/')
...
"send_mail" shows an error

[2015-07-07 12:41] mbellotti commented on #3031
It's not a typo but that's strange because it's a problem I specifically
remember fixing last Sprint.... maybe it got lost when we redid the git
branch? O.o

On Tue, Jul 7, 2015 at 4:58 AM, danmihaila notifications@github.com wrote:

[2015-07-07 19:24] teodorescuserban commented on #2406
Feel free to reopen this.

Please check the debug tools (see if the POST to upload_handle returns anything other than status_code 200) and paste here the output (or alternatively send me the file you want to upload).

[2015-07-07 22:05] davidmegginson opened #3036 "Quick upload page"
From my comment on the HDX FAQ:

_[The current, two-stage upload process] is an enormous usability problem in HDX (and CKAN). I think we can fix it fairly easily by creating an optional, alternative "quick upload" form that created both a dataset and a single resource._

For the simple use case of someone who wants to create a simple dataset with a single resource, we can provide a single form tha

[2015-07-07 22:09] davidmegginson opened #3037 ""Share from Google Drive" button"
I propose that we add a "Share from Google Drive" button that uses the Drive API to create a selector where the user can choose a Google Sheet to share, and we can automatically create the proper CSV/Excel download URLs for the HDX resource.

[2015-07-07 22:13] davidmegginson opened #3038 ""Share from Dropbox" button"
I propose that we add a "Share from Dropbox" button that uses the Dropbox API to create a selector where the user can choose a file to share (via its public link).

[2015-07-08 07:48] teodorescuserban commented on #3037
Please note that it looks like Gdocs API  (not sure if Drive API it's the same) it can suddenly change and csv downloads wont work. And then it might change back in a couple of hours. This happened to me more than once.

[2015-07-08 08:56] alexandru-m-g commented on #2923
I think this is probably more for @aalecs  since he worked on the client side.

[2015-07-08 09:30] danmihaila commented on #2923
assigned to @aalecs

[2015-07-08 13:34] cjhendrix opened #3043 "Fail gracefully when resource is too large"
We are currently establishing a (functioning) limit on uploaded file size ( #2935 )  We need to provide feedback to the user when this is exceeded.

[2015-07-08 19:17] reubano commented on #3009
I'm having this same issue. Requests returns a 200 but if you look at the [history](http://docs.python-requests.org/en/latest/user/quickstart/#redirection-and-history) you see the 401s.

[2015-07-08 19:23] reubano commented on #3009
@davidmegginson there is no api call to download a resource whether it is public OR private. Best you can do via the api is get the resource object which contains the `url`, and then use `requests` to fetch.

[2015-07-08 19:25] reubano commented on #3043
Related to #2406

[2015-07-08 19:33] reubano opened #3044 "Custom org page not using appropriate resource url"
When uploading resources to the filestore via ckan api, the download url is set to the dataset id as opposed to the dataset name, i.e., `http://<remote>/dataset/e66dbc70-17fe-4230-b9d6-855d192fc05c/resource/<resource_id>/download/<file_name>` vs `http://<remote>/dataset/json-repository/resource/<resource_id>/download/<file_name>`. This breaks the 3w viz as it expects the json file to be available

[2015-07-08 19:51] teodorescuserban commented on #3009
@reubano are you sure there are 401s in requests history? I would think there are 301s.

[2015-07-08 19:55] reubano commented on #3009
@teodorescuserban you may be right. i don't have the ipython window open now. I recall seeing `x-ckan-api` and `squid` unauthorized errors.

[2015-07-08 19:56] teodorescuserban commented on #3009
squid unauthorized will appear if you try to acess anything on http instead of https.

[2015-07-09 10:18] amcguire62 commented on #2832
Given we will soon deploy 2.3 want plan in a call to review options in the context of what we want to achieve and what is MVP to improve user experience. Specifically want Sarah and Yumi on the call to set priorities then once we are clear on priorities we then distil down to what options are best  given what we want to achieve .

[2015-07-09 16:16] cjhendrix opened #3046 "For COD migration, can we enable markdown on the Data Source field"
Some CODs coming from the migration have hrefs and other formatting in the Data Source field.  We process that to markup but we don't process markup on that field.  The easiest solution would be to add markup processing to that field in ckan.

[2015-07-10 10:38] amcguire62 commented on #2270
@danmihaila i think this is an easy thing to do - could we put it down for August during quiet period?

[2015-07-10 11:06] cjhendrix commented on #2612
Serban has found that CKAN does have an extra for this.  We are populating it for the resources created in the COD migration in hopes that we can soon add it to the interface.

[2015-07-10 11:30] danmihaila commented on #2612
@cjhendrix
I think it is a standard column in resource and not in extras, please double check

[2015-07-10 11:38] danmihaila opened #3054 "Organization request new"
/organization/request_new:
(probably logged in as hdx)
it is displayed the custom org checkbox
![screen shot 2015-07-10 at 14 36 19](https://cloud.githubusercontent.com/assets/3865844/8617918/515a30a0-2711-11e5-9db8-1f1938daa4ab.png)

[2015-07-10 11:43] cjhendrix opened #3055 "Copy the HR.info terms of use to a page on HDX"
Copy the main content from here: http://www.humanitarianresponse.info/en/applications/data/page/terms-use
to a page on HDX.  I suggest /about/license/legacy_hrinfo  @amcguire62 ?

Our page should contain the following:

[code]

Following that introduction, reproduce the contents of the HR.info page from
 "Terms of Use"  down to " . . . duly authorized representative."

[2015-07-10 14:12] cjhendrix commented on #2612
Yes, that's possible.  Point is, we're populating it for the COD migration and we have users and Sarah asking to display it.   But in to make it work we would need to capture that info when datasets are uploaded via interface or api.

[2015-07-10 14:17] danmihaila commented on #2612
"an interesting issue for August vacation period I see".... :)

[2015-07-10 18:01] teodorescuserban commented on #2951
Wasn't this ticket referring to solr schema inside the solr container?

[2015-07-10 18:34] teodorescuserban opened #3060 "dataproxy error on handling xlsx as xls?"
http://dev-data.hdx.rwlabs.org/dataset/consolidated-stocktake-9-06-2015-xlsx/resource/9c6dc735-dd63-4596-a09b-fec327f2a463#
error is:
Could not load view: DataProxy returned an error (Data transformation failed. ReadError: Can't read Excel file: XLRDError("Unsupported format, or corrupt file: Expected BOF record; found 'PK\x03\x04\x14\x00\x06\x00'",))

the "PK" sugests that xlsx is actually some k

[2015-07-10 19:49] alexandru-m-g commented on #2951
It was referring to needed changes in the solr schema in general. So yes, any changes need to be reflected in the solr container, which already happened on the testing server that runs 2.3.

[2015-07-13 09:40] danmihaila commented on #2950
checked&fixed by @alexandru-m-g

[2015-07-13 09:40] #2950 closed, assigned to danmihaila

[2015-07-13 09:48] danmihaila opened #3063 "Dataset create/edit - rewrite the UI according to new bootstrap"

[2015-07-13 09:49] danmihaila opened #3064 "Resource create/edit: rewrite the UI according to new Bootstrap version"

[2015-07-13 10:11] danmihaila commented on #3031
closing this one

[2015-07-13 10:11] #3031 closed, assigned to mbellotti

[2015-07-13 10:14] danmihaila opened #3065 "Request Organization: new"
Go to : https://test-data.hdx.rwlabs.org/organization/request_new
- [ ] check the form which is broken.
  See screenshot
  <img width="1280" alt="screen shot 2015-07-13 at 13 13 09" src="https://cloud.githubusercontent.com/assets/3865844/8647547/8c313bf4-2961-11e5-9b05-79845c0704ba.png">
- [ ] check right part of the form displaying 1.Basic details again...
- [ ] Organization Request: popup help s

[2015-07-13 10:28] danmihaila opened #3066 "Org member list: icons not well aligned"
<img width="627" alt="screen shot 2015-07-13 at 13 25 59" src="https://cloud.githubusercontent.com/assets/3865844/8647673/bed85a5a-2962-11e5-81ab-e53f99d314ad.png">
Trash button and edit are not well aligned

[2015-07-13 10:29] danmihaila opened #3067 "Org add member modal not working"
- [ ] modal is not working
- [ ] check if add/edit/remove member is working for different roles of users

[2015-07-13 10:32] danmihaila opened #3068 "Dataset Format : displays "csv" and "CSV" as different formats"
Dataset List: in the filter list on dev, “CSV” and “csv” are different formats.  On prod, these are combined (which is the desired behavior)
We should check if there are other cases like this. I think there are 2 options
1. We should try to merge them like we did for tags via script and be sure user can not add upper case formats
or
2. display only "csv", but when filtering it should show datasets

[2015-07-13 10:33] cjhendrix opened #3069 "Default Org Page: Dataset filter counts are confusing"
The numbers beside each facet are hard to understand.  In the example below
- beside "FORMATS" it says 13, but only 12 are displayed
- beside TAGs it says 1571, but INNAGO only has 67 datasets and listing all the tags shows only a couple dozen, not 1571.

![image](https://cloud.githubusercontent.com/assets/1654485/8648653/a502cdae-2962-11e5-9349-f63e4bc526cd.png)

[2015-07-13 10:57] danmihaila opened #3070 "Location default page: not working"
- [ ] Going to https://test-data.hdx.rwlabs.org/group/abw is not loading the map, giving script errors.
  Also check browser console for errors that need to be fixed
- [ ] check header for Datasets and alignments on page

[2015-07-13 11:03] danmihaila opened #3071 "Gallery items error"
Check both url:
https://test-data.hdx.rwlabs.org/dataset/wfp-food-prices
and
https://data.hdx.rwlabs.org/dataset/wfp-food-prices

and screenshots
<img width="1280" alt="screen shot 2015-07-13 at 14 02 04" src="https://cloud.githubusercontent.com/assets/3865844/8648262/d3e00ee8-2967-11e5-8917-bc659f363ca2.png">
<img width="1280" alt="screen shot 2015-07-13 at 14 01 58" src="https://cloud.githubuser

[2015-07-13 11:08] danmihaila opened #3072 "Group edit"
Check https://test-data.hdx.rwlabs.org/group/edit/mli and screenshots below. Style is broken
<img width="1280" alt="screen shot 2015-07-13 at 14 06 07" src="https://cloud.githubusercontent.com/assets/3865844/8648326/6129de50-2968-11e5-8ecb-d8358791d98d.png">
<img width="1280" alt="screen shot 2015-07-13 at 14 06 02" src="https://cloud.githubusercontent.com/assets/3865844/8648327/61523daa-2968-11e5

[2015-07-13 11:15] danmihaila opened #3073 "Tab styles are broken"
https://test-data.hdx.rwlabs.org/dataset?sort=metadata_modified+desc
and compare with
data.hdx.rwlabs.org/dataset?sort=metadata_modified+desc
See screenshot
<img width="1251" alt="screen shot 2015-07-13 at 14 13 07" src="https://cloud.githubusercontent.com/assets/3865844/8648468/89eed006-2969-11e5-92c0-7d1ef389c615.png">

[2015-07-13 11:24] danmihaila commented on #3022
@yumiendo - can we chat about issue and how to display both dates? You can check this url:
https://data.hdx.rwlabs.org/organization/acaps

[2015-07-13 11:36] cjhendrix commented on #3055
URL confirmed by @amcguire62

[2015-07-13 11:38] teodorescuserban opened #3074 "Create a router to send a test email"
Needed to test the email functionality.
Ask me fo details.
Thank you.

[2015-07-13 11:50] cjhendrix commented on #3046
After discussion with @amcguire62 , we will handle this in the manual QA step.  There aren't many data sources that have URLs and the migration manager will just fix them manually.   Even if we miss one, the outcome is that the markdown will appear in the field, which will show the URL, so a little ugly, but no loss of functionality and it can be corrected later.

[2015-07-13 11:50] #3046 closed, assigned to nobody

[2015-07-13 12:26] cjhendrix opened #3076 "Search Results: Accented characters are sorted after Z"
Accented characters are sorted after Z alphabetically.  They should be sorted with their "base" character.

Something like
a
æ
å
ä
ã
â
á
à
b
c
ç
d
e
é
ê
ë
f
g
h
i
ì
í
î
ï
and so on.  Someone out there must have figured out a logical way to do this. There are some characters for which it isn't clear where they go, like ß

[2015-07-13 12:27] danmihaila opened #3077 "Onboarding: register http/https mixed content"
<img width="1280" alt="screen shot 2015-07-13 at 15 26 03" src="https://cloud.githubusercontent.com/assets/3865844/8649494/8ac8374c-2973-11e5-84e2-4ac66b47c68e.png">

@aalecs any thoughts?

[2015-07-13 12:32] cjhendrix opened #3078 "Search Results: changing sort type from a middle page keeps the same page number"
I'm not sure if this is the desired behavior or not.  @yumiendo ?  Seems like it might be more logical to load page 1 of the new sort.
1. From page 3 of a search result https://test-data.hdx.rwlabs.org/dataset?sort=title_case_insensitive+desc&page=3
2. Change the sort type
3. Loads page 3 of the new sort: https://test-data.hdx.rwlabs.org/dataset?sort=title_case_insensitive+desc&page=3

[2015-07-13 12:38] #3019 closed, assigned to alexandru-m-g

[2015-07-13 12:38] #2999 closed, assigned to alexandru-m-g

[2015-07-13 12:39] alexandru-m-g commented on #2928
This should work with the latest changes of GISRestLayer

[2015-07-13 12:39] #2928 closed, assigned to alexandru-m-g

[2015-07-13 12:39] #2924 closed, assigned to alexandru-m-g

[2015-07-13 12:43] alexandru-m-g commented on #2926
This cannot be reproduced and  the way the table names are created have been anyway changed in the meantime.

[2015-07-13 12:43] #2926 closed, assigned to alexandru-m-g

[2015-07-13 12:46] cjhendrix opened #3079 "Downloading: behavior of download button different in different places"
Download a csv file from the dataset page and again from the preview page.
1. When downloading from the dataset page, a new empty browser tab is opened (in chrome).
2. When downloading from the preview page, no new tab is opened.

If possible, we should make the dataset page download button behave the same way as the preview download button.

[2015-07-13 12:58] yumiendo commented on #3078
mmm I agree. sort should override the page #. so in this scenario once user used the sort - it should refresh the view to page 1.

[2015-07-13 13:00] cjhendrix opened #3080 "Dataset View: Preview button not showing for previewable files (at least for txt and csv)"
![image](https://cloud.githubusercontent.com/assets/1654485/8650019/cef360ee-296f-11e5-993c-b80a7539196c.png)

[2015-07-13 13:08] yumiendo commented on #3022
@danmihaila - im not seeing the relevant page to this issue (the link you pasted) am I missing something?

maybe we could do something like the comp (attached) - After "meta data" header, we include "last updated MM-DD-YEAR"
![screen-shot-2015-07-13-at-9 13 46-am](https://cloud.githubusercontent.com/assets/8006323/8650147/a279e172-293e-11e5-8c4e-9f9760e34a5b.png)

[2015-07-13 13:12] danmihaila opened #3081 "Filestore: OFS"
Go to: https://test-data.hdx.rwlabs.org/dataset/json-repository
you will see a bunch of existing files that will display the OFS link: http://data.hdx.rwlabs.org/storage/f/2015-06-16T21%3A22%3A52.437Z/mli-idps-region-2015-may.csv
If you update an existing resource, the download link will be the new format.
We should display only one type of for downloading resources (the new one) even for OFS stor

[2015-07-13 13:18] danmihaila commented on #3022
@yumiendo sorry about link only with private datasets :)
check for example: https://data.hdx.rwlabs.org/organization/brcmapsteam list of datasets

[2015-07-13 13:18] cjhendrix opened #3082 "Organization List: for the "+" is missing from "Add Organization"
The button is only visible to sysadmins, which is the desired behavior.

On stag v0.10.0:
![image](https://cloud.githubusercontent.com/assets/1654485/8650312/30de9ff6-2972-11e5-927f-22a31c0af088.png)

On prod v0.9.8
![image](https://cloud.githubusercontent.com/assets/1654485/8650334/4e8d7874-2972-11e5-9dd7-8c166ed21323.png)

[2015-07-13 13:18] mbellotti commented on #3081
Oh no, I don't think this is a good idea. The two different URLs very easily tell CKAN where to find the file (OFS or new filestore), making maintaining two systems for now pretty clean and simple. I'm not sure what if any bugs might come up if we do this. Is there any advantage to having downloads come through the same route other than the superficial? Most users are not going to notice one way o

[2015-07-13 13:23] danmihaila commented on #3081
1.
Actually, if I remember correct @cjhendrix this was one main request to get rid of url like "...storage/f/2015-06-16T21%3A22%3A52.437Z..." and have permalinks.
We could try to use something that we had before "...dataset/2dc23901-20b6-41b9-871b-e1b2801fc7c9/resource/b7046604-5318-4b99-8bc0-8139b4a2298c/download"
2. What about private resources? if we are going to expose "...storage/f/2015-06-16

[2015-07-13 13:30] cjhendrix opened #3083 "Default Org Page: Dataset list is misaligned and has wrong style when empty"
This only seems to be a problem when there are no datasets:

On stag v0.10.0
![image](https://cloud.githubusercontent.com/assets/1654485/8650548/c2e6051e-2973-11e5-9743-0f3af5f59da2.png)

On prod v0.9.8
![image](https://cloud.githubusercontent.com/assets/1654485/8650574/f78c9b0c-2973-11e5-8b03-20c34798a69d.png)

[2015-07-13 13:32] mbellotti commented on #3081
This is kind of the problem we were having with the migration script, the storage/f/ url is actually stored in the db as the url of the file and yet when the migration script updates both the url on the resource table and the url on the resource_revision page, CKAN still displays that storage/f/ route. I was in the middle of trying to figure out what was going on here.

As for private resources, I

[2015-07-13 13:36] cjhendrix opened #3084 "On boarding: bad login goes back to the old login workflow"
This works ok, but is a bit jarring.
1. Try to login, but deliberately mistype something
2. Old login page is loaded

![image](https://cloud.githubusercontent.com/assets/1654485/8650681/b6d1b858-2974-11e5-9bc8-b26ce40d26de.png)

[2015-07-13 13:36] danmihaila commented on #3081
ok. Please let us know what you find. Also, I suggest to take a look over our old code for permalinks.

[2015-07-13 13:38] danmihaila commented on #3080
this has to do with latest changes. this is an external url to a csv file.
assigned to @alexandru-m-g

[2015-07-13 13:49] cjhendrix opened #3085 "Organization Request: Hide the FTS id from non-sysadmin"
We currently show the FTS ID field to non sysadmins, but this should only be available to sysadmins.
- [ ] remove/hide the FTS id box from /organization/request_new
- [ ] remove/hide the FTS id box from /organization/edit

(approved by ST)

[2015-07-13 13:53] cjhendrix commented on #3078
Thanks Yumi.  Then it's settled, and in the backlog. Not a high priority, I think, but ready to be worked on when someone has time.

[2015-07-13 13:56] danmihaila commented on #3078
I agree with this.

[2015-07-13 14:50] cjhendrix commented on #3081
On the point I was tagged in above, the requirement was to have permalinks for resource downloads. Beyond that I don't recall any specification about how we get that done.

[2015-07-13 15:36] danmihaila opened #3086 "Homepage - missing css"
"NetworkError: 404 Not Found - https://test-data.hdx.rwlabs.org/homepage.css"

[2015-07-13 16:20] alexandru-m-g commented on #3081
Does this mean we want to keep both OFS and the new 2.3 way of storing files for now ?
Why can't we completely migrate to the new one? IMHO, trying to maintain 2 storage system will only cause headaches in the future.

[2015-07-14 07:16] danmihaila commented on #3081
I checked and private resources are fixed. Lets chat during our SPAR call about permalink and migration script.

[2015-07-14 11:44] cjhendrix commented on #2835
I think this is still happening for all of our indicators.  Reopening.

[2015-07-14 11:51] alexandru-m-g opened #3088 "Problem with resources list edit"
Page design is broken:

![1](https://cloud.githubusercontent.com/assets/6586348/8672512/cd0c7eaa-2a37-11e5-844a-1af4eb36a175.png)

[2015-07-14 12:00] alexandru-m-g commented on #3068
This should be more closely investigated. I noticed that when i save things with "geojson", when you retrieve the data via API it's actually "GeoJSON".

[2015-07-14 13:03] #3029 closed, assigned to mbellotti

[2015-07-14 13:04] #2882 closed, assigned to mbellotti

[2015-07-14 13:05] #2945 closed, assigned to mbellotti

[2015-07-14 13:15] #2947 closed, assigned to aalecs

[2015-07-14 13:49] cjhendrix commented on #3070
Ok, my part is done.  :p  And fixed on prod as well.

[2015-07-14 13:52] danmihaila commented on #3070
@cjhendrix , can you also check other locations during your tests or UATs? (random picking maybe...) thanks

[2015-07-15 06:35] teodorescuserban opened #3093 "less recompile over and over again"
Even if `hdx.less_compile.onstartup = False` on ckan restart less compile is run.

This delays the actual startup of ckan with more than 30 seconds (on staging). Might be less on production - hopefully we didn't needed restart on prod.

tagging @danmihaila to assign and prioritize.

[2015-07-15 07:25] cjhendrix opened #3094 "Add ".shp.zip" as a geo preview triggering extension"
Reminder for cj:  update the faq text to reflect this change.

[2015-07-15 07:56] teodorescuserban opened #3095 "we need to empty ckan's trash can."
The icon for trash can is huge on some pages.
See screenshot below:

![hdx-ckan-big-trash-can](https://cloud.githubusercontent.com/assets/1542984/8693483/26329e58-2ae0-11e5-9a4a-2537958b2c54.png)

[2015-07-15 08:11] cjhendrix opened #3096 "Dataset Create: location list style is invisible"
![image](https://cloud.githubusercontent.com/assets/1654485/8693757/c9f2a102-2ad9-11e5-96d2-a034b8e364cd.png)

[2015-07-15 08:21] danmihaila commented on #3095
duplicated, closing this one :)

[2015-07-15 08:21] #3095 closed, assigned to nobody

[2015-07-15 08:22] danmihaila commented on #3096
duplicated. closing it

[2015-07-15 08:22] #3096 closed, assigned to nobody

[2015-07-15 08:36] alexandru-m-g commented on #3093
@teodorescuserban: let's look at this more closely on staging. I looked on my local machine and this doesn't seem to happen.

[2015-07-15 08:36] teodorescuserban commented on #3093
might be still related with build cache on startup = True?

[2015-07-15 08:57] alexandru-m-g opened #3098 "Problem when an uploaded resource is updated to a "link to url" resource"
There seems to be a bug when you switch from an uploaded resource to a "Link to url" it still gets treated as uploaded and the download link is weird, like: http://test-data.hdx.rwlabs.org/dataset/413d5f86-9c91-47ea-994c-71c435ec6bb5/resource/47079c73-a4c5-44e4-82a6-13291ee0aec6/download/ucid0B9V0hbx2cV31elJLNmZCSm8xZncexportdownload

[2015-07-15 08:59] danmihaila commented on #3098
Assigned to @mbellotti as she made the changes regarding OFS and initial updates of UI

[2015-07-15 15:15] reubano opened #3101 "http://172.17.42.1:9204/ in test server resource url"
`https://test-data.hdx.rwlabs.org/api/action/resource_show?id=6c599eda-8e10-4aa1-aca0-89a9ff25330a`

[code]

[2015-07-15 18:08] alexandru-m-g opened #3102 "Change to core CKAN to deal with solr reindexing problem"
This ticket was opened in order to keep track of a small change done to core ckan in order to allow for solr reindexing from paster:

I was getting the following error: TypeError: can't compare offset-naive and offset-aware datetimes. Made the following change to fix it ( this change should NOT get into dev branch ): https://github.com/OCHA-DAP/hdx-ckan/commit/225ec519a850f0178c87dd633ed5712c57f88

[2015-07-15 20:24] reubano commented on #3010
View https://github.com/jfinkels/flask-restless/issues/223 for more info

[2015-07-15 20:30] reubano opened #3104 "Filestore downloading seems broken"
I uploaded a [file](https://test-data.hdx.rwlabs.org/dataset/json-repository/resource/3333793a-041a-4ec8-a2c6-10ef71e4abec) via the browser to `json-repository` but get a `404` error when trying to download it.

[2015-07-15 20:48] #3088 closed, assigned to alexandru-m-g

[2015-07-15 22:12] alexandru-m-g commented on #3080
A related problem is that sometimes when previewing a CSV there  is a javascript exception while recline is running the sanitizeFieldName() function: `Uncaught Error: Syntax error, unrecognized expression: (Chose one ID per assessment report)`

A fix is committed below.

[2015-07-15 22:16] alexandru-m-g commented on #3080
@teodorescuserban IT seems that we do need to run the following command: `paster views create recline_view text_view -c /srv/prod.ini` on the server. I know you tried it on staging and it was giving some error. Let's try together to debug it. On my local computer it seems to work fine.

[2015-07-16 03:27] cjhendrix opened #3105 "Dataset Create: change behavior of name field with uploaded file to avoid breaking previews"
Dev team may already  be looking at this, but we need to consider how the name field behaves in 2.3.  Before, once the file was uploaded, the file name would be used for the resource name.  Now, this isn't happening (because the actual upload doesn't happen until the form is submitted).

For consistency most existing resources, I'd suggest we capture the file name and populate the resource name fi

[2015-07-16 03:48] cjhendrix opened #3106 "Dataset download: the last few kb are very slow to arrive for recently added resources"
When I download resources (whether large or small), I get almost all of the file, but the last few kb take more than a minute.

For example, [this one](https://test-data.hdx.rwlabs.org/dataset/mali-3w), got to 35.1kb (of 36kb) in less than a second, but took another 1.5 minutes to complete.

It seems this is only happening to recently added resources.  Older resources download normally.

[2015-07-16 03:52] cjhendrix opened #3107 "Misbehaving gallery items"
Dev team is probably already aware of this, but just in case.  Seems to be happening on all gallery items (with large thumbnails at least).

![image](https://cloud.githubusercontent.com/assets/1654485/8715231/ba92bee0-2b7e-11e5-84af-f106a5222fdf.png)

[2015-07-16 04:12] cjhendrix opened #3108 "Geo Preview: kml, kmz"
These were working before (if format was forced to geojson or zipped shapefile).   They are not working now.  Not sure what changed, since ogr2ogr should be processing them.

Note, I'm making this a medium priority since we don't want to delay deployment for these secondary formats.

[2015-07-16 04:41] cjhendrix opened #3109 "Dataset View: "make it public" modal styling"
![image](https://cloud.githubusercontent.com/assets/1654485/8715640/9cb09436-2b85-11e5-9906-f80d9a455a4e.png)

[2015-07-16 04:48] cjhendrix commented on #2967
downgrading this to medium after our discussion the other day.

[2015-07-16 04:49] cjhendrix commented on #2967
downgrading this to medium after our recent discussion

[2015-07-16 04:49] cjhendrix commented on #2973
downgrading to medium after our recent discussion

[2015-07-16 08:00] danmihaila commented on #3107
duplicated, already assigned in current sprint. closing it

[2015-07-16 08:00] #3107 closed, assigned to nobody

[2015-07-16 11:10] cjhendrix opened #3112 "Geo Preview: difficult to click point data"
- [ ] change hand icon to a pointer
- [ ] see if we can tweak the click location to make it easier to click on a point

[2015-07-16 14:19] yumiendo commented on #3105
@cjhendrix Im happy with the solution suggested !

[2015-07-16 21:29] pjdufour opened #3116 "Global Search / Country"
When you use the global search (site-wide search field) to search for `ebola` it automatically takes you to the Ebola crisis page (https://data.hdx.rwlabs.org/ebola).  When searching "yemen", even though there is a nice Yemen country page, it takes you to https://data.hdx.rwlabs.org/search?q=yemen.  When a search term is a `case-insensitive contains` match for a country name, add a small section a

[2015-07-17 15:12] mbellotti commented on #3082
The problem is that bootstrap isn't using font awesome anymore. In my original fix I just included font awesome into hdx_theme, restoring the icons. However @aalecs and @yumiendo think it's better just to get rid of the icons altogether, so that's what we'll do.

[2015-07-17 15:33] alexandru-m-g commented on #3067
This commit is also related to this ticket ( wrong comment in commit):
https://github.com/OCHA-DAP/hdx-ckan/commit/69b4c4f88dfa1c74054c3c461123b0bd916ee00b

[2015-07-17 15:33] alexandru-m-g commented on #3066
This commit is also related to this ticket ( wrong comment in commit):
https://github.com/OCHA-DAP/hdx-ckan/commit/69b4c4f88dfa1c74054c3c461123b0bd916ee00b

[2015-07-17 15:33] #3066 closed, assigned to alexandru-m-g

[2015-07-17 15:56] #2194 closed

[2015-07-17 15:56] #3070 closed, assigned to danmihaila

[2015-07-17 15:56] #3073 closed, assigned to danmihaila

[2015-07-19 08:50] #3086 closed, assigned to aalecs

[2015-07-19 08:50] #2923 closed, assigned to aalecs

[2015-07-19 08:51] #3077 closed, assigned to aalecs

[2015-07-19 10:06] alexandru-m-g commented on #3080
Tested with @teodorescuserban on staging and it works. Closing.

[2015-07-19 10:06] #3080 closed, assigned to alexandru-m-g

[2015-07-19 16:19] alexandru-m-g commented on #3068
Ckan core changed the way it deals with the format field. Now there is a json configuration file called: `resource_formats.json`. This file allows (among other things) one to map different alternative names to a single "official"  format.

I've created a copy of this file in our own extensions and changed the common config to read from this new file which we can modify at will. That's how I got .c

[2015-07-19 16:19] #3068 closed, assigned to alexandru-m-g

[2015-07-19 16:25] alexandru-m-g commented on #3068
@danmihaila @teodorescuserban
A reindexing will be necessary for the changes to take effect.

[2015-07-19 17:41] #3082 closed, assigned to mbellotti

[2015-07-19 17:41] #3085 closed, assigned to mbellotti

[2015-07-20 08:06] danmihaila commented on #2935
I think this is done, but moving to 61 to be more tested
ping @cjhendrix @teodorescuserban

[2015-07-20 08:07] danmihaila commented on #2996
this is done, needs more testing

[2015-07-20 08:07] #2996 closed, assigned to mbellotti

[2015-07-20 08:07] danmihaila commented on #3084
this is done

[2015-07-20 08:07] #3084 closed, assigned to danmihaila

[2015-07-20 08:08] danmihaila commented on #2998
this is done

[2015-07-20 08:08] #2998 closed, assigned to danmihaila

[2015-07-20 08:20] danmihaila opened #3137 "Search: recommendations for users"
When a user is performing a search inside HDX, there is a need to display and highlight other key pages together with datasets. Base document can be found here: https://docs.google.com/document/d/1qVUS05rc-q88u4k5NqTtCzcrjOSM8a94h1YbbEwf-3Q/edit#
- [ ] include in search recommendations Crises, Organizations, Locations,
- [ ] maximum 5 recommendations for the moment with a mix of entities
- [ ] rem

[2015-07-20 08:25] cjhendrix opened #3138 "Org request/create/edit: pop up help on each field does not match the style of dataset create"
![image](https://cloud.githubusercontent.com/assets/1654485/8772111/3ebe0bfa-2ec9-11e5-8dba-9f532960ce70.png)

[2015-07-20 08:25] danmihaila opened #3139 "Search: predictive search"
When a user is typing into the search bar/box in HDX, there is a need suggest key pages (locations, crises, organizations) to user. Base document can be found here: https://docs.google.com/document/d/1qVUS05rc-q88u4k5NqTtCzcrjOSM8a94h1YbbEwf-3Q/edit#
- [ ] include in predictive search: Crises, Organizations, Locations
- [ ] maximum 5 recommendations for the moment with a mix of entities
- [ ] Chec

[2015-07-20 08:32] cjhendrix opened #3140 "Org Request: misaligned button and misplaced text"
![image](https://cloud.githubusercontent.com/assets/1654485/8772219/826142ae-2eca-11e5-938e-d9e8d34f118c.png)
e

[2015-07-20 08:35] cjhendrix opened #3141 "Org edit page: no space between buttons for sysadmins"
This problem is only visible to sysadmins.

![image](https://cloud.githubusercontent.com/assets/1654485/8772259/f4f3dcbe-2eca-11e5-861c-94daf232a050.png)

On ckan 2.2 the delete button is at bottom left and update is on bottom right.

[2015-07-20 08:41] cjhendrix opened #3142 "Org Edit: misaligned button"
![image](https://cloud.githubusercontent.com/assets/1654485/8772436/77b6f1b2-2ecc-11e5-9203-99ad72d79216.png)

Should be at the bottom right

[2015-07-20 09:06] danmihaila opened #3143 "Dataset create: locations can not be removed"
No way of removing a selected location
![screen shot 2015-07-20 at 12 05 28](https://cloud.githubusercontent.com/assets/3865844/8772796/c9150a20-2ed7-11e5-850c-9b9b06af1044.png)

[2015-07-20 09:08] danmihaila opened #3144 "Dataset edit: new added location can not be removed"
For new added location (not for existing one which are ok), there is no "x" to remove them.
![screen shot 2015-07-20 at 12 07 28](https://cloud.githubusercontent.com/assets/3865844/8772840/0eac1e3e-2ed8-11e5-8bc4-0ae55ee77cf0.png)

[2015-07-20 09:09] cjhendrix commented on #1431
This is working now.  Closing.

[2015-07-20 09:09] #1431 closed

[2015-07-20 09:10] cjhendrix opened #3145 "On login, green message can't be cleared"
This has been true on prod for a while now.  I thought we had an old issue about it, but I don't see it.

![image](https://cloud.githubusercontent.com/assets/1654485/8772874/e69b75be-2ecf-11e5-81b4-b92903be5551.png)

[2015-07-20 09:14] danmihaila commented on #3145
there are some javascript errors. moving to sprint 61, check screenshot
![screen shot 2015-07-20 at 12 13 06](https://cloud.githubusercontent.com/assets/3865844/8772926/cccc7a30-2ed8-11e5-9932-22d9db41c615.png)

[2015-07-20 09:18] cjhendrix opened #3146 "Login: bad login reverts to last remembered user"
This is only an issue for users with multiple accounts.
1. login as some user (user a)
2. logout, click login
3. click "not you"
4. enter a different username/pwd (user b)  **but make an error in the password**
5. ckan loads a "login failed" modal, but reverts to user a

[2015-07-20 09:20] danmihaila commented on #3146
I think this is new behaviour. The new module is storing a cookie for the last user that logged in with success in HDX which in your scenario was user a.
We can do the change to save user b, but as he is just a trying user I don't see the reason
Another solution is to think how to handle this special case...

[2015-07-20 09:29] cjhendrix opened #3147 "Resource previews not working"
I've tested the following datasets:
https://test-data.hdx.rwlabs.org/dataset/idp/resource/df2e1def-1804-48da-b2f6-d6bd09fac3a4 (filestore)
https://test-data.hdx.rwlabs.org/dataset/sidih-secuestro-simple/resource/55473640-351b-49fa-b059-f592151d81fa (filestore)
https://test-data.hdx.rwlabs.org/dataset/ourairports-zmb/resource/f436ec4e-9545-441a-b3f9-03c93c64d44d (remote resource)
https://test-data.

[2015-07-20 09:37] danmihaila commented on #3147
assigned to @alexandru-m-g

[2015-07-20 09:38] cjhendrix commented on #3147
Also XLSX and XLS preview not working.

[2015-07-20 09:42] cjhendrix commented on #3147
TXT also.  Maybe something with the dataproxy container?

[2015-07-20 09:47] danmihaila commented on #3147
@cjhendrix did you test with fresh uploaded files?

[2015-07-20 11:13] cjhendrix commented on #3109
Also note that the "make public" link doesn't appear to work.

[2015-07-20 11:14] cjhendrix opened #3150 "Dataset Edit: tab styling is missing"
![image](https://cloud.githubusercontent.com/assets/1654485/8805119/ca329f50-2fcf-11e5-947c-23dda9f817a9.png)

[2015-07-20 11:17] cjhendrix commented on #3147
No, just existing ones, but I just tested with a fresh filstore csv.  Still no preview.

[2015-07-20 11:19] cjhendrix commented on #3146
In case of a login failure, you could just load the same window as you get when you click "not you".

[2015-07-20 11:25] alexandru-m-g commented on #3147
Even locally I get the following errors:

[code]

This was surely working last week so it's kinda weird. Will investigate more today.

[2015-07-20 12:07] cjhendrix opened #3151 "Dataset List: extra gray line below header"
![image](https://cloud.githubusercontent.com/assets/1654485/8775429/88f27eee-2ee8-11e5-9188-5fe46c113482.png)

[2015-07-20 12:11] cjhendrix commented on #3068
Great solution.   @alexandru-m-g While you have your head into this, I wonder if we could force them all to lower case?

[2015-07-20 12:31] cjhendrix commented on #3067
Reopening.  The edit button (for a specific org member) works the first time, but not afterward.
1. go to the member list page for an org
2. edit some member
3. success message is displayed
4. click an edit button - nothing happens
5. refresh
6. try to edit again, it works

[2015-07-20 12:44] cjhendrix opened #3152 "Org Member: delete button on an individual user not working"

[2015-07-20 13:49] cjhendrix opened #3153 "Resource create/edit: Change the file format help text"
Change the indicated text to be:

`HDX will allow previews of certain formats, like CSV, TXT, XLS, and JSON.  Map previews are also possible if you set the resource format to “zipped shapefile”, “geojson”, or “kml”. Map previews may take a few minutes to appear.`

![image](https://cloud.githubusercontent.com/assets/1654485/8777165/925a57f0-2ef6-11e5-992f-e2fb71177b78.png)

[2015-07-20 13:57] danmihaila commented on #3153
I like the idea. Pinging @yumiendo for a feedback

[2015-07-20 13:59] yumiendo commented on #3153
This is perfect.

[2015-07-20 20:10] teodorescuserban opened #3154 "New DoS on OFS Migration :)"
It looks like ofs migration script it taking the files from prod.
And is hitting rather hard, as there are only 64 simultaneous connections to pgsql at te moment.
Please do something about it.
I'll just take it.

[2015-07-20 21:03] #3081 closed, assigned to mbellotti

[2015-07-21 08:37] #3154 closed, assigned to teodorescuserban

[2015-07-21 08:39] danmihaila commented on #3116
@pjdufour The search for ebola is a redirect we are doing as a special case. We are currently working on a module to improve our search results and when searching for a country (e.g yemen as in your example) it will surface out the country page.
The second iteration of improving our search will be related to suggestion and predictive search (e.g boundries).
Thank you for your useful feedback and w

[2015-07-21 09:35] cjhendrix opened #3160 "Home page: Styling on home page counters"
Counter values have shifted:

![image](https://cloud.githubusercontent.com/assets/1654485/8797576/a24c1062-2f9c-11e5-8034-39b5ea9b8d8b.png)

[2015-07-21 09:38] cjhendrix opened #3161 "Login: unclear error given if email exists"
![image](https://cloud.githubusercontent.com/assets/1654485/8797623/efb1c1ee-2f9c-11e5-9f25-319dd4a75d01.png)

[2015-07-21 09:44] reubano commented on #2935
Related to #3104?

[2015-07-21 09:56] danmihaila commented on #3161
This is a good case where it will help @yumiendo to specify a placeholder for that error.

[2015-07-21 09:59] danmihaila commented on #2935
@reubano can you test it again now on staging server please?

[2015-07-21 10:35] danmihaila commented on #3109
assigned to @mbellotti as she did the initial version of this code. Please note that this is for sprint 60, and it needs to go to prod.

[2015-07-21 10:35] danmihaila commented on #3150
@cjhendrix can you add please a screenshot or another url ?

[2015-07-21 10:40] danmihaila commented on #3106
@cjhendrix can you confirm this is still an issue on staging?

[2015-07-21 10:41] danmihaila commented on #3108
@alexandru-m-g what is the status/solution of this issue?

[2015-07-21 10:42] danmihaila commented on #3104
@reubano can you retest this issue?

[2015-07-21 10:43] reubano commented on #3104
trying to... having internet issues.

[2015-07-21 11:19] cjhendrix opened #3162 "Dataset Create: The "x" for removing a location is not visible"
![image](https://cloud.githubusercontent.com/assets/1654485/8799550/22dc22d6-2fab-11e5-8ca2-b226c50fc699.png)

[2015-07-21 11:23] cjhendrix commented on #3106
Yes, still an issue.  Just tried it here: https://test-data.hdx.rwlabs.org/dataset/testingtesting

[2015-07-21 11:33] reubano commented on #3104
Direct downloading works but now an issue with the [3w](https://test-data.hdx.rwlabs.org/organization/ocha-mali). It is trying to download the [geojson](https://test-data.hdx.rwlabs.org/dataset/json-repository/resource/c393a6a2-aa66-4f33-94cc-ce7d32fcdd27) from

[json-repository](https://test-data.hdx.rwlabs.org/dataset/json-repository/resource_download/c393a6a2-aa66-4f33-94cc-ce7d32fcdd27) (and g

[2015-07-21 11:44] cjhendrix opened #3163 "Resource edit: after editing a resource, load the resource edit list"
Currently on stag, after editing a resource, the resource view page is loaded.  On production, the resource list is loaded, which is the desired behavior.

[2015-07-21 11:55] teodorescuserban commented on #3104
the filestore has been migrated off of old ofs, hence the url change.
3w maintainer needs to update the thing.

[2015-07-21 11:55] cjhendrix opened #3164 "Very slow downloads."
I'm having trouble downloading even very small files (6kb)  Sometimes getting stuck in the "starting" phase (on Chrome) as shown below (up to 2m10s).

![image](https://cloud.githubusercontent.com/assets/1654485/8800003/2ad68cac-2faf-11e5-81c6-412a489e73fa.png)

Examples with the problem:
http://test-data.hdx.rwlabs.org/dataset/6b4532c9-8f4a-4824-9f78-f2c6aa0874fd/resource/1e824cc6-a03e-403d-8833-f

[2015-07-21 11:57] teodorescuserban commented on #3164
Please try the urls directly with https and see if things get better.
Also, is your internet connection in good shape?
(I tried to replicate and the download is instant).

[2015-07-21 11:58] teodorescuserban commented on #3106
can you please try on demo stack ?
thank you.

[2015-07-21 11:58] cjhendrix opened #3165 "Dashboard: icon for private datasets is broken"
![image](https://cloud.githubusercontent.com/assets/1654485/8800133/81f56fd4-2fb0-11e5-8d52-f9af085bdbc1.png)

[2015-07-21 11:58] reubano commented on #3104
@teodorescuserban Gotcha.

[2015-07-21 11:58] #3104 closed, assigned to nobody

[2015-07-21 12:00] reubano commented on #3044
I'd suggest not hard-coding in the url, and instead using something like this:

[code]

This could be implemented in [before_map()](https://github.com/OCHA-DAP/hdx-ckan/blob/cc32773424d4f642630f651b3014628a248a30a6/ckanext-hdx_package/ckanext/hdx_package/plugin.py#L75).

[2015-07-21 12:02] danmihaila opened #3166 "Custom Location page: download url is broken"
Because of our change to move to OFS the location map is broken
https://test-data.hdx.rwlabs.org/group/mli
![screen shot 2015-07-21 at 15 01 15](https://cloud.githubusercontent.com/assets/3865844/8800183/6dad1e2e-2fb9-11e5-99b3-456ed14e0622.png)

[2015-07-21 12:02] cjhendrix commented on #3104
@teodorescuserban  it sounds like you are saying all our old filestore resources will have to be updated after we migrate.    I'm sure that's not the case, right?

[2015-07-21 12:05] reubano commented on #2639
@danmihaila re: `Dataset list` above, what about `ckan.action.organization_show(include_datasets=True)`

[2015-07-21 12:08] danmihaila commented on #3166
Same for Nepal Earthquake crisis page: https://test-data.hdx.rwlabs.org/group/nepal-earthquake

[2015-07-21 12:09] danmihaila opened #3167 "Custom org page: WFP"
The HDX Logo is not visible
![screen shot 2015-07-21 at 15 08 49](https://cloud.githubusercontent.com/assets/3865844/8800322/6f9417e6-2fba-11e5-8119-f09e7e914888.png)

[2015-07-21 12:10] cjhendrix commented on #3044
this might be 2.3.  Labeling as such and putting into sprint cadidates.

[2015-07-21 12:12] reubano commented on #3044
I'm guessing it's hardcoded since the [http api](https://test-data.hdx.rwlabs.org/api/action/resource_show?id=c393a6a2-aa66-4f33-94cc-ce7d32fcdd27) shows the correct url of `http://test-data.hdx.rwlabs.org/dataset/e66dbc70-17fe-4230-b9d6-855d192fc05c/resource/c393a6a2-aa66-4f33-94cc-ce7d32fcdd27/download/maliadmnbndaAdm1Gov.geojson`.

[2015-07-21 12:13] danmihaila commented on #3164
@mbellotti do you have any advice on this?

[2015-07-21 12:19] danmihaila commented on #3044
all our custom pages are broken right now, we are working to fix it. tnx!

[2015-07-21 12:19] danmihaila opened #3168 "Download resources: keep the old way of download resources for backwards compatibility"
note that you have to check "filename" from db

[2015-07-21 12:25] #3152 closed, assigned to alexandru-m-g

[2015-07-21 12:26] danmihaila commented on #3153
@cjhendrix please provide the final text for
"HDX will allow previews of certain formats, like CSV, TXT, XLS, and JSON. Map previews are also possible if you set the file format to “zipped shapefile”, “geojson”, or “kml”. Map previews may take a few minutes to appear."

[2015-07-21 12:29] alexandru-m-g commented on #3147
Fixed.

[2015-07-21 12:29] #3147 closed, assigned to alexandru-m-g

[2015-07-21 12:34] teodorescuserban commented on #3104
the ofs migration will move the most recent version of a resource in a different folder and change the url.

We will keep all resource files but the url to get them will change in the form:

``` https://data.hdx.rwlabs.org/dataset/<dataset-id>/resource/<resource-id>/download/<file-name>```

[code]

[2015-07-21 12:35] teodorescuserban commented on #3164
After more testing it appears our provider blocks the last byte of the file (the file download is complete but it is never reported as complete).

I emailed them to purge their cache and we will see.

[2015-07-21 12:46] danmihaila commented on #3060
@alexandru-m-g  related to preview

[2015-07-21 12:55] danmihaila commented on #3162
duplicated by #3144  and fixed

[2015-07-21 12:55] #3162 closed, assigned to nobody

[2015-07-21 13:04] danmihaila opened #3171 "Onboarding: "see it in action" looks broken"
![screen shot 2015-07-21 at 16 03 13](https://cloud.githubusercontent.com/assets/3865844/8801278/1764ae02-2fc2-11e5-8fc9-7cf497473fcb.png)

[2015-07-21 13:20] danmihaila commented on #3143
done in #3144

[2015-07-21 13:20] #3143 closed, assigned to danmihaila

[2015-07-21 13:29] danmihaila commented on #3164
ok, @teodorescuserban pls ping back when this is done. I think we will also have to display the "https" download link

[2015-07-21 13:30] danmihaila commented on #3138
Related to work @mbellotti done previously and in this sprint. Assigned to her to double check it

[2015-07-21 13:31] danmihaila commented on #3141
related to #3142

[2015-07-21 13:32] danmihaila commented on #3140
assigning it to @mbellotti , related to another issue from this sprint

[2015-07-21 13:33] #3063 closed, assigned to aalecs

[2015-07-21 13:33] #3064 closed, assigned to aalecs

[2015-07-21 13:58] danmihaila commented on #3144
this is done

[2015-07-21 13:58] #3144 closed, assigned to danmihaila

[2015-07-21 13:58] #3153 closed, assigned to danmihaila

[2015-07-21 14:08] cjhendrix commented on #3153
Updated above.  Thanks.

[2015-07-21 14:21] #3168 closed, assigned to alexandru-m-g

[2015-07-21 14:36] danmihaila commented on #3167
assigned to @alexandru-m-g

[2015-07-21 14:36] danmihaila commented on #3166
fixed in #3168

[2015-07-21 14:36] #3166 closed, assigned to nobody

[2015-07-21 15:06] alexandru-m-g commented on #3167
This is caused by the following line in the custom styling section ( when you edit an organization ):
`@hdxLogoUrl: "@{imagePath}/homepage-new/logo-beta.svg";`

Not sure why this was added but it points to an old url that is not valid anymore. I've removed in on staging and now the URL appears ok.

[2015-07-21 15:06] #3167 closed, assigned to alexandru-m-g

[2015-07-21 15:40] #3141 closed, assigned to aalecs

[2015-07-21 15:40] #3160 closed, assigned to aalecs

[2015-07-21 15:40] #3171 closed, assigned to aalecs

[2015-07-21 15:42] cjhendrix commented on #3150
Oops, that was supposed to be a screenshot I was pasting in.   Fixed.

[2015-07-21 16:13] #3054 closed, assigned to mbellotti

[2015-07-21 16:13] #3065 closed, assigned to mbellotti

[2015-07-21 16:13] #3098 closed, assigned to mbellotti

[2015-07-21 16:46] alexandru-m-g commented on #2639
@reubano Yes, you're somewhat right. We could use the `group_show()` with the `include_datasets` flag set to **False** for to get the information mentioned in this ticket. That can be used instead of hdx_light_group_show() which was done when this flag was not available.

Calling `group_show()` with the flag set to **True** is not advisable because AFAIK it doesn't have pagination and a country co

[2015-07-21 22:48] alexandru-m-g opened #3181 "Dealing with incompatibility in notify.js after upgrading to bootstrap 3"
We've made a 1 line change to core ckan because of #3067 and #3145, more precisely to resource.config.
The problem was this line `return element.append(jQuery('<a class="close" href="#">&times;</a>')).alert();` from the initialize() function. The alert() seems to cause problems with bootstrap 3 and is no longer necessary.

The quick fix was to load a modified hdx_notify.js. We need to investigate

[2015-07-21 22:50] #3067 closed, assigned to alexandru-m-g

[2015-07-21 22:51] #3145 closed, assigned to alexandru-m-g

[2015-07-22 04:30] #3138 closed, assigned to mbellotti

[2015-07-22 04:31] #3140 closed, assigned to mbellotti

[2015-07-22 11:56] alexandru-m-g commented on #2967
KML support was added.

[2015-07-22 11:56] #2967 closed, assigned to alexandru-m-g

[2015-07-22 12:17] cjhendrix commented on #836
we seem to never get around to redoing this workflow, so I'm putting this back in the backlog.  We still have it with v0.10.0

[2015-07-22 12:22] cjhendrix opened #3196 "Dataset Create: popup help on the org field links to the wrong page"
The help link indicated below links to a page that is only accessible by sysadmins.

Instead it should link to /organization/request_new

![image](https://cloud.githubusercontent.com/assets/1654485/8825142/0ebe3190-307d-11e5-95b4-44d08e0d43ff.png)

[2015-07-22 12:25] #3151 closed, assigned to alexandru-m-g

[2015-07-22 12:29] cjhendrix opened #3198 "Dataset create: hovering/entering the title field shows wrong help box"
![image](https://cloud.githubusercontent.com/assets/1654485/8825257/fc28f8f2-307d-11e5-930b-ee7491bca6fa.png)

[2015-07-22 12:34] cjhendrix opened #3199 "Dataset Create: dates don't fit in the boxex"
![image](https://cloud.githubusercontent.com/assets/1654485/8825359/c9e9beac-307e-11e5-8c51-0a56af2d52fa.png)

[2015-07-22 12:56] cjhendrix commented on #3105
Until this is fixed we may want to make the resource format a required field, since it is not being generated automatically from the file name.

[2015-07-22 13:42] danmihaila commented on #3161
done

[2015-07-22 13:42] #3161 closed, assigned to danmihaila

[2015-07-22 13:43] danmihaila commented on #3150
@cjhendrix I think this is the way it looks on production right now...

[2015-07-22 13:46] danmihaila commented on #2997
this is done, closing it

[2015-07-22 13:46] #2997 closed, assigned to aalecs

[2015-07-22 13:54] cjhendrix opened #3204 "Resource List: resource description is given space but not visible"
![image](https://cloud.githubusercontent.com/assets/1654485/8826900/e08353ca-3089-11e5-9414-e2d027805c7f.png)

I'd suggest we just not show the description there.

[2015-07-22 13:58] cjhendrix commented on #3150
You are so right. Doesn't look nice, but isn't a 2.3 problem.  Removing that label and putting into backlog.

[2015-07-22 14:39] luiscape opened #3208 "Search icon not showing up in the search bar on the Blog (WordPress) site."
When I am trying to use the search bar in the WordPress site (i.e. blog) the search icon is not showing, but something weird shows up in its place. Here's the screenshot:

![screenshot from 2015-07-22 10 37 07](https://cloud.githubusercontent.com/assets/953118/8828002/dee4d9f2-305d-11e5-894b-adb0214f18f8.png)

Here is what it is supposed to show:

![screenshot from 2015-07-22 10 37 54](https://clo

[2015-07-22 14:39] #3204 closed, assigned to danmihaila

[2015-07-22 14:58] #3072 closed, assigned to mbellotti

[2015-07-22 14:58] #3109 closed, assigned to mbellotti

[2015-07-22 14:59] danmihaila commented on #3142
not an issue anymore, closing it

[2015-07-22 14:59] #3142 closed, assigned to aalecs

[2015-07-22 15:06] #3196 closed, assigned to aalecs

[2015-07-22 15:06] #3198 closed, assigned to aalecs

[2015-07-22 15:06] #3199 closed, assigned to aalecs

[2015-07-22 15:15] danmihaila commented on #3208
@teodorescuserban any hint?

[2015-07-22 15:17] danmihaila commented on #3106
duplicated by another issue, closing this one

[2015-07-22 15:17] #3106 closed, assigned to nobody

[2015-07-22 15:18] danmihaila commented on #3044
I think this is done, now. closing it. @reubano if you can still reproduce it reopen this issue

[2015-07-22 15:18] #3044 closed, assigned to nobody

[2015-07-22 15:18] danmihaila commented on #3043
@cjhendrix is this issue still available?

[2015-07-22 15:42] danmihaila opened #3212 "Dataset view: gallery items "add more" button"
Check screenshot
<img width="1280" alt="screen shot 2015-07-22 at 18 41 25" src="https://cloud.githubusercontent.com/assets/3865844/8829808/56a42234-30a1-11e5-87cc-55a4c139855c.png">

[2015-07-22 15:49] cjhendrix opened #3213 "Large (280mb) geojson file was previewing before but isn't previewing now"
![image](https://cloud.githubusercontent.com/assets/1654485/8829971/eee167b2-3099-11e5-828e-d425526397fc.png)

https://test-data.hdx.rwlabs.org/dataset/geotest01

I'm hoping this is just some wrinkle due to bug fixing.

[2015-07-22 15:50] danmihaila commented on #3213
@alexandru-m-g ping

[2015-07-22 16:01] cjhendrix commented on #3213
Note that I've just reuploaded the file, so it's probably in the processing queue now.

[2015-07-22 16:14] #3212 closed, assigned to mbellotti

[2015-07-22 16:35] alexandru-m-g commented on #3213
I think that for some reason stag is really slow at the moment and we have a timeout of 5 minutes per task.

[2015-07-22 18:05] teodorescuserban commented on #3164
Our provider is still investigating.
I made some tests with small csv on our feature stack installed yesterday on the new provider (for example the second url given by @cjhendrix, but of course replacing the hostname)
Of course I updated ckan first to the current version of the 2.3 branch.
It is working ok.

[2015-07-22 22:39] teodorescuserban commented on #3164
Waiting for our provider to come up with a solution.
FTR the root cause appears to be an incompatibility between ckan and squid (more specific, the way squid handles HTTP/1.1 Chunked responses with Byte-Range headers when in reverse proxy setup).

[2015-07-22 22:57] alexandru-m-g commented on #3105
@cjhendrix the process will be:
1.  After the user chooses a file, the file name is being copied in the _name_ field
2.  The format can be empty and the server will try to guess the format based on the file extension. If it cannot figure out a format ( because the filename has no extension or because the url is something like http:// yahoo.com ) then the user will be asked to provide one. Check sc

[2015-07-22 22:57] #3105 closed, assigned to alexandru-m-g

[2015-07-23 07:20] cjhendrix opened #3226 "Resource Create: page style has changed"
On prod (ckan 2.2):
![image](https://cloud.githubusercontent.com/assets/1654485/8845094/f938e366-311b-11e5-9d66-bd5c047d1bc4.png)

On test (ckan 2.3):
![image](https://cloud.githubusercontent.com/assets/1654485/8845086/eacc5236-311b-11e5-9617-392a7f253048.png)

[2015-07-23 07:24] cjhendrix opened #3227 "Dataset edit: Remove space for icons to center text inside tabs"
The icons are gone (I think this was an agreed change?).  But the space for them is still there.

![image](https://cloud.githubusercontent.com/assets/1654485/8845151/8774d446-311c-11e5-9f4e-e92f8c81eae4.png)

[2015-07-23 07:59] cjhendrix opened #3228 "Resource View: remove embed button"
We haven't really tested this and don't quite know it's limitations with respect to the changes we have made to 2.3's resource views.  Let's hide/remove the embed button for now.

![image](https://cloud.githubusercontent.com/assets/1654485/8845693/7f74a1f4-3121-11e5-9fd5-94779dea0b86.png)

[2015-07-23 08:26] cjhendrix commented on #3079
This seems to have come back.

[2015-07-23 08:36] cjhendrix opened #3229 "Indicator Datasets: previews not working"
On test, CSV previews (both filestore and remote) are working, but not the ones generated from CPS.

This may be related to the test setup only (I notice the download URLs all point to production), but I wanted to be sure.

https://test-data.hdx.rwlabs.org/dataset/proportion_of_the_population_using_improved_sanitation_facilities

[2015-07-23 08:44] teodorescuserban commented on #3229
Dataproxy could not reach the prod cps (dns resolution issue).
I have corrected that and now it should work.
Please reopen it if neded.
Closing.

[2015-07-23 08:44] #3229 closed, assigned to teodorescuserban

[2015-07-23 08:46] cjhendrix opened #3230 "Resource View: take organization out of breadcrumb"
![image](https://cloud.githubusercontent.com/assets/1654485/8846504/10ed5ad0-3128-11e5-9538-56d89f8c7e21.png)

On the Dataset View page, the breadcrumb is:
HOME/DATASET/DATASET NAME

On the Resource View page, the breadcrumb is:
HOME/ORGANISATIONS/ORG NAME/DATASET NAME/RESOURCE NAME

To be consistent we should change the resource view page breadcrumb to:
HOME/DATASET/DATASET NAME/RESOURCE NAME

[2015-07-23 08:54] cjhendrix opened #3231 "Resource Preview: XLSX preview not working"
I've tried a few different XLSX files (all in filestore).  None are previewing and all are giving the same error:

![image](https://cloud.githubusercontent.com/assets/1654485/8846623/0a02d168-3129-11e5-92c4-cd35cd31b666.png)

[2015-07-23 08:54] #3083 closed, assigned to mbellotti

[2015-07-23 09:02] danmihaila commented on #3231
@cjhendrix  On prod we are not supporting "xlsx" viewing. only xls. If it is difficult to implement we should disable "preview" link for xlsx.

[2015-07-23 09:12] cjhendrix commented on #3231
Agreed.

[2015-07-23 09:25] cjhendrix commented on #3105
I like the approach.  Pinging @yumiendo in case there are design changes to make.

CKAN renaming the files is a bit problematic.  OCHA has been pushing a standard file naming convention (primarily for the COD/FODs) for years and this will break that.  I think we can live with it for now.  But how deep into ckan core would we have to dig to change that.  And why did they do that?  Seems unecessary.

[2015-07-23 09:33] cjhendrix commented on #3043
I haven't tested it, but my upload speed is very slow for testing this.  As far as I know, it still needs to be done.  Not urgent, since few users will upload files that big.

[2015-07-23 09:41] teodorescuserban commented on #3043
I would suggest to use client side javascript to check the file size.
Start the search here: http://stackoverflow.com/questions/7497404/get-file-size-before-uploading
and follow jQuery links.
This is the most graceful way I could think of AND it avoids partial uploads.
Because it would be awful to have a file_size = max_file_size + 10 KB and to fail after uploading almost the whole file.

[2015-07-23 10:02] cjhendrix opened #3233 "Resource Create: remove full path plus problem with completed uploads"
Two issues related (I think) to the changes just made to resource create:
1. The file name picked up by the interface for the Name field includes the full path: `C:\fakepath\filename`
2. Uploads appear to complete, but the create resource page is reloaded and the new resource does not appear on the dataset.

[2015-07-23 10:18] reubano commented on #2639
@alexandru-m-g thanks, that's good to know. Btw, I've used [ijson](https://github.com/isagalaev/ijson) in the past to combat similar issues by streaming the json response:

[code]

[2015-07-23 10:28] cjhendrix commented on #3213
This is happening now for two datasets that I used in a demo yesterday and were working fine.  These files are much smaller.

https://test-data.hdx.rwlabs.org/dataset/lsib-lines-global-simplified (4.5MB)
https://test-data.hdx.rwlabs.org/dataset/lsib-polygons-africa-and-americas-simplified (15MB)
https://test-data.hdx.rwlabs.org/dataset/test-resource-create (corno-line.geojson is only 66KB)

[2015-07-23 10:47] danmihaila commented on #3228
In Firefox the icons on Embed and Data Explorer are broken

[2015-07-23 10:47] danmihaila commented on #3228
We will hide it, but it is good to keep it there because we will enable it soon.

[2015-07-23 10:58] danmihaila commented on #2832
duplicated by #3139 , closing this one

[2015-07-23 10:58] #2832 closed, assigned to mbellotti

[2015-07-23 11:03] danmihaila commented on #2879
closing this one

[2015-07-23 11:03] #2879 closed, assigned to danmihaila

[2015-07-23 11:03] #2543 closed, assigned to danmihaila

[2015-07-23 11:51] teodorescuserban commented on #3213
Ater restarting stag vm, keeping demo stack off and starting only the test stack, things appear to work well.
Closing.

[2015-07-23 11:51] #3213 closed, assigned to nobody

[2015-07-23 12:23] cjhendrix opened #3236 "Resource Create: add a spinner or some other notification while upload is ongoing"
Can @yumiendo give ideas on how this should look?

[2015-07-23 12:52] teodorescuserban commented on #3101
This is fixed some time ago.
Feel free to reopen.
Closing.

[2015-07-23 12:52] #3101 closed, assigned to nobody

[2015-07-23 12:53] teodorescuserban commented on #3093
It was just a leftover in startup script.
Fixed and closing.

[2015-07-23 12:53] #3093 closed, assigned to nobody

[2015-07-23 13:29] mbellotti commented on #3079
@cjhendrix while I was fixing this I noticed that web browsers like Chrome will disable the opening of a new window automatically-- thereby making it appear to an uneducated user that the download itself is broken. Are we sure we want to keep this functionality?

[2015-07-23 13:39] cjhendrix commented on #2935
I think we're good on this one.  Closing.

[2015-07-23 13:39] #2935 closed, assigned to teodorescuserban

[2015-07-23 13:41] cjhendrix opened #3237 "Largest files fail to generate preview"
Error is

"{\"error_class\": \"PushingToPostgisException\", \"layer_id\": \"pre_846da015_d427_4279_aa63_37d4d50e1b65\", \"error_type\": \"None\", \"state\": \"failure\", \"message\": \"Problem while trying to push data to postgis\", \"type\": \"pushing-to-postgis-problem\"}",

[2015-07-23 13:42] cjhendrix commented on #3237
This may not necessarily be a blocker, but we would need to change the language of the FAQ and blog post after testing to see what the failure limit is on prod.

[2015-07-23 15:04] yumiendo commented on #3236
Can I bother you for a screen shot of the page? (I remember it looked slightly different from the submit data page...)

[2015-07-23 15:34] #3233 closed, assigned to alexandru-m-g

[2015-07-23 15:39] cjhendrix commented on #3236
![image](https://cloud.githubusercontent.com/assets/1654485/8854736/bbc87bae-3161-11e5-8e2c-bae211b73ae4.png)

[2015-07-23 15:44] cjhendrix commented on #3079
The issue description is proposing to eliminate the new tab.  So that would avoid the problem in Chrome, I think.  Unless I'm misunderstanding.

[2015-07-23 15:48] alexandru-m-g commented on #3231
I disabled for now the preview for xlsx files. I think we should try to see if it's worth upgrading the dataproxy that we have on prod.

[2015-07-23 15:49] mbellotti commented on #3079
!!! Actually I was the one who misunderstood I think. I read this issue as the behavior should be consistent in both places (open in a new tab when file is not hosted on HDX), because my understanding was this feature was requested by Sarah https://github.com/OCHA-DAP/hdx-ckan/issues/2882

So.... are we getting rid of this completely now?

[2015-07-23 16:16] #3228 closed, assigned to alexandru-m-g

[2015-07-23 20:00] teodorescuserban commented on #3164
closing & tagging @cjhendrix

[2015-07-23 20:00] #3164 closed, assigned to teodorescuserban

[2015-07-23 20:00] teodorescuserban commented on #3164
The solution was to drop squid as reverse proxy and go with nginx.

[2015-07-24 06:35] cjhendrix commented on #3231
Interestingly, we actually did have xlsx preview enabled on prod.  But it wasn't showing up for all datasets.  Maybe just recently added ones?  Anyway, it wasn't working so I'm glad we've disabled it.

![image](https://cloud.githubusercontent.com/assets/1654485/8868973/f7c98af8-31de-11e5-873d-a8fa410e3741.png)

[2015-07-24 07:43] #3231 closed, assigned to alexandru-m-g

[2015-07-24 08:05] danmihaila opened #3244 "Custom org: embed popup is broken after upgrade"
![screen shot 2015-07-24 at 11 05 14](https://cloud.githubusercontent.com/assets/3865844/8870102/ecfe3b40-31f3-11e5-94ee-6d15fc382b18.png)

[2015-07-24 08:42] cjhendrix opened #3245 "Request Org: provide a validation error if no org is picked"
![image](https://cloud.githubusercontent.com/assets/1654485/8870742/858e90ca-31f0-11e5-8fd5-947cb10a76a1.png)

[2015-07-24 08:44] cjhendrix opened #3246 "User List: search text not visible"
Text typed in the search box is not visible.

![image](https://cloud.githubusercontent.com/assets/1654485/8870938/0d9faab6-31f2-11e5-9773-da59bb9f917a.png)

[2015-07-24 09:04] teodorescuserban opened #3247 "narrow down the caracters usable for the username"
On new onbarding module, when a new user registers, after the email verification is clicked, you need to enter username, etc etc

Please make sure there can be only lower chars and numbers.

[2015-07-24 09:08] danmihaila opened #3248 "Onboarding: glitch registering new users"
Register new user
- new email address
- username: put an email that already exists in system
- fill in the other fields

Try to login with new username (which is email) - the system is not loggin in, but users looks like validated.

[2015-07-24 09:09] teodorescuserban commented on #3247
duplicate

[2015-07-24 09:09] #3247 closed, assigned to nobody

[2015-07-24 10:39] #3245 closed, assigned to danmihaila

[2015-07-24 11:49] cjhendrix opened #3250 "Geo Preview: Add space between the bottom of the map and the line"
![image](https://cloud.githubusercontent.com/assets/1654485/8873812/c9f0ab08-320a-11e5-8b0b-e2b4cb0178b8.png)

[2015-07-24 12:01] #3244 closed, assigned to alexandru-m-g

[2015-07-24 12:25] danmihaila opened #3252 "Custom org page: Edit page style is broken after upgrade"
![screen shot 2015-07-24 at 15 24 32](https://cloud.githubusercontent.com/assets/3865844/8874286/3101885a-3218-11e5-9674-50ad4cc1518d.png)
![screen shot 2015-07-24 at 15 24 29](https://cloud.githubusercontent.com/assets/3865844/8874287/312bea28-3218-11e5-8455-4da874a24ab5.png)

[2015-07-24 13:02] cjhendrix opened #3253 "Geopreview: non-geographic SRS"
OGR assumes geodatasets to be in lat-long wgs84 (srid 4326).  Datasets that are not do not display correctly.

Example resources (both zips): https://data.hdx.rwlabs.org/dataset/region-de-desarrollo-03-honduras

[2015-07-24 13:02] cjhendrix commented on #3253
Alex has committed a fix for this.

[2015-07-24 13:05] cjhendrix opened #3254 "Geo Preview: ogr unable to transform if no SRS is specified"
Some datasets have no SRS defined.  OGR then cannot transform to the requested 4326.

Proposed solution: catch error (which is quite specifc) and resubmit with the assign SRS command assuming 4326.  Most of the time, if a dataset doesn't have an SRS, it will be 4326.

Example dataset: https://data.hdx.rwlabs.org/dataset/multi-hazard-average-annual-loss

[2015-07-24 13:08] cjhendrix opened #3255 "Geo Preview: zipped shapefiles with accented characters in the filenames (inside the zip) fail to process"
The python library handling the unzip balks at accented characters.  Research needed to determine how to fix.

Example dataset: https://data.hdx.rwlabs.org/dataset/vegetacion-riberena-de-la-comunidad-isla-de-leon-en-cartagena

[2015-07-24 13:17] cjhendrix opened #3256 "Geo Preview: zip files with .ZIP in caps not handled"
Fix has been committed.

https://data.hdx.rwlabs.org/dataset/somalia-health-facilities/resource_edit/447228c4-606f-4fc8-94af-19c3b3500a5a

[2015-07-24 13:51] cjhendrix opened #3257 "Geo Preview: add a checkbox to disable the auto zoom"
Autozoom can be irritating when you want to compare two different resources and have zoomed in.  This is a fairly common use case for previewing data.

Let's add a check box to the bottom of the layer list:  `[ ] Auto zoom to layer extent`

When checked, the user sees the current behavior when turning on a layer.  When not checked, the map view remains the same when a layer is turned on.

[2015-07-24 14:06] cjhendrix opened #3258 "Geo Preview: tranform completes successfully, but no geometry visible"
This one has good geometry in the downloaded file, and ckan gets a bounding box, but no geometry displays.

Here is the data in qgis (zoomed into Kathmandu):
![image](https://cloud.githubusercontent.com/assets/1654485/8876103/d4298b40-321d-11e5-8c4e-060eb1265b9c.png)

Here is the dataset:
https://test-data.hdx.rwlabs.org/dataset/education-facilities-in-the-kathmandu-valley-nepal

[2015-07-24 14:11] cjhendrix commented on #3258
I also tried the conversion for this one on production as well to see if more power might get the job done, but with the same result.  I have since reverted that one.

[2015-07-24 14:42] cjhendrix opened #3259 "Geo Preview: clean out the resources' "shape" extra"
The previous version of geo preview created an extra called shape and stored the geojson there.  This data can potentially be outdated by future uploads and should be removed.

[2015-07-24 14:55] cjhendrix commented on #3226
It came back (on prod).

[2015-07-24 15:26] cjhendrix commented on #3163
This is back on prod.

[2015-07-24 15:27] cjhendrix commented on #3258
Another example.  Both layers show a successful conversion message in shape_info, but one of them isn't available in the map.   https://data.hdx.rwlabs.org/dataset/nepal-all-damage-as-of-28-apr-2015

[2015-07-24 15:45] cjhendrix commented on #3226
I'm an idiot.  Closing.

[2015-07-24 15:45] #3226 closed, assigned to danmihaila

[2015-07-24 15:56] cjhendrix opened #3260 "Geo Preview: shape_info shows that the transform has started, but it never finishes"
I ran all 6 of these updates back to back.  All finished except one, which shows that the transform is in progress, though the worker finished. I never saw more than 4 items in the queue, but they appeared slowly, so the first might have finished before the last was added.

https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=nepal-climate-data

[2015-07-24 15:59] cjhendrix opened #3261 "Geo Preview: attributes are missing"
Attributes are missing from these datasets.  On downloading and checking in QGIS, there are int fields and date fields there (thought the dates might be strings).

https://test-data.hdx.rwlabs.org/dataset/nepal-climate-data

[2015-07-24 17:23] cjhendrix commented on #3260
The same thing happened here: https://data.hdx.rwlabs.org/dataset/nigeria-water-courses-cod

On test it worked fine (all three resources have geo preview)
On prod, the big one (first resource) has the "started" status, but the other two completed
I ran again on prod, and the geo  preview completed (very quickly!).

[2015-07-24 17:42] cjhendrix commented on #3254
This shapefile also has no CRS defined (no prj file with the shp file and QGIS gives a warning).  However it was processed successfully and a bounding box returned.  But no geometry shows.
https://test-data.hdx.rwlabs.org/dataset/guinea-capitale-of-region-district-and-sub-district

[2015-07-24 18:03] cjhendrix opened #3262 "Geo Preview: getting reources from geonode fails"
"message": "CKAN resource filename could not be deduced"

This has been true with both USG and WFP geonodes.

Example:
https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=global-logistics

[2015-07-26 23:11] alexandru-m-g commented on #3254
This was done here: https://bitbucket.org/agartner/gisrestlayer/commits/2d42fc36928d50ce492a74bb346830249a1e5036
Should be part of the next redeploy

[2015-07-26 23:11] #3254 closed, assigned to alexandru-m-g

[2015-07-26 23:18] alexandru-m-g commented on #3163
The fix didn't yet reach prod. It'll be part of the next redeploy.

[2015-07-27 08:29] cjhendrix opened #3263 "Dataset Edit: styling on "dataset date""
![image](https://cloud.githubusercontent.com/assets/1654485/8901556/2a78aa5c-344a-11e5-8820-b027ff7c8faf.png)

Before 2.3, these appeared as separate fields, not connected by the white bar.  Also, the formatting is a bit rough when the calendars are open.

![image](https://cloud.githubusercontent.com/assets/1654485/8901587/5c96d69e-344a-11e5-932d-bee4669cd253.png)

[2015-07-27 08:43] cjhendrix opened #3264 "License description missing for FTS indicator datasets"
I'm not sure when it happened, but we seem to have lost the methodology description for the FTS country-centric datasets.  We have it in the indicator centric datasets, just not the country-centric ones.

We need to write a patch or script to fix this across all country centric FTS datasets.   The methodology text is:

[code]

[2015-07-27 08:53] cjhendrix opened #3265 ""Groups" snuck back into the interface"
![image](https://cloud.githubusercontent.com/assets/1654485/8901976/9e7316f6-344d-11e5-9df5-2b7f4452cdc5.png)

[2015-07-27 10:10] cjhendrix commented on #3264
Actually, maybe it isn't all:  https://data.hdx.rwlabs.org/dataset/usa_fts_indicators

But definitely some: https://data.hdx.rwlabs.org/dataset/fra_fts_indicators

[2015-07-27 11:41] cjhendrix commented on #3079
Thanks for finding that original issue.  I knew we had some history with this one. I think we'll have to talk to Sarah to nail it down.

[2015-07-27 11:54] cjhendrix commented on #3079
So, here is the summary of the current behavior of our download button **on the dataset view page**
1. External links open in a new tab.  This is fine when it [goes to a webpage](https://data.hdx.rwlabs.org/dataset/ebola-geonode), but looks kind of awkward [when it is a download](https://data.hdx.rwlabs.org/dataset/syria-border-crossings) (try downloading the zipped shapefile resource).
2. [filest

[2015-07-27 11:55] #3079 closed, assigned to mbellotti

[2015-07-27 14:47] jj0hns0n commented on #3262
@cjhendrix I think @tomkralidis should be able to help with this one.

[2015-07-27 15:13] tomkralidis commented on #3262
What are the steps to reproduce the issue?  I am not able to access the example link.

[2015-07-27 15:30] cjhendrix commented on #3262
Hi @tomkralidis Thanks for jumping in.  I believe this one is going to be on our side.  @alexandru-m-g may correct me, but I think the issue here is that our geo preview generation code is expecting a file name in the url of a remote resource, which is not how geonode is providing the download.

[2015-07-27 16:21] alexandru-m-g commented on #3255
Fix for this was committed here: https://bitbucket.org/agartner/gisrestlayer/commits/1a6ce48b7427557ec1f569364904b48ac9259b8f

[2015-07-27 19:48] alexandru-m-g commented on #3253
Commit: https://bitbucket.org/agartner/gisrestlayer/commits/e59914ade5526361b59347e9152172dc3dc73dfd

[2015-07-27 19:48] #3253 closed, assigned to alexandru-m-g

[2015-07-27 19:53] alexandru-m-g commented on #3262
Indeed, this was a small issue on our side with some parameters not being urlencoded.

[2015-07-27 19:54] alexandru-m-g commented on #3262
@teodorescuserban Once this is deployed to production we will need to do a small change in prod.ini.
`hdx.gis.layer_import_url = http://localhost:1234/api/add-layer/dataset/{dataset_id}/resource/{resource_id}?resource_download_url={resource_download_url}&url_type={url_type}`

Please note the _url_type_ at the end.

[2015-07-27 21:13] alexandru-m-g commented on #3108
@cjhendrix is this still an issue ?

[2015-07-28 03:40] takavarasha opened #3268 "Hide interactive data section on custom org pages when there is no data viz configured for the custom org page"
![image](https://cloud.githubusercontent.com/assets/6885303/8923007/d65bb184-34b8-11e5-88f3-00eb0956cb5f.png)

[2015-07-28 09:04] danmihaila opened #3271 "FAQ: create the FAQ page"
FAQ page to be created
FAQ text document
https://docs.google.com/document/d/1URNVPV71E5SzoqVDzZqqMBfuRmx3CzngnpfDLiDJqrs/edit
FAQ spec google driver folder:
https://drive.google.com/drive/u/0/folders/0B16fOsnmtif0fnkxQ0Qzd2tqVlQ1RjdMRW1VNGtZa3laRkpGd3BiN3J6cWZzMlNhLW9PWkE

[2015-07-28 11:20] mbellotti commented on #3137
Adding instructions here for future reference:

There's a console script to set up the index. So when you're ready deploy, run python setup.py develop in hdx_search and then run the paster command paster hdx- feature-search build. That will write the js file that lunr uses to build it's index

[2015-07-28 11:48] cjhendrix opened #3273 "Dataset View: Share button text labels not aligned with icons"
![image](https://cloud.githubusercontent.com/assets/1654485/8930564/6176fb2c-352f-11e5-9301-92e9e4129048.png)

[2015-07-28 11:51] cjhendrix opened #3274 "Dataset View: "make it public" modal confirmation text is wrong"
The same text appears regardless of whether the user is making the dataset public or private.

![image](https://cloud.githubusercontent.com/assets/1654485/8930612/a0a0965a-352f-11e5-8078-f9b15cf02b92.png)

[2015-07-28 11:54] danmihaila commented on #3274
@mbellotti could be a translation issue?

[2015-07-28 12:04] danmihaila commented on #3137
@mbellotti please write the exact commands for @teodorescuserban to run in order to have the process easier and faster. thanks

[2015-07-28 12:14] mbellotti commented on #3137
Sure:
- "python setup.py develop" in hdx_search extension
- "paster hdx-feature-search build --config=...." in that same folder

Better?

[2015-07-28 12:19] danmihaila commented on #3137
yes, much better. I saw in our previous comment a typo (then run the paster command paster hdx- feature-search build) and i wanted to be sure Serban has the instructions to do it alone.
thanks

[2015-07-28 12:38] cjhendrix opened #3276 "Request Membership Modal not visible"
![image](https://cloud.githubusercontent.com/assets/1654485/8931387/3626cc66-3536-11e5-9302-54777facde62.png)

[2015-07-28 12:41] danmihaila commented on #3276
@alexandru-m-g is it complicated to be done? I know you worked on add member modal. we will probably need a hotfix

[2015-07-28 12:45] alexandru-m-g commented on #3276
No, it's a simple bug.

[2015-07-28 13:49] teodorescuserban commented on #3137
"python setup.py develop" in hdx_search extension  == hdxckantool plugins dev

[2015-07-28 14:08] cjhendrix opened #3280 "Geo Preview: fail gracefully on ludicrous geometry?"
Summarizing the issue here.  More details are below.

It seems that some systems use very large negative numbers for null geometries.  This are handled fine by PostGIS, but they break Leaflet.

I propose that we convert out-of-range coordinates to 0,0.  This will allow them to preview and look strange.  It will highlight to the contributor that there is a problem with their data that should be fix

[2015-07-28 14:21] cjhendrix commented on #3108
We ruled out KMZ, but I haven't had time to test KML yet.  So not sure. I'll close this one and reopen if I find a problem.

[2015-07-28 14:21] #3108 closed, assigned to nobody

[2015-07-28 14:30] cjhendrix commented on #2804
ST asked for this to be done "soon" in our discussion on the FAQ text.  Putting it into sprint candidates.  Tagging @amcguire62.

[2015-07-29 00:55] mbellotti commented on #3274
I've tried a bunch of different things here, but (probably because this is javascript here) it doesn't look like the modal text can be changed on the fly. So I just updated the copy to work for both.

[2015-07-29 07:02] #3252 closed, assigned to mbellotti

[2015-07-29 07:43] danmihaila commented on #3274
@mbellotti I have to reopen this one. I tested on stag. After I click confirm on modal, the private/public is never changing/saving in db
@cjhendrix pls confirm the text from modal is ok now

[2015-07-29 07:45] danmihaila commented on #3264
@cjhendrix is it about methdology or license? the issue is not very clear for me the

[2015-07-29 07:50] danmihaila commented on #3274
I was wrong, I think it was something wrong with staging. @mbellotti the action is ok.
still need a feedback from @cjhendrix about message.
closing this one

[2015-07-29 08:05] cjhendrix commented on #3274
Sorry, Dan, it's not my call on the text.  It looks reasonable to me, but someone else would need to approve if you don't feel comfortable approving it.  Tagging @amcguire62

for convenience, the text Marianne applied is:
`Are you sure? This will affect whether this data is visible to everyone`

[2015-07-29 08:11] cjhendrix commented on #3264
Sorry, I confused myself.  it's about License.  Title edited.

[2015-07-29 08:13] cjhendrix opened #3283 "Placeholder for CPS issue"
Just because we won't see it otherwise: https://github.com/OCHA-DAP/DAP-System/issues/346

[2015-07-29 08:38] cjhendrix opened #3284 "Misalignment on pages with black left panel"
Example:
![image](https://cloud.githubusercontent.com/assets/1654485/8953039/42619d2a-35dc-11e5-8b66-1fcbd47c00d4.png)

Seen on these pages:
https://data.hdx.rwlabs.org/organization/innago (at least I don't think v0.9x was like this)
![image](https://cloud.githubusercontent.com/assets/1654485/8953104/83669ece-35dc-11e5-8e48-2f76eb649a5a.png)

https://data.hdx.rwlabs.org/user/edit/cj

https://data.

[2015-07-29 14:34] cjhendrix opened #3285 "Reordering search results with multiword searches gets a bad URL"
1. Open this search: https://data.hdx.rwlabs.org/search?q=kenya+open+data+initiative&ext_indicator=0
2. Reorder to Last Modified
3. URL becomes https://data.hdx.rwlabs.org/search?q=kenya%2Bopen%2Bdata%2Binitiative&ext_indicator=0&sort=metadata_modified+desc and matches many more results.

[2015-07-29 16:51] yumiendo commented on #3236
can we add a loading state while the file is being uploaded (centered on screen, screenshot attached)? The copy is a suggestion. Please feel free to change...but some indication of how long it might take is helpful.
I don't remember if we used a loading animation somewhere else on the site. perhaps we can use this http://tobiasahlin.com/spinkit/ (6th in carousel)

(In 2.3 - it wont start uploading

[2015-07-29 23:04] mbellotti commented on #3139
Do we want this effect on the home page as well? Or just on the pages where the search bar is in the header?

[2015-07-30 03:43] cjhendrix opened #3287 "Series of page alerts when requesting a new org"
Login as a non sysadmin and create an org request.  On submitting the request:

![image](https://cloud.githubusercontent.com/assets/1654485/8975363/aaa04642-367d-11e5-9420-83318c633966.png)
Click ok
![image](https://cloud.githubusercontent.com/assets/1654485/8975367/b8aba16e-367d-11e5-831a-2d83bb2ca1bb.png)
Click ok
![image](https://cloud.githubusercontent.com/assets/1654485/8975374/ca58345e-367d-

[2015-07-30 04:03] alexandru-m-g commented on #3287
This seems to be particular to Chrome

[2015-07-30 04:20] cjhendrix opened #3288 "Create User: unable to complete registration after trying with an existing user name"
submit the new user form (use a fresh new email)
open the validation email and click the link
In the form, enter a user name that already exists and complete the rest of the form
submit
![image](https://cloud.githubusercontent.com/assets/1654485/8975709/e156321e-3682-11e5-829e-906fdeac76d1.png)
click ok on the chrome dialog
change the username to something unique
unable to click "register"
![image

[2015-07-30 08:11] cjhendrix commented on #3112
Mentioned by @pjdufour as well.

[2015-07-30 09:29] danmihaila commented on #3287
The submit button is outside the form and it submits all the forms from the page...It is a bug...

[2015-07-30 12:47] cjhendrix commented on #3237
@alexandru-m-g So did we just close this one on the call with Serban?

[2015-07-30 12:57] teodorescuserban commented on #3237
Yep closed

Joi, 30 iul. 2015, 15:48, cjhendrix notifications@github.com a scris:

[2015-07-30 14:04] cjhendrix commented on #3112
+1  - Another request on this one to our feedback email from a user in Yemen.

[2015-07-31 06:56] #3139 closed, assigned to mbellotti

[2015-07-31 11:12] #3276 closed, assigned to alexandru-m-g

[2015-07-31 11:14] #3163 closed, assigned to alexandru-m-g

[2015-07-31 11:30] #3271 closed, assigned to alexandru-m-g

[2015-07-31 13:03] danmihaila opened #3294 "Share data as not logged in user"
If you are guest and access direct: http://localhost:5000/dataset/preselect
![screen shot 2015-07-31 at 16 01 46](https://cloud.githubusercontent.com/assets/3865844/9007798/96892432-379d-11e5-9490-3e88768a6722.png)
instead it should redirect like: /contribute
![screen shot 2015-07-31 at 16 02 37](https://cloud.githubusercontent.com/assets/3865844/9007808/aa9d9610-379d-11e5-945e-71dff8048820.png)

[2015-07-31 13:07] #3288 closed, assigned to nobody

[2015-07-31 13:07] #3248 closed, assigned to danmihaila

[2015-07-31 13:20] #3287 closed, assigned to danmihaila

[2015-07-31 14:00] alexandru-m-g commented on #3265
Not sure this is the long term solution but for now I put back our own translation files from hdx_theme. I guess at some point we would need to regenerate them.

[2015-07-31 17:15] SimonbJohnson opened #3302 "Remote request to datastore failing. Header problem?"
http://simonbjohnson.github.io/Ebola-Guinea-3W/ is failing to call data from HDX datastore.  Cross origin request header not there?

<img width="1261" alt="screen shot 2015-07-31 at 18 14 48" src="https://cloud.githubusercontent.com/assets/2110742/9012858/13c28be8-37b0-11e5-98e6-aa2999630558.png">

[2015-07-31 18:53] alexandru-m-g opened #3303 "disk gets full after some time on the rqworker machine"
After a batch about 200 geo-enabled datasets were updated I see this error in some of them.

[code]

The problem is that all these files get downloaded to /tmp but are not deleted and we run out of disk space. Either @teodorescuserban should create a script to regularly delete them or I can change the gislayer to delete them after they are being processed.

Pinging @danmihaila and @cjhendrix so th

[2015-07-31 21:07] luiscape commented on #3303
@alexandru-m-g Just to point out that this operation may not happen all that often -- i.e. once a month maybe.

[2015-07-31 23:00] teodorescuserban commented on #3303
Once a month gis disabled is sad. We will take more care of this guy :)

[2015-07-31 23:21] teodorescuserban commented on #3303
@alexandru-m-g: let's do both.
You change it so in normal run mode the file will be removed after proccessing.
I make a cron that would take care of the leftovers (from errors, crashes etc)

While we are at it, would you also be able to make the folder used to store the files as a configure option?
I might want to map a host volume to that at some point.

[2015-08-03 09:42] danmihaila opened #3306 "About/terms: changes"
Point 1 on how we define humanitarian data:
1. The purpose of HDX platform is to enable the sharing of data across the humanitarian community. Humanitarian data is defined as: 1) data about the context in which a humanitarian crisis is occurring (e.g., baseline/development data, damage assessments, geospatial data); 2) data about the people affected by the crisis and their needs; and 3) data about

[2015-08-03 09:44] #2894 closed, assigned to nobody

[2015-08-03 10:10] #3265 closed, assigned to alexandru-m-g

[2015-08-03 10:26] #3306 closed, assigned to danmihaila

[2015-08-03 15:02] luiscape opened #3315 "Add property to API call to activate or deactivate the geo-preview"
It would be great to have a property that specifies the creation (or not) of the geo-preview via the API call. Assuming I am creating a dataset with the method `api/action/dataset_create`. That method takes a JSON with all the properties of the to-be-created dataset. Adding a property to create a geo-preview could be something like:

[code]

In that case,  CKAN would see that `"geo_preview": true`

[2015-08-03 15:04] cjhendrix commented on #3258
Reopening this one.  Same behavior.  Perhaps a different cause.

https://test-data.hdx.rwlabs.org/dataset/central-african-republic-other

[2015-08-03 15:05] danmihaila commented on #3315
ping @cjhendrix and @alexandru-m-g for comments

[2015-08-03 15:40] cjhendrix commented on #3315
I think it's a good idea.  We might also be able to use that flag in the resource create/edit interface to eliminate the dependence on magic file types for triggering geo preview.

[2015-08-04 07:47] cjhendrix opened #3318 "CKAN changes file names"
See details here:

https://github.com/OCHA-DAP/cod-migration/issues/40

This is problematic because users may have a file naming standard and having their published files renamed may not be welcome.  In the particular case of COD migration, OCHA has had a file naming standard for several years (although it is not universally used), and having CKAN alter that in a way that makes the file name unrea

[2015-08-04 07:50] teodorescuserban commented on #3318
Note that the file naming convention by url standards seems ok.
People are already used to haev all kinds of limitations when choosing a username for an account, a email address, and so on.

[2015-08-04 07:51] teodorescuserban commented on #3318
See here:
https://github.com/ckan/ckan/issues/1820

[2015-08-04 08:03] cjhendrix commented on #3318
Yes but having an OCHA system break an OCHA standard is probably not good.  We just need to maintain "-" and "_" which are usually allowed and worked fine in ckan 2.1.

Of course if this would create some significant technical problem, then we shouldn't do it.  But if it's just a matter of removing "-" and "_" from ckan's file renaming and tolerating some ugly URLs, I think it's ok. @amcguire62 ?

[2015-08-04 08:23] teodorescuserban commented on #1020
This finally made it into prod!! :)

[2015-08-04 08:24] teodorescuserban commented on #3010
Fixed.

[2015-08-04 08:24] #3010 closed, assigned to amcguire62

[2015-08-04 08:25] teodorescuserban commented on #3302
Fixed.

[2015-08-04 08:25] #3302 closed, assigned to nobody

[2015-08-04 08:28] teodorescuserban commented on #3009
Update: please try to add the following header to your call:
X-CKAN-API-Key: 'your_real_api_key'
If your user has access to that dataset, you should be able to access it through the api.
Closing.
Please feel free to reopen.

[2015-08-04 08:28] #3009 closed, assigned to amcguire62

[2015-08-04 08:31] cjhendrix opened #3321 "CORS issue"
From HRinfo team:

it seems like the HDX API is missing the Access-Control-Allow-Origin header
(see https://en.wikipedia.org/wiki/Cross-origin_resource_sharing). Is
this something that your team could add to the HDX API ?

[2015-08-04 09:11] teodorescuserban commented on #1873
bumping this issue.
I need to clean the old filestore.
As per discussed with @cjhendrix @amcguire62 and @danmihaila target is 2 weeks from July 30, so let's make it Aug 15.

Changing priority to High.

@danmihaila, @cjhendrix please assign a new milestone.
Thank you

[2015-08-04 09:17] teodorescuserban commented on #3321
Fixed.

[2015-08-04 09:17] #3321 closed, assigned to nobody

[2015-08-04 12:12] danmihaila commented on #3253
@cj can you please test this issue on stag and marked with "testedSTAG" if it is ok?

[2015-08-04 12:12] danmihaila commented on #3254
@cj can you please test this issue on stag and marked with "testedSTAG" if it is ok?

[2015-08-04 12:12] danmihaila commented on #3255
@cj can you please test this issue on stag and marked with "testedSTAG" if it is ok?

[2015-08-04 12:12] danmihaila commented on #3256
@cj can you please test this issue on stag and marked with "testedSTAG" if it is ok?

[2015-08-04 12:16] danmihaila commented on #3274
Text is ok, but on large screens the popup is very very large. @mbellotti could we do it to fit the text?
check screenshot
![screen shot 2015-08-04 at 15 16 20](https://cloud.githubusercontent.com/assets/3865844/9060372/ca2a0484-3abb-11e5-9e8d-1d771b4ffd6d.png)

[2015-08-04 12:17] danmihaila commented on #3285
this is still an issue on staging server. reopening
ping @mbellotti

[2015-08-04 12:42] danmihaila commented on #3137
trying to run again the reindex on staging raises this error:
root@ckan:/srv/ckan/ckanext-hdx_search/ckanext/hdx_search# paster hdx-feature-search build -c /srv/prod.ini                                               Collecting Feature Pages...                                                  Traceback (most recent call last):                                             File "/usr/local/bin/paster"

[2015-08-04 13:01] mbellotti commented on #3137
Oh damn, that's a stupid mistake on my part. Sorry, pushing fix right now

On Tue, Aug 4, 2015 at 8:42 AM, danmihaila notifications@github.com wrote:

[2015-08-04 13:39] danmihaila commented on #3137
@mbellotti when typing or searching "nepal" the nepal earthquake is not visible. I think crises page should have a better score. pinging @yumiendo and attaching screenshots
![screen shot 2015-08-04 at 16 37 56](https://cloud.githubusercontent.com/assets/3865844/9061876/5d8fd9fa-3ac7-11e5-9a77-7d90280f63e1.png)
![screen shot 2015-08-04 at 16 37 50](https://cloud.githubusercontent.com/assets/3865844

[2015-08-04 15:15] danmihaila commented on #3137
country to be change to location

[2015-08-04 15:18] mbellotti commented on #3137
Also double check that it's Organisation while we're at it ;)

On Tue, Aug 4, 2015 at 11:15 AM, danmihaila notifications@github.com
wrote:

[2015-08-04 15:21] danmihaila opened #3329 "FAQ page: search not working"
On FAQ page https://test-data.hdx.rwlabs.org/faq the search is not working

[2015-08-04 15:41] cjhendrix opened #3330 "Membership request emails uses org ID instead of org name."
Org request received by a user:

![image](https://cloud.githubusercontent.com/assets/1654485/9065056/e4770256-3acf-11e5-9db0-51bdddef8b43.png)

[2015-08-05 07:47] cjhendrix commented on #3255
Tested on stag, but still not working.  However stag seems very slow at the moment, so maybe we are running into a timeout.

[2015-08-05 07:52] #3137 closed, assigned to mbellotti

[2015-08-05 08:08] #3330 closed, assigned to danmihaila

[2015-08-05 08:29] cjhendrix commented on #3255
On feature, still getting the error:

shape_info: "{"error_class": "UnicodeDecodeError", "layer_id": "pre_4de82360_c8ce_41f4_b165_fc25aa628523", "error_type": "None", "state": "failure", "message": "'ascii' codec can't decode byte 0xa2 in position 14: ordinal not in range(128)", "type": "unknown"}",

[2015-08-05 08:33] cjhendrix opened #3333 "Resource Create: the check mark is trying to escape again"
On feature  (v 0.10.3):

![image](https://cloud.githubusercontent.com/assets/1654485/9081527/4ab38b4c-3b5d-11e5-9382-77ddb1c24054.png)

[2015-08-05 08:36] danmihaila commented on #3333
I saw this one on staging and fixed yesterday. I will ask Serban to deploy feature with the latest version and it should be good.

[2015-08-05 08:37] cjhendrix commented on #3256
Not fixed on feature.

![image](https://cloud.githubusercontent.com/assets/1654485/9081582/e82f11ca-3b5d-11e5-903c-70236a72ad96.png)

[2015-08-05 08:56] danmihaila commented on #3333
i double check it and it looks it was a different problem:
if you upload a shapefile with a looong name without whitespaces it will break, but if you upload a short name of the file it will be ok.
I hope it fixed it well

[2015-08-05 08:57] #3333 closed, assigned to danmihaila

[2015-08-05 13:17] cjhendrix opened #3340 "Search: new tags exist, but not available in filter"
As part of COD migration, we are creating some (temporary) unique tags for each migrated dataset.

These tags are available via URL:  http://feature-data.hdx.rwlabs.org/dataset?tags=nodeid4707
![image](https://cloud.githubusercontent.com/assets/1654485/9086485/0398ad32-3b85-11e5-98e5-6f0c8d5f6005.png)
But they are not available in the filter list:
![image](https://cloud.githubusercontent.com/asset

[2015-08-05 13:28] cjhendrix commented on #2361
If we decide not to manually edit migrated COD datasets that have links instead of resources, this will definitely need to be fixed.

[2015-08-05 13:29] danmihaila commented on #3340
it looks that we somehow limit the number of tags in that dropdown. good catch
http://feature-data.hdx.rwlabs.org/api/3/action/tag_list - the full list of tags.

[2015-08-05 17:44] mbellotti opened #3342 "Make sure dataset tab shows 25"
There are certain conditions under which the dataset tab shows five, instead of twenty-five in search. Hunt those down and kill them.

[2015-08-05 21:23] luiscape opened #3343 "CORS disallowed for DataStore API"
At some point recently CORS have been disallowed on the DataStore API (they are still allowed on the regular metadata API). This is causing issues on visualizations hosted on third-party domains (i.e. GitHub) that pull data directly from the DataStore API.

[code]

And here is a live example from a previously-working visualization hosted on GitHub pages: http://luiscape.github.io/hdx-datstore-exam

[2015-08-05 21:27] teodorescuserban commented on #3343
Fixed.

[2015-08-05 21:27] #3343 closed, assigned to teodorescuserban

[2015-08-05 21:35] luiscape commented on #3343
Thank you, Sir! (**THAT WAS FAST!**)

[2015-08-05 21:35] teodorescuserban commented on #3343
:)

În Joi, 6 aug. 2015 la 00:35, Luis Capelo notifications@github.com a
scris:

[2015-08-06 13:04] #3055 closed, assigned to danmihaila

[2015-08-06 13:06] teodorescuserban commented on #3055
tagging @cjhendrix please confirm it looks alright.

[2015-08-06 14:44] cjhendrix commented on #3055
Looks great.  Thanks!  Maybe @amcguire62 should have a look also.

[2015-08-06 14:45] danmihaila commented on #3055
beer?

[2015-08-06 14:46] teodorescuserban commented on #3055
On me, BUT at my place :P

În Joi, 6 aug. 2015 la 17:45, danmihaila notifications@github.com a scris:

[2015-08-07 09:15] danmihaila commented on #3329
done

[2015-08-07 09:15] #3329 closed, assigned to danmihaila

[2015-08-07 12:08] cjhendrix opened #3366 "API allows creation of datasets with no group"
Discovered this while testing the COD migration.

[2015-08-07 12:32] danmihaila commented on #3366
can u specify what is the api call you are using?

[2015-08-07 13:41] #3340 closed, assigned to danmihaila

[2015-08-08 14:41] #3342 closed, assigned to mbellotti

[2015-08-08 14:45] mbellotti commented on #2921
I'm not able to reproduce this issue in either FF or Chrome on either local or production. Gremlins?

[2015-08-08 14:45] #2921 closed, assigned to mbellotti

[2015-08-08 14:56] mbellotti commented on #3274
The modal is sized in relation to the window, not the text. I've made that ratio a bit smaller, so hopefully that works well.

[2015-08-08 19:18] davidmegginson opened #3369 "Share button rendering offscreen"
When I click on the "Share" button for a dataset in Chrome, it renders a popup dialogue mostly off the left side of the screen.  Screenshot: http://www.clipular.com/c/6521137465917440.png?k=hfed9aJHiDqp1GAYIXRPDTJbNm8

Assigned to Dan for triage.

[2015-08-10 06:56] cjhendrix commented on #3253
Working and executed on prod for the example dataset.

[2015-08-10 07:06] cjhendrix opened #3370 "Geo Preview: Find a way to display a long list of attributes"
![image](https://cloud.githubusercontent.com/assets/1654485/9160896/ee43dcfa-3f3e-11e5-951c-8e9284196f16.png)

Perhaps just a scroll in the popup?   And would we have the same issue in the layer picker?

[2015-08-10 07:17] cjhendrix commented on #3237
On test, still getting the error on a dropbox link:  http://test-data.hdx.rwlabs.org/api/3/action/package_show?id=geotest01

Unable to complete upload of the same file (chrome gets to 1 or 2 percent, then resets).

[2015-08-10 07:24] cjhendrix opened #3371 "Dataset List: autocomplete suggestions don't go away with click elsewhere on the page"
Found on chrome.
To replicate:
1. open /dataset and type something in the search bar
2. change your mind and decide to open the filter drawer
3. autocomplete suggestions remain visible

I'm not sure we necessarily want to fix this.  I found it a bit jarring, but I can also why maybe we want the suggestions to remain visible as long as there is text.  Pinging @yumiendo for decision.

[2015-08-10 07:34] cjhendrix commented on #1579
Fixed with upgrade to 2.3

[2015-08-10 07:34] #1579 closed

[2015-08-10 07:40] cjhendrix opened #3372 "Geo Preview: Network link KMLs"
It is possible for a KML to contain a  bounding box and a link to a remote kml resource.    For example: https://data.hdx.rwlabs.org/dataset/lsib-lines-africa-and-americas-detailed

These are successfully processed by OGR, but the geometry is not available.  These are another special case of remote resources, like geonode.  They are not likely to be common, however HIU does have a few of them and

[2015-08-10 07:44] #2849 closed, assigned to aalecs

[2015-08-10 07:46] cjhendrix commented on #2931
we seem to be doing this manually and somewhat ad hoc as we add capabilities to geopreview.  Closing this.

[2015-08-10 07:46] #2931 closed, assigned to nobody

[2015-08-10 07:48] cjhendrix commented on #2934
We did the faq and help text changes.  Closing.  There is another issue for implementing something in the api/interface to disable geopreview.

[2015-08-10 07:48] #2934 closed, assigned to nobody

[2015-08-10 07:58] cjhendrix commented on #3256
working now on stag.  Closing.

[2015-08-10 07:58] #3256 closed, assigned to alexandru-m-g

[2015-08-10 07:59] cjhendrix commented on #3255
Working on staging.  Closing.

[2015-08-10 07:59] #3255 closed, assigned to alexandru-m-g

[2015-08-10 08:29] #2956 closed, assigned to mbellotti

[2015-08-10 08:29] #3227 closed, assigned to mbellotti

[2015-08-10 08:29] #3294 closed, assigned to mbellotti

[2015-08-10 08:33] cjhendrix opened #3375 "COD Migration Geo Preview thingy"
Making a placeholder for this for discussion.

We have closed the issue about triggering geopreview for datasets made from the API, but gospawn won't know when to apply the magic words (it won't know if a dataset is a zipped shapefile, zipped geodatabase, or zipped cat vidoes).   Which means that for most of the migrated CODs we would have to trigger it manually.

Options (open to more ideas):
1.

[2015-08-10 09:16] danmihaila commented on #3262
@teodorescuserban can you please confirm the change is made in prod.ini ?

[2015-08-10 09:20] teodorescuserban commented on #3262
There are no changes yet.
I was expecting to be announced when i shoud change.

[2015-08-10 09:22] danmihaila commented on #2970
@mbellotti and @cjhendrix please discuss and coordinate about this issue.

[2015-08-10 09:28] danmihaila commented on #3318
@mbellotti first step is to find out why ckan is removing the special chars and find the reason.

[2015-08-10 09:55] danmihaila commented on #3369
related to #3273

[2015-08-10 09:59] cjhendrix opened #3376 "Dataset edit: The edit button on the URL doesn't work"
We should either make this button work or remove it.

![image](https://cloud.githubusercontent.com/assets/1654485/9168234/40bf95ce-3f57-11e5-97c7-22651442e0c3.png)

[2015-08-10 10:02] yumiendo commented on #3371
i'd love to address this - not sure how hard it is.
regardless of whether someone has filter drawer open - can we make it go away if you click outside the predictive dropdown?

(I also pressed "esc" but didnt do anything)

[2015-08-10 10:05] danmihaila commented on #3371
ok, moving it to sprint 63 and assigned to @mbellotti

[2015-08-10 10:08] danmihaila opened #3377 "Locations list page: /group"
The locations list page (https://data.hdx.rwlabs.org/group) will be replaced by this new page.
- Create a new clean controller to handle the list of locations (probably we could reuse browse_controller)

Coordinate with @aalecs , issue no #3378

Mockup:
![locations_spec](https://cloud.githubusercontent.com/assets/3865844/9168590/eb6a24fe-3f60-11e5-9b32-f3459b83563e.png)

[2015-08-10 10:12] danmihaila opened #3378 "Locations list page: /group UI"
The locations list page (https://data.hdx.rwlabs.org/group) will be replaced by this new page.
- Create a new clean html to handle the list of locations (probably we could reuse browse html)
  Coordinate with @mbellotti, issue #3377
- when click on Alpha -> it will scrolldown to the list of locations, but the menu is not sticky.
- specifications:

![locations_spec](https://cloud.githubusercontent.

[2015-08-10 11:08] danmihaila commented on #3262
@cjhendrix this is deployed on staging, please test it

[2015-08-10 11:13] teodorescuserban commented on #3262
I changed the prod.ini on staging.
After testing, when deploying to prod, pretty please remind me of this.
Do no close yet.

[2015-08-10 11:13] #3273 closed, assigned to aalecs

[2015-08-10 11:19] danmihaila opened #3381 "Search nose test: lunr"
Create a nosetest to check:
- predictive search (search recommendations in "search bar"): test the recommendations
- search result page : test the results recommended for user

[2015-08-10 11:20] cjhendrix commented on #3262
Just tested.  Beautiful.  Working on 2different geonodes and 3 different formats:
http://test-data.hdx.rwlabs.org/dataset/global-logistics
http://test-data.hdx.rwlabs.org/dataset/lsib-lines-africa-and-americas-detailed

[2015-08-10 11:23] danmihaila commented on #3262
@cjhendrix can we close it?

[2015-08-10 11:23] teodorescuserban commented on #3375
You idea is great!
Lets see how easily done it is.

[2015-08-10 11:32] teodorescuserban commented on #3262
Don't, please.
Lets close this after we deploy to prod.

În Lun, 10 aug. 2015 la 14:23, danmihaila notifications@github.com a
scris:

[2015-08-10 12:07] teodorescuserban commented on #3303
I created the script.
The script is only hosted in one container on staging to test it out properly.

Current settings are:
scripts is running every 10 minutes.
removes all files / folders starting with 'pre_' that are older than 48 hours.

Suggestions?
We might need to decrease massively the max age (currently at 48 hours).

[2015-08-10 12:29] cjhendrix commented on #2970
I think the basic test we are trying to pass here is that when a user searches "[country name] cod" that the first results that come back are those where location = [country name] and tag = cod

[2015-08-10 12:41] cjhendrix commented on #3366
whichever one serban is using in gospawn    :)

[2015-08-10 12:54] danmihaila commented on #3014
assigned to @mbellotti as she fixed something similar

[2015-08-10 13:08] danmihaila commented on #3246
the commit closes the initial description of the issue, but there are 2 more items to align:
- searching icon
- all users link
  Check screenshot
  ![screen shot 2015-08-10 at 16 06 51](https://cloud.githubusercontent.com/assets/3865844/9172141/0989a6da-3f7a-11e5-8b9e-e0f94eb3fad9.png)

[2015-08-10 13:08] danmihaila commented on #3246
if it is not easy to be done today, we can move it to Sprint 63...

[2015-08-10 13:13] danmihaila commented on #3274
I tested on stag vs prod and in my case there are 672px, no difference. I am using FF

[2015-08-10 13:19] danmihaila commented on #3284
This change has an impact on other pages as well. Please double check this change, because it changes many things.
One sample is loc page:
![screen shot 2015-08-10 at 16 16 36](https://cloud.githubusercontent.com/assets/3865844/9172298/57ba19ce-3f7b-11e5-9c67-763e27b02dbd.png)
Also, default org page the grey horizontal line is stopping (not reaching black left side):
![screen shot 2015-08-10 at 16

[2015-08-10 13:21] danmihaila commented on #3342
@mbellotti : any commit or reference? I don't know how to test or reproduce on prod/staging

[2015-08-10 13:24] danmihaila opened #3382 "Search: not displaying the same number of options"
If I search "world", the dropdown displays 5 results but when hitting enter I am getting only 4 recommendations
![screen shot 2015-08-10 at 16 22 46](https://cloud.githubusercontent.com/assets/3865844/9172437/3ee11ffa-3f7c-11e5-874f-a0613396ab0d.png)
![screen shot 2015-08-10 at 16 22 40](https://cloud.githubusercontent.com/assets/3865844/9172436/3edeed48-3f7c-11e5-9fde-fe5c0091134b.png)

[2015-08-10 13:27] danmihaila commented on #3285
this is back! reopening and moving to Sprint 62

[2015-08-10 13:31] danmihaila opened #3383 "Custom org page: WFP - pagination"
Last item has a grey hr line
(might be found on other pages)
![screen shot 2015-08-10 at 16 30 26](https://cloud.githubusercontent.com/assets/3865844/9172579/459a0d10-3f7d-11e5-8970-b4b83d3ee43e.png)

[2015-08-10 13:37] mbellotti commented on #3382
Yes this is deliberate. We discussed how many results to return and the
documentation I was given said five for predictive but only had about three
for recommendations. Why would you want the same number anyway? Visually
you can put more on predictive without ruining the design than you can with
recommendations

On Mon, Aug 10, 2015 at 9:24 AM, danmihaila notifications@github.com
wrote:

[2015-08-10 13:46] danmihaila commented on #3382
I don't understand why we would remove 1 result. As I see in screenshot the "recommendations" are already on 2 rows.
Pinging @yumiendo for more comments re this issue

[2015-08-10 13:48] mbellotti commented on #3382
Well I can make them even, I just don't know why you would necessarily want
that. Best thing in my opinion is to remove one from recommendations.

On Mon, Aug 10, 2015 at 9:46 AM, danmihaila notifications@github.com
wrote:

[2015-08-10 13:55] danmihaila opened #3384 "New Nav"
use "Gotham -book in #ccc"
![new-nav](https://cloud.githubusercontent.com/assets/3865844/9270266/00deb5a0-4279-11e5-9af1-361de98c383c.png)

[2015-08-10 13:57] yumiendo commented on #3382
Hi guys, sorry it looks like my comp did not cover this issue. (i think my comp showed 3 "You might also like:")

if 5 results shows in the predictive dropdown (and if user just hit enter) - "You might also like:..." should also list 5.  it may run in 2 lines but it's ok.

[2015-08-10 13:59] danmihaila commented on #3382
ok, so, basically will be the same number, maximum 5. We will do it next sprint, in 63.

[2015-08-10 14:10] mbellotti commented on #3264
@luiscape any ideas how the data got broken?

[2015-08-10 14:22] danmihaila commented on #2970
@cjhendrix @mbellotti @amcguire62 to have a call this week

[2015-08-10 14:24] danmihaila commented on #3014
related to #3285

[2015-08-10 14:28] luiscape commented on #3264
@mbellotti no idea. I am unsure how CPS-generated-datasets (i.e. "indicators") are registered on HDX.

[2015-08-10 14:34] teodorescuserban commented on #2028
Bumping this one.
3.2GB on the new filestore.
6.2GB on the old filestore.

[2015-08-10 14:35] mbellotti commented on #3381
For the time being we'll only test recommendations. Predictive search is pure javascript and can't be tested via nosetest

[2015-08-10 14:40] danmihaila commented on #3381
agreed. thanks

[2015-08-10 14:42] danmihaila commented on #3264
lets have a call with @alexandru-m-g , maybe he has some comments re CPS.

[2015-08-10 15:09] pjdufour opened #3385 "FAQ / Geodata Minor Typo"
Geodata section in FAQ is a great idea!  There's a minor typo in the FAQ for "Is HDX integrated with any GeoNodes?".  The "N" in GeoNode is generally capitalized.  A link to the main GeoNode website, http://geonode.org/, might also be useful.

![image](https://cloud.githubusercontent.com/assets/1438253/9174690/7922c718-3f4f-11e5-80f7-c902c0b31faf.png)

[2015-08-10 18:58] teodorescuserban commented on #3303
I will change the max age to 2 hours.

[2015-08-10 19:07] teodorescuserban commented on #3303
Just experienced another disk full on prod.
I have removed the current gisworker and create another one that has the script in it + the /tmp folder is mapped to a host volume (gistmp on gluster fs).

[2015-08-11 01:54] mbellotti commented on #3285
It's working on staging right now :/

[2015-08-11 02:09] mbellotti commented on #3274
![screen shot 2015-08-10 at 10 08 23 pm](https://cloud.githubusercontent.com/assets/489152/9188647/6835d55a-3fac-11e5-9e22-25f3abc0459b.png)
This is the size I get on both Chrome and FF :/

[2015-08-11 03:52] alexandru-m-g commented on #3303
Just a note, that there is already a fix for this on the gislayer side (basically removing all temp files when they are no longer needed). It's just not in production yet, still needs to be tested.

[2015-08-11 04:46] teodorescuserban commented on #3303
Gislayer? Who cares about gislayer? :)

Mar, 11 aug. 2015, 06:52, Alexandru Gartner notifications@github.com a
scris:

[2015-08-11 05:54] alexandru-m-g commented on #3303
@teodorescuserban Maybe I should've said gisworker. Gislayer and gisworker share the same codebase. :)

[2015-08-11 07:08] teodorescuserban commented on #3303
Yeah but gisworker does not run gislayer underneath, right?
So tmp cleaning might not be possible from gisworker with gislayer code?

Mar, 11 aug. 2015, 08:54, Alexandru Gartner notifications@github.com a
scris:

[2015-08-11 07:51] danmihaila commented on #3274
I think it is about the display. can we make a fix size? On large displays it looks bad
![screen shot 2015-08-11 at 10 49 59](https://cloud.githubusercontent.com/assets/3865844/9192798/d867051e-4016-11e5-93fd-86edf42583ed.png)

[2015-08-11 07:53] danmihaila commented on #3285
I was checking /dataset which is basically the issue https://github.com/OCHA-DAP/hdx-ckan/issues/3285 from next sprint. I removed my previous comment.
I still see a bug on staging related to /search . I made the following steps:
1. http://test-data.hdx.rwlabs.org/search?q=  (2248 results)
2. filter by "zipped shapefile": http://test-data.hdx.rwlabs.org/search?q=&res_format=zipped+shapefile (250 re

[2015-08-11 07:54] #3369 closed, assigned to aalecs

[2015-08-11 09:00] danmihaila opened #3388 "New Orgs list page: controller"
URL: /organization
- We should create a clean controller that will display in this first iteration the list of organizations.
- it should support search using a query
- order by different criteria: name ascending, name descending
- pagination
- displaying 25 | 50 or 100 items per page
  Mockup with details is here:
  https://docs.google.com/drawings/d/15BtFvHrsze0T4mbwp0pPfgYW1XYXJXi65Iz2cBSJm_g/e

[2015-08-11 09:03] danmihaila opened #3389 "New Orgs list page: UI"
URL: /organization
- We should create a clean controller that will display in this first iteration the list of organizations.
- it should support search using a query
- order by different criteria: name ascending, name descending
- pagination
- displaying 25 | 50 or 100 items per page
  Mockup with details is here:
  https://docs.google.com/drawings/d/15BtFvHrsze0T4mbwp0pPfgYW1XYXJXi65Iz2cBSJm_g/e

[2015-08-11 10:37] danmihaila opened #3390 "Download resource, private dataset"
This is the only way to reproduce the issue:
1. create a private dataset
2. add a resource
3. same logged in user, try to download resource -> ERR redirects to login page, can not login, etc.
4. make dataset public
5. same logged in user, try to download resource -> success

For an existing public dataset:
1. try to download resource (as hdx user) -> success
2. make dataset private
3. try to downl

[2015-08-11 11:29] cjhendrix commented on #3390
Serban fixed this by having me install the user agent switcher in Chrome.   But that's not a good solution for all users of test/feature /demo,  so he was going to look into it.

[2015-08-11 11:37] danmihaila commented on #3390
I will check this bug later this week

[2015-08-11 12:03] danmihaila commented on #3390
wrong assignment , i reassigned to me

[2015-08-11 12:09] cjhendrix commented on #3264
@luiscape @takavarasha The original metadata for the FTS indicators came from our bootstrapping script, CKAN_setup.  Since then it looks like some have been changed, but not all of them.  We were wondering if you guys might remember running any batch processes (or manual ones) that could affect the license text for the FTS indicators.

[2015-08-11 12:59] takavarasha commented on #3264
I do not recall myself doing any such updates. Maybe @luiscape may remember something.

[2015-08-11 13:00] teodorescuserban commented on #3390
No need, Dan. Assign it to me. I will see it done.

În Mar, 11 aug. 2015 la 15:03, danmihaila notifications@github.com a
scris:

[2015-08-11 13:01] luiscape commented on #3264
@cjhendrix Now that you mention, I do remember a script written to add "Source: " to the description of indicator datasets. If I remember well, that script ran once or in an ad-hoc basis. I believe @takavarasha may have more details.

I believe I haven't written anything that edits indicator datasets on HDX.

[2015-08-11 13:58] mbellotti commented on #2970
Proposed solution agreed upon in our call:

### Create a COD group
- Data team will create a group titled "Common Operational Datasets (COD)" and place all the existing COD datasets in it @takavarasha
- I will take the id of that group (probably something like cod-migration) and update the lunr index so that it is listed as a **Feature** page rather than a Location page.

### Tweak Dataset Create/

[2015-08-11 14:14] mbellotti commented on #3274
Sure. How large would you like it to be?

On Tue, Aug 11, 2015 at 3:51 AM, danmihaila notifications@github.com
wrote:

[2015-08-11 14:16] teodorescuserban commented on #3274
Why not centering the message too?

În Mar, 11 aug. 2015 la 17:14, mbellotti notifications@github.com a scris:

[2015-08-11 14:19] danmihaila commented on #3274
@mbellotti i think the size from your screenshot looks good, i don't know how many px. Maybe u can set something like max width.

[2015-08-11 14:22] danmihaila commented on #3274
If not working well, i think we coudl ask @yumiendo for an opinion related to header and popin width

[2015-08-12 06:03] alexandru-m-g commented on #3303
gisworker downloads the file ( & writes it to disk ) so it can definitely also delete the file after the processing is done.

[2015-08-12 06:14] teodorescuserban commented on #3303
Let's convene to my garden tower after your snow-and-moose-and-maple-syrup
trip. :)

Mie, 12 aug. 2015, 09:03, Alexandru Gartner notifications@github.com a
scris:

[2015-08-12 07:22] alexandru-m-g commented on #2970
I was thinking there might be a solution that combines the 2 ideas that were discussed: **have a new dataset field** that for lack of imagination i'll call **very_important_dataset_field**

### Advantages:
-  It's importance could be boosted as much as we wanted
-  searches that are not related to COD won't be affected
-  we don't need to artificially use groups for something that's not actually a

[2015-08-12 07:51] teodorescuserban commented on #3303
To leave a clearer end of the discussion here, the script that cleans the folder is made and cronned every 10 minutes.
It cleans the files older than 1 hour that starts with `pre_` in the folder specified by the `$HDX_TMP_DIR` env var or fallbacks to cleanup the `/tmp` folder.

Changes have been propagated to the latest gisworker docker image.

[2015-08-12 08:06] aalecs commented on #3274
Just an idea ... can't we reuse the information popups from the onboarding? We already have components for them, eg.:

<img width="868" alt="screen shot 2015-08-12 at 11 05 33" src="https://cloud.githubusercontent.com/assets/5638491/9219260/2cc653aa-40e2-11e5-8784-1177f0781ee4.png">

[2015-08-12 10:37] danmihaila opened #3392 "Groupe create: save location submitts all forms in page"
go to /group/new and try to save a group. The save location button submits all the forms (specially the onboarding). there was a fix for save organization form.

[2015-08-12 10:45] danmihaila opened #3393 "Location page: random number of datasets on page"
For different locations there is a random number of datasets that are displayed on each page (same for testing and prod servers)
![screen shot 2015-08-12 at 13 42 47](https://cloud.githubusercontent.com/assets/3865844/9222176/4b9285b8-40f8-11e5-857d-91a3076834a3.png)
![screen shot 2015-08-12 at 13 42 36](https://cloud.githubusercontent.com/assets/3865844/9222177/4bc549a8-40f8-11e5-8ed8-3474e9c2bc6

[2015-08-12 10:46] danmihaila commented on #3393
Mali page (which is a custom location page) looks ok, but we need to double check custom location pages as well.

[2015-08-12 10:55] danmihaila commented on #3390
@teodorescuserban , I was wrong I can not reproduce using the steps I was talking about. Assigned to you (probably not related to ckan)

[2015-08-12 10:57] danmihaila opened #3394 "Dataset page: delete popin"
When trying to delete the confirmation screen looks broken. We will also need @yumiendo to approve a mockup for all the popin windows.

[2015-08-12 10:59] danmihaila opened #3395 "Location admin page: delete"
1. When click on delete button it should show a confirmation screen for user...
2. Same for organizations
   ![screen shot 2015-08-12 at 13 58 23](https://cloud.githubusercontent.com/assets/3865844/9222409/4a0f981e-40fa-11e5-9cca-263de607b0f4.png)

[2015-08-12 11:15] danmihaila commented on #3385
pinging @cjhendrix to provide the final text.

[2015-08-12 11:16] danmihaila opened #3396 "FAQ: links in text"
Open all the external links in other(new) tab

[2015-08-12 11:55] yumiendo commented on #3274
will provide mockups. we can reuse the onboarding conf windows as per arti's suggestion.

[2015-08-12 12:09] danmihaila commented on #3274
until we have the final mockups, I will move this issue to sprint 63 as it is not enough time to fix.
ping @mbellotti and @aalecs to follow this

[2015-08-12 12:14] danmihaila commented on #3390
@teodorescuserban you can test on
https://test-data.hdx.rwlabs.org/dataset/json-repository
not working resource:
https://test-data.hdx.rwlabs.org/dataset/e66dbc70-17fe-4230-b9d6-855d192fc05c/resource/12e3bdb5-9ea9-460f-811d-03d134936823/download/Screen-Shot-2015-08-12-at-13.57.50.png

[2015-08-12 12:36] teodorescuserban commented on #3375
Fixed on gospawn.

[2015-08-12 12:36] #3375 closed, assigned to teodorescuserban

[2015-08-12 12:53] cjhendrix commented on #3385
Please replace the FAQ section with the following:

[code]

[2015-08-12 13:33] #3246 closed, assigned to mbellotti

[2015-08-12 13:36] teodorescuserban commented on #3390
This has been a varnish misconfig fixed on prod by Steven.
We need to talk about this later.
I also fixed on test stack.

Mie, 12 aug. 2015, 15:14, danmihaila notifications@github.com a scris:

[2015-08-12 13:40] danmihaila commented on #3285
my last comment will be fixed by #3014
closing this one

[2015-08-12 13:40] #3285 closed, assigned to mbellotti

[2015-08-12 13:44] luiscape commented on #3303
@teodorescuserban and @alexandru-m-g just to give some more information here. I believe some of the reasons that the disk is getting full before the scheduled cron job is that there is a script I have been running that registers about 300 datasets under UNOSAT at once. The running time of that script is about 3 ~ 5 minutes.

This scenario is somewhat unlikely to happen often in production -- altho

[2015-08-12 16:20] mbellotti commented on #2970
So here's what I keep coming back to on this. Assuming I understand the
situation correctly and all the COD datasets will eventually be changed so
that none of them have Common Operational Dataset in the title but all of
them are tagged Common Operational Dataset ... why do we even need to do
anything to search at all?

The five datasets that are ranked above the one we want to be number one
are r

[2015-08-12 16:23] cjhendrix commented on #2970
@mbellotti I don't think it will fix the problem.  As a further test, I got rid of all the datasets with COD in the name.  Searching now for "COD" still returns all of the DR Congo datasets **because "cod" occurs in the location url** before a tagged dataset.  So I think at the very least we have to tweak the solr weights to bump tags up above the "text" item.

[2015-08-12 16:38] mbellotti commented on #2970
Wait... will the final tag be "COD" or "Common Operational Dataset" or both?

I'm still not comfortable with messing around with search. There are lots
of things that we could do that will benefit the user experience across the
site in a variety of different use cases. We could make filters and how to
use them clearer. We could move forward with Feature Pages and start
producing collections of dat

[2015-08-12 16:46] cjhendrix commented on #2970
Yes, final tag is "cod" not "common operational dataset".  Tagging @amcguire62 since I notice he's not getting in on all this commentative goodness.

I agree, lots we could do to make it better.  But we still need
/search?q=_country name_+cod
to return the cods for that country first, which I _think_ means tweaking the search params.

[2015-08-12 17:55] danmihaila commented on #2970
Talking about tweaks if search we could also think at nginx or even the search controller...

[2015-08-12 18:45] teodorescuserban commented on #3390
Closing.

[2015-08-12 18:45] #3390 closed, assigned to teodorescuserban

[2015-08-13 07:12] danmihaila commented on #3284
the issues I posted in my comments are solved, but the initial issue is back again. Reopening...
![screen shot 2015-08-13 at 10 11 59](https://cloud.githubusercontent.com/assets/3865844/9244435/d3b5dd90-41a3-11e5-8b2a-b277be45299a.png)
![screen shot 2015-08-13 at 10 11 56](https://cloud.githubusercontent.com/assets/3865844/9244436/d3b8f854-41a3-11e5-8e3c-1ea375542786.png)

[2015-08-13 08:41] #3014 closed, assigned to mbellotti

[2015-08-13 08:41] #3230 closed, assigned to mbellotti

[2015-08-13 08:41] #3382 closed, assigned to mbellotti

[2015-08-13 09:12] danmihaila opened #3402 "Group page: Sorting not working when select order by dropdown"
This is the third place where we found the error. Can we do a fix to apply every place we are using this dropdown?
![screen shot 2015-08-13 at 12 11 34](https://cloud.githubusercontent.com/assets/3865844/9246502/9ca6af94-41b4-11e5-9a29-3616018c6787.png)

[2015-08-13 09:15] danmihaila commented on #3402
Places to test&check:
- /dataset
- /search
- /organization/innago
- /organization/wfp  - custom org
- /group/mli - custom loc
- /group/afg
- /ebola
- /dashboard - activity stream
- /dashboard/datasets
- /dashboard/organizations
- /dashboard/groups

[2015-08-13 12:43] danmihaila commented on #3393
this is related to removing "All" tab - issue #3137
the change is under this commit (belonging to another issue) https://github.com/OCHA-DAP/hdx-ckan/commit/cf53f00c25404d390e680f416127d43c9cc6f3fa
also this commit is a wrong fix: https://github.com/OCHA-DAP/hdx-ckan/commit/bfabd20f10f3cab13bc0e357be2a9ce7ddf3c9f7
@mbellotti I am trying to fix it

[2015-08-13 13:28] #3378 closed, assigned to aalecs

[2015-08-13 13:55] danmihaila commented on #3165
@aalecs I think this damaged the search listing like mali page
![screen shot 2015-08-13 at 16 55 15](https://cloud.githubusercontent.com/assets/3865844/9251480/188a47c0-41dc-11e5-8d8b-c9aa477266b3.png)

[2015-08-13 13:59] aalecs commented on #3165
Yeah ... Why did we prefix all the dataset lists with "search-list" in order to fix an icon?
I think we should revert changes

[2015-08-13 21:30] teodorescuserban opened #3409 "mapbox issues"
mapbox tiles being fetched directly from mapbox on org pages (at least)

this is on v0.11.1 AND v0.11.3 so it is not from this current deployment

it's just happens that calls to https://www.mapbox.com are refused now so no maps for custom org pages

![mapbox-reloaded](https://cloud.githubusercontent.com/assets/1542984/9262141/50f6831e-421b-11e5-9023-7c14a99e8d4b.png)

Assinging @aalecs for sortin

[2015-08-13 21:48] teodorescuserban commented on #3409
Neither country pages don't work

[2015-08-13 21:49] teodorescuserban commented on #3409
tagging @amcguire62 @cjhendrix @danmihaila

[2015-08-13 22:04] teodorescuserban opened #3410 "http to https and back nightmare"
Not sure if this is from last deploy or not, but it looks like the geopreview resources are linked to https.

Every time you trigger geopreview, the error below will happen:

[code]

because there is no one listening on the private ip on port 443.

[2015-08-13 22:40] teodorescuserban commented on #3410
Fixed.
I had to make our nginx to listens to our internal IP on port 443.

[2015-08-13 22:40] #3410 closed, assigned to teodorescuserban

[2015-08-13 22:53] teodorescuserban commented on #3409
Fixed.
What happened:
1. mapbox url not working
2. I misread the dev tool in chrome - see attached screenshot

So the error mesage came indeed from mapbox but propagated through our nginx.
This mean that there is NO ISSUE WITH OUR CODE.

I fixed this by rolling back to the configuration we had a few weeks ago (when using http://b.tiles.mapbox.com instead of http://www.mapbox.com)

Attaching a scre

[2015-08-13 22:53] #3409 closed, assigned to aalecs

[2015-08-14 07:56] #3250 closed, assigned to aalecs

[2015-08-14 08:13] #3165 closed, assigned to danmihaila

[2015-08-14 08:16] #3392 closed, assigned to danmihaila

[2015-08-14 08:19] #3393 closed, assigned to danmihaila

[2015-08-14 08:22] #2361 closed, assigned to aalecs

[2015-08-14 08:24] danmihaila commented on #3284
moving this one to sprint 63

[2015-08-14 08:25] cjhendrix opened #3412 "Add Member Modal: part of frame missing from dropdown"
It's the same on the Role dropdown.    Same in both FF and Chrome.

![image](https://cloud.githubusercontent.com/assets/1654485/9270041/cd921c46-426e-11e5-915e-96dfd5caa78f.png)

[2015-08-14 08:27] cjhendrix opened #3413 "Create Dataset: misalignment"
Maybe it was always this way, but I don't think so.

![image](https://cloud.githubusercontent.com/assets/1654485/9270063/01b8ad5a-426f-11e5-9654-0331cfa1305f.png)

[2015-08-14 08:30] danmihaila commented on #3412
this will be part of the refactoring related to all modals. I hope we will include in sprint 64 mockups from @yumiendo
Pinging @aalecs to be aware

[2015-08-14 08:37] aalecs commented on #3112
ex: https://data.hdx.rwlabs.org/dataset/nepal-health-facilities-cod

[2015-08-14 08:39] danmihaila commented on #3384
pinging @yumiendo in case she has extra information about this

[2015-08-14 08:42] cjhendrix opened #3414 "Geopreview: layer picker not shown"
https://data.hdx.rwlabs.org/dataset/lsib-lines-eurasia-and-oceania-detailed
https://data.hdx.rwlabs.org/api/3/action/package_show?id=lsib-lines-eurasia-and-oceania-detailed

I triggered geo preview on these resources one by one.  Note that the last resource is a "network link" KML.

After triggering geo preview on all 4, I was refreshing the page.  I saw the layer picker with the first two, but th

[2015-08-14 09:01] danmihaila commented on #3262
@cjhendrix confirmed this is ok. closing it

[2015-08-14 09:01] #3262 closed, assigned to teodorescuserban

[2015-08-14 09:05] cjhendrix commented on #3260
A few more casualties of this one:
https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=lsib-simplified-shoreline
https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=lsib-polygons-eurasia-and-oceania-simplified
https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=lsib-polygons-africa-and-americas-simplified
https://test-data.hdx.rwlabs.org/dataset/syria-border-crossings

[2015-08-14 10:59] danmihaila commented on #3069
right now the big number is the total of tags. it was a bug in displaying that one, I hope it is ok now

[2015-08-14 14:18] mbellotti commented on #3342
https://github.com/OCHA-DAP/hdx-ckan/commit/a868f36829cb8ae71108311573260d617ae8e38e

[2015-08-14 21:45] teodorescuserban commented on #2835
What plugin should be enable and is not?
prod.ini inherit all plugins from common-config.ini.txt

What view should I create?

tagging @cjhendrix and @alexandru-m-g

[code]

[2015-08-17 09:26] #3069 closed, assigned to danmihaila

[2015-08-17 09:27] #3236 closed, assigned to aalecs

[2015-08-17 09:27] #3384 closed, assigned to aalecs

[2015-08-17 23:25] alexandru-m-g commented on #3237
1.  I was able to complete a big upload on testing. Check https://test-data.hdx.rwlabs.org/dataset/geotest01
2.  The geoprocessing doesn't really start ( on test). Since 'test' is on blackmesh now I don't have access to debug it myself. I'll need help from @teodorescuserban .
3.  I've committed a small fix: that's related to the "shape_info" attribute not being populated in some cases for new reso

[2015-08-18 00:15] mbellotti commented on #3377
We can close this one I think?

[2015-08-18 00:15] #3377 closed, assigned to mbellotti

[2015-08-18 11:37] alexandru-m-g commented on #3260
@cjhendrix @teodorescuserban
All the examples from the comment above are from staging so they might be related to the fact that the geopreview transformation doesn't seem to work on staging. ( related to #3237 )

[2015-08-18 21:47] mbellotti commented on #3264
So what's the next steps here? It's still assigned to me, but it sounds like this can be fixed more easily on the data team side?

[2015-08-18 21:48] #2542 closed, assigned to mbellotti

[2015-08-19 11:59] aalecs opened #3419 "Create dataset update frequency field"
In order for the data team to be able to create the dashboards where they monitor datasets we need a field in which they can update via API the number of days in which a dataset is being updated.

More info here: https://docs.google.com/document/d/1g8hAwxZoqageggtJAdkTKwQIGHUDSajNfj85JkkTpEU/edit#

[2015-08-19 12:55] aalecs opened #3420 "EA Page changes"
- new visualisation from Simon
- backend change to be able to configure it
- configuration of the page

[2015-08-19 17:42] alexandru-m-g commented on #3419
A field with the name 'data_update_frequency'  was added.

A _POST_ request to the following API `/api/action/hdx_package_update_metadata`
with `id=[dataset_id]` and `data_update_frequency=7` would update just this field of a specified dataset

[2015-08-19 17:42] #3419 closed, assigned to alexandru-m-g

[2015-08-19 21:32] teodorescuserban commented on #3260
**NOTE: This only affects staging**

After some fun hours of debugging with @alexandru-m-g and some changes in the gislayer code (by @alexandru-m-g ) we reach the following conclusions:
1. on python 2.7.6 (stock ubuntu 14.04) geopreview works if `VERIFIY_CKAN_SSL` is `False`
2. on python 2.7.10 (installed with pyenv) and rqworker started manually it works

In the process the following tests / chan

[2015-08-20 09:03] #3263 closed, assigned to aalecs

[2015-08-20 09:03] #3383 closed, assigned to aalecs

[2015-08-20 10:47] teodorescuserban commented on #3208
@luiscape is this still an issue?

[2015-08-20 10:50] teodorescuserban commented on #3068
Is this implemented to prod yet?
If so, I should reindex solr.
@alexandru-m-g ?

[2015-08-20 10:57] alexandru-m-g commented on #3068
@teodorescuserban I think this is already on production. So a reindexing is needed (if it wasn't already done at upgrade time)

[2015-08-20 12:13] teodorescuserban commented on #3068
Thanks I will.

În Joi, 20 aug. 2015 la 13:58, Alexandru Gartner notifications@github.com
a scris:

[2015-08-20 14:57] luiscape commented on #3208
@teodorescuserban issue seems to be solved. I see a magnifying icon on both Ubuntu and Mac OS.

[2015-08-20 15:52] teodorescuserban opened #3423 "map tiles have a delay."
Reported by @amcguire62

[2015-08-20 15:53] teodorescuserban commented on #3423
Apparently an aftermath from #3390

[2015-08-20 16:04] alexandru-m-g commented on #3260
@cjhendrix the causes for the latest casualties where fixed.

[2015-08-20 16:04] #3260 closed, assigned to alexandru-m-g

[2015-08-20 16:09] teodorescuserban commented on #3423
Fixed by enablilng `crisis-tiles` caching in prod nginx.
Also added `X-Nginx-Cache` header.

[2015-08-20 16:09] #3423 closed, assigned to teodorescuserban

[2015-08-20 16:12] alexandru-m-g commented on #3237
(2) was fixed in the meantime and I managed to upload and see a preview of a big geojson file so I'm closing this one.

[2015-08-20 16:12] #3237 closed, assigned to alexandru-m-g

[2015-08-21 08:24] teodorescuserban commented on #3303
@alexandru-m-g fixed his code - now the gisworker will remove the temp files related to a finished job.
I enabled the cron to clean up any other mess.
Also, we are now using host volume for the gisworker temp folder.
Closing.

[2015-08-21 08:24] #3303 closed, assigned to teodorescuserban

[2015-08-21 08:25] teodorescuserban commented on #2835
Bumping this.
@alexandru-m-g ?

[2015-08-21 10:00] #3389 closed, assigned to aalecs

[2015-08-21 10:00] #3388 closed, assigned to mbellotti

[2015-08-21 10:03] #3381 closed, assigned to mbellotti

[2015-08-21 12:17] luiscape commented on #3303
:+1:

[2015-08-21 12:22] aalecs opened #3428 "Org page controller - featured items"
Basically for an MVP we need a way for the data team to be able to select the featured orgs and to modify the controller to pull that data into the page.

In the org edit page we need a checkbox to mark an org as featured and possibly other fields:
- either: upload field where we can put a preview screenshot of the org page
- either: text field or other way of specifying from where inside the org

[2015-08-21 12:24] aalecs opened #3429 "Org page - featured section ui"
Adapt UI of org page to include the featured section. Specs:

![org_withimage](https://cloud.githubusercontent.com/assets/5638491/9408176/d5dbb970-4818-11e5-920f-43652c02feba.png)

[2015-08-21 12:36] aalecs opened #3430 "Backend solution to save part of a rendered page as an image"
Experiment with Phantom.JS and see if we can create a reliable solution that can save part of a rendered page, including visualisations made in JS, as an image.
This can be used to complete the "Save as image" feature of the embeddable visualisations and for the featured organisations section of the orgs page (#3428)

[2015-08-21 13:47] alexandru-m-g commented on #2835
@teodorescuserban I'm looking into this. More info later :)

[2015-08-21 20:26] alexandru-m-g opened #3431 "Layer metadata not updated by spatial server"
Currently we take the list of fields ( properties ) that the geometries have via an API call to spatial.
But when a geo-file is updated and it's fields are changed spatial doesn't refresh this information (until it is restarted) so a call to the API returns the old values. This  can lead to errors.

[2015-08-21 22:30] alexandru-m-g commented on #2835
@teodorescuserban
Although the text_view plugin was enabled there were 2 issues:
1.  there were no default views in common config so the default views - views that are added by default to a resource if no specific views are selected - were `image_view recline_view`. The following configuration entry solved this: `ckan.views.default_views = image_view recline_view text_view`
2.  that fixed the prob

[2015-08-22 19:18] teodorescuserban commented on #2835
Ok. So what are the next steps, @alexandru-m-g ?
Youmake changes to common-config on next deployment?
Should I change anything in prod.ini?

[2015-08-24 08:03] #3396 closed, assigned to alexandru-m-g

[2015-08-24 08:42] aalecs commented on #3376
Can't reproduce the issue, please reopen if still a problem.

[2015-08-24 08:42] #3376 closed, assigned to danmihaila

[2015-08-24 08:51] aalecs opened #3432 "Org admins can undo the settings of a custom organisations"
An org admin can undo the settings for a custom org. The following steps will reproduce this issue
1. Login as a sys admin and configure a custom org page for a chosen organisation
2. Add an ordinary user account (that you have the password for) as an admin of the chosen organisation
3. Open a new incognito window and log into HDX using the ordinary user account in step 2
4. Find the chosen organi

[2015-08-24 09:53] alexandru-m-g commented on #2835
@teodorescuserban There's no need to change anything in prod.ini. I've made the changes in common-config.

One thing I forgot to mention though. We should re-run the following command when the new code is deployed: `paster views create recline_view text_view -c /srv/prod.ini`

[2015-08-24 10:14] teodorescuserban commented on #2835
Ok.
Just let me know when the code will be deployed.

În Lun, 24 aug. 2015 la 12:53, Alexandru Gartner notifications@github.com
a scris:

[2015-08-24 10:35] alexandru-m-g opened #3434 "Nosetest failing on"
#
## FAIL: ckanext.hdx_search.tests.test_search_results.test_search_results.TestHDXSearchResults.test_hdx_search_results

Traceback (most recent call last):
 File "/usr/local/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
   self.test(*self.arg)
 File "/srv/ckan/ckanext-hdx_search/ckanext/hdx_search/tests/test_search_results/test_search_results.py", line 57, in test_hdx_search_res

[2015-08-24 10:39] alexandru-m-g commented on #3434
I reverted part of this comit: https://github.com/OCHA-DAP/hdx-ckan/commit/279c4bb2e5f689c2e549fe06236bfdc9a880e4c6

Not sure why the dataset_count was expected to be 3. I think it should be 1 as there's only one test dataset that matches the query AFAIK.

[2015-08-24 10:39] #3434 closed, assigned to alexandru-m-g

[2015-08-24 12:16] teodorescuserban commented on #2835
tested on stag.
thank you @alexandru-m-g
Closing.

[2015-08-24 12:16] #2835 closed, assigned to teodorescuserban

[2015-08-24 13:12] mbellotti commented on #3274
We didn't have feedback in time so we're using the styles from onboarding

[2015-08-24 13:49] teodorescuserban commented on #3146
So remove user specific cookie when logout.

[2015-08-24 13:51] aalecs opened #3442 "Setup Jenkins server for HDX"

[2015-08-24 14:09] alexandru-m-g commented on #2970
Based on @teodorescuserban idea about filtering by "cod" here is another idea: What if ( in case the word "cod" appears in the search query ) we show a suggestion like **"do you wanna filter by label 'cod' ?"**.

[2015-08-24 16:51] alexandru-m-g commented on #3402
Tested:
- /dataset?sort=title_case_insensitive+asc -- works
- /search?q=health&sort=title_case_insensitive+desc -- works
- /organization/wfp?sort=title_case_insensitive+asc -- works
- /organization/innago?sort=title_string+desc -- works
- /group/mli - no sorting option for custom loc
- /group/afg?sort=title_case_insensitive+desc -- works
- /ebola - no sorting option
- /dashboard -> fixed filter in

[2015-08-24 16:52] #3402 closed, assigned to alexandru-m-g

[2015-08-24 20:15] mbellotti commented on #3318
So, yes, this is a problem with ckan core, although nothing to do with the issue Serban highlighted. Munge_filename does not allow underscores. There doesn't seem to be any real reason for this that I can think of ... it looks like someone just forgot to include underscores in the regex of acceptable characters.  I'm waiting on feedback from the core team just to be sure.

If they okay it I will s

[2015-08-25 06:20] teodorescuserban commented on #3318
The whole thing might start from what dns valid characters are (letters,
numbers, dash and dot).
Slugify usually strips out the dot too, as well as lower() all caps.

Lun, 24 aug. 2015, 23:15, mbellotti notifications@github.com a scris:

[2015-08-25 08:29] #3385 closed, assigned to aalecs

[2015-08-25 14:10] #3420 closed, assigned to aalecs

[2015-08-26 03:24] mbellotti commented on #3394
This was actually never a popup, but it was broken largely because it was on of the few templates we weren't overriding ;)

[2015-08-26 08:33] danmihaila commented on #3428
I will not go with a checkbox as we can face this situation:
- long list of organizations (200)
- data team will have 3 checkboxes already checked but for organizations found on different pages.
  I suggest we display the full list of organization and use 2 types of icons (featured/not featured). A sysadmin could click and enable an organization as featured but only if they is an empty slot.
  Thi

[2015-08-26 09:19] aalecs commented on #3371
On staging if you click any option in the predictive dropdown it will just close the list and won't do anything. Initial functionality is lost, reopening issue...

[2015-08-26 11:20] danmihaila commented on #3208
ok, closing it.
thanks @teodorescuserban and @luiscape

[2015-08-26 11:20] #3208 closed, assigned to nobody

[2015-08-26 11:47] aalecs commented on #3264
@takavarasha Can you advise? Thanks!

[2015-08-26 12:20] takavarasha commented on #3264
We will work on this but it is low priority for the data team at the moment.

Before launch in 2014, there was a script that I ran to update the description field on all curated datasets. The script added the source of the dataset to the description field for all datasets. It did not work on the licence and it affected all datasets not just FTS country centric. I do not think that the script was t

[2015-08-26 12:26] danmihaila commented on #3264
@aalecs we should move this one to Backlog and @takavarasha should get back to us when they addressed this one.

[2015-08-26 13:11] alexandru-m-g opened #3450 "Investigate more about initializing custom models"
We should investigate more about initializing custom models like `validate_tokens` and `user_extra`.
I'm referring here to how they are initialized in tests and cli.

I'm providing a link to how it was done for ckan_pages extension: https://github.com/ckan/ckanext-pages/blob/master/ckanext/pages/db.py

This is to deal with errors like `InvalidRequestError: Table 'validation_tokens' is already defi

[2015-08-26 13:13] aalecs commented on #3371
Please fix on a separate branch from dev so we can make a different pull request, thanks!

[2015-08-26 13:19] mbellotti commented on #3371
A separate branch from dev or a separate branch from marianne_sprint63? I'm
literally just about to push the fix O.o

On Wed, Aug 26, 2015 at 9:13 AM, Alexandru Artimon <notifications@github.com

[2015-08-26 13:21] aalecs commented on #3371
I meant a new branch out of dev just for this fix. Thanks

[2015-08-26 13:46] danmihaila opened #3453 "User: strange behaviour"
- [ ] How to reproduce
  on staging there is a difference between:
  https://test-data.hdx.rwlabs.org/user/  -> profile of current user if logged in or 404 if not logged in
  and
  https://test-data.hdx.rwlabs.org/user  -> list of users
  Both should go to the list of users
- [ ] Nosetest: go to both urls and check the content.

[2015-08-26 13:47] aalecs commented on #3371
Fixed, thanks!

[2015-08-26 13:47] #3371 closed, assigned to mbellotti

[2015-08-26 14:06] aalecs commented on #3284
Reopening this for sprint 64 here is the screenshot of the problem:
![83669ece-35dc-11e5-8e48-2f76eb649a5a](https://cloud.githubusercontent.com/assets/5638491/9495538/b1031d46-4c14-11e5-9c09-2d0aa686f873.png)

[2015-08-27 07:39] danmihaila opened #3457 "Range date of a dataset"
- [ ] how to reproduce it
- Given dataset with a range in "date of dataset"
  ![1](https://cloud.githubusercontent.com/assets/3865844/9515103/c99bbd5c-4ca7-11e5-8d77-cf752c33b015.jpg)
- I would like to edit one of the fields. In this case, lets assume I want to change the source of the dataset. I press, EDIT
  ![2](https://cloud.githubusercontent.com/assets/3865844/9515110/d78e6a90-4ca7-11e5-9b30-

[2015-08-27 08:18] danmihaila opened #3458 "Organization edit: description is not checked for validation anymore"
- [ ] Try to edit an organization
  https://test-data.hdx.rwlabs.org/organization/edit/innago
  with an empty description.
  Organization will be saved with no warning even if description is emtpy.
- [ ] Nosetest: check all the fields for an organization that are mandatory.

[2015-08-27 08:50] danmihaila commented on #3457
@alexandru-m-g will do it as hotfix

[2015-08-27 08:52] danmihaila commented on #3395
I think we should postpone this until we have a confirmation box from @yumiendo . We might have it next week probably based on onboarding widgets

[2015-08-27 08:54] danmihaila opened #3459 "Onboarding improvements"
Right now all the onboarding widgets are loading on all pages even if user is logged in or not. Same, they are retrieving data even if it is not needed.
Improve this by trigerring the load only when click on sign in, sign out or register.

[2015-08-27 09:12] danmihaila commented on #3432
Nosetest: check on page if there is any hidden input and what is the value. On server side check the action for update organizations.
ping @mbellotti to be aware of this comment

[2015-08-27 09:17] aalecs commented on #3458
Also, just discovered on staging that the description field is not saved. Steps:
- edit INNAGO
- change description to "Test"
- save org
- check org page -> no "Test" as description
- edit org -> no "Test" in description field

[2015-08-27 09:29] danmihaila commented on #3116
@pjdufour can you check now https://data.hdx.rwlabs.org/search?q=yemen ?

[2015-08-27 12:04] #2990 closed, assigned to nobody

[2015-08-27 12:04] danmihaila commented on #2987
@alexandru-m-g is this still an issue?

[2015-08-27 12:21] danmihaila commented on #2965
closing this one

[2015-08-27 12:21] #2965 closed, assigned to nobody

[2015-08-27 12:21] danmihaila commented on #2960
@takavarasha closing this one

[2015-08-27 12:21] #2960 closed, assigned to nobody

[2015-08-27 12:22] danmihaila commented on #2953
this is working now, closing it

[2015-08-27 12:22] #2953 closed, assigned to nobody

[2015-08-27 12:23] danmihaila commented on #2922
duplicated by https://github.com/OCHA-DAP/hdx-ckan/issues/3394, closing this one

[2015-08-27 12:23] #2922 closed, assigned to nobody

[2015-08-27 12:24] danmihaila commented on #2919
@takavarasha is this still an issue or we can close it?

[2015-08-27 12:26] danmihaila commented on #2885
@aalecs can you please check if we merged the last change from Simon and close this one?

[2015-08-27 12:33] danmihaila commented on #2801
ping @yumiendo @cjhendrix @amcguire62 for more ideas/comments

[2015-08-27 12:35] danmihaila commented on #2790
We have right now the option 25|50|100 on /organization page which could be implemented on /search page.
@yumiendo  @cjhendrix is this something we want to implement?

[2015-08-27 12:35] danmihaila commented on #2764
ping @cjhendrix  for more comments about this

[2015-08-27 12:37] danmihaila commented on #2761
I am not sure we should duplicate the url format. I assume soon we will have a shorter url and we will have to review most of the url like /group /organization /user . Basically this is the default url from CKAN

[2015-08-27 12:38] danmihaila commented on #2739
@aalecs can you check if this is still an issue and close it?

[2015-08-27 12:40] danmihaila commented on #2561
@aalecs could we add a small padding and close this one?

[2015-08-27 12:42] danmihaila commented on #2508
@cjhendrix I can not reproduce this issue anymore
checking https://data.hdx.rwlabs.org/dataset/evolution-of-malian-refugees-since-september-2012/resource/88eb242f-f305-4ded-a51a-b0da18b6826d
and
https://data.hdx.rwlabs.org/dataset/administrative-boundaries-cod-mli
looks that they are working well.
Closing this one

[2015-08-27 12:42] #2508 closed, assigned to nobody

[2015-08-27 12:42] alexandru-m-g commented on #2987
@danmihaila this was never assigned. Probably a js issue ( but could be more deep ) . So still an issue.

[2015-08-27 12:43] danmihaila commented on #2558
ping @cjhendrix for more information. I think this should be closed...

[2015-08-27 12:43] danmihaila commented on #2541
ping @cjhendrix for more details

[2015-08-27 12:52] danmihaila commented on #2910
we have this one in onboarding, closing this issue.
thanks @luiscape for mentioning it

[2015-08-27 12:52] #2910 closed, assigned to nobody

[2015-08-27 12:53] danmihaila commented on #2893
@aalecs is this still an issue after our upgrade?

[2015-08-27 12:58] danmihaila commented on #2892
@cjhendrix is this still an issue? I can not reproduce it
@alexandru-m-g @teodorescuserban can you test on your beloved android phones? :)

[2015-08-27 13:01] danmihaila commented on #2540
@aalecs pls add a nosetest for this one and lets close it

[2015-08-27 13:09] danmihaila commented on #2365
i think this is fixed, closing it

[2015-08-27 13:09] #2365 closed, assigned to nobody

[2015-08-27 13:10] danmihaila commented on #2362
@cjhendrix I think we already have this feature. can we close this one?
![screen shot 2015-08-27 at 16 10 16](https://cloud.githubusercontent.com/assets/3865844/9521215/2a730986-4cd6-11e5-82fc-5f8b4c45f24c.png)

[2015-08-27 13:11] danmihaila commented on #2456
I think we already have this one, @teodorescuserban is doing the copy of filestore. closing it

[2015-08-27 13:11] #2456 closed, assigned to nobody

[2015-08-27 13:12] danmihaila commented on #2440
ping @cjhendrix

[2015-08-27 13:13] danmihaila commented on #2380
ping @yumiendo for comments

[2015-08-27 13:14] danmihaila commented on #2337
@cjhendrix we should close this one

[2015-08-27 13:15] #2331 closed, assigned to nobody

[2015-08-27 13:15] #2322 closed, assigned to nobody

[2015-08-27 13:16] danmihaila commented on #2320
@cjhendrix what to do about this one? is this a question ?

[2015-08-27 13:17] danmihaila commented on #2313
@aalecs is this still an issue?

[2015-08-27 13:18] danmihaila commented on #2289
I think this should have a higher priority

[2015-08-27 13:19] danmihaila commented on #2270
@luiscape @amcguire62 lets find a time to chat about this one

[2015-08-27 13:20] danmihaila commented on #2269
@luiscape can you double check now? if they are not the same lets change the blog
pinging @amcguire62 to be aware

[2015-08-27 13:21] danmihaila commented on #2265
@teodorescuserban I think we have a 404 now. can you check and close this one?

[2015-08-27 13:30] mbellotti commented on #3428
Why don't we go a little simpler and draw the pool of featured orgs from those marked as custom? Presumably these are the orgs we'd most like to feature anyway.

[2015-08-27 13:39] danmihaila commented on #2232
This needs a bit of refactoring and cleaning also in the center of the page
![screen shot 2015-08-27 at 16 38 52](https://cloud.githubusercontent.com/assets/3865844/9521909/32684f1c-4cda-11e5-9605-170cc4ae4097.png)

[2015-08-27 13:40] danmihaila commented on #2229
@yumiendo is it ok like this or it should be centered?

[2015-08-27 13:41] danmihaila commented on #2227
@yumiendo and @cjhendrix what do you think about the proposal? should we implement or close this issue?

[2015-08-27 13:42] #2028 closed

[2015-08-27 13:43] #2081 closed

[2015-08-27 13:43] #2116 closed

[2015-08-27 13:44] danmihaila commented on #2118
@mbellotti I think we have nosetests, but can you please confirm?

[2015-08-27 13:44] danmihaila commented on #2195
@cjhendrix is this still an issue?

[2015-08-27 13:45] danmihaila commented on #2206
closing it but ping @cjhendrix as we had a big progress on COD migration

[2015-08-27 13:45] #2206 closed

[2015-08-27 13:46] takavarasha commented on #2919
Please close this

[2015-08-27 13:47] #2919 closed, assigned to takavarasha

[2015-08-27 15:16] danmihaila commented on #2125
ping @yumiendo : is this related to onboarding? do we need it?

[2015-08-27 15:18] luiscape commented on #2269
Tracking codes still seem to be different. See here:
- **blog**: http://docs.hdx.rwlabs.org/ (see page source).
- **ckan**: https://goo.gl/f2vZgq

[2015-08-27 15:21] danmihaila commented on #2269
@luiscape can we change the blog entry?

[2015-08-27 15:22] luiscape commented on #2269
@danmihaila should I change it? I can. Serban has to lift the the write permissions of the blog.

[2015-08-27 15:23] luiscape commented on #2270
@danmihaila @amcguire62 Except for Monday and Tuesday morning, I am available anytime next week.

[2015-08-27 15:23] danmihaila commented on #2269
@teodorescuserban @luiscape can you coordinate?

[2015-08-27 15:25] luiscape commented on #2269
@teodorescuserban Ping me on Skype / Slack. This should be a quick (i.e. > 15 mins) fix.

[2015-08-27 15:44] luiscape commented on #2146
@cjhendrix, @alexandru-m-g, @JavierTeran, @takavarasha If I am not wrong, I believe an old requirement was precisely to _remove_ those countries from the original list, even if CPS contained data.

Assuming I am right, is this still the requirement or did we change? I would suggest closing this issue if we haven't changed the original requirement.

[2015-08-27 15:50] #3318 closed, assigned to mbellotti

[2015-08-27 15:50] #3274 closed, assigned to mbellotti

[2015-08-27 17:19] amcguire62 commented on #2146
@danmihaila please confirm our data source for countries - and could we share with Datateam so they can update make sure acceptable and then can we reimport back into hdx.

[2015-08-27 17:27] JavierTeran commented on #2146
Agree with Luis. We agreed to only use the m49 country definition.

[2015-08-27 17:36] luiscape commented on #2146
The M49 list from the UN Statistics Division actually contain the countries above. Maybe that should be the de facto list of countries, country names, and ISO3 country codes.

Here is the list for reference: http://unstats.un.org/unsd/methods/m49/m49alpha.htm

[2015-08-27 18:20] mbellotti commented on #2118
I believe we have for everything we've modified https://github.com/OCHA-DAP/hdx-ckan/tree/dev/ckanext-hdx_package/ckanext/hdx_package/tests/test_actions

CKAN core covers the rest.

[2015-08-27 19:43] teodorescuserban commented on #2269
Please make sure you double check what exactly is the code we need to change.
Is it the blog one or the ckan one?

Please note the only difference is the last digit.

I can change the blog GA code in 20 seconds but let's make surte there is no impact in the GA history

[2015-08-27 20:21] teodorescuserban commented on #2269
After a talk with @luiscape , I changed the blog GA code.
While at it I also updated the blog and the plugins.
Closing.

[2015-08-27 20:21] #2269 closed, assigned to luiscape

[2015-08-28 09:55] alexandru-m-g commented on #3457
This is fixed, closing. Didn't add a nosetest as the bug was entirely js.

[2015-08-28 09:55] #3457 closed, assigned to alexandru-m-g

[2015-08-28 11:04] alexandru-m-g opened #3463 "the /monitor url needs to have authentication"
Can we add HTTP authentication to /monitor . It's important. Should be done for all servers: prod, stag,feature,dev

[2015-08-28 11:50] teodorescuserban commented on #3463
We have the user agent auth. Dont we?

Vin, 28 aug. 2015, 14:04, Alexandru Gartner notifications@github.com a
scris:

[2015-08-28 11:56] alexandru-m-g commented on #3463
I seem to be able to connect to: data.hdx.rwlabs.org/monitor without any special user agent or http auth

[2015-08-28 12:57] teodorescuserban commented on #3463
Fixed on prod. I will propagate the changes.
Closing.

[2015-08-28 12:57] #3463 closed, assigned to teodorescuserban

[2015-08-30 00:26] alexandru-m-g opened #3466 "Remove deleted geo-resources from postgis"
We need to identify and remove from postgis the resources that have been deleted from CKAN.

[2015-08-30 06:02] teodorescuserban commented on #3466
Lets talk.

Dum, 30 aug. 2015, 03:26, Alexandru Gartner notifications@github.com a
scris:

[2015-08-31 05:02] mbellotti commented on #3458
So far I haven't been able to reproduce either of these problems. Temporary quirk in staging?

[2015-08-31 09:07] cjhendrix commented on #2892
Yes, still and issue, and still low priority.
![image](https://cloud.githubusercontent.com/assets/1654485/9575453/3f294a5a-4fd0-11e5-9b24-4a870c5602f8.png)

[2015-08-31 09:12] cjhendrix commented on #2790
I don't see it on /organization?  Maybe not on stag yet?  But if Yumi and Sarah are happy with how it looks there, it makes sense to implement on all search results, I think.

[2015-08-31 09:15] danmihaila commented on #2892
I think it is working only for pages that you keep the regular zoom. WFP has more datasets so the page is long and it is working, sngo is quite short.
We have to decide if we want to show the logo if we zoom in and scroll down.
pinging @aalecs for feedback

[2015-08-31 09:15] danmihaila commented on #2790
assigned to @yumiendo for comments

[2015-08-31 09:19] cjhendrix commented on #2764
Sorry, that issue wasn't very clear.   I've updated the description.

[2015-08-31 09:27] danmihaila commented on #2764
I saw there are couple of resources with long description which make difficult to read. assigned to @yumiendo to give us an idea what should be the best approach:
- display the whole description
- display more lines and keep the more/less functionality
- keep like it is now

[2015-08-31 09:31] aalecs commented on #2585
@cjhendrix I wasn't able to reproduce the issue, but I looked into the code and why it could have happened.

If the date field coming from the datastore has the type "text" instead of "timestamp", then we're not formatting the field.
Right now the format is in this style: "Jan 14, 2015".

[2015-08-31 09:31] #2585 closed, assigned to aalecs

[2015-08-31 09:31] cjhendrix commented on #2764
The use case here is for when a user is setting up a dataset with many resources.  Often you want to copy/paste between resources since some of the description text will be the same.  It's a pain to have to click all the "more" buttons every after each edit when this page is reloaded.    Again, low priority, but useful to contributors.

[2015-08-31 09:50] cjhendrix commented on #2558
Sorry, wrong screenshot.  Fixed above.

It's still an issue.

[2015-08-31 09:51] cjhendrix commented on #2541
Yes, this one is with Sarah.  But it is tied to finishing the user2user communication functionality.

[2015-08-31 10:00] cjhendrix opened #3468 "Create/Edit Custom Org: minor css issue"
![image](https://cloud.githubusercontent.com/assets/1654485/9576413/d64f7ad8-4fd7-11e5-8daf-187ee67c6775.png)

[2015-08-31 10:02] cjhendrix commented on #2440
It's done.  Closing.

[2015-08-31 10:02] #2440 closed, assigned to nobody

[2015-08-31 10:05] cjhendrix commented on #2362
No, we don't have it yet, but the functionality you screencapped is what I am suggesting we add to custom org.

![image](https://cloud.githubusercontent.com/assets/1654485/9576496/717e03da-4fd8-11e5-908f-959f37130b41.png)