[2015-03-11 08:56] danmihaila commented on #2347
@alexandru-m-g can you check if that code exists somewhere in core Ckan?

[2015-03-11 09:28] teodorescuserban commented on #2325
After a call with @alexandru-m-g these are the changes of ckan image:
- integrating the second solution in the hdxckantool, something like `hdxckantool less compile`.
- adding the basepath lines to prod.ini template
- adding `hdx.less_compile.onstartup = False` in prod.ini template
- adding `hdxckantool less compile` on start script of the ckan service (we can comment it out once we see it takes t

[2015-03-11 10:49] #2403 closed, assigned to danmihaila

[2015-03-11 10:53] alexandru-m-g commented on #2347
I checked, couldn't find it.

[2015-03-11 10:59] danmihaila commented on #2347
my advice is to hide it, at least until @cjhendrix  will confirm.
Pinging also @amcguire62  and @ochadataproject for opinion about "Request link" from @alexandru-m-g 's screenshot

[2015-03-11 11:09] alexandru-m-g commented on #2347
As mentioned in my previous comment, that's what I did. The left part of the screenshot does not show.

[2015-03-11 11:18] #2363 closed, assigned to danmihaila

[2015-03-11 11:23] alexandru-m-g commented on #2360
@cjhendrix @danmihaila
I think it's a bit unclear what should happen with the so called "unnecessary fields" from the frog slideshow ( notes & format ) when a new version is uploaded ( or link is changed ).
Keeping the old values might not be a good idea as  the new version ( of the file ) might be a different format.

Maybe we should just have an "edit" button that takes the user to the "resource

[2015-03-11 11:30] danmihaila commented on #2360
My advice is also to have "Edit" button that will redirect user to "resource edit" page.
I agree with @alexandru-m-g that if we have "excel" file with "xls" format and we upload a "csv" file as an update the user will not be able to change that format.
I also agree, that the update/edit button is very useful and save a lot of clicks.
Pinging also @amcguire62 and @ochadataproject about this issue

[2015-03-11 11:43] teodorescuserban commented on #2392
Done. See also my comments on #2325.

[2015-03-11 11:43] #2392 closed, assigned to teodorescuserban

[2015-03-11 11:43] teodorescuserban commented on #2325
Done.
Please make sure you pull the latest ckan image.

[2015-03-11 11:43] #2325 closed, assigned to alexandru-m-g

[2015-03-13 01:37] mbellotti commented on #2412
Sorry I should have asked this before, but what should be there instead of the Edit link?

[2015-03-13 11:29] danmihaila commented on #2412
I saw that on our regular org page edit (prod) the link is visible and it looks ok. Probably we have a problem with our style.
I don't see any reason to keep that "Edit" link. Can you please hide it together with the horizontal line?

[2015-03-13 11:42] alexandru-m-g commented on #2379
More info can be found here: https://docs.google.com/document/d/15ibzZZ8sI5eT8HbQM-MnFphjysrLTkwwaOFQj_FmpJI

[2015-03-13 11:44] danmihaila commented on #2379
Excellent @alexandru-m-g
Pinging @amcguire62 and @cjhendrix to have also a look over this doc

[2015-03-13 12:55] danmihaila commented on #2387
not completed yet. I will update the req and move it to next sprint

[2015-03-13 14:01] danmihaila opened #2419 "Custom org page: template updates - new mockups"
Update the custom org page templates based on this wireframes:
https://drive.google.com/drive/#folders/0B16fOsnmtif0ZGdaa3ZTT3ZqZ00/0B16fOsnmtif0YVZNcmJzRGY5NWc/0Bw5omaSZ5BTHTEg1a0NLRElXU1k/0Bx1KWNTx8Ij3MHFVRjluX3NqQ3c/0B4J8rDnUw80gNXpiQ3NtbU1BQVk/0B24NBcgmV490NUdHYmNTWW8tTWc/0B24NBcgmV490dmlzMDVxN253WHc

Subtasks:
- [x] check the full template against specifications: https://drive.google.com/driv

[2015-03-13 14:03] danmihaila opened #2420 "Custom org page: embed visualization"
Create the UI for embed the vizualization and integrate the engine to be able to embed using iframes.

https://docs.google.com/file/d/0B24NBcgmV490Y0oycDcwdldpMzQ/edit

[2015-03-13 14:08] danmihaila opened #2421 "Custom org page: admin - allow users to upload logo1 and logo2"
For each custom org, in admin users will be allowed to upload two logos:
1. logo 1 - rectangular shape. The hint should specify size: https://docs.google.com/file/d/0B24NBcgmV490VXVXTl9pN0gzZmc/edit 300px X 125px
2. logo 2 - square shape. The hint should specify size: https://docs.google.com/file/d/0B24NBcgmV490ek9OYVlyT2ZaWE0/edit  75px X 75px

[2015-03-13 14:09] danmihaila opened #2422 "Custom location page: Controller and template"
Controller and template should be similar with Colombia page and copy from there as a general one that will work for custom locations

[2015-03-13 14:11] danmihaila opened #2423 "Custom org page: dataset view add logo"
The datasets that belongs to a custom org page should display the logo of the organization as it specified here:
https://docs.google.com/file/d/0B24NBcgmV490dWFYdFpzV05tR3M/edit

[2015-03-13 14:12] danmihaila opened #2424 "Custom location page: Admin"
This is the general issue that contains references for the other sub-issues.
The structure will be similar with the one from custom organization page but with some changes.
All sections should be expandable/collapsable when clicking on section name:
- [ ] Map Configuration https://github.com/OCHA-DAP/hdx-ckan/issues/2425
- [ ] Topline Configuration https://github.com/OCHA-DAP/hdx-ckan/issues/2426

[2015-03-13 14:25] danmihaila opened #2425 "Custom location page: admin - "map configuration""
This section will set the configuration for map displayed in custom location page. It should be similar to custom org page.
More info to be added after discussions with @mbellotti

[2015-03-13 14:29] danmihaila opened #2426 "Custom location page: admin - "topline configuration""
This is section that will customize the "topline" from custom location page.
Required fields:
- [ ] resourceID
- [ ]

[2015-03-13 14:29] danmihaila commented on #2426
@alexandru-m-g or @aalecs please help with the other required fields for this section.

[2015-03-13 14:30] alexandru-m-g commented on #2426
For now we have a standard structure for the table that contains the topline numbers. If we keep the structure the same we probably don't need more configuration options for now.

[2015-03-13 14:40] danmihaila opened #2427 "Custom location page: admin - "Charts configuration""
There will be two sections: "Chart 1 Configuration" and "Chart 2 Configuration". We should give the option to user to add multiple sources for one chart. For example if we want to display a double line chart on the same chart: one line is coming from one resource and the second line will come from a second resource.
Chart X Configuration fields:
- [ ] Title
- [ ] Description
- [ ] Visualization ty

[2015-03-13 14:42] danmihaila opened #2428 "Custom location page: predefined visualizations & integration"
- [ ] This is the list of predefined visualizations that a custom location page will support:
- bar chart
- line chart
- multiple bar chart
- multiple line chart
- [ ] Integration of map (may need to be a static file if geodata can't be public)
- [x] Integration of topline numbers
- [ ] Integration of charts

Ping @cjhendrix @amcguire62 to confirm with Data Team if we cover most of cases we could

[2015-03-13 14:52] alexandru-m-g commented on #2379
Pinging @SimonbJohnson and @luiscape as well. Please check the above google doc.

[2015-03-13 14:52] #2379 closed, assigned to alexandru-m-g

[2015-03-13 15:03] danmihaila commented on #2382
@teodorescuserban what is the status of this issue?

[2015-03-13 15:04] #2360 closed, assigned to alexandru-m-g

[2015-03-13 15:45] danmihaila commented on #2427
We agreed to have 2 static "source" sections in this sprint.

[2015-03-13 16:58] alexandru-m-g opened #2429 "problem with less compilation on dev server"

[2015-03-13 17:00] alexandru-m-g commented on #2429
- there was a problem with the rights for these 2 folders:
  -  /srv/ckan/ckanext-hdx_theme/ckanext/hdx_theme/public/css/generated
  -  /srv/ckan/ckanext-hdx_theme/ckanext/hdx_theme/less/tmp

[2015-03-14 21:29] luiscape commented on #2379
Got it. I'll take a look at the document.

[2015-03-14 22:26] teodorescuserban commented on #2382
made the initial image.
please pull it by typing `docker pull teodorescuserban/hdx-ogre`
let me know if ogre need to automatically start as a service (now you just enter the created container and type in `ogre -p 3000`).

[2015-03-14 22:55] teodorescuserban commented on #2429
Fixed in the newest version of hdx-ckan docker image.

[2015-03-14 22:55] #2429 closed, assigned to teodorescuserban

[2015-03-15 14:56] teodorescuserban commented on #2382
Done.
Closing.
Please reopen if there's any issue with the container.

[2015-03-15 14:56] #2382 closed, assigned to teodorescuserban

[2015-03-15 16:49] alexandru-m-g opened #2432 "Request new org page doesn't work"
![4](https://cloud.githubusercontent.com/assets/6586348/6656960/e7f14f82-cb43-11e4-9490-27ae90296870.png)

[2015-03-16 08:19] #2317 closed, assigned to mbellotti

[2015-03-16 08:19] #2370 closed, assigned to mbellotti

[2015-03-16 08:19] #2372 closed, assigned to mbellotti

[2015-03-16 08:19] #2399 closed, assigned to mbellotti

[2015-03-16 08:19] #2412 closed, assigned to mbellotti

[2015-03-16 08:19] #2432 closed, assigned to alexandru-m-g

[2015-03-16 10:10] danmihaila commented on #2286
@alexandru-m-g Can we close this one?

[2015-03-16 10:28] danmihaila opened #2435 "Prod HOTFIX: about page is not aligned"
About page is not well aligned.
![screen shot 2015-03-16 at 12 27 33](https://cloud.githubusercontent.com/assets/3865844/6664395/e94c5c7a-cbd7-11e4-8013-555e63d37a3e.png)

[2015-03-16 10:30] cjhendrix commented on #2435
Weird.  Not sure how that would have gotten changed.  I'll take a look at it.

[2015-03-16 10:37] cjhendrix commented on #2435
I thought this was in wordpress, but it isn't. We'll have to assign it to someone else.

[2015-03-16 10:43] danmihaila commented on #2435
it's something with bootstrap, header, etc.
I was thinking of @aalecs if he has time today

[2015-03-16 11:59] danmihaila commented on #2290
@alexandru-m-g @cjhendrix
We should address this issue as soon as possible (I think we have space in Sprint 51) as we face several issues with docker configurations/creation, etc.

[2015-03-16 12:14] cjhendrix opened #2436 "Org create/edit: LESS box resize doesn't work"
In Chrome, no resize is possible.  In FF, it can be resized slighly in the horizontal, but not vertical.

![image](https://cloud.githubusercontent.com/assets/1654485/6665822/290c2646-cbde-11e4-8c06-dc04a41268f4.png)

[2015-03-16 12:23] cjhendrix opened #2437 "Custom Org Page: markdown on description is not respected"
Markdown is rendering on the default org page, but not on the custom org page.

![image](https://cloud.githubusercontent.com/assets/1654485/6665932/9d4a4b22-cbdf-11e4-9843-2262bfa22a13.png)

[2015-03-16 12:28] cjhendrix opened #2438 "Create/Edit Org Page: Admin - Error handling"
When submitting the form without all fields, an error message is briefly shown at the bottom before the org page is loaded.

We will need to align the form validation and error messages with what is used for other forms in the site.

![image](https://cloud.githubusercontent.com/assets/1654485/6665997/41b1e47c-cbe0-11e4-8d8f-4f7c0f594880.png)

[2015-03-16 12:29] danmihaila opened #2439 "Geo-preview: ogre timeout"
We have to improve the timeout for OGRE. In case of big upload (~60MB) I got this:
2015-03-16 11:32:52,971 INFO  [ckanext.hdx_theme.helpers.actions] Calling Ogre to perform shapefile to geoJSON conversion...
2015-03-16 11:33:15,275 ERROR [ckanext.hdx_theme.helpers.actions] There are errors in json file, error message: [u'ogr2ogr took longer than 15000 to complete']
2015-03-16 11:33:15,276 ERROR [c

[2015-03-16 12:35] cjhendrix commented on #2439
We probably need to not try to convert files above a certain size.  We wouldn't want to push the converted geojson to the client anyway.

[2015-03-16 12:36] danmihaila commented on #2439
ok. What should be the upper limit for a file to be converted?

[2015-03-16 13:45] cjhendrix opened #2440 "Create/Edit Org Page: default colors for main nav"
Set the default LESS values (when creating a new org) for the main nav so that it matches the default HDX main nav.

[2015-03-16 13:48] cjhendrix commented on #2439
What's the biggest geojson we want to push to the client?

[2015-03-16 14:02] cjhendrix opened #2441 "Create/Edit Org Page: 3W map settings"
Currently, the user would need to know cryptic values for X, Y and zoom level to get the map to display.  We need to understand how these setting work (from @SimonbJohnson ) and figure out a way to make it easy for the data team to configure the map.

[2015-03-16 15:03] SimonbJohnson commented on #2441
@cjhendrix I'm planning to create a new version of the widget that is integrated with leaflet.  These settings would then not need to be used as the library can zoom to geojson extent.

[2015-03-16 15:11] cjhendrix opened #2442 "Custom Org Page: some pages producing 500 errors"
Some orgs return 500 errors with tagged to use the custom org page template, while others do not (even though neither have any of the custom fields configured).  On staging (at the moment:

https://test-data.hdx.rwlabs.org/org/innago  returns a 500 error
while
https://test-data.hdx.rwlabs.org/org/acaps loads the page.

[2015-03-16 15:12] cjhendrix opened #2443 "Custom Org Page: different URL for orgs using the custom template"
Orgs that use the custom template are redirected to /org/foo instead of /organization/foo.   Is this intentional?  @mbellotti

[2015-03-16 15:15] mbellotti commented on #2443
Yeah. We talked about this is Liverpool. Do you want me to merge the custom
org controller with the normal org controller?

On Mon, Mar 16, 2015 at 11:12 AM, cjhendrix notifications@github.com
wrote:

[2015-03-16 15:17] danmihaila commented on #2442
I also see that when it is custom, the url is changed to /org/

[2015-03-16 15:34] cjhendrix commented on #2443
I leave it to you guys to figure out how to handle it, but I think users shouldn't see /org/foo.

[2015-03-16 15:40] danmihaila commented on #2443
I think we should use /organization/foo. I was not aware of any change until now...

[2015-03-16 16:09] #2435 closed, assigned to aalecs

[2015-03-16 16:44] mbellotti commented on #2443
Okay @alexandru-m-g and I have talked this over, basically the problem is that one route cannot direct to two completely different places. Here are our options:

1 - Merge Custom Org Controller and HDX Org Controller <--Cannot be done in time for deploy to production ... more to the point both Alex and I would prefer not to do it at all as it would make HDX Org Controller massive and difficult to

[2015-03-16 16:59] mbellotti commented on #2442
Alex is going to take this one since he can reproduce it :)

[2015-03-16 17:41] alexandru-m-g commented on #2442
The problem was related to pagination. So the reason why it was hard to reproduce: it was only appearing on custom org pages which had enough datasets to make pagination necessary.

[2015-03-16 17:41] #2443 closed, assigned to nobody

[2015-03-16 17:41] #2442 closed, assigned to alexandru-m-g

[2015-03-16 17:42] danmihaila commented on #2442
nice! excellent @alexandru-m-g

[2015-03-17 00:02] alexandru-m-g commented on #2286
@danmihaila I've created nose tests for the browse controller. We can move this to the next Sprint to also add tests for the country controller ( especially with the new country controller changes ).

[2015-03-17 10:29] danmihaila opened #2453 "Custom org page: error with tabs"
Screenshot attached. If you click on tabs of the datasets list you will go to the url https://test-data.hdx.rwlabs.org/organization/custom_org_read?ext_indicator=1&id=custom-sngo#datasets-section
and get a 404 error page.
![screen shot 2015-03-17 at 12 27 31](https://cloud.githubusercontent.com/assets/3865844/6685292/2233a2e0-cca1-11e4-829d-e1493c686d05.png)
We should fix this before going to prod

[2015-03-17 14:41] cjhendrix opened #2456 "Epic: better alignment between staging and production"
We seem to be bumping into the differences between staging and production more frequently.  The latest instance is that it is difficult to test the custom org page since the filestore is not actually on staging.

Should we start copying the filestore over as well as the ckan db?  What other differences are there that we might be able to tighten up?

More broadly, do we need to consider having both

[2015-03-17 15:03] cjhendrix opened #2457 "Preview of dataset on staging fails, dowloads lose extension"
1. create a new dataset on staging
2. add a csv file
3. try to preview (fails saying the file could not be retrieved from filestore)
4. try to download (file extension is lost)

I think this must be related to a recent change.

[2015-03-17 15:15] teodorescuserban commented on #2457
fixed. related to reenabling basic http auth on stag.

[2015-03-17 15:15] #2457 closed, assigned to teodorescuserban

[2015-03-17 15:32] alexandru-m-g commented on #2453
This was mostly related to the switch of custom pages to the "/organization" url

[2015-03-17 15:33] #2453 closed, assigned to alexandru-m-g

[2015-03-17 15:41] danmihaila commented on #2457
fixing also the csv extension

[2015-03-17 15:54] cjhendrix opened #2463 "Custom Org Page: Improve topline numbers display"
We will need to improve the handling of topline numbers to ensure we can handle the range of values we are likely to see.  Currently, it's easy to end up with values that don't display well.  For example, using the Colombia Toplines in a custom org page results in this:

![image](https://cloud.githubusercontent.com/assets/1654485/6691296/08438272-ccc6-11e4-9a35-de51c45125b5.png)

We need to consid

[2015-03-17 16:02] cjhendrix opened #2464 "Custom Org Page: 3W visualization to use CSV for non-geo data"
@mbellotti @SimonbJohnson Please confirm if this is correct:

Currently, a 3W visualization must point to a json file of of the 3w data.  CSV files (or any other format) will not work.  We need to support at least CSV.

[2015-03-17 16:05] danmihaila commented on #2463
@aalecs any advice/idea on this?

[2015-03-17 16:12] mbellotti commented on #2464
No, CSV files will work if the Datapusher is enabled. The input has to be in JSON, there's no getting around that. If what's the filestore is already in json you can run the visualization from that. If it's CSV (or a spreadsheet) you need to push it into the datastore, which means you either convert the CSV to JSON yourself and use the api or we re-enable the datapusher. cc @alexandru-m-g

[2015-03-17 16:16] cjhendrix opened #2465 "Custom Org Page: 3W visualization to ignore hxl hashtags"
Currently, the 3W visualization treats HXL hashtags as a row of data.  Until we can integrate with HXL enough to use the hashtags, we should at least not force users to remove them to get a good visualization.

[2015-03-17 16:20] cjhendrix commented on #2464
Good clarification.  Thanks.   Not that I think we should do this, but couldn't we also run the csv through data proxy to convert it on demand?

[2015-03-17 16:55] aalecs commented on #2463
- for the two lines title just set "height: 2em;" in ".topline .indicator-title" ... will force all indicators to have two lines of data so everything will look consistent.
- for the long unit names: set font-size: 34px; in ".topline .small"

Now the cool thing is that we can do all these overrides in the edit form for the custom org page, inside the "custom less" field :smile:
So these overrides

[2015-03-17 17:11] alexandru-m-g commented on #2463
Trying to list below the worries from a previous discussion with @cjhendrix .

What about the case  when all the top line item names are short ?  If we leave space space for 2 rows and they are not used it might look weird.
A similar discussion is for the font sizes of the numbers and units. We can make them smaller but sooner or later someone will want them even smaller.

Should we just have the

[2015-03-18 09:23] cjhendrix commented on #2463
I think we need to avoid going too far with the idea of having users edit the LESS or CSS in the edit page.  Over the long term we want to make these edits something that a more typical user can do.   The LESS editing approach should just be a temporary approach for the early phases.

[2015-03-18 10:29] danmihaila commented on #2428
@aalecs I just updated the description.

[2015-03-18 10:51] cjhendrix opened #2467 "Dataset View Page: breadcrumb should not say "indicators" unless the dataset is an indicator"
Use our existing indicator flag to modify the breadcrumb.  For non-indicators the breadcrumb should be

`HOME / DATASETS / FOO`

For inidicators:
`HOME / INDICATORS / FOO`

![image](https://cloud.githubusercontent.com/assets/1654485/6707146/60c5fbd4-cd64-11e4-8552-2c03b9a861b1.png)

[2015-03-18 13:22] luiscape commented on #2396
@danmihaila Any updates on this issue?

[2015-03-18 13:35] danmihaila commented on #2396
@luiscape we didn't work on this as it was not on our top priority list. Pinging @amcguire62 and @cjhendrix

[2015-03-18 14:21] danmihaila opened #2468 "geo-preview: geo transformation via ogre not triggered for private datasets"
1. Create a private dataset
2. add a resource (zipped shapefile)
3. check dataset - no geo-preview
4. make dataset public
5. save again the resource (not need to reupload it)
6. check dataset - geo-preview is enabled

[2015-03-18 18:18] teodorescuserban commented on #2468
See the dataproxy issues on the same topic.
Basically the ckan api call to ogre need to pass user's api key and ogre needs to pass that back to ckan so that the private dataset may be accessed.
More details +mbellotti

[2015-03-18 19:17] luiscape commented on #2396
Sounds good.

[2015-03-19 08:44] cjhendrix opened #2469 "Dataset Edit: breadcrumb has "edit" twice"
![image](https://cloud.githubusercontent.com/assets/1654485/6726861/93e673e6-ce1c-11e4-9662-08f9da4a0b6b.png)

[2015-03-19 10:52] danmihaila commented on #2286
@alexandru-m-g :+1:

[2015-03-19 11:06] cjhendrix commented on #2387
OBE

[2015-03-19 11:06] #2387 closed, assigned to danmihaila

[2015-03-19 11:30] cjhendrix opened #2470 "WFP Visualization mockup"
You know the drill.

[2015-03-19 13:21] cjhendrix commented on #2116
As of just now, unable to replicate.  Weird.  Making low priority.

[2015-03-19 13:31] cjhendrix opened #2471 "Dataset Create/Edit: changes in preparation for user to user messaging"
We will soon add a function allowing users to send a message to the "maintainer" of a dataset.
- [ ] remove "maintainer email" from the form (we will always use the email associated with the user in "maintainer" above.

![image](https://cloud.githubusercontent.com/assets/1654485/6731340/a280e47c-ce44-11e4-9af0-b0f3a835370f.png)

Tagging @yumiendo so she is aware.

[2015-03-19 13:36] cjhendrix commented on #1435
Fixed.

[2015-03-19 13:36] #1435 closed

[2015-03-19 13:38] cjhendrix commented on #1801
Duplicate of #1653.  Closing.

[2015-03-19 13:38] #1801 closed

[2015-03-19 16:52] cjhendrix opened #2472 "Mystery bug"
Talk to Dan

[2015-03-19 20:06] alexandru-m-g commented on #2423
@cjhendrix @danmihaila

A few things are unclear to me. The link is to a simple template but real life examples are a bit more complicated. Uploading screenshots below:

![a](https://cloud.githubusercontent.com/assets/6586348/6739766/b6e3d110-ce83-11e4-8f29-896d3cde076f.png)
![b](https://cloud.githubusercontent.com/assets/6586348/6739765/b6e2acfe-ce83-11e4-96a0-057930ddf25e.png)
-  Do we move all

[2015-03-19 21:07] teodorescuserban opened #2473 "https green lock broke by some [new pages]"
https://data.hdx.rwlabs.org/dataset/ebola-treatment-centers/resource/007c38f0-2efe-4f4a-8b47-f7eb5a4d20eb

Error in browser console:
`Mixed Content: The page at 'https://data.hdx.rwlabs.org/dataset/33b20dce-dae1-48b0-bc71-6b728321711e/resource/007c38f0-2efe-4f4a-8b47-f7eb5a4d20eb/preview' was loaded over HTTPS, but requested an insecure image 'http://data.hdx.rwlabs.org/vendor/leaflet/0.4.4/images

[2015-03-19 21:10] teodorescuserban commented on #2473
Steps to reproduce:
1. Access https://data.hdx.rwlabs.org/dataset/ebola-treatment-centers/resource/007c38f0-2efe-4f4a-8b47-f7eb5a4d20eb
2. Go to the third tab ("Map")
3. Choose latitude and longitude
4. Click update.
5. Check the browser console and the icon near "https" in browser address bar.

[2015-03-20 08:48] danmihaila commented on #2463
From @yumiendo :
bold highlight is the change:
indicator-value {
  font-family: 'Gotham-Light', sans-serif;
  font-weight: 400;
  **font-size: 56px;**
  letter-spacing: 0.01em;
  line-height: 1;
}
.topline .small{
  font-family: 'Gotham-Light', sans-serif;
  font-weight: 400;
  **font-size: 28px;**
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: 20px;
  margin-left: -15px;
}
is there

[2015-03-20 09:04] cjhendrix commented on #2463
Ok, for now let's just go smaller as yumi suggests and leave space for a second line in the titles.  But sooner or later I think we'll have to do something smarter.

[2015-03-20 09:54] cjhendrix commented on #2423
@yumiendo Can you help us with Alex's questions above.  These become blockers for Alex early next week.  I don't think mockups are needed, just  a discussion between you guys about how to handle it.

Tagging @amcguire62

[2015-03-20 12:24] danmihaila opened #2477 "Prod server: /dataset is loading with low speed"
Check this url:https://data.hdx.rwlabs.org/dataset?res_format=zipped+shapefile
It takes 5-6 seconds to load. can we improve it?

[2015-03-20 12:31] teodorescuserban opened #2478 "A dataset is wrong"
Steps
1. Navigate to https://data.hdx.rwlabs.org/dataset/ebola-treatment-centers/resource/e8a9fa59-5068-4d2d-855e-788c63d061e8
2. Go to map, choose lat and long.
3. Observe the marker on the equator, in the middle of the ocean :)

tagging @cjhendrix and @danmihaila

[2015-03-20 12:37] teodorescuserban commented on #2478
Also, the URL displayed in the page is wrong (the hostname is `data.` instead of `data.hdx.rwlabs.org`. See below:

![issue-with-hostname-url](https://cloud.githubusercontent.com/assets/1542984/6751613/9cf386ca-cf0e-11e4-8498-0683bb249584.png)

[2015-03-20 13:02] danmihaila commented on #2463
From Sarah:
we had decided to change the wording 'global operations data' to 'key figures'

[2015-03-20 13:02] teodorescuserban commented on #2478
the url issue was my making. Fixed.
The data is still wrong.

[2015-03-20 13:02] danmihaila commented on #2463
@cjhendrix I agree we will need to support different formats and lengths of numbers. Pinging @yumiendo

[2015-03-20 13:08] cjhendrix commented on #2478
The 0,0 coordinates are in the dataset.  They are probably using that for locations that they don't know.  It's bad practice, but not uncommon in the GIS world.  Closing.  Please reopen if I've misunderstood.

[2015-03-20 13:08] #2478 closed, assigned to nobody

[2015-03-20 13:10] teodorescuserban commented on #2477
3-4 seconds on my notebook.

I see a spike in ckan and solr activity When I load that page. (45% ckan, 28% solr).

[2015-03-20 13:58] alexandru-m-g commented on #2463
@danmihaila @cjhendrix
Please note that my commit doesn't change things for organizations that already have a custom page ( since the LESS & CSS is already generated for them ). Not even a regeneration of the CSS would help. Someone would need to change the LESS variables manually.

I guess this is no problem for now but in the future, we might wanna save ( together with the organization) only doe

[2015-03-20 16:14] cjhendrix opened #2480 "Placeholder issue for working on CPS-CKAN metadata integration"

[2015-03-22 23:08] mbellotti opened #2481 "Custom Organizations: JS Image Uploader not working correctly"
I've been going around in circles on this and I can't figure it out. CKAN's default image upload module is not setting the value of the input box to the image to upload, therefore nothing is sent back to the server.

Reproducing:
- Open up Inspector in Chrome, find image-upload.min.js in the fanstatic/base bundle, unminified via Chrome pretty print {} set a breakpoint for line 1601
  ![screen shot

[2015-03-22 23:08] mbellotti commented on #2481
@aalecs Any ideas?

[2015-03-23 08:50] alexandru-m-g commented on #2422
@danmihaila @cjhendrix
The Colombia page shows the dataset search results with no tabs ( basically the "All" tab ). Do we keep it like this or move to the 3-tab solution ?

[2015-03-23 08:54] danmihaila commented on #2422
@alexandru-m-g the custom location page should be identical with Colombia page. :) So, yes - no tabs

[2015-03-23 09:05] #2463 closed, assigned to alexandru-m-g

[2015-03-23 09:09] cjhendrix commented on #2422
@amcguire62 Included that in his list of specs to Sarah and there was no complaint, so as Dan said, no tabs.  Just for the record, I don't like it.  ;)

But to clarify one thing:  the Colombia page dosn't have the "ALL" tab, it has only the "DATASETS" tab, which is how it should be for Mali.

[2015-03-23 09:21] alexandru-m-g commented on #2422
@cjhendrix you're right: just datasets

[2015-03-23 09:35] cjhendrix opened #2482 "Dataset View: methodology has been clipped for some indicators"
I've seen this for many indicators in a random sample.  In the edit view, you can see that the string has been truncated with ". . ." appended.
https://data.hdx.rwlabs.org/dataset/cerf_total_allocations
https://data.hdx.rwlabs.org/dataset/cross-appeal_amount_received_by_un_agencies
https://data.hdx.rwlabs.org/dataset/antenatal_care_coverage_-_at_least_four_visits_in_the_three_years_preceding_the_s

[2015-03-23 09:39] cjhendrix opened #2483 "Raw scraper files not pulled to ckan"
@takavarasha reports that the raw scraperwiki files have not updated this week.  @teodorescuserban ?

[2015-03-23 09:42] teodorescuserban commented on #2483
I confirm that.
The cause is the prod migration last week.
I will fix it and close the ticket.

[2015-03-23 09:52] cjhendrix commented on #2482
The data is clipped in the edit view as well, so it looks like we may have modified the methodologies somewhere along the line.

[2015-03-23 10:27] cjhendrix opened #2484 "Download link not working for indicators on preview page"
For these 3 randomly selected indicators, the download links **on the preview page** are not working.

https://data.hdx.rwlabs.org/dataset/total-number-of-children-with-fever-who-received-treatment-with-antimalarial
https://data.hdx.rwlabs.org/dataset/erf_total_allocations
https://data.hdx.rwlabs.org/dataset/number_of_reports_in_reliefweb

The links on the dataset page (manage.hdx.rwlabs.org/ . .

[2015-03-23 10:34] cjhendrix opened #2485 "Indicator Preview: txt files do not preivew"
The files seem to be ok (can be downloaded from the dataset page), but the preview is blank.  May be related to #2484

[2015-03-23 11:05] teodorescuserban commented on #2483
manually updated and fixed.

[2015-03-23 11:05] #2483 closed, assigned to teodorescuserban

[2015-03-23 11:45] teodorescuserban commented on #2484
The is in cps. I was under impression that permalink would only kick in for
files filestore.

Lun, 23 mar. 2015, 12:27, cjhendrix notifications@github.com a scris:

[2015-03-23 13:33] alexandru-m-g commented on #2484
This is related to #2367

[2015-03-23 13:37] #2484 closed, assigned to alexandru-m-g

[2015-03-23 13:44] #2420 closed, assigned to aalecs

[2015-03-23 13:45] danmihaila commented on #2470
this is completed

[2015-03-23 13:45] #2470 closed, assigned to nobody

[2015-03-23 14:53] #2426 closed, assigned to mbellotti

[2015-03-23 15:24] teodorescuserban opened #2488 "spin up a demo infrastructure"
Make all the arrangements to spin up another set of HDX containers for demo purposes.

This new set should be used for demo sessions and for people working and testing on databases (this one will have a higher lifespan of databases, not being copied over from prod so often).

[2015-03-24 07:28] aalecs commented on #2481
After we discussed yesterday I checked on staging as well by uploading a small gif in the organisation edit page.
If you inspect the remove button that appears after the file select control disappears you can see the <input type"file"...> that holds the file being uploaded and if you remove it's opacity and increase it's width you'll see it in the page and with the file name selected. At this poin

[2015-03-24 09:36] alexandru-m-g commented on #2408
Another advise from ckan-dev mailing list:
- the following URLs allow a user to export datastore data to CSV and should probably be blocked: /datastore/dump/RESOURCE_ID

[2015-03-24 14:23] cjhendrix opened #2490 "Search result Snippet: change indicators to display data_source instead of org"
Currently, the search result snipped for indicators displays the owning Org which is always HDX.  As a stopgap, the data team added the actual data source to the dataset description.  As part of CPS taking over the metadata, we want to clean that up.
- [ ] change the search result snippet to display the contents of the data_source instead of organization but **only for indicator datasets**

The re

[2015-03-24 14:54] yumiendo commented on #2423
@alexandru-m-g
my answers below: (just clarified with extended team...)

Do we move all 4 buttons to the left under the title ( and the description for normal datasets ) ? Even for indicators ?

The color of the box wrapping the logo is always blue ?

The size of the logo seems to be fixed. So I'll stretch the image uploaded by the user to fit the exact size ?

The logo will appear in the same pla

[2015-03-24 15:20] mbellotti commented on #2427
Source Title/Description will be pulled from the resource metadata since there's no reason to duplicate it here.

[2015-03-24 16:47] alexandru-m-g commented on #2423
@yumiendo thanks for the reply.

Just a comment/question on the color of the box wrapping of the logo:
1.  on the custom org pages the logo is uploaded/updated by the user
2.  there's no easy way to know if the logo the user has uploaded has 1 color or multiple
3.  on the other hand, the same user also selects a base color for the page ( that is used for the background of the custom org page ) - t

[2015-03-24 17:22] danmihaila commented on #2423
I think we should go with two options:
1. gray-ish white with a stroke - default option in admin custom org (checkbox unchecked)
2. same color as background color picked by user (checkbox checked)
@yumiendo @cjhendrix please confirm

[2015-03-24 17:30] cjhendrix commented on #2423
Sounds reasonable to me, but it's @yumiendo who has to make the call.

[2015-03-24 17:44] yumiendo commented on #2423
Hi everyone, sounds like we have a solution :+1:
thanks @alexandru-m-g for the suggestions + Im ok with @danmihaila 's suggestion of the above 1/2 options.

[2015-03-25 02:11] mbellotti commented on #2481
And yet when I replace ckan's file uploader with a normal HTML file input (no js module) the upload works. This is what I see trying to upload an image to staging, where is the file?

![screen shot 2015-03-24 at 7 36 22 pm](https://cloud.githubusercontent.com/assets/489152/6817086/94d36304-d272-11e4-8d3d-8c9dcf03df57.png)

[2015-03-25 02:17] mbellotti commented on #2421
Here's the status of this: the file upload works (for the most part), it just gets put in a place not web accessible so I think we need a solution similar to what we did with the filestore so that we can generate a url that can access and display the image.

I could use some help with this as I'm falling behind this Sprint :/

[2015-03-25 09:04] aalecs commented on #2419
Still need to:
- include number of members and followers
- user the smaller log (once it's ready)
- hide members link when user not logged in

[2015-03-25 10:26] #2437 closed, assigned to danmihaila

[2015-03-25 10:32] alexandru-m-g commented on #2419
Committed change to 1st point above: "include number of members and followers"

[2015-03-25 11:05] danmihaila opened #2497 "Topline numbers: break new location page"
After we had the auth enabled on staging, I couldn't access a location page. This means that if CPS is down the location page is down.
The result is that it should just ignore the error, but display the message

[2015-03-25 14:10] #2497 closed, assigned to danmihaila

[2015-03-26 06:21] #2424 closed, assigned to mbellotti

[2015-03-26 12:55] alexandru-m-g commented on #2427
For the resources that are used to build the charts we need both the resource_id and the **dataset_id** in order to create the link back to the dataset. Didn't know about this requirement before.

[2015-03-26 13:01] danmihaila commented on #2427
lets have a call about this. In my opinion we should avoid to have too many fields in admin interface. In our case I will try to remove the dataset_id from map config too.
Pinging @mbellotti @cjhendrix

[2015-03-26 13:05] #2423 closed, assigned to alexandru-m-g

[2015-03-26 13:11] #2472 closed, assigned to danmihaila

[2015-03-26 13:46] cjhendrix commented on #2427
Happy to have a call if needed.  But remember that ugly and complicated is ok since the audience is the data team.  We can try to improve the usability later.  Of course people will likely complain (I've made a couple of org pages and found it to be cumbersome), but the guidance on that has been clear.

[2015-03-26 13:51] danmihaila commented on #2427
ok. So, we should add the dataset_id as well?
I am ok if we have time. :)

[2015-03-26 14:22] danmihaila commented on #2425
closed via https://github.com/OCHA-DAP/hdx-ckan/commit/b51f45714530ceda69c82282254cf1496a06b4de

[2015-03-26 14:22] #2425 closed, assigned to mbellotti

[2015-03-26 15:28] cjhendrix opened #2506 "Dataset Create/Edit: allow user to drag/drop to reorder resources"

[2015-03-26 16:45] cjhendrix opened #2507 "Data Proxy: Incorrect date conversion"
This dataset (the file) has monthly dates, like "Oct-2014".  However, when previewed, days of the month are added like "2014-10-14T00:00:00"  (the day value varies)

It's not unreasonable to convert the dates to standard format, but why the odd dates?

https://data.hdx.rwlabs.org/dataset/idps-data-by-region-in-mali/resource/9affe23f-3ce2-40d1-ae6a-1d7060b548a5

[2015-03-26 17:21] cjhendrix opened #2508 "Datasets that don't preview well"
This is an issue for pasting in datasets that don't preview as expected so we can analyze the problem at some point when we have time:

Files reads as non-UTF8 (windows western according to Sublime), which might be the problem.
https://data.hdx.rwlabs.org/dataset/evolution-of-malian-refugees-since-september-2012/resource/bdc01eb9-ed81-4887-bb64-f4317bf4221e

The geojson file quite small and it has

[2015-03-30 08:47] cjhendrix opened #2525 "Custom Loc Page: Colombia page has been replaced by a default page"
![image](https://cloud.githubusercontent.com/assets/1654485/6893062/067939b0-d6ca-11e4-8807-aa26fa44b594.png)

[2015-03-30 08:55] cjhendrix opened #2526 "Custom Loc Page: editing a group corrupts the geojson for the group"
To replicate:
1. Pick a country that uses the default location page and for which the map is displaying properly
2. Edit that group (.../group/edit/xxx)
3. Make some small change to description or title
4. Reload the location page
5. Map is busted.

Note that there is a weird "_id" key at the beginning or end of of the Geojson (I've seen it in both places). I don't remember that being there before

[2015-03-30 09:01] danmihaila opened #2527 "Custom org page: improvements for logo1 and logo2"
1. User should see some information about each "browse" for logo1 and logo2 such as:
   - logo square (75x75)
   - logo rectangulare ...
2. When edit an organization user has to re-upload again the logos otherwise it will loose the settings.
3. What is happening with uploaded logos when a new logo is uploaded. I think we should discuss about this as we don't want to keep old logos in system and to

[2015-03-30 09:03] cjhendrix opened #2528 "Custom Loc Admin Page: changes to admin interface"
- [ ] change "Map Labels" to "Values to Map"
- [ ] Some odd formatting:
  ![image](https://cloud.githubusercontent.com/assets/1654485/6895895/5d0903ee-d6e5-11e4-9097-81388fb81c9a.png)

[2015-03-30 09:10] alexandru-m-g commented on #2525
@cjhendrix I don't think it's the default page. Instead it's an unconfigured custom page.

[2015-03-30 10:16] danmihaila opened #2531 "Custom org page: background color same as on dataset page"
@alexandru-m-g we should have on custom org page the same functionality for background color for logo as we have for datasets

[2015-03-30 10:17] danmihaila opened #2532 "Custom org page: Custom Location page: - clean the html"
We have a lot of logic inside the html pages for custom pages. We should move it to controller.

[2015-03-30 10:20] danmihaila opened #2533 "Custom org page: Visualization title not linked with field set in admin"
The Visualization title not linked with the field set in admin.

[2015-03-30 12:03] cjhendrix opened #2534 "Custom Loc Admin Page: question about resources"
Why does the map config need both dataset id and resource id while the chart config only needs resource id?

[2015-03-30 14:00] danmihaila commented on #2438
also there is a message saying that "you are going to leave this page" are you sure?
moving this to sprint candidates

[2015-03-30 14:04] danmihaila opened #2537 "Custom location page: hiding extra fields for chart 2 is not working"
when choosing single bar chart or multiple bar chart the fields are not hidding for chart 2 as they do for chart 2.
I think this is a bug...

[2015-03-30 14:56] #2293 closed, assigned to mbellotti

[2015-03-30 14:57] #2421 closed, assigned to mbellotti

[2015-03-30 15:01] danmihaila commented on #2488
@teodorescuserban i think we can close this. pls confirm

[2015-03-30 15:01] #2488 closed, assigned to teodorescuserban

[2015-03-30 15:12] danmihaila opened #2538 "Custom location page:"
Under "Map Configuration" > "Map Labels/Values" add two fields:
- "Values Column"
- "Threshold"

[2015-03-30 16:22] aalecs commented on #2538
@mbellotti Please also add a field call "Title Column" in the "Map Boundaries" sub-section of the "Map Config" section

[2015-03-30 16:23] mbellotti commented on #2538
Okay :)

[2015-03-30 16:35] danmihaila commented on #2538
:+1: :)

[2015-03-31 07:51] cjhendrix opened #2540 "Location page (custom and default): show edit button for sysadmins"
#### Description

Add it in the same position as for dataset view
#### Nosetest
- load a location
- check if Edit appears for a regular user, gues or sysadmin
- load a custom location
- check if Edit appears for a regular user, gues or sysadmin

![image](https://cloud.githubusercontent.com/assets/1654485/6914502/8a8ea9bc-d78b-11e4-8d0b-b465e9ae5512.png)

[2015-03-31 08:02] cjhendrix opened #2541 "Content for guidance on contacting data maintainers on feedback page"

[2015-03-31 08:06] cjhendrix opened #2542 "Email validation module"
The basic requirement is that before a user is created, we know the email address is valid.  I think Sarah is envisioning the typical "go check your email for a link" kind of functionality.

[2015-03-31 08:07] teodorescuserban commented on #2542
+1 on clicking a link sent by email.

[2015-03-31 08:41] danmihaila commented on #2538
@mbellotti any update on this issue?

[2015-03-31 08:43] #2526 closed, assigned to alexandru-m-g

[2015-03-31 09:31] cjhendrix opened #2543 "Document process for creating custom pages (org/loc) + training session"

[2015-03-31 10:20] #2531 closed, assigned to alexandru-m-g

[2015-03-31 10:22] danmihaila opened #2545 "Custom location page: tweaks"
1. Date for Mali is not well formatted
2. TBD -> OCHA
3. create url to dataset. blocked by https://github.com/OCHA-DAP/hdx-ckan/issues/2568 . Ping @mbellotti

[2015-03-31 12:05] danmihaila opened #2550 "Custom org page: disable scroll over the map for WFP"

[2015-03-31 12:29] SimonbJohnson commented on #2550
@danmihaila To clarify, do you want to disable scroll zoom behaviour on the map?

[2015-03-31 12:32] danmihaila commented on #2550
@SimonbJohnson I think we should just disable the zoom over the map based on scroll. We did the same for
https://data.hdx.rwlabs.org/ebola
and for https://data.hdx.rwlabs.org/group/col
in order to be able to scroll down the page when the page is long
Ping @cjhendrix too

[2015-03-31 13:49] cjhendrix opened #2553 "Custom Loc: ignore 2nd chart if no resource id given`"
We need a quick way for the data team to indicate that the custom loc page should not have a second graph (when # of toplines = 4).  Seems like an easy way to do that would be to just not configure the 2nd graph and have the controller ignore it. .

[2015-03-31 13:54] alexandru-m-g commented on #2553
@cjhendrix if you prefer, I can simply ignore on the controller the configuration for the 2nd chart in case the num of toplines <= 4 ?

[2015-03-31 14:03] danmihaila commented on #2553
I think it is a good idea. lets be sure that in template we hide the full section for 2nd chart, not only the chart.

[2015-03-31 14:31] #2553 closed, assigned to alexandru-m-g

[2015-03-31 14:56] alexandru-m-g commented on #2482
It's weird, I took the first dataset from above as an example:
1.  I took the entire description from CPS and edited the dataset and pasted the methodology. Saved it and it showed correctly
2.  I checked and via the hdx_package_metadata_update() API call methodology isn't yet allowed to be updated ( so it doesn't seem like it was updated like this )
3.  I anyway tested an update via the API (hdx_p

[2015-03-31 16:16] cjhendrix commented on #2553
@alexandru-m-g That's fine.  It may confuse users who wonder where their second chart is, but we can add something to the help bubbles.

[2015-03-31 17:29] alexandru-m-g commented on #2553
@cjhendrix just let me know what the preferred way is. I can just as easily check if all the config fields for the 2nd chart are filled and only display the 2nd graph in case all of them are.

[2015-04-01 07:34] cjhendrix commented on #2553
I think your idea is good.  Have a think about what threshold to use.  In other words, at what point are there enough toplines that the page looks better with a second chart.

[2015-04-01 08:39] cjhendrix opened #2557 "Custom Org Admin Page: Change default value for custom styling to our standard main nav style"
Use this less code as default:

@hdxLogoUrl: "@{imagePath}/homepage-new/logo-beta.svg";
@headerUserBackgroundColor: @darkGrayColor;
@headerNavBackgroundColor: @whiteColor;
@headerNavBorderColor: @lightGrayColor;
@headerNavSearchBorderColor: @grayColor;
@toolbarBackgroundColor: @extraLightGrayColor;

Alternatively, we may want to hide this field since the decision was made to not allow customizatio

[2015-04-01 08:44] cjhendrix opened #2558 "Unauthorized log out page: python unicode "u" visible in interface"
To get here, try to access something that the current user is not authorized to do (via URL).

![image](https://cloud.githubusercontent.com/assets/1654485/9576256/67b3ab2c-4fd6-11e5-8200-b776a289e689.png)

[2015-04-01 08:47] cjhendrix opened #2559 "Custom Loc and Custom Org: embed functionality"
- [x] embed preview not loading in modal
- [x] remove the "option" radio buttons (since we aren't using them)

[2015-04-01 08:51] cjhendrix opened #2560 "WFP Visualization: disable scroll wheel zoom"
I'm assuming we should disable this to be consistent with our other full width maps.

[2015-04-01 08:53] cjhendrix opened #2561 "Custom Org Page"
Admin button needs some padding between itself and the logo.

![image](https://cloud.githubusercontent.com/assets/1654485/6937659/3e260dc2-d85d-11e4-9031-d48983d0268d.png)

[2015-04-01 09:00] cjhendrix commented on #2560
duplicate, closing

[2015-04-01 09:00] #2560 closed, assigned to nobody

[2015-04-01 09:01] danmihaila opened #2562 "Custom location page: map and chart not working"
1. If user is not logged in the map (for mali) is not working as well as the second chart. Probably related to private/public resources.
2. if one configuration is missing (map, chart, topline numbers) we should hide the whole section including header, loading icons, etc

[2015-04-01 09:02] danmihaila opened #2563 "Custom location page: check http and https"
Check with @teodorescuserban the https to be valid

[2015-04-01 09:02] danmihaila opened #2564 "Custom org page: check http and https"
Check with @teodorescuserban the https to be valid

[2015-04-01 09:08] #2528 closed, assigned to mbellotti

[2015-04-01 09:08] #2537 closed, assigned to mbellotti

[2015-04-01 09:08] #2538 closed, assigned to mbellotti

[2015-04-01 09:15] danmihaila commented on #2557
Another idea could be to move this to a expandable/collapsable section called : advanced configurations. We might need it...

[2015-04-01 09:16] #2422 closed, assigned to alexandru-m-g

[2015-04-01 09:33] alexandru-m-g commented on #2562
Map was not working before the boundries resource that was configured for the map was both deleted and private. Configured correct one and it works now.

[2015-04-01 09:39] danmihaila opened #2566 "Nose tests errors"
After the latest changes with custom pages we have this errors

======================================================================                                                                [55/1980]
## ERROR: ckanext.hdx_org_group.tests.test_auth.TestOrgAuth.test_edit_org

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest

[2015-04-01 09:52] danmihaila opened #2567 "Custom org page: Admin - visualization type"
When editing an organization there are 2 values for visualization type: 3w and wfp. If we save wfp as value, the value is saved but in edit form is not shown this value.

[2015-04-01 09:55] danmihaila opened #2568 "Custom location page: Admin - Chart - need dataset_id field to be added"
Based on conversation from https://github.com/OCHA-DAP/hdx-ckan/issues/2427 we need an extra field called "dataset_id" just above "resource_id".

[2015-04-01 09:55] danmihaila commented on #2427
Created https://github.com/OCHA-DAP/hdx-ckan/issues/2568 based on these comments and I will close this issue.

[2015-04-01 09:55] #2427 closed, assigned to mbellotti

[2015-04-01 10:04] danmihaila opened #2569 "Custom org page: Admin - after save got error 500"
Edit one existing organization (non custom). Sometimes when you save without changing anything -> error 500.
I also tested when edit an organization, check the checkbox "custom org" and save -> error 500
Ping @mbellotti @alexandru-m-g  - is this related to failed nosetests ?

[2015-04-01 10:18] danmihaila commented on #2569
It looks like this is a blocker. After redeploy on stag, the wfp page is not working anymore...

[2015-04-01 10:38] alexandru-m-g commented on #2566
Committed fix for the 2nd nose test.

The first one is related to #2569. When that will be fixed the nose test will probably work.

[2015-04-01 10:39] alexandru-m-g commented on #2569
Yes, seems to be related to nose test failing.

[2015-04-01 10:41] danmihaila opened #2570 "Custom org page: top section adjustments"
- [x] Big header "WFP - World Food Programme”  -  make it 1 line.
- [x] “wfp”/"3W-dashboard" underneath the big header should be removed
- [x] Visit Website - please include org name (e.g.. “Visit World Food Programme website") - not be done - https://github.com/OCHA-DAP/hdx-ckan/issues/2597
- [x] Next to "share button" please add “follow” and "request membership"
- [x] margin below the org descri

[2015-04-01 10:42] danmihaila opened #2571 "Custom org page: Sticky logo adjustments"
- [x] sticky logo - a few things. 1. WFP logo doesn’t seem to have the padding around the logo. 2. please center the logo (its aligned left) 3. we are using bg color here so the logo should be in white and bg should be transparent. @yumiendo to send png
- [x] sticky logo - please add request membership / follow on hover (white box)
- [x] sticky logo - bg disappears once you click on share. is ther

[2015-04-01 10:44] danmihaila opened #2572 "Custom org page: Topline numbers/Key Figures improvement"
key figures - please add year after the header. e.g.. countries of operation(2015)

[2015-04-01 10:47] danmihaila opened #2574 "Custom org page: Interactive data"
- [x] Interactive data - "WFP collected food prices" should link to the dataset (waiting for a confirmation)
- [x] Interactive data - there is a lot of space after the title/description (above the map). can we bring up the map ? *screenshot attached.

[2015-04-01 10:49] danmihaila opened #2575 "Custom org page: Embed improvements"
- [x] Embed data - not working for me right now but if loading takes time - we should consider adding a loading gif.
- [x] Embed data - in modal, the header should read “embed data“
- [ ] 2nd “embed" below the map - looks out of place + repeated. can we consolidate with the first one?

[2015-04-01 10:50] danmihaila opened #2576 "Custom org page: page links"
- For ALL the links on custom org page(including wfp) - lets add a hover state/color (can use CSS “darken” 20%) so that border-line legible color (ie. somalia NGO’s green is border-line for me) can be more legible.

[2015-04-01 10:51] danmihaila opened #2577 "Custom org page: WFP customization"
- [ ] Logo - can we use bg blue with white WFP logo (like in the comp) make this (bg color + logo in white) as default for orgs that has only one color…. so the page doesn’t look so empty.
- [ ] please use #2a93fc for WFP bg and link color.
- [ ] Interactive data - “WFP collected food prices” <- "needs a better title” by Sarah.

[2015-04-01 10:53] danmihaila opened #2578 "Custom org page: 3w vizualization (SNGO)"
- [ ] Interactive Data - the map looks cut off and tucked away. Can we center it?
- [ ] Interactive Data - Add an option to see all data, not just Top 15. We can add "Top 15 | See all” toggle. Toggle can be default to Top 15 but click on "See all" opens a new tab.
- [ ] Interactive Data - Please add this interactive data as a gallery item on the dataset page.(data team could do this)
  Assigned to

[2015-04-01 10:54] danmihaila opened #2579 "Custom org page: SNGO customization"
- Key Figures - "No. of Member Sharing" should be “No. of Members Sharing”

[2015-04-01 11:05] cjhendrix opened #2580 "Custom Loc Page: Colombia map not working"
/group/col is set up to use the custom page.  The I've double checked the geo and values resouce ids and that they are valid files, but the map doesn't render.  The values dataset is in filestore, maybe this is the problem?

**Values:** https://test-data.hdx.rwlabs.org/dataset/json-repository/resource/e6cbd327-4846-4ea8-b8c0-c5c876af36bd
- parsed by sublime and https://json-csv.com as valid

**Bou

[2015-04-01 11:07] danmihaila opened #2581 "Custom location page: Admin - data type dropdowns not aligned"
Data Type dropdown(2 places) is not well aligned and has no text as hint in right column
![screen shot 2015-04-01 at 14 04 18](https://cloud.githubusercontent.com/assets/3865844/6939753/3906d4fa-d878-11e4-9b31-00ba18fa1d6d.png)

[2015-04-01 11:12] danmihaila opened #2582 "Custom location page: chart with multiple sources"
We have to implement the feature to display data from at least two sources in the same chart

[2015-04-01 11:14] cjhendrix commented on #2582
For testing, we want to show this data alongside the IDPs data that is already there in the first chart.
https://data.hdx.rwlabs.org/dataset/evolution-of-malian-refugees-since-september-2012/resource/bdc01eb9-ed81-4887-bb64-f4317bf4221e

[2015-04-01 11:22] cjhendrix opened #2583 "Custom Loc Admin Page: align buttons at bottom"
![image](https://cloud.githubusercontent.com/assets/1654485/6939963/2bb44e96-d872-11e4-8a4a-1b29ae6a406a.png)

[2015-04-01 11:25] cjhendrix opened #2584 "Custom Loc Admin Page: Line chart setting not saved"
To replicate:
1. https://test-data.hdx.rwlabs.org/group/col  Note 1st chart is bar chart
2. edit the page and change to line chart
3. update page
4. 1st chart is still a bar chart

[2015-04-01 11:33] cjhendrix opened #2585 "Custom Loc Page: Chart date format"
Compare the date formats on production and stag:
![image](https://cloud.githubusercontent.com/assets/1654485/6940104/ae8ba50c-d873-11e4-8e3e-a7aa4f14be2a.png)

The format on production (left) is preferred.  However I know we have to consider what approach can be most flexible for other datasets with dates at different timescales.  Maybe we have to include this in the configuration?

[2015-04-01 11:42] cjhendrix opened #2586 "Could we have a user with access to private datasets in order to expose data but keep the datasets hidden"
We occasionally want to expose data through a visualization in the interface but not have the datasets be visible in search results.  For those cases could we have a user + org where we store those datasets as private but use the user's permissions to pull the data into the interface?

Examples of such datasets:
https://test-data.hdx.rwlabs.org/dataset/json-repository
https://test-data.hdx.rwlabs.

[2015-04-01 11:59] alexandru-m-g commented on #2584
I checked and on the org page the information about the changed chart type appears.

[2015-04-01 12:00] cjhendrix commented on #2482
Yes, that's right.  So when we pull the metadata from ckan, we won't pull this field and instead rely on what is already in CPS.

I think this may have happened when we were working on the ". . . more" functionality.  I remember a couple of weird things happening similar to this.

[2015-04-01 12:11] cjhendrix commented on #2557
that works for me too, but I wouldn't recommend investing too much time in it yet.  I'm sure we'll do a massive overhaul on this interface eventually.

[2015-04-01 13:33] alexandru-m-g commented on #2553
This is related to #2562

@cjhendrix I don't think there's a correct answer to "at what point are there enough toplines that the page looks better with a second chart".
For example, with 5  top lines and 1 chart there is alot of white space on the right side. On the other hand with 2 charts there would be alot of space on the left.
Maybe we should just allow 3 or 6 top lines.

[2015-04-01 14:01] danmihaila opened #2589 "Custom org page: SNGO 3w map"
align the SNGO 3w map from vizualization
ping @aalecs @SimonbJohnson

[2015-04-01 14:11] danmihaila opened #2591 "Custom location page: connect fields(from admin) with javascript"
- [x] Title Column
- [x] Threshold
- [x] Title

[2015-04-01 14:11] #2428 closed, assigned to aalecs

[2015-04-01 14:12] #2419 closed, assigned to aalecs

[2015-04-01 14:13] #2203 closed

[2015-04-01 14:19] danmihaila opened #2592 "Custom location page: extra field"
- [ ] rename "title column" -> "district name column"
- [ ] Map title under Map Values config

[2015-04-01 14:25] #2562 closed, assigned to alexandru-m-g

[2015-04-01 14:30] danmihaila opened #2594 "Custom location page: format dates for chart"
if it is a string: display like this
otherwise display it: Oct 01, 2014

[2015-04-01 14:39] #2579 closed, assigned to cjhendrix

[2015-04-01 14:45] danmihaila commented on #2572
it will be done via google doc

[2015-04-01 14:45] #2572 closed, assigned to nobody

[2015-04-01 14:45] cjhendrix commented on #2572
agreed that data team would managed in gdoc for now

[2015-04-01 14:47] cjhendrix commented on #2571
Dev team advises 3rd item is significant effort.  We will skip this one for now, but @yumiendo @ochadataproject @amcguire62 let us know if we should do it.

[2015-04-01 14:51] alexandru-m-g commented on #2571
https://drive.google.com/drive/u/0/#folders/0B16fOsnmtif0ZGdaa3ZTT3ZqZ00/0B16fOsnmtif0YVZNcmJzRGY5NWc/0Bw5omaSZ5BTHTEg1a0NLRElXU1k/0Bx1KWNTx8Ij3MHFVRjluX3NqQ3c/0B4J8rDnUw80gNXpiQ3NtbU1BQVk/0B24NBcgmV490NUdHYmNTWW8tTWc/0B24NBcgmV490dmlzMDVxN253WHc/0B24NBcgmV490fkhocnlEdkpsZDRYVzJDYzBydWNia0lleVNZZzNwSl9hcFJoZlVSSTNlOTA

[2015-04-01 14:56] mbellotti commented on #2438
This doesn't have anything to do with the admin page. It happens because the mailing list form field is empty.

[2015-04-01 15:01] #2525 closed, assigned to cjhendrix

[2015-04-01 15:01] #2482 closed, assigned to alexandru-m-g

[2015-04-01 15:05] cjhendrix commented on #2438
We assigned it to you anyway.  :)

[2015-04-01 15:11] amcguire62 commented on #2550
Simon just checking are you ok with this ticket

[2015-04-01 15:14] danmihaila commented on #2569
1. Go to https://test-data.hdx.rwlabs.org/organization/american-red-cross
2. edit
3. don't change anything just click on "save" and it will go to 500 error page
   I guess we are missing couple of imports...
   ![screen shot 2015-04-01 at 18 13 46](https://cloud.githubusercontent.com/assets/3865844/6944119/e56b9006-d89a-11e4-97a5-2e3a930a1a55.png)

I attached a screenshot

[2015-04-01 15:16] danmihaila commented on #2550
I will reopen this issue for the moment :)

[2015-04-01 15:40] cjhendrix opened #2597 "Custom Org Page: Adjustments to main title area"
- [x] Allow Org Name and and Description to be wider.  Leave same white space on left and right sides of the logo box.
- [x] keep buttons bottom aligned with logo box
- [x] allow two lines of description, then "more" functionality

![image](https://cloud.githubusercontent.com/assets/1654485/6944806/0bf6466c-d896-11e4-97ad-3ae285582cb0.png)

[2015-04-01 15:41] cjhendrix commented on #2597
Note "Visit Website" not to be changed (not sure if that's in another issue somewhere), but Yumi agreed it wouldn't look good with longer Org Names).

[2015-04-01 15:53] cjhendrix opened #2598 "Custom Org Page: Vizualization title changes"
- [ ] add data link (same style as /group/col on prod)
- [ ] change viz title to black text

![image](https://cloud.githubusercontent.com/assets/1654485/6945113/b70c05c2-d897-11e4-8989-69155e5beb3b.png)

[2015-04-01 16:29] danmihaila commented on #2597
I will take this one as I have another one linked to it

[2015-04-01 17:59] SimonbJohnson commented on #2550
@danmihaila @aalecs Done for my version on github

https://github.com/SimonbJohnson/WFP-food-price

[2015-04-01 22:42] pjdufour commented on #694
Yes.  If needed to prevent accidential deletion, it could be a two step process (like termination protection in Amazon Web Services).  Permanent deletion is necessary if an organization wants to reuse a dataset url or another org wants to use the url.

[2015-04-01 23:39] alexandru-m-g commented on #2580
@cjhendrix The geojson file has some null "geometry" fields. ( Counting from the bottom, numbers 4,5,6 for example ). This messes up the javascript code that renders the map. I added a modified version to the same dataset as above and I can see the polygons on the map.

Some things are still not working but are probably due to the fact that the new configuration fields are not yet used on the "vie

[2015-04-02 08:24] cjhendrix commented on #2580
Great!  Thanks for sorting that out.  I think the null geometries probably come from the simplification that was used.  It probably simplified some municipios to null.

[2015-04-02 09:51] cjhendrix opened #2599 "Dataset Create: odd bit of text showing in bottom left"
![image](https://cloud.githubusercontent.com/assets/1654485/6961775/91a26d0c-d92e-11e4-88fe-a84de10920dc.png)

[2015-04-02 09:58] cjhendrix opened #2600 "dataset create/edit: chainging year after setting the date is confusing"
The date will not update unless the day is chosen again.   Very confusing when creating datasets.

[2015-04-02 11:51] danmihaila opened #2601 "Custom org page: missing link from admin menu"
We are missing "add data" link based on mockup
https://docs.google.com/file/d/0B24NBcgmV490VXVXTl9pN0gzZmc/edit
When clicked the "add data" it should go to https://test-data.hdx.rwlabs.org/dataset/new?organization_id=3ecac442-7fed-448d-8f78-b385ef6f84e7

[2015-04-02 11:55] danmihaila commented on #2438
About those 2 errors:
A. mandatory field red alert:
  that alert is raised when "update organization" button is clicked, so it has to do with form. My guess is  we have 2 forms with the same or a form tag is not closed.

B. Javascript Alert
I tried to reproduce it:
1. I edited wfp org
2. add logos
3. add vizualization type (wfp and not 3w as selected by default)

I got this alert: check screenshot

[2015-04-02 12:48] danmihaila opened #2602 "Custom org page: logos are switched"
After the latest commits the logos are switched.
related to https://github.com/OCHA-DAP/hdx-ckan/issues/2421
might influence
https://github.com/OCHA-DAP/hdx-ckan/issues/2527
and
https://github.com/OCHA-DAP/hdx-ckan/issues/2571

[2015-04-02 12:50] #2602 closed, assigned to danmihaila

[2015-04-02 12:55] danmihaila commented on #2570
re: Next to "share button" please add “follow” and "request membership"
The buttons are there, but they will appear or not based on if user is logged in or not, is sysadmin, guest, or part of the organization

[2015-04-02 12:55] #2570 closed, assigned to danmihaila

[2015-04-02 12:57] danmihaila commented on #2597
@cjhendrix  in the initial design there were 3 lines for description. I am attaching a screenshot with 3 lines which I think it looks good.
pls advis
![screen shot 2015-04-02 at 15 56 40](https://cloud.githubusercontent.com/assets/3865844/6964358/fe6de048-d950-11e4-9f8e-0949ade24250.png)
e

[2015-04-02 13:27] danmihaila commented on #2597
@cjhendrix I tested with 3 lines as it is in the initial design and it looks ok. what do you think?
![screen shot 2015-04-02 at 16 26 13](https://cloud.githubusercontent.com/assets/3865844/6964776/18c145d0-d955-11e4-8448-6fc8536ce6e1.png)

[2015-04-02 13:32] #2580 closed, assigned to alexandru-m-g

[2015-04-02 13:33] alexandru-m-g commented on #2580
I did the following changes:
- use the threshold property
- use the values column property
- use the area name column property
- accept geojson with null geometry

[2015-04-02 13:47] cjhendrix commented on #2597
Agreed!

[2015-04-02 15:05] danmihaila opened #2607 "Custom org page: admin menu is always displayed"
Admin menu should be displayed only for users that have the right to see it.
![screen shot 2015-04-02 at 18 04 19](https://cloud.githubusercontent.com/assets/3865844/6966587/dc860868-d962-11e4-8023-17f2bdc39430.png)

[2015-04-03 09:31] #2597 closed, assigned to danmihaila

[2015-04-03 10:37] alexandru-m-g commented on #2564
@danmihaila @aalecs can someone point me on how to replicate the problem for custom locations ?

I've committed a fix for custom org, will test it once it's on dev or stag.

[2015-04-03 10:39] alexandru-m-g commented on #2564
I've committed a fix for custom org, will test it once it's on dev or stag.

@teodorescuserban : There is a new 'hdx.orgmap.url' setting in common config that can be overwritten to change how the tiles are fetched.

[2015-04-03 10:39] alexandru-m-g commented on #2563
@danmihaila @aalecs can someone point me on how to replicate the problem for custom locations ?

[2015-04-03 11:04] danmihaila opened #2610 "Custom pages: how to display a section"
A section from a custom page (map, topline, chart, vizualization) must be visible if data exists and can be displayed

[2015-04-03 11:05] danmihaila commented on #2563
@alexandru-m-g  pls check https://test-data.hdx.rwlabs.org/organization/wfp
![screen shot 2015-04-03 at 13 58 32](https://cloud.githubusercontent.com/assets/3865844/6981460/71fdcaaa-da0a-11e4-8149-bccb052079f8.png)

[2015-04-03 11:06] alexandru-m-g commented on #2563
@danmihaila that's for custom orgs not locations

[2015-04-03 11:07] danmihaila commented on #2563
I couldn't reproduce anymore for locations: we should check colombia & mali. If they are ok, we can close this issue.
sorry for confusion

[2015-04-03 11:07] #2563 closed, assigned to alexandru-m-g

[2015-04-03 11:26] danmihaila commented on #2559
@cjhendrix @SimonbJohnson
I am not sure if we the requirement is to remove this button. If no, after you click on "embed" button there is no way to return the the initial state (hide the options and display again the button).
pls advice what how to proceed
![screen shot 2015-04-03 at 14 23 43](https://cloud.githubusercontent.com/assets/3865844/6981609/31c71966-da0d-11e4-845e-6ff620e98dbb.png)
![sc

[2015-04-03 11:45] danmihaila commented on #2569
I have to reopen this issue again.
I removed the description, clicked saved and got again error 500 (try https://test-data.hdx.rwlabs.org/organization/edit/american-red-cross)
I think some references are missing here (check screenshot) at lines 222, 230, 235.
![screen shot 2015-04-03 at 14 42 33](https://cloud.githubusercontent.com/assets/3865844/6981771/f51177b6-da0f-11e4-942d-edb6d07255bd.png)

[2015-04-03 12:15] danmihaila commented on #2533
This is not working, reopening
![screen shot 2015-04-03 at 15 14 01](https://cloud.githubusercontent.com/assets/3865844/6982002/32f74174-da14-11e4-880a-e2087f9ca0a6.png)

[2015-04-03 12:15] danmihaila commented on #2533
moved to sprint 52

[2015-04-03 12:17] danmihaila commented on #2574
@SimonbJohnson in the interactive data(check screenshot) there is the text "Click a country to..." which is currently displayed on a row and make the vizualization a bit big. Can we remove it? if not, can we move it somewhere else?
keeping @cjhendrix and @yumiendo into the loop
![screen shot 2015-04-03 at 15 14 01](https://cloud.githubusercontent.com/assets/3865844/6982014/4ebcd18a-da14-11e4-89ff-

[2015-04-03 20:44] pjdufour opened #2612 "Show Resource Size"
Show users the "human readable size" (4 MB, 200 KB, etc.) of a resource in the UI somewhere.  For the API, the size could just be in bytes/kilobytes.  This is useful information to know before you download a large file through the UI or automatically.

[2015-04-06 05:03] mbellotti commented on #2567
I fixed this, but I don't have configuration values for the WFP visualization, so at this point it is just an empty template.

[2015-04-06 05:22] mbellotti commented on #2533
Okay, this is connected the fact that we do not have configuration values for WFP's visualization (it's hard coded somewhere), so the data the controller delivers is just a placeholder. I've updated it to include title and description.

[2015-04-06 09:22] danmihaila commented on #2533
@mbellotti you are right, WFP has not visualization title. From what I know "WFP visualization" is not using any configuration field that we have for other orgs (e.g SNGO)
pinging @cjhendrix and @SimonbJohnson to be compared with
https://test-data.hdx.rwlabs.org/organization/somalia-ngo-consortium?sort=metadata_modified+desc
vizualization title is "Vizualization title...a very long title....".

[2015-04-06 09:35] danmihaila commented on #2567
For WFP there is no fields to be configured yet. Probably @SimonbJohnson or @aalecs will say if we have any field to be added.

[2015-04-06 09:44] danmihaila commented on #2594
@cjhendrix - we don't find the resource for chart 2 for Mali. Can you point us to it?

[2015-04-06 09:52] #2584 closed, assigned to aalecs

[2015-04-06 10:02] danmihaila commented on #2533
~~I retested on STAG server and it looks that vizualization title for WFP is displayed, but it is covered by visualization itself. So basically, we should consider making the WFP smaller and allow the title to be visible.~~
~~as it is an integration issue and not confi anymore I would assign this issue to @aalecs.~~
~~@mbellotti are  you ok with this?~~

[2015-04-06 10:42] danmihaila commented on #2574
First item will be done via: https://github.com/OCHA-DAP/hdx-ckan/issues/2598

[2015-04-06 11:22] #2601 closed, assigned to danmihaila

[2015-04-06 11:31] #2557 closed, assigned to aalecs

[2015-04-06 11:32] alexandru-m-g commented on #2571
@yumiendo @cjhendrix @danmihaila
The "Request Membership" link is kinda hard to fit inside the white hover box which needs to be (300-75) px x 75 px.
![rq1](https://cloud.githubusercontent.com/assets/6586348/7003774/d15c65e6-dc68-11e4-8d92-6dc4e4f42714.png)
![rq2](https://cloud.githubusercontent.com/assets/6586348/7003814/b64be33e-dc69-11e4-8d54-4003bb6e1a78.png)

Please advise.

[2015-04-06 14:58] #2576 closed, assigned to aalecs

[2015-04-06 15:47] yumiendo commented on #2571
Hi alex, thank you for sharing the options.
two things -
1. please add "|" between links. so "SHARE  |  UNFOLLOW  |  REQUEST MEMBERSHIP"
2. now that the above links will be somewhat long and we need to stretch the bg white, the type size needs to be adjusted so it looks proportional to the bg white box.
the revised spec is below:
![screen shot 2015-04-06 at 11 49 37 am](https://cloud.githubusercon

[2015-04-06 15:49] yumiendo commented on #2571
also @cjhendrix
by 3rd item you meant, "sticky logo - bg disappears once you click on share. is there a way to keep the bg" is significant effort?

[2015-04-06 16:45] alexandru-m-g commented on #2571
@yumiendo @cjhendrix
No worries about 3rd item. All above points are committed _except_ the latest specs from today.

[2015-04-06 17:46] alexandru-m-g commented on #2607
So I implemented the following (based on auth functions):
- if the user has no role in the org then he doesn't see the menu at all
- if the user is an editor of the org he will see the menu with 1 entry ( Add Dataset )
- if the user is an admin of the org he will see the menu and all 3 entries

[2015-04-06 17:47] #2607 closed, assigned to alexandru-m-g

[2015-04-07 05:46] #2568 closed, assigned to mbellotti

[2015-04-07 05:46] #2592 closed, assigned to mbellotti

[2015-04-07 07:47] cjhendrix commented on #2559
~~Looks like the radio buttons I was talking about are gone.  Ignore the second item in the list above.~~

[2015-04-07 08:26] cjhendrix commented on #2594
It's in the control doc.  ;)

But you also need to know what variables to use.  See the comments in the doc for that info.

[2015-04-07 11:42] danmihaila commented on #2574
"Embed data" link -> "Embed" link
"Embed" button - removed

[2015-04-07 11:44] danmihaila commented on #2559
closed via https://github.com/OCHA-DAP/hdx-ckan/commit/135634de23aa966080d694e8cbc3770abeebad42

[2015-04-07 11:44] #2559 closed, assigned to danmihaila

[2015-04-07 11:44] danmihaila commented on #2559
"Embed data" link -> "Embed" link
"Embed" button - removed

[2015-04-07 11:51] danmihaila commented on #2533
@mbellotti I merged the PRs, but I don't see any title for WFP visualization. I think we need to chat about this issue, i assume it is minor but we need to clear it :)

[2015-04-07 12:41] mbellotti commented on #2533
The fix was not on that PR. It's on my image_uploads branch.

On Tue, Apr 7, 2015 at 7:51 AM, danmihaila notifications@github.com wrote:

[2015-04-07 12:43] #2571 closed, assigned to alexandru-m-g

[2015-04-07 12:44] danmihaila commented on #2545
at @cjhendrix suggestion regarding item 3 we decided to rename "description" -> "data link url" and use it in Custom location page as link of "Data"

[2015-04-07 12:47] danmihaila commented on #2533
@mbellotti pls check my commit as well. i needed to work on another issue. thanks

[2015-04-07 12:51] mbellotti commented on #2533
Yeah that should work, but I don't understand why you did it. Was this a blocker for someone?

[2015-04-08 08:18] #2533 closed, assigned to danmihaila

[2015-04-08 08:34] danmihaila commented on #2533
we discussed on chat about this issue. @mbellotti can adjust my commit when she will push her changes. keeping this one closed

[2015-04-08 08:40] danmihaila opened #2620 "Custom location page: chart type dropdown not working"
It is similar with vizualization type issue. After the chart type is set to line chart, etc it will not be displayed when editing again the country (mali for example)
![screen shot 2015-04-08 at 11 39 24](https://cloud.githubusercontent.com/assets/3865844/7041665/f9e7134a-dde3-11e4-8202-a47250122f86.png)
assigned to @mbellotti

[2015-04-08 08:53] danmihaila opened #2621 "Custom org page: Custom location page: Admin validation fields"
We will need a discussion/brainstorm with data team and dev team about admin section for custom pages:
- mandatory fields
- validation fields (text, url, etc)

[2015-04-08 09:35] #2545 closed, assigned to danmihaila

[2015-04-08 09:42] danmihaila commented on #2598
after a call with @cjhendrix we decided to make item 1. similar with custom location page:
description -> data link url and used as link for "data"

[2015-04-08 12:48] #2598 closed, assigned to danmihaila

[2015-04-08 12:58] alexandru-m-g commented on #2566
All tests run now ok on dev so I'm closing this ticket.

[2015-04-08 12:58] #2566 closed, assigned to alexandru-m-g

[2015-04-08 13:11] #2594 closed, assigned to aalecs

[2015-04-08 13:20] aalecs commented on #2575
2nd "embed" we can fix when we integrate Simon's latest version of the script

[2015-04-08 13:33] SimonbJohnson commented on #2567
No fields needed for the WFP Viz at this moment.

[2015-04-08 14:05] #2567 closed, assigned to mbellotti

[2015-04-08 15:59] cjhendrix opened #2631 "Epic: Supporting geo preview of large files"
This epic is intended to provide the ability for us to reliably preview large shp resources.  Test cases are:

https://data.hdx.rwlabs.org/dataset/openstreetmap-shapefiles-for-gis-softwares-daily-updates (3MB zipped)
https://data.hdx.rwlabs.org/dataset/lsib-lines-global-simplified (15MB zipped).
http://redirect.state.sbu/?url=https://data.hdx.rwlabs.org/dataset/lsib-polygons-africa-and-americas-si

[2015-04-09 05:03] #2581 closed, assigned to mbellotti

[2015-04-09 05:03] #2620 closed, assigned to mbellotti

[2015-04-09 09:30] #2591 closed, assigned to aalecs

[2015-04-09 21:35] danmihaila opened #2635 "Custom org page , Custom Location page : Admin - remove items from header"
@cjhendrix what do you think?
Check screenshots as well:
Custom org page:
- [ ] remove horizontal line
- [ ] remove "View Organization" link

Custom location page:
- [ ] remove horizontal line
- [ ] remove "View" link
- [ ] remove tabs "Edit" and "Members"

![screen shot 2015-04-10 at 00 31 38](https://cloud.githubusercontent.com/assets/3865844/7077470/9d45b31c-df19-11e4-8808-da6c5aaa02c0.png)
![s

[2015-04-10 05:46] #2527 closed, assigned to mbellotti

[2015-04-10 07:25] cjhendrix opened #2638 "Custom Org Page: change page name to match style of default org page"
![image](https://cloud.githubusercontent.com/assets/1654485/7083538/798f3818-df63-11e4-9518-d9149e036d90.png)

Page name should be `[org name] - Humanitarian Data Exchange`

[2015-04-10 07:52] cjhendrix opened #2639 "API: provide a lighter version of group_show"
The H.Kiosk team would like to use our API to populate pages.   You can see the their [mockups](https://drive.google.com/file/d/0Bx1KWNTx8Ij3T0t6NXdMMTRhbGs/view?usp=sharing) to get an idea of what they are trying to achieve.

Currently, our group_show response is quite large, making it impossible to use the API on the fly.

If we are going to take this on, the H.Kiosk team would need it by beginn

[2015-04-10 08:00] cjhendrix opened #2640 "Standardize the urls of topline datasets"
To enable partners to programmatically access topline figures, could we change our current topline datasets to use the following (or some other agreed) pattern:

Location URL:   `/dataset/[iso3]-topline`
Crisis URL:  `/dataset/[crisis short name]-topline`
Organization URL:  `/dataset/[org name]-topline`

The patterns below for Dataset and Resource Names are already in use for Colombia and Ebola:
D

[2015-04-10 08:32] cjhendrix opened #2641 "Develop script for migrating CODs to HDX"
The specification (still a work in progress) is here:

https://docs.google.com/spreadsheets/d/1eJatDiBAeKDAfTi7y2WV-xVYS_qVYxmUuWIoAxI2lrY/edit#gid=1742481065

I believe there is enough there to build it.  There will no doubt be some adjustments once we start testing it, however.

[2015-04-10 12:27] danmihaila commented on #2639
https://test-data.hdx.rwlabs.org/api/action/hdx_light_group_show?id=mli

[2015-04-10 12:30] alexandru-m-g commented on #2639
@cjhendrix @danmihaila
It's true that the package_search function call is rather complicated if there's a need for a way to get the list of all datasets for a group. In that case we could create a wrapper function call over the package_search function to make things easier.

[2015-04-10 13:11] cjhendrix commented on #2639
the h.kiosk developer will give us a list of what he would like to see.  We can take that as input, decide if there are some other things to add for more general use cases and build based on that.

I can imagine it might be nice to get the basic info of the group (excluding the geojson!) along with a limited number of dataset returns sorted either by popular or last_modified.

[2015-04-10 16:43] takavarasha commented on #2639
My comment is on the topline figures and does not cover the dataset list aspect. I just wanted to point out that the user gave examples of Colombia and Algeria. Algeria does not have toplines. Instead it uses the ckan wrapper endpoint for the https://manage.hdx.rwlabs.org/public/api2/ to display the figures and graphs. I wonder if we should also present the option of the ckan wrapper api to the us

[2015-04-13 12:42] cjhendrix opened #2646 "Add ability to sort the x or y axis"
For data that is not a timeline, we may want to be able to sort (asc or desc) by values in the x or y axes.  For example, the 2nd mali chart would benefit from alphabetical sorting of the districts or numeric sorting of the values.

![image](https://cloud.githubusercontent.com/assets/1654485/7115729/5cd16bda-e1eb-11e4-9e26-f3ed7677b6bc.png)

All graph styles except horizontal bar (which we have no

[2015-04-13 12:53] cjhendrix opened #2647 "Add another units configuration to the topline numbers for "million-dollars""
The units keywords the the topline #s currently does not handle the combination of large numbers and dollars.  Hence, this topline becomes too long:

![image](https://cloud.githubusercontent.com/assets/1654485/7115837/630f5d9e-e1ec-11e4-99fb-2a48eb9e116e.png)

Add a new configuration "million-dollars" that triggers both formatting actions.  While you're at it, you might add "billion-dollars" and "

[2015-04-13 13:02] cjhendrix opened #2648 "Some custom org elements are appearing on the admin page for orgs that are not using custom"
1. Login as a user with admin rights to an org but not sysadmin, like joefoo for innago.
2. visit /organization/edit/innago
3. some custom org page configuration elements are visible:

![image](https://cloud.githubusercontent.com/assets/1654485/7115996/0586df7e-e1ee-11e4-9c20-090161ff2f65.png)

[2015-04-13 13:14] cjhendrix commented on #2639
Great point, Godfrey.  From the user's point of view, we appear to have topline numbers for every location and an API user might expect to be able to call them.  The fact that some are coming from datastore datasets and some are coming from CPS should be transparent to them.

[2015-04-13 13:36] cjhendrix commented on #2579
Fixed in the prod datastore, not stag.

[2015-04-13 13:39] cjhendrix commented on #2576
Looks nice!  Good idea @yumiendo

[2015-04-13 13:55] cjhendrix opened #2649 "COD Migration Script"
Just putting some notes here.  More to come.
From Luis:

---

The script to "register" datasets on HDX can be found here:
https://github.com/luiscape/hdxscraper-unosat/blob/master/code/create-datasets.py
It can also create resources and gallery items.

It uses three JSON files as input:
Datasets.json: https://github.com/luiscape/hdxscraper-unosat/blob/master/data/datasets.json
Gallery.json: https:

[2015-04-13 14:02] cjhendrix opened #2650 "Custom Org Page: Sticky logo doesn't handle long names well"
Org name is fine at the top of the page (I tested 2 and 3 line names):
![image](https://cloud.githubusercontent.com/assets/1654485/7117017/4c3d80f0-e1f6-11e4-9ac2-e275bf8cb59a.png)

But the sticky logo doesn't like long names:
![image](https://cloud.githubusercontent.com/assets/1654485/7117034/63564bfa-e1f6-11e4-89c2-dd0f6629c16a.png)

[2015-04-13 14:35] cjhendrix opened #2651 "Embed: scroll bar lingers after changing size of embed"
1. Embed the wfp map
2. change the size
3. change it back to 800x500
4. extra scroll bar maintained

![image](https://cloud.githubusercontent.com/assets/1654485/7117747/1c8fc066-e1fb-11e4-9ebf-e2403e26766e.png)

[2015-04-13 14:49] cjhendrix commented on #2557
Noted that the default values are different from above, but the header that results is correct.  Marking as tested.

[2015-04-13 14:53] SimonbJohnson commented on #2574
@danmihaila @cjhendrix

Has this been tested as an embed?  The header is used differently in the embedded version as it also holds the navigation.  When I tried to recreate on mine there wasn't enough space.

![embedheader](https://cloud.githubusercontent.com/assets/2110742/7118129/ff80db5a-e1f4-11e4-939e-fc7f0243f837.png)

[2015-04-14 06:39] #2648 closed, assigned to mbellotti

[2015-04-14 08:11] danmihaila opened #2655 "Custom org page: Admin : SNGO title is not saved"
I am trying to update the title of the SNGO visualization and it is not saving...
pinging @mbellotti

[2015-04-14 08:13] cjhendrix commented on #2655
Same for the "Data Link URL".

[2015-04-14 08:32] danmihaila opened #2656 "Custom location page: tweaks about Topline numbers &charts"
0-3 toplines -> topline sections off, charts off
4 toplines -> 1 chart on
5-7 toplines -> 4 toplines on, 1 chart on
8 toplines -> 2 charts on
ping @cjhendrix

![custom-location](https://cloud.githubusercontent.com/assets/3865844/7133195/6712e750-e299-11e4-8cc8-9e00cfcbe86f.png)

[2015-04-14 08:34] cjhendrix commented on #2655
Same for the chart title as well (compare title of Mali chart 1 vs what is saved in the admin page).

[2015-04-14 08:40] danmihaila commented on #2574
nope, we didn't have the latest code.
I think we should use them a bit different as there a lot of space that Yumi and Sarah wants to get rid of it in the initial visualization.
@SimonbJohnson can we think of another solution maybe?

[2015-04-14 08:42] danmihaila commented on #2655
@mbellotti I think this is related with latest commit. On Friday it was working.
We need to fix this one today.

[2015-04-14 08:43] cjhendrix commented on #2656
Seems sensible to me.  @yumiendo ?

[2015-04-14 08:59] danmihaila commented on #2574
I made a temporary fix, but I think we should find a proper one

[2015-04-14 09:03] danmihaila commented on #2631
I recommend a call with @cjhendrix and me before starting this. This task has to be agile based on what we discover. I suggest:
- [ ] call about this issue - 1h
- [ ] research tools & stuff based on call - 1 day
- [ ] status research call - 2h
- [ ] installing, deploying, testing tools - 2 days [to be adjusting based on research]
- [ ] status call -1 h
  Total 3 1/2 days

[2015-04-14 09:13] danmihaila commented on #2639
I think we need to decide what fields should appear in this lighter form.
Do you think it is a good idea to give the option to filter. For example user API could get org details + topline numbers, or org details+CPS details.
As main sections I suggest:
- [ ] Org information (what minimum information should be displayed here)
- [ ] Topline numbers (datastore or CPS - transparent for user)
- [ ] Cha

[2015-04-14 09:27] danmihaila opened #2659 "Custom Location Page: Add indicator graph to admin interface"
For a country/location page we should be able to display an indicator - data is coming from CPS

[2015-04-14 09:30] danmihaila commented on #2550
this is done, closing it

[2015-04-14 09:30] #2550 closed, assigned to SimonbJohnson

[2015-04-14 09:30] danmihaila commented on #2441
@SimonbJohnson any update on this issue?

[2015-04-14 09:31] danmihaila commented on #2578
@SimonbJohnson any update on this one?

[2015-04-14 09:41] danmihaila commented on #2640
@cjhendrix I am not sure if this is something that a dev or data should do it. I think we could push this changes for url format when we push next time to prod

[2015-04-14 09:41] danmihaila commented on #2477
I see a bit of improvement. Soon, we might want to get into some tests with custom pages.

[2015-04-14 09:41] #2477 closed, assigned to nobody

[2015-04-14 09:42] danmihaila commented on #2534
@mbellotti or @alexandru-m-g pls reply to this question and we could close it.
Right now, for "Data url" we are using a different field.

[2015-04-14 09:45] danmihaila opened #2660 "Continous integration: Maintenance scripts, automatic testing"
The desired scenario:
- when a dev is creating a Pull Request (PR) the server should try to redeploy that branch and run nosetests
- when a PR is merged into dev - the dev server should automatically redeploy and run nosetests.

Ping @alexandru-m-g to fill more details here
@teodorescuserban to be aware as it might be a task for him

[2015-04-14 09:49] danmihaila commented on #2646
@cjhendrix I agree we might need this option. Lets think how to include a menu for all these filtering, etc.

[2015-04-14 09:54] #2610 closed, assigned to alexandru-m-g

[2015-04-14 10:05] danmihaila commented on #2656
About topline numbers:
keep text only on 2 lines and if it is longer lets trim it and add "...". When moving mouse over text it will display a default browser hint with full text.
@alexandru-m-g what do you think, is it doable?

[2015-04-14 10:08] SimonbJohnson commented on #2578
@amcguire62 wanted me to focus my time on wfp viz for now.  @amcguire62 is that still the case?
Same with https://github.com/OCHA-DAP/hdx-ckan/issues/2441

[2015-04-14 10:09] cjhendrix commented on #2656
Note the the "source - data - date" line on a topline number can be > 1 line, and changes the height.

![image](https://cloud.githubusercontent.com/assets/1654485/7134647/0f9f223a-e29f-11e4-92ca-7a9d74059540.png)

[2015-04-14 10:13] amcguire62 commented on #2578
yes it remains wfp ...@danmihaila can anyone else look at this?

[2015-04-14 10:16] alexandru-m-g commented on #2656
@danmihaila  @cjhendrix
For now I'm only focusing on the design changes requested in Yumi's template.
We already have a logic in place for when to show the 2nd chart implemented in #2553. I would suggest we do any logic changes in the next Sprint.

[2015-04-14 10:16] cjhendrix opened #2661 "Custom Loc & Custom Org: Allow configuration of series names in charts"
We probably need to allow the user to configure the name to be shown each series in the charts.

![image](https://cloud.githubusercontent.com/assets/1654485/7134735/07fb47a6-e2a0-11e4-822d-fcba0337c19b.png)

[2015-04-14 10:30] danmihaila commented on #2661
@cjhendrix this is the name of resource. This is how we decided to display, make it easier to configure. Can you check that if you change the name of resource the text is changing here?

[2015-04-14 10:34] alexandru-m-g commented on #2661
@danmihaila Won't this affect the name of the file when you download it ?

[2015-04-14 10:38] alexandru-m-g commented on #2660
I think we should spend some time investigating jenkins and travis for automating the tasks mentioned above.

[2015-04-14 11:10] yumiendo commented on #2656
Does this mean top line number can be "in-between" numbers (ie. 3, 5, etc) ?? Can we suggest to data team that ideally we stick to 4 or 8?

[2015-04-14 11:12] danmihaila commented on #2661
@alexandru-m-g the filename that will be downloaded will be: Name.format

[2015-04-14 11:14] danmihaila opened #2662 "Custom location page: review of topline numbers and charts section"
I think we need to review the way we are using the topline numbers and charts section to support several cases:
- topline name on 2 rows
- topline source on 2 rows
- different number of toplines vs charts

[2015-04-14 11:16] teodorescuserban commented on #2660
Agree.
Care to have a short talk tomorrow?

Mar, 14 apr. 2015, 13:38, Alexandru Gartner notifications@github.com a
scris:

[2015-04-14 11:23] danmihaila commented on #2656
@yumiendo @cjhendrix @alexandru-m-g pls note I created another issue for next sprint to address maybe a rewrite of these 2 sections in order to support these cases:
https://github.com/OCHA-DAP/hdx-ckan/issues/2662

[2015-04-14 11:24] cjhendrix commented on #2640
I _think_ it's just a change for data team to make, except for ebola.  I imagine changing the URL for ebola toplines.  The rest should just be a configuration change for the data team.

However, in #2639, @takavarasha has pointed out that the user seems to be looking for toplines for all countries. From a user perspective, there really isn't much difference between the toplines and the "key figure

[2015-04-14 11:29] danmihaila commented on #2661
This is the CKAN way I think. If there is name it will be return as name of the file...If you think we should display the initial filename, we can create a git issue for it.
Ping @cjhendrix

[2015-04-14 11:30] cjhendrix commented on #2661
I think we just want to add another configuration element on the admin page for "Series Name", with help text "The series name is shown in the legend of the chart."  But maybe I'm missing something?

[2015-04-14 11:48] danmihaila commented on #2661
We tried to avoid having too many fields in the admin configuration. This was a reason @mbellotti proposed to use the name of the resources. For me it makes sense as we display information from that resource. But in case Data Team wants to have another field in admin form, we can add it (maybe Sprint 53 or next Sprint).

[2015-04-14 11:51] danmihaila opened #2663 "Custom location page: Threshold values"
When setting more than 5 intervals, the legend is missing one color. Check screenshot
I think we should support up to 7 intervals...
![screen shot 2015-04-14 at 14 50 06](https://cloud.githubusercontent.com/assets/3865844/7136086/af8948f0-e2b5-11e4-9b84-bfbfa630e41d.png)

[2015-04-14 12:03] danmihaila commented on #2441
I played a bit with numbers for SNGO and it looks almost good. I am closing this issue as it is duplicated by https://github.com/OCHA-DAP/hdx-ckan/issues/2578

[2015-04-14 12:03] #2441 closed, assigned to SimonbJohnson

[2015-04-14 12:04] danmihaila commented on #2578
I played a bit with numbers for SNGO and it looks almost good.
Moving this task to Sprint 53 and assign it to @aalecs for handover. Tomorrow meeting with Simon will help future integration&development

[2015-04-14 12:07] #2574 closed, assigned to danmihaila

[2015-04-14 13:43] alexandru-m-g commented on #2659
What indicators should be available ? Only the ones for which we have charts in normal country pages or for all indicators ?

[2015-04-14 13:45] danmihaila commented on #2659
I would say for all the indicators. @cjhendrix ?

[2015-04-14 13:57] alexandru-m-g commented on #2290
I created a new document for using docker-compose ( formerly known as fig )
https://docs.google.com/document/d/1dxPkLVrIzyq82gPUzf4_gPU55_io0ZQLbxk5mOFwdqo

[2015-04-14 13:58] alexandru-m-g commented on #2480
This is done. We need to release CPS together with CKAN.

[2015-04-14 13:58] #2480 closed, assigned to alexandru-m-g

[2015-04-14 14:01] #2290 closed, assigned to alexandru-m-g

[2015-04-14 14:12] #2589 closed, assigned to SimonbJohnson

[2015-04-14 14:12] danmihaila commented on #2582
i think it is done, closing it

[2015-04-14 14:12] #2582 closed, assigned to aalecs

[2015-04-14 14:13] luiscape opened #2667 "Different base map on WFP page than on other country pages"
The [WFP organization page](https://test-data.hdx.rwlabs.org/organization/wfp) seems to use the default OSM base map while [other country pages](https://test-data.hdx.rwlabs.org/group/mli) use a custom-made version that uses MapBox. I think the latter looks much better; and would suggest changing the WFP base map to use the map on MapBox instead of OSM.

**Base map A.**
![screen shot 2015-04-14 at

[2015-04-14 14:13] #2564 closed, assigned to alexandru-m-g

[2015-04-14 14:14] danmihaila commented on #2575
i think this is done, closing it

[2015-04-14 14:14] #2575 closed, assigned to aalecs

[2015-04-14 14:15] #2532 closed, assigned to mbellotti

[2015-04-14 14:16] #2389 closed, assigned to alexandru-m-g

[2015-04-14 14:53] mbellotti commented on #2542
Look into newest CKAN, have this started this already?

[2015-04-14 14:55] danmihaila commented on #2667
assigned to Arty. it should not be a big change in code.
@aalecs pls add it to sprint estimation doc

[2015-04-14 14:59] danmihaila commented on #2650
it should allow title on 2 lines and trim it after that.

[2015-04-14 15:03] alexandru-m-g commented on #2647
We currently support:  'ratio',  'per100k', 'million', 'dollars_million', 'count', 'dollars'

[2015-04-14 15:03] danmihaila commented on #2647
it is enough for the moment according to @cjhendrix and chat we had. closing it

[2015-04-14 15:03] #2647 closed, assigned to nobody

[2015-04-14 15:16] danmihaila commented on #2490
so, "HDX" will be replaced by "World Bank"

[2015-04-14 15:20] mbellotti commented on #2612
Investigate if CKAN stores this already and report back

[2015-04-14 15:24] danmihaila opened #2668 "Add a "quality checked" flag so we can use it as a search filter - SOLR"
related to https://github.com/OCHA-DAP/hdx-ckan/issues/2284
- [ ] UI
- [ ] add this information to solr

[2015-04-14 15:24] cjhendrix commented on #2631
@aalecs Let me know when you want to talk about this one.  Tomorrow better than ths/fri (AM is in GVA then).

[2015-04-15 09:53] alexandru-m-g commented on #2656
We have Yumi's changes now so I'm closing this ticket . We still have #2662 open.

[2015-04-15 09:53] #2656 closed, assigned to alexandru-m-g

[2015-04-15 12:13] danmihaila opened #2673 "Custom org page: Save as image feature"
Implement Save as image feature as described here:
https://drive.google.com/drive/u/0/folders/0B16fOsnmtif0ZGdaa3ZTT3ZqZ00/0B16fOsnmtif0YVZNcmJzRGY5NWc/0Bw5omaSZ5BTHTEg1a0NLRElXU1k/0Bx1KWNTx8Ij3MHFVRjluX3NqQ3c/0B4J8rDnUw80gNXpiQ3NtbU1BQVk/0B24NBcgmV490NUdHYmNTWW8tTWc/0B24NBcgmV490dmlzMDVxN253WHc/0B24NBcgmV490fkhocnlEdkpsZDRYVzJDYzBydWNia0lleVNZZzNwSl9hcFJoZlVSSTNlOTA

[2015-04-15 13:49] mbellotti commented on #2655
@cjhendrix I can't reproduce this issue with charts in custom countries :/ It works fine on staging.

[2015-04-15 14:31] cjhendrix commented on #2655
Seems to be working now.  Magic.

[2015-04-15 14:31] mbellotti commented on #2655
:dancer:

[2015-04-15 14:46] danmihaila commented on #2655
@cjhendrix we redeployed the fixes pushed by @mbellotti . now it looks good. closing this one

[2015-04-15 14:46] #2655 closed, assigned to mbellotti

[2015-04-15 19:01] mbellotti commented on #2635
Just a quick clarification here: Do you want these removed JUST for custom org/location or for default org/location as well?

[2015-04-15 19:06] danmihaila commented on #2635
Do you see a problem for non-custom ones?

[2015-04-15 20:19] mbellotti commented on #2635
To be honest I don't really understand what the problem is for custom ones LOL, but my point is custom and non-custom use exactly the same form so removing these elements just for custom locations/orgs is going to be tricky.

[2015-04-15 20:35] danmihaila commented on #2635
Ok. Lets remove for all. I thought vice-versa, that it is a problem to remove for all.

[2015-04-16 07:36] #2650 closed, assigned to mbellotti

[2015-04-16 07:36] #2635 closed, assigned to mbellotti

[2015-04-16 07:36] #2638 closed, assigned to mbellotti

[2015-04-16 09:24] danmihaila opened #2679 "Custom location page: Colombia page - map bug"
When moving mouse over districts, the name of district is "undefined". I played a bit with json file, replacing some strange chars, but I still didn't fix it.
Mali is working good.
I am not sure if it is from data source or code.
Ping @aalecs and @cjhendrix . I think first we should change data and later check code.

[2015-04-16 09:27] danmihaila opened #2680 "Custom location page: Admin - data type dropdowns still not well aligned"
The Data type dropdowns still not well aligned...
![screen shot 2015-04-16 at 12 24 53](https://cloud.githubusercontent.com/assets/3865844/7177977/d3c82fd6-e433-11e4-8a5a-f355be6ea818.png)

[2015-04-16 09:46] danmihaila commented on #2438
the javascript alert is still displaying time to time. Pls check screenshot.
![screen shot 2015-04-16 at 12 45 46](https://cloud.githubusercontent.com/assets/3865844/7178329/9a06a568-e436-11e4-8102-dad0138fb13a.png)
Reopening it

[2015-04-16 09:53] danmihaila commented on #2569
Still not working, but using a different behaviour I am getting the same error:
1. Go to https://test-data.hdx.rwlabs.org/organization/american-red-cross
2. click on edit
3. check the checkbox with custom and don't fill any field
4. save organization
5. error
![screen shot 2015-04-16 at 12 53 06](https://cloud.githubusercontent.com/assets/3865844/7178446/8ae8c204-e437-11e4-8051-345ebc339f53.png)

[2015-04-16 09:55] danmihaila opened #2681 "Custom org page: Admin edit"
When edit an organization check that https is not secured.
![screen shot 2015-04-16 at 12 53 53](https://cloud.githubusercontent.com/assets/3865844/7178484/d643ef30-e437-11e4-902b-ca89f33ba015.png)

[2015-04-16 10:01] #2681 closed, assigned to danmihaila

[2015-04-16 11:28] danmihaila commented on #2290
@alexandru-m-g is this completed? maybe we should give a try and use it to set Simon's computer...

[2015-04-16 13:47] danmihaila opened #2683 "Custom location page: support multiple source & Data link"
Create support for 2 sources and 2 data links for Charts in Custom location page

[2015-04-16 13:49] danmihaila opened #2684 "Custom location page: Admin - need extra fields"
For each chart line we should have
- chart label (to be displayed)
- data link url
- source

[2015-04-16 15:13] alexandru-m-g commented on #2679
Talked to @danmihaila and I'll look into this so assigning this to me.

[2015-04-16 22:46] alexandru-m-g commented on #2639
I think there are actually 3 types of information that we're dealing with: basic group/country data, dataset lists for the group/country, and the top line numbers. The simplest way ( based on already existing functions) would be to have 3 different API endpoints so that a user of the API only fetches what he/she needs.
1.  Basic group/country data:
   - there's already an API method implemented fo

[2015-04-17 03:05] mbellotti commented on #2599
@cjhendrix Where exactly is this? (What part of the dataset create process I mean) I can't seem to find the text myself either locally or on staging :/

[2015-04-17 08:07] cjhendrix commented on #2599
Sorry, should have specified if it was stag or prod.  I don't see it on either now, so it's another magic fix. Closing.

[2015-04-17 08:07] #2599 closed, assigned to mbellotti

[2015-04-17 08:23] danmihaila commented on #2663
@aalecs there is another issue related to threshold and legend. Godfrey comment "I reduced the number of categories on the map, but it the colors on the scale and those on map are not matching up (see pic). "
![mali](https://cloud.githubusercontent.com/assets/3865844/7198352/2d75fafc-e4f4-11e4-8daa-8653e9d7b325.jpg)

[2015-04-17 08:35] #2679 closed, assigned to alexandru-m-g

[2015-04-17 08:35] #2438 closed, assigned to mbellotti

[2015-04-17 08:35] #2569 closed, assigned to mbellotti

[2015-04-17 08:35] #2680 closed, assigned to mbellotti

[2015-04-17 09:07] danmihaila opened #2687 "Custom org page: adjust template"
From Yumi:
(all country pages) add some space between the lines of key figure and the chart (so they don’t look like they are affiliated)

![spacing](https://cloud.githubusercontent.com/assets/3865844/7199059/46ac72f2-e4fa-11e4-8c25-80d6e00d431c.jpg)

[2015-04-17 09:07] danmihaila commented on #2687
assigned to @aalecs

[2015-04-17 09:09] danmihaila opened #2688 "Custom org page: logo tab tweaks"
From Yumi
- [ ](all org pages) on org logo tab menu on hover - remove the extra white space under the logo / remove the outline stroke around the rectangle menu bar
- [ ] on org logo tab menu on hover - add “visit website” and “follow” in addition to ’share”

![popup](https://cloud.githubusercontent.com/assets/3865844/7199087/86820b44-e4fa-11e4-9ef3-5a1537c2cf5f.jpg)

[2015-04-17 09:16] danmihaila commented on #2467
@mbellotti
We got some errors for nosetests after merge. I think one test is related to this issue, and other to the other changes you did.
Pls check log below
++++++++++++++++++++++++++++++++++++++++++++++++++++
Running tests for plugin ckanext-hdx_search

#

ERROR: ckanext.hdx_search.tests.test_pages.test_breadcrumbs.TestBreadcrumbs.test_breadcrumb_on_dataset_page
UndefinedError: 'last_user' is

[2015-04-17 09:42] danmihaila opened #2689 "Less compiles with errors"
2015-04-16 07:50:19,460 ERROR [ckanext.hdx_theme.helpers.less] Exception while compiling lessundefined_methodError: error evaluating function `darken`: Object [object Object] has no method 'toHSL' in /srv/ckan/ckanext-hdx_theme/ckanext/hdx_theme/less/base/base.less on line 8, column 20:
7         &:hover, &:focus {
8             color: darken(@defaultLinkColor, 20%);
9             text-decoration:

[2015-04-17 09:44] #2689 closed, assigned to danmihaila

[2015-04-17 11:07] alexandru-m-g commented on #2687
This is actually related to #2662

[2015-04-17 12:47] #2684 closed, assigned to danmihaila

[2015-04-17 12:49] mbellotti commented on #2467
....that's weird. I didn't touch that part of the code O.o

[2015-04-17 13:42] danmihaila commented on #2467
Maybe from another issue you changed. Can you please check?

[2015-04-17 13:45] mbellotti commented on #2467
No, that's what I mean. It's not this issue it's #2490 but even then I didn't touch the piece of code that is erring here and the nosetests are passing when I run them locally.

[2015-04-20 08:18] #2467 closed, assigned to mbellotti

[2015-04-20 16:52] aalecs commented on #2663
New legend - max 8 colors:
![new_legend](https://cloud.githubusercontent.com/assets/5638491/7235440/d1c9bb6c-e796-11e4-9914-7f62400afb3d.png)
Each threshold based on the number of values in it, will have a different colour scheme attached so that threshold's with few values (1-4) won't have just light colours.

[2015-04-20 17:18] danmihaila commented on #2663
@aalecs did you try the example from Godfrey's comment?

[2015-04-20 17:26] aalecs commented on #2663
Yes ... fixed it ... if you check my comment you'll see that I've done more than that.

[2015-04-20 18:57] aalecs commented on #2683
Done, but we still need to add the fields to configure for each source the name and the data link.

[2015-04-21 06:51] #2662 closed, assigned to alexandru-m-g

[2015-04-21 06:51] #2687 closed, assigned to alexandru-m-g

[2015-04-22 08:05] #2663 closed, assigned to aalecs

[2015-04-22 08:05] #2683 closed, assigned to aalecs

[2015-04-22 08:14] danmihaila opened #2698 "Custom location page: Chart"
Currently the behaviour is that user can select/unselect which line chart to be displayed.
We received a request to avoid displaying an empty chart, so in case there is only one line/bar chart displayed the click on legend label should do nothing.
@aalecs do you have an estimate for this?

[2015-04-23 12:37] danmihaila commented on #2490
The list of datasets and indicators is missing the date (last update and probably the user)

[2015-04-23 14:30] danmihaila opened #2715 "Custom location page: Admin - labels"
- [ ] Click
- Edit a location
- Go to chart 2
- Click on any label -> it will scroll up to the label from from chart 1
- [ ] add translation tag to each label

[2015-04-23 14:35] danmihaila opened #2716 "Custom org page: Admin - labels"
- [ ] Click
- Edit an organization
- Click on the following labels -> it will select another field (not ok):
  - Visualization Configuration > Title
  - Visualization Configuration > Facts and figures > Resource ID
  - Visualization Configuration > Map Boundaries > Resource ID
- Check all the other fields to be ok
- [ ] add translation tag to each label

[2015-04-23 14:37] danmihaila opened #2717 "Custom location page: Admin - change sections order"
We should adjust the sections order to be as it is displayed on page:
1. Map
2. Topline numbers
3. Charts
4. Datasets
In our case 1 and 2 has to be switched in admin form

[2015-04-23 14:42] danmihaila opened #2718 "Custom org page: Admin - topline numbers"
- [ ] Dataset ID - do we need it? In case we don't it should be removed. For custom location we don't have it - ping @cjhendrix
- [ ] Create a different section for topline numbers (similar with custom location page)
  In the end we should have the following sections:
- General information
- Custom styles
  - logos
  - Background logo same...
  - Custom Styling
- Topline numbers
  - Resource ID
-

[2015-04-23 15:08] luiscape opened #2719 "The Colombia org page map contains an unexpected hole"
The Colombia country page contains a map.

![screen shot 2015-04-23 at 10 49 12 am](https://cloud.githubusercontent.com/assets/953118/7300216/ea994dc4-e9a8-11e4-9b44-040b8e8cc216.png)

The hole matches the state of Antioquia. The problem is likely happening because all the p-codes from that state start with a leading "0". If the visualization is taking those p-codes as integers, it is probably eli

[2015-04-23 15:19] alexandru-m-g commented on #2719
Hi @luiscape . Thanks for mentioning this. You were right, they were treated as integers. Changed to string and the hole disappeared.

[2015-04-23 15:19] #2719 closed, assigned to nobody

[2015-04-23 17:28] SimonbJohnson commented on #2578
I've updated the 3W visualisation to now use a leaflet map and auto zoom to extent of the geometry.  This way the embedded versions should never cut off the map.  Due this the x,y and zoom are no longer needed in the configuration file.

Code: https://github.com/SimonbJohnson/HDX-3W
Demo: http://simonbjohnson.github.io/HDX-3W/

[2015-04-23 19:10] luiscape commented on #2719
Nice!

[2015-04-24 04:06] #2490 closed, assigned to mbellotti

[2015-04-24 07:29] cjhendrix commented on #2718
Regarding item 1, yes, I've been saying we should remove it, but apparently it was needed for some reason.  Happy to see it go.   What might be nice, however, is for the user to be able to see the dataset name (linked to the dataset) and resource name once a resource id has been entered.

[2015-04-24 08:39] cjhendrix opened #2721 "Clarify meaning of the "popular" icon"
On hover, the popular icon displays something like "XX views" (default ckan).  A user (PD) has asked for clarification on what that means and it's been asked before as well.

We should say something like "XX recent views" or "XX views in the last XX days"

[2015-04-24 09:31] #2309 closed, assigned to mbellotti

[2015-04-24 09:39] danmihaila commented on #2718
I agree with you @cjhendrix. But this features should come also with a refactoring of the admin interface once we decide this is top priority
pinging @amcguire62

[2015-04-24 10:02] danmihaila commented on #2542
@mbellotti bellow there are some failing nose tests. I think they are related to this testing.You can check below.
Also, please note dev is redeployed an ready to be tested

++++++++++++++++++++++++++++++++++++++++++++++++++++
Running tests for plugin ckanext-hdx_theme
......../srv/ckan/ckanext-hdx_users/ckanext/hdx_users/actions/create.py:2: DeprecationWarning: the md5 module is deprecated; use h

[2015-04-24 11:29] cjhendrix opened #2722 "Add a "quality checked" filter to the filter dropdown"
This is a idea that has been floating around for a while.  With the completion of #2284 it can be done whenever deemed a priority.

[2015-04-24 11:39] danmihaila opened #2723 "Custom org page: WFP visualization - add hover state"
(All org pages) can we add a hover state & country/admin level name to map like Browse page so people know what they are selecting (comp attached)
![1](https://cloud.githubusercontent.com/assets/3865844/7317967/a21c3bdc-ea8f-11e4-84ce-aa8f918c0424.png)

[2015-04-24 11:42] danmihaila opened #2724 "Custom org page: SNGO tweaks"
For interactive map can we add transparency on the green/gray polygons (for admin level) like WFP visualization map?
1. opacity of green on the map (we can make it like the blue polygon on WFP, only on hover it becomes 100%)
2. name of the admin level on hover (screen attached, I’m hoping this data is available)
3. "Reset filters” button changed to a smaller link on the same line as “Who” “What” “

[2015-04-24 11:43] danmihaila opened #2725 "Custom org page: SNGO visualization not working well on mobile"
(NGO consortium - interactive map) the visualization does not display correctly on mobile

[2015-04-24 11:45] danmihaila opened #2726 "Custom location page: “info” dropdown links"
The links from "info" popin  (to dataset pages) should open as a new tab so people don’t leave the country page

[2015-04-24 11:46] danmihaila opened #2727 "Custom org page: all data links should open as a new tab"
all “data” used for vizualization should open as a new tab (in other places i.e. key figures this is already implemented)

[2015-04-24 11:53] danmihaila opened #2728 "Custom org page: WFP visualization - resource ID"
- [x] Add in admin for WFP visualization a field called "resource ID"
- [ ] integrate into WFP visualization to use the resource ID set in admin

[2015-04-24 12:04] danmihaila opened #2729 "Data Pusher"
We need several improvements of the datapusher:
- [ ] to be enabled for sysadmin or admin (i will not go with editors)
- [ ] to add another button when updating a resource that will say - “add resource & push to datastore”
- [ ] dataformat?
- [ ]  we wil have to perform several test. We should focus first all the resources we are using for custom pages
- [ ] field types
  - default datapusher gues

[2015-04-24 12:44] mbellotti commented on #2542
Okay the first one is easy to fix, the second one means you didn't run the
initdb paster command

On Fri, Apr 24, 2015 at 6:02 AM, danmihaila notifications@github.com
wrote:

[2015-04-24 13:56] danmihaila opened #2731 "Custom location page: Admin"
1. Edit a location (one that is not yet custom) : test-data.hdx.rwlabs.org/group/edit/rou
2. check checkbox for custom location
3. go to first chart. Chart type is bar type, but it shows fields as it multiple bar chart

[2015-04-24 14:00] danmihaila opened #2732 "Custom location page: chart labels"
We currently don't display the vertical/horizontal labels even if we store them in admin.
Do we want them displayed?
@cjhendrix @yumiendo
Check screenshot as it is now on a common org page vs https://data.hdx.rwlabs.org/group/col
![screen shot 2015-04-24 at 16 58 13](https://cloud.githubusercontent.com/assets/3865844/7320158/558f3c6a-eaa3-11e4-80c2-36cb2ca52f87.png)

[2015-04-24 21:02] alexandru-m-g opened #2733 "Problem when editing a resource as non-sysadmin"

[2015-04-24 21:29] #2733 closed, assigned to alexandru-m-g

[2015-04-25 12:09] aalecs commented on #2667
Basemap is configurable with config option: hdx.orgmap.url ... we can ask Serban to change it on prod/stag/dev.

[2015-04-25 12:20] aalecs commented on #2651
@cjhendrix I can't seem to reproduce the problem. I tested in Safari/Chrome/FF. Can you still reproduce it?

[2015-04-25 13:23] alexandru-m-g commented on #2667
@aalecs correct me if I'm wrong but as I saw the mapbox basemap needs 2 layers ( basemap + labels ). So just changing the config might not be enough or did I miss something ?

[2015-04-25 18:27] cjhendrix commented on #2378
Let's fix this before the next big crisis.  Makes it hard to set up new crisis pages.

[2015-04-25 18:49] SimonbJohnson opened #2739 "Custom Org Page: Somalian-NGO-3W"
The embed preview is not working.  Error about loading http file over https

![custom-org-page-3w-error](https://cloud.githubusercontent.com/assets/2110742/7334179/2060da80-eb84-11e4-9aa0-8736ee6ce839.png)

[2015-04-25 23:39] #2471 closed, assigned to mbellotti

[2015-04-25 23:39] #2731 closed, assigned to mbellotti

[2015-04-26 03:39] cjhendrix opened #2745 "Consider moving the password reset button"
Seems that people aren't seeing it.

[2015-04-26 04:58] cjhendrix commented on #2651
Just tested again now.  I still see the problem in chrome, but now I don't have to change size.  It appears immediately on clicking embed.

![image](https://cloud.githubusercontent.com/assets/1654485/7335949/c1addc1e-ebe1-11e4-9fe6-f5eb83ae7c0c.png)

[2015-04-27 08:38] cjhendrix opened #2748 "Make it possible to sort the results in My Datasets"
The site is getting big now.  Users with lots of datasets need some tools to help them find stuff, especially private or deleted datasets.  Sorting would help.  Filtering by private or deleted would be even better.

[2015-04-27 12:40] danmihaila commented on #2723
@SimonbJohnson what do you think about this? can it be make it easy ?

[2015-04-27 12:48] #2726 closed, assigned to danmihaila

[2015-04-27 12:48] #2727 closed, assigned to danmihaila

[2015-04-27 12:49] danmihaila commented on #2543
partially done, still needs to review the first version.
Moving it to sprint 54

[2015-04-27 12:59] aalecs commented on #2667
Right on Alex :)

[2015-04-27 13:00] danmihaila commented on #2667
@aalecs can you implement it?

[2015-04-27 13:22] aalecs commented on #2667
I changed the base map, please take a look and see if everyone likes the new appearance.

[2015-04-27 13:22] #2667 closed, assigned to aalecs

[2015-04-27 13:25] danmihaila commented on #2723
assigned to Arti

[2015-04-27 13:41] danmihaila commented on #2651
I see it in FF too @aalecs

[2015-04-27 13:42] cjhendrix commented on #2732
As long as the chart title is good, the Y axis shouldn't need a label, but of course we can't always count on users giving a good title.  With the default loc pages, it was more important to have it because the indicator titles do not always make the units clear. It's not really my call, but I think it's ok either way.

[2015-04-27 13:47] yumiendo commented on #2732
Hmm who’s in charge of giving chart titles? I won’t be concerned if its done by data team but if anyone can give a title - we perhaps should have the Y axis title.

[2015-04-27 13:51] danmihaila commented on #2732
It is data team and it is a field set in admin. We just don't display it...Assigned to @aalecs

[2015-04-27 13:56] cjhendrix opened #2754 "Invite to Org: deleted users can be invited to an org via email"
We should not allow deleted users to be invited to an org (by email).

[2015-04-27 14:07] cjhendrix opened #2755 "User Profile: Mark a deleted user as such and make their page visible only to sysadmins"
#### Description

Currently deleted users are still visible at their link.  For example: https://data.hdx.rwlabs.org/user/cj-test-2  but there's no easy way to see that he is deleted.
- [ ] add a "deleted" flag somewhere (similar to what we do for datasets)
- [ ] make the profile pages invisible to anyone other than sysadmins
#### Nosetest
- mark a user as deleted
- check as guest or regular user

[2015-04-27 15:18] #2723 closed, assigned to aalecs

[2015-04-27 17:55] #2688 closed, assigned to danmihaila

[2015-04-27 19:12] pjdufour opened #2761 "Organization Redirect Link"
Since https://data.hdx.rwlabs.org is already a long domain, it would be useful to have a redirect so users can have shorter stable links to organizations.  This could be an automatic client side redirect, like url shortner services.

For example, given the "OCHA Nepal" organization

[code]

The following would redirect there:

[code]

or even better

[code]

[2015-04-27 19:21] luiscape commented on #2667
It looks nice, in my opinion. But I am puzzled about the blue. Maybe it should have the orange tone we have in the "Share Data" button ... ? I defer this to someone else though.

[2015-04-28 06:26] #2715 closed, assigned to mbellotti

[2015-04-28 06:26] #2716 closed, assigned to mbellotti

[2015-04-28 09:17] danmihaila opened #2763 "Nepal Earthquake: adjust code to include topline numbers as in custom org"

[2015-04-28 09:49] cjhendrix opened #2764 "Dataset edit: show all lines of resource description when editing."
Show all lines of the resource description on the resource list page. This makes it easier to manage descriptions for datasets with many resources.   I don't have a great example of this at my fingertips, but you get the idea from this one: https://data.hdx.rwlabs.org/dataset/resources/administrative-boundaries-cod.  This remains low priority.

[2015-04-28 10:11] danmihaila opened #2765 "Nepal Earthquake: adjust home page"
add at the bottom of the page a red row saying that "Trending:  Nepal Earthquake Crisis >>".
It has to be link to our nepal earthquake page

[2015-04-28 14:40] danmihaila commented on #2578
ok. closing this one

[2015-04-28 14:40] #2578 closed, assigned to SimonbJohnson

[2015-04-28 16:02] SimonbJohnson opened #2772 "WFP Visualisation: Bar chart x value wrong on some bars"
Choose India->Rice->zoom in on time extent and some bars appear on the far left.

![hdx-wfp-bug](https://cloud.githubusercontent.com/assets/2110742/7374097/41cfad5e-edc8-11e4-8fe5-9959faa4370b.png)

Could be a result of the key not being found when the x value is selected.

[2015-04-28 16:04] SimonbJohnson commented on #2772
I think it is because the new keys were generated to have ellipses on the long values.  The transformation function uses old keys with out ellipses

[2015-04-29 09:35] aalecs commented on #2651
@danmihaila - I can't seem to reproduce. Can you check your browser's console for errors, please? I tested local on my laptop + on staging in Chrome/FF/Safari.

[2015-04-29 10:10] danmihaila commented on #2651
I think I found the cause, fixing it

[2015-04-29 10:20] #2651 closed, assigned to danmihaila

[2015-04-29 10:36] danmihaila commented on #2732
I redeployed this on stag and still not showing labels on vertical
@aalecs pls check https://test-data.hdx.rwlabs.org/group/mli

[2015-04-29 11:10] SimonbJohnson commented on #2772
Code to be integrated:
https://github.com/SimonbJohnson/WFP-food-price/commit/5be2cd8a63d9835d5626057304a9ad6167a9bf7d
https://github.com/SimonbJohnson/WFP-food-price/commit/b558fdfbc0bcbecef0763f153bfc9731f20b69ed

[2015-04-29 11:59] #2659 closed, assigned to alexandru-m-g

[2015-04-29 12:00] #2763 closed, assigned to alexandru-m-g

[2015-04-29 12:00] #2765 closed, assigned to alexandru-m-g

[2015-04-30 07:14] kratos1308 commented on #414
Hi everyOne, sorry to bring it back but i have this problem of wrong number of dataset.
First time everything was good and then i've had the idea to clean my database in order to remove the test datasets and start from empty db, couldn't be able to do that, i create a second database and delete the first one.
When i init this new db and run ckan there were 3 datasets ( the one i've just created an

[2015-04-30 08:11] cjhendrix commented on #1508
Had another request for this from someone working on the Nepal EQ.

[2015-04-30 08:39] cjhendrix opened #2788 "Geo Preview: adding a geojson file results in server error"
To replicate:
1. Add a geojson resource
2. Make sure format = geojson
3. 500 error returned.
4. Check dataset and new resource is there, but no preview.

Here is a very small geojson you can use.  It's valid (draws on geojson.io).

{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "type": "Polygon",
        "coordina

[2015-04-30 08:57] danmihaila commented on #2788
it is indeed a problem with this as bug.
If you want to make it work, make the dataset first public and it will skip that error.

[2015-04-30 09:02] cjhendrix commented on #2788
Got it.  We can work around it with public for now.  We don't need to invest too much into this since we are about to replace it.  If we could easily eliminate the 500, it would be good.

[2015-04-30 09:14] cjhendrix commented on #2631
Another interesting big of research: https://www.youtube.com/watch?v=GlTaRpg3CbQ

Pretty awesome performance on a 600 mb shapefile.

[2015-04-30 12:18] cjhendrix opened #2790 "Search results: provide a way to turn off pagination"
We've talked about this a long time ago, but if we are going to redo search, let's consider offering a "show all" button in alongside pagination. This would support the common (I think) practice of searching a page with the browser's ctrl+f rather than the keyword search functionality.   It's irritating to have to do ctrl+f on multiple pages when looking for a particular term.  Many users will hav

[2015-04-30 12:27] cjhendrix opened #2791 "Search results: allow for "-" filtering"
It would be nice to be able to search for datasets excluding a certain term or taxonomy item.  For example `group=nga and keyword!=ebola`

[2015-04-30 20:01] alexandru-m-g commented on #2639
@cjhendrix @danmihaila
So in the next release there will be 3 api endpoints ( as mentioned above ). Please note that each of the methods has a documentation that you can see in the call response itself:
1.  Basic group/country data:
   - there's already an API method implemented for this on the staging server so it will be part of the next release: `/api/action/hdx_light_group_show?id=COUNDRY_CODE

[2015-04-30 20:01] #2639 closed, assigned to alexandru-m-g

[2015-05-01 08:00] cjhendrix commented on #2639
Looks great Alex.  I've shared with our H.Kiosk colleagues and will let them know when it is on staging.

[2015-05-01 12:08] cjhendrix opened #2799 "Dataset View: popular on hover shows "XX views" for each resource, but in fact it is downloads"
![image](https://cloud.githubusercontent.com/assets/1654485/7429947/2842c4e4-f00b-11e4-9fdb-d3c7e6f51de6.png)

In fact what it is counting is the downloads (sums to match the download counter at the bottom).   Could we change this to say "XX downloads"?  How would that affect pages where a resource is previewable?

[2015-05-01 15:07] teodorescuserban opened #2800 "Various caching issues"
There were quite a few discussions about caching on nginx level.

However, since no issue was made, here it is.

There are a few things to tune:
1. Static resources caching
2. Some pages' resources short-term caching
3. Some API calls short-term caching

tagging @alexandru-m-g @danmihaila @amcguire62 @cjhendrix

[2015-05-01 15:11] teodorescuserban commented on #2800
**Static resources caching.**

Solved.
Now any file ending in js, css, jpg, png, svg will be cached for 10 minutes, instructing downstream clients to cache them for at least 1 minute from the request.

There seems to be an issue sometimes with our provider proxy, because it seems to have a modified **Expires** header to 1 hour.

**Direct request on our ckan:**

`curl -sI http://data.hdx.rwlabs.org

[2015-05-01 15:23] teodorescuserban commented on #2800
**Some API calls short-term caching**

Implemented a 1 minute caching for everything under `/dataset/json-repository/resource_download/`

**Original Headers send by our ckan:**

`curl -sI http://data.hdx.rwlabs.org:9729/dataset/json-repository/resource_download/665dd302-f329-4219-870e-a0e0576985fc | sort`

[code]

**First request (for some time) on our nginx:**

`curl -sI http://data.hdx.rwlabs.or

[2015-05-04 08:12] teodorescuserban commented on #2800
**Datastore search and Datastore search sql**

Enabled short term caching (1 minute).

[2015-05-04 10:51] cjhendrix opened #2801 "Dataset View: Add a "Add File" button for users with rights to do so"
We should revisit if we should call these resources instead of files, but just as we have a direct button for updating a resource, a button for adding a new resource would be really handy.

[2015-05-04 11:12] #2800 closed, assigned to teodorescuserban

[2015-05-04 11:19] cjhendrix opened #2804 "Dataset dates for remote files gets stale"
The resource shown below is being updated daily, but our date for it will stay the same, which is confusing.

We could:
1. figure out a way to monitor remote resources to see if they have changed, though that may require different tests for different remote sources
2. have a way for contributors to mark a dataset as "frequently updated" in which case we don't show a date.  Although easier, this wo

[2015-05-04 13:13] cjhendrix commented on #2284
Currently a user with edit rights can modify this flag via API even if they are not sysadmin.  Reopening so we can fix that.

[2015-05-04 13:30] danmihaila commented on #2284
We fixed some of the issues here:
- the checkbox was not really saving that value
- not working well for sysadmin
- the icon was showing on most of the existing datasets
- by default the checkbox was checked

We also improved so the checkbox will not be overwritten by an editor .

[2015-05-04 15:05] danmihaila opened #2808 "RO Sprint: improve the visualization for Nepal Earthquake"

[2015-05-04 15:09] cjhendrix opened #2809 "Make it possible to hide certain datasets but expose their data"
@takavarasha suggested we might be able to make the /dataset/json-repository private but still use the data in our various custom pages.  If we have a special user (let's call  him bob) who is a member of a fake org owning any datasets we want to hide.  Then we make any datasets we want to hide from search results private and the controllers can use Bob's api key to access their data and pass it o

[2015-05-05 08:35] danmihaila opened #2810 "Custom org page: WFP visualization issue"
From our users:
On WFP visualization, after you select a country check the series.
On-mouse over on the last series, you start not seeing the date and the price.

[2015-05-06 08:16] cjhendrix opened #2811 "Filestore resources preview is limited to 1000 records. Let's warn the user"
One possible solution:

If filestore and if record count = 1000, then add "Preview limited to first 1000 rows.  Download for more."
![image](https://cloud.githubusercontent.com/assets/1654485/7489595/c7456af8-f3d8-11e4-8724-3d1eba59bbbf.png)

[2015-05-06 13:10] cjhendrix commented on #2464
Datastore enabled.  Closing.

[2015-05-06 13:10] #2464 closed, assigned to nobody

[2015-05-06 13:13] danmihaila opened #2812 "Custom org page: SNGO embed issues"
When click on Embed link on SNGO the Map preview is not displaying the map in the same row.
Check also the behaviour for different sizes of embed

[2015-05-07 14:21] danmihaila commented on #2810
Another issue
 Go to https://test-data.hdx.rwlabs.org/widget/WFP?type=WFP&amp;data_link_url=%23&amp;embedded=True&amp;
Click on Senegal (but it happens on all countries)
Click on a commodity, Sorghum i.e.
Click and pan the mouse over the timeline (first chart on top) to select a custom period
Move the mouse over the admin units column chart on the bottom and you'll see numbers floating over the ch

[2015-05-08 11:29] aalecs commented on #2724
1. When configuring the 3W please set all the colours to #add974 and this will work just fine

[2015-05-08 11:41] danmihaila opened #2821 "Custom org page: 3w visualization"
There is no need to use
Map posinioning (X Value)
Map posinioning (Y Value)
Zoom level
@aalecs please confirm

[2015-05-08 12:54] aalecs commented on #2724
For 3. I also changed the info box displaying the number of selected items ... please check the before and the after screenshots containing explanations:
![var1](https://cloud.githubusercontent.com/assets/5638491/7536668/7d5fc104-f59a-11e4-98ae-1bbf859e5a9b.png)
![var2](https://cloud.githubusercontent.com/assets/5638491/7536671/81d38c98-f59a-11e4-9e3f-a87ec64a003f.png)

[2015-05-08 12:55] aalecs commented on #2724
@danmihaila - please check last comment and reopen if necessary :)

[2015-05-08 12:55] #2724 closed, assigned to aalecs

[2015-05-08 12:57] danmihaila commented on #2724
it is perfect from my point of view! thanks, @aalecs

[2015-05-08 15:18] danmihaila opened #2825 "Org page: pagination is broken"
the size of pagination for datasets of an org page is broken
from #2365 also:
- Organization view page
- My datasets
- /user
- /organization

check screenshot
![screen shot 2015-05-08 at 18 17 01](https://cloud.githubusercontent.com/assets/3865844/7539268/89068100-f5ae-11e4-9fbe-8e59db10655c.png)

[2015-05-11 09:34] danmihaila commented on #2810
Second issue is done. Only the initial one is on

[2015-05-11 09:36] danmihaila commented on #2809
Why not making a /dataset/json-repository-private with datasets not to be shared or hidden by search.
It will still be the question: we don't share private dataset, but use that data to create public visualizations/maps

[2015-05-11 09:37] danmihaila commented on #2808
this is done, closing it

[2015-05-11 09:37] #2808 closed, assigned to alexandru-m-g

[2015-05-11 09:37] danmihaila commented on #2812
@SimonbJohnson and @aalecs I think this is closed. Please reopen if it is not completed

[2015-05-11 09:37] #2812 closed, assigned to nobody

[2015-05-11 09:38] danmihaila commented on #2804
@cjhendrix pls give more details about what resource is this issue about. Do we have this information in activity stream displayed for dataset owning the resource?

[2015-05-11 09:41] danmihaila commented on #2788
i think this is done. @cjhendrix pls reopen if you still see the error

[2015-05-11 09:41] #2788 closed, assigned to nobody

[2015-05-11 09:42] danmihaila commented on #2772
this is done and redeployed. @SimonbJohnson pls reopen if it is still an issue

[2015-05-11 09:42] #2772 closed, assigned to SimonbJohnson

[2015-05-11 09:43] danmihaila commented on #2764
@cjhendrix can you please provide more details? When editing a dataset>resource list has implemented the "... more" option. do we want to remove this?

[2015-05-11 12:57] danmihaila commented on #2754
I think this issue need more information about how to handle different situations.

[2015-05-11 12:58] danmihaila commented on #2739
I think this issue is smaller. See screenshot
![screen shot 2015-05-11 at 15 58 29](https://cloud.githubusercontent.com/assets/3865844/7565195/9d85b14c-f7f6-11e4-9186-6f38d0f15c17.png)

[2015-05-11 13:00] danmihaila commented on #2732
Still an issue. Moving it to Sprint 55

[2015-05-11 13:38] danmihaila commented on #2661
I think this is done. closing it

[2015-05-11 13:38] #2661 closed, assigned to nobody

[2015-05-11 13:40] danmihaila commented on #2621
I think we should discuss about this issue with Data Team  @takavarasha @DitaA @luiscape
1. decide what fields are important and how to validate.
2. do we need a redesign of the admin form?
3. what fields should be improved?

[2015-05-11 19:43] danmihaila opened #2830 "Custom org page: hotfix - spacing title for 3w"
Adjust the spacing of 3w visualization similar to WFP
![screen-shot-2015-03-31-at-9 32 12-pm](https://cloud.githubusercontent.com/assets/3865844/7573532/08e2bdb2-f82f-11e4-9f05-38db8758b9f2.jpg)
It has to be done as hotfix

[2015-05-12 09:36] danmihaila opened #2831 "Add new/Edit Dataset: tags search not working"
#### Description

When add new or edit dataset, at field "Tag" will not display the options for tags. Autocomplete and search not working.
#### Nosetest
- create/edit dataset
- check how the dropdown for tag is working (what action is using) and use it in test to see full list of tags.
- check list of tags retrieved based on typed letters

[2015-05-12 12:49] danmihaila opened #2832 "Search: predictive"
Research how we could achieve what Yumi described in the screenshot attached.
Basically the search should suggest:
- custom crisis pages
- organization pages (custom and non-custom)
- location pages (custom and non-custom)
- datasets
- indicators
  How difficult is to achieve it and what is the estimate.
  ![predictive-search](https://cloud.githubusercontent.com/assets/3865844/7587376/74998d58-f8b

[2015-05-12 12:53] danmihaila opened #2833 "Custom org page: WFP bug"
There is another issue happening in Mozilla Firefox.
If you start selecting a time period other than the entire time period, you get the below problem highlighted in yellow.
![m2](https://cloud.githubusercontent.com/assets/3865844/7587455/05575b0e-f8bf-11e4-9cd3-b8079e066867.png)

[2015-05-12 15:57] takavarasha opened #2834 "Include timestamp of new organisation request in New Organisation Request email"
Include an additional field of called "Request Timestamp" to the new organisation request email. This field will be useful in automating processing of org requests based on extraction. The timestamp should be in the iso format eg 2007-04-05T14:30

[2015-05-12 16:24] danmihaila opened #2835 "indicator preview: txt preview not working"
Indicator preview txt file is not working

https://data.hdx.rwlabs.org/dataset/people_killed_in_disasters/resource/e685f791-2957-4818-a4bd-d64f60f5bb8d

[2015-05-12 16:31] #2830 closed, assigned to danmihaila

[2015-05-12 16:35] pjdufour commented on #2804
This applies to remotely hosted OSM extracts which are being updated every 30 minutes, such as:

https://data.hdx.rwlabs.org/dataset/nepal-openstreetmap-extracts-roads
https://data.hdx.rwlabs.org/dataset/nepal-openstreetmap-extracts-buildings
https://data.hdx.rwlabs.org/dataset/nepal-openstreetmap-extracts-places

I currently go in and manually update the date each day.  Don't know best way to dea

[2015-05-12 16:36] danmihaila opened #2837 "Dataset : json viewer not working"

[2015-05-12 16:59] #2833 closed, assigned to aalecs

[2015-05-13 01:16] mbellotti commented on #2831
Can't reproduce this on staging or dev :/

[2015-05-13 07:59] danmihaila commented on #2831
I reproduced it on stag and on prod. When I first tested I couldn't see any result, but digging a bit it looks that it displays like only 1 result or none.
Check screenshots below
![screen shot 2015-05-13 at 10 57 56](https://cloud.githubusercontent.com/assets/3865844/7606176/2c5f76aa-f95f-11e4-841b-35602b6ca1b5.png)
![screen shot 2015-05-13 at 10 57 49](https://cloud.githubusercontent.com/assets/

[2015-05-13 08:29] danmihaila opened #2845 "Research: 2.3 visualizations"
Research how visualizations (views) in 2.3 are done.
1. How to attach a view to a resource
2. how to develop a HDX view template ? e.g topline numbers, chart (single line)
3. each view generate an iframe. How can we integrate views in other pages (custom orgs, crises, etc)
4. how to build a crises? can we use visualizations

[2015-05-13 08:42] danmihaila commented on #2721
@aalecs @alexandru-m-g @mbellotti
I think someone worked on something similar. Can you comment with more details about how it is working right now?

[2015-05-13 08:45] danmihaila commented on #2558
@cjhendrix I am not sure I understand this issue. Can you please provide more details?

[2015-05-13 08:45] #2577 closed, assigned to danmihaila

[2015-05-13 08:46] danmihaila commented on #2561
this is done according to the mockups. Pinging @yumiendo to get her feedback on this.

[2015-05-13 08:47] danmihaila commented on #2541
@cjhendrix is this stil an issue?

[2015-05-13 08:48] aalecs commented on #2821
Only one way to find out ... kidding!
Yes they don't seem to be used anymore since we're zooming to the poly boundaries.

[2015-05-13 08:49] danmihaila commented on #2821
@aalecs then lets remove them from admin interface :)
can you work on this one?

[2015-05-13 08:54] danmihaila commented on #2540
I think we should follow the line and add it where we currently have "share", "follow" buttons.
"Edit" button will appear for locations only for sysadmins.

[2015-05-13 08:56] danmihaila commented on #2381
@mbellotti - I know you have assigned another issue related to tags. Can you also research this question from Patrick and give an estimate?

[2015-05-13 08:57] danmihaila commented on #2393
@alexandru-m-g This feature will be interesting to have it with the new geo module in place. I am closing this issue

[2015-05-13 08:57] #2393 closed, assigned to nobody

[2015-05-13 08:57] danmihaila commented on #2506
We could think about this when we upgrade to 2.3 version

[2015-05-13 08:59] danmihaila commented on #2485
related to #2835
closing this one

[2015-05-13 08:59] #2485 closed, assigned to nobody

[2015-05-13 09:01] danmihaila commented on #2481
@mbellotti is this still an issue? I guess not. Can we close it?

[2015-05-13 09:02] danmihaila commented on #2534
closing this one. We will review the full admin fields and check what we still needs

[2015-05-13 09:02] #2534 closed, assigned to nobody

[2015-05-13 09:03] danmihaila commented on #2440
@cjhendrix is this still an issue?
@aalecs can you confirm if we are using the same color as HDX main nav?

[2015-05-13 09:05] danmihaila commented on #2473
@teodorescuserban is this still an issue?

[2015-05-13 09:06] danmihaila commented on #2468
@alexandru-m-g you should check this feature also when doing the new GIS module. Closing this issue

[2015-05-13 09:06] #2468 closed, assigned to nobody

[2015-05-13 09:10] teodorescuserban commented on #2473
Yes.
The page requests resources from leaflet site, although we should use the cached ones in nginx (similar to mapbox or openstreetmap).

[2015-05-13 09:11] danmihaila commented on #2368
this is a duplicate of #2540 . closing it

[2015-05-13 09:11] #2368 closed, assigned to nobody

[2015-05-13 09:56] mbellotti commented on #2831
Oh, I see what you mean. So the problem isn't that it isn't working but that it isn't displaying a enough suggestions?

[2015-05-13 09:57] danmihaila commented on #2831
yes. Initially I thought it is not working at all because couldn't find some terms i was looking for.

[2015-05-13 10:35] #2837 closed, assigned to alexandru-m-g

[2015-05-13 11:43] aalecs commented on #2732
@danmihaila - from your comment I understood we should remove the legend for the Oy axis: "It is data team and it is a field set in admin. **We just don't display it**".
Please describe what's the desired behaviour :smiley:

[2015-05-13 11:45] danmihaila commented on #2732
@aalecs  sorry, my bad :)
I wanted to say that we have everything in place, but we don't display it in javascript.
We should display it! :)

[2015-05-13 12:48] mbellotti opened #2847 "Default Image for Facebook shares"
When a visitor shares an HDX page on FB, no image is pulled up ... creating a plain ordinary ugly text block instead for our beautiful site.

[2015-05-13 13:08] yumiendo commented on #2561
this only appears for admin users? am i right?

[2015-05-13 13:12] alexandru-m-g opened #2848 "Gis Preview: 2. Implement import process ( Python script started via HTTP call )"
-  Read new resource
  - [ ] get resource
  - [ ] check for resource size limit
-  Push resource to PostGIS via ogr2ogr
  - [ ] send back errors & feedback
  - [ ] implement a timeout for the transformation
-  Update the spatial server
  - [ ] call API's to convince spatial server to read the new GIS layers from postgres/postgis

https://www.mindmup.com/#m:cg10B2Cgmf3EurKoSWVIQS1oMUlMeEU

[2015-05-13 13:20] alexandru-m-g opened #2849 "Gis Preview: 3. Show map preview in dataset view"
- [ ]  Check if there's any layer available
- [ ]  Display any feedback ( errors, timeouts, etc) that might've appeared during the PostGIS import process
- [ ]  Use Leaflet Vector Tiles support to display .pbf files coming from the spatial server

https://www.mindmup.com/#m:cg10B2Cgmf3EurKoSWVIQS1oMUlMeEU

[2015-05-13 13:23] danmihaila commented on #2561
yes. The users who has rights to edit.

[2015-05-13 14:29] aalecs commented on #2810
@danmihaila - I changed the text position so that it doesn't exceed the container limits - other solutions didn't work.
Please check it out and reopen if needed.

[2015-05-13 14:29] #2810 closed, assigned to aalecs

[2015-05-14 08:52] danmihaila opened #2853 "Custom org page: WFP tweaks"
- replace on home page Ebola with WFP
- replace on browse Colombia with WFP
- fix the $ sign on topline numbers on wfp

[2015-05-14 08:54] #2853 closed, assigned to danmihaila

[2015-05-14 13:07] #2732 closed, assigned to aalecs

[2015-05-14 13:27] #2825 closed, assigned to aalecs

[2015-05-14 15:06] #2364 closed, assigned to aalecs

[2015-05-14 15:06] #2366 closed, assigned to aalecs

[2015-05-14 15:31] takavarasha opened #2866 "Custom Org Pages: Consider making the Join Column case-insensitive for 3W dashboard viz"
Currently, the Join Column appears to be a case-sensitive field. It also appears that the value entered by the user is forced to upper case on save. This may cause a hard to diagnose issue when the Data Type is set to "Datastore (via datapusher)" if the name of the Join Column in the datastore is not uppercase. It is likely that the column names in a datastore will be lowercase because using lowec

[2015-05-14 15:33] reubano opened #2867 "Currency code undefined when navigating backwards"
https://data.hdx.rwlabs.org/organization/wfp
click a country -> click a commodity -> click a region
then at the top click the commodity link to go back to the national average
you will notice that the currency code gets replaced with 'Undefined'
e.g., Price of Maize in undefined per 100 KG in United Republic of Tanzania

re #2203

[2015-05-14 15:47] reubano commented on #2832
take a look at [Typeahead.js](https://github.com/twitter/typeahead.js)

[2015-05-16 19:55] luiscape opened #2877 "Permalinks on staging point to production"
Permalinks on staging point to resources on productions. Here's a printscreen:

![screen shot 2015-05-16 at 3 53 51 pm](https://cloud.githubusercontent.com/assets/953118/7667752/e94531fc-fbe3-11e4-9b03-2cb23a98a322.png)

Please note the API query on the URL bar and the permalink result field.

[2015-05-16 20:34] danmihaila commented on #2877
This is ok as it is saved in db. In case we want stag, we edit&save resources. I think we should close this one

[2015-05-16 20:59] teodorescuserban commented on #2877
+1.

Luis was not aware we redeployed stag with latest prod db.

Sâm, 16 mai 2015, 23:34, danmihaila notifications@github.com a scris:

[2015-05-17 16:57] luiscape commented on #2877
Got it. I thought it was a bug. :-)

[2015-05-18 06:40] mbellotti commented on #2436
Resize is not possible because the containing divs have a specific size and the containing divs have to have a specific size to hold the desired form design together. I suspect that allowing resize is not actually the issue we want to solve here. Can we close this one just by making the textarea bigger so that it looks a bit nicer and is easier to use?

[2015-05-18 07:34] danmihaila commented on #2436
I think a bigger hight and scrolling will be ok for the moment. @cjhendrix  ?

[2015-05-18 07:49] danmihaila commented on #2877
ok. closing it

[2015-05-18 07:49] #2877 closed, assigned to nobody

[2015-05-18 07:49] danmihaila commented on #2867
this is done

[2015-05-18 07:49] #2867 closed, assigned to danmihaila

[2015-05-18 11:02] danmihaila commented on #2540
@aalecs Issue is fixed, but I added the NoseTest description. Please work on nosetest as well.
I would also add if you have time test for the other buttons, when checking "edit" we could also check "share", "follow", etc.. thanks!

[2015-05-18 11:03] danmihaila commented on #2866
@alexandru-m-g and @cjhendrix any comments on this one?

[2015-05-18 11:04] danmihaila commented on #2834
@takavarasha I think it is an interesting request. Can you please give more details? I don't understand exactly and I have two questions:
- the time should be the exact server time when the "new organization" request is made?
- is it ok to be only a text in the email? how are you going to use this time exactly?

[2015-05-18 12:32] danmihaila opened #2879 "Gis Preview: 1.Changes to resource preview"
- [ ] Hook into resource save event and start import process
- [ ] Add additional layer info to the resource metadata
- [ ] save import status

[2015-05-18 16:28] takavarasha commented on #2834
@danmihaila,
- The time should be the exact server time (GMT) when the "new organization" request is made
- The time should be included as text in the email but should be formated in the iso format.

The body of the email could look something like the following (the new field in bold):

where `request_time=datetetime.datetime.now().isoformat()`

[2015-05-19 11:36] #2436 closed, assigned to mbellotti

[2015-05-19 11:36] #2583 closed, assigned to mbellotti

[2015-05-19 11:36] #2717 closed, assigned to mbellotti

[2015-05-19 12:01] cjhendrix commented on #2436
Yes, a bit bigger is fine.  Scrolling would be nice, but not a big deal.

[2015-05-19 13:02] alexandru-m-g commented on #2631
1. Mali buildings:
   -  55 MB unzipped, 350k polygons
   -  pushing to PostGIS 1m 10s
   -  browser response on default zoom level 3s
   -  notes: zipped file has several layers
2. Global Simplified LSIB Lines
   - 5.8 MB unzipped, 401 lines, multi-lines
   - pushing to PostGIS 2s
   -  browser response on default zoom level 400 ms
   - notes: problem at import because `ERROR:  Geometry type (Mul

[2015-05-19 19:58] mbellotti commented on #2832
So... can it be done, sure! But doing it the most efficient way is what poses the challenge. There are some trade-offs that we need to establish priorities around.

To begin with, CKAN's default autocomplete function does not actually do a proper search, instead it runs a LIKE query with a double wildcard over a specific column (generally name) on a specific entity (user, tag, etc). There are some

[2015-05-19 19:59] mbellotti commented on #2832
tagging in @alexandru-m-g for his thoughts :)

[2015-05-20 01:33] mbellotti commented on #2381
Essentially this is a bug in the Select2 library, you can see the same behavior in their example page (https://select2.github.io/examples.html). So fixing it means either replacing the select2 library for tags or modifying select2 to fix the bug.

It's hard for me to estimate this since this is a javascript task and javascript is by far my worst language. I've been playing around with this bug for

[2015-05-20 06:42] reubano commented on #2832
You can also offload some of the processing client side https://github.com/twitter/typeahead.js/blob/master/doc/bloodhound.md

[2015-05-20 08:26] cjhendrix commented on #2832
Our existing autocomplete functions perform very slowly (in particular the format selector on resource create/edit.  In the past we have said we would minimize use of autocomplete because of concerns with performance in field locations. Should we make sure that this will perform well in the field (perhaps by trying to fix the file format selector) before making it central to our interface?

[2015-05-20 08:31] danmihaila commented on #2832
I will set a call for tomorrow about this to discuss pros and cons and to decide what is the best solution we could think about it.
Until tomorrow, @mbellotti can you check @reubano 's solution regarding search on the client side?

[2015-05-20 08:39] danmihaila opened #2882 "Dataset view: External links should open in a new tab"
Dataset view > download button
When clicking and if it is an external link it should open in a new tab.

[2015-05-20 11:09] mbellotti commented on #2832
We can't offload any of these issues to the client side. Reuben's solution is basically a cache. You can give it a predefined list of suggestions to store locally, if autocomplete can't find a good match it goes back to the server and runs a search .... at which point we have to address all the issues above.

Bloodhound is really more about minimizing the amount of queries sent to the server to re

[2015-05-20 11:30] teodorescuserban commented on #2832
We can scale.
That's one of the perks of docker.
Let's what are the initial requirements and choose whats best.

Mie, 20 mai 2015, 14:09, mbellotti notifications@github.com a scris:

[2015-05-20 11:53] reubano commented on #2832
An alternative to typeahead is live search. I've used [lunr.js](https://github.com/olivernn/lunr.js) in the past and it allows you to weigh matches by field, .e.g,:

[code]

See it live [here](http://africastalking.herokuapp.com/). Doesn't completely solve all the issues mentioned above, but I figured it'd be good to know the options.

[2015-05-20 12:12] danmihaila commented on #727
@cjhendrix what will happen if an user is removed from that role?

[2015-05-20 12:37] cjhendrix commented on #727
Not really my call, but I'd say it's a rare enough case that we don't need to worry about it.  The can unfollow manually if they want to.

Are there related functionalities we should think about?  Automatically following datasets that the user has created or edited, for example?

This issue isn't directly related to the U2U work, but came up during that call as part of the discussion about onboard

[2015-05-20 13:05] danmihaila commented on #2728
@aalecs first item is done.
We will need to change in Javascript and use the field.
It is stored in extras>"key": "visualization_config">value>"viz-resource-id"
Please let me know if you need more info about this in order to complete the second point

[2015-05-20 13:20] cjhendrix opened #2884 "Build user to contributor messaging (P2P)"
We want to allow users to make comments or ask questions about a dataset directly to the contributor of that dataset.
- [ ] For authenticated users, show  a "Contact the Contributor" link next to the Contributor name.  [Design](https://drive.google.com/file/d/0B24NBcgmV490TDctTEtpel9UVDA/view?usp=sharing)
  - Option:  make this visible to unauthenticated users and direct them to the login page.  H

[2015-05-20 13:29] danmihaila commented on #2884
do we need a captcha or it is enough to have the link displayed only to logged in users?

[2015-05-20 13:59] alexandru-m-g commented on #2832
Here are my 2 cents:
-  We have about 400 organizations, groups and crises in total. As I understand, we only need to search through their name and description fields so **pushing this to the client ( browser )** shouldn't pose a problem. Just as a rough estimation, a CSV with >6000 lines with 3-4 fields takes about 900KB, and gzipped ( the way it reaches the browser )  it reaches about 35KB. So e

[2015-05-20 14:10] cjhendrix opened #2885 "WFP Visualization: small display glitch when hovering over regions"
![image](https://cloud.githubusercontent.com/assets/1654485/7727690/b4786302-ff0a-11e4-9ddf-594afc664747.png)
![image](https://cloud.githubusercontent.com/assets/1654485/7727697/bef95cd2-ff0a-11e4-8a52-ae3843eea87f.png)

[2015-05-20 14:20] danmihaila commented on #2885
@cjhendrix this is the best solution we could get based on @aalecs comment on https://github.com/OCHA-DAP/hdx-ckan/issues/2810
I think @SimonbJohnson could help here fixing this as it is quite customization.

[2015-05-20 15:10] mbellotti commented on #2832
Okay, this is good point, we _could_ push this information to a file accessible to a client side solution, but we'd still need to program the hooks to control adding and updating that cache when the underlying entities update. This issue: https://github.com/OCHA-DAP/hdx-ckan/issues/2378 is the result of a similar caching a list strategy and the powers that be are not happy with its performance.

A

[2015-05-20 15:17] alexandru-m-g commented on #2832
@danmihaila since there are some questions about the exact requirements for this ticket do you think it would be helpful to have @yumiendo in the call ( at least in the beginning ) ?

[2015-05-20 16:53] mbellotti commented on #2378
Okay I can't reproduce this issue. Not on staging, not on dev, not locally either. My best guess is that it's a caching problem, but I've tried multiple times on each environment and it's just not happening.

[2015-05-21 11:34] danmihaila commented on #2831
@mbellotti - reopening this issue as there is no nosetest committed.

[2015-05-21 12:26] danmihaila opened #2886 "Email validation module: when logging out and log in back error"
1.
I logged out as hdx and logged local.
I have this error:
File '/srv/ckan/ckanext-hdx_users/ckanext/hdx_users/controllers/mail_validation_controller.py', line 362 in logged_in
  if g.openid_enabled:
NameError: global name 'g' is not defined
2. I checked the same py file and I see at line 125: send_mail(name, email, org, reason)
which is "unresolved reference..."

Please fix this ASAP as i need t

[2015-05-21 12:27] teodorescuserban commented on #2886
You might not have a proper env.
Can your local ckan connect to the specified smtp server (default localhost port 25)?

[2015-05-21 12:28] danmihaila commented on #2886
I think it is related to a python import. i was just trying to login. Marianne is looking into this.

[2015-05-21 12:30] mbellotti commented on #2886
Marianne fixed this yesterday actually, before Dan noticed it LOL. :p

[2015-05-21 12:30] teodorescuserban commented on #2886
:)

[2015-05-21 12:58] #2284 closed, assigned to mbellotti

[2015-05-21 12:58] #2831 closed, assigned to mbellotti

[2015-05-21 12:59] mbellotti commented on #2886
Tacked the fix on to the end of this commit https://github.com/OCHA-DAP/hdx-ckan/commit/0160b10c11234f18a5327c860f34141c2c940a77 ... so... no worries

[2015-05-21 13:14] mbellotti commented on #2886
I've also cleaned up the imports as well. They were a bit wonky, copy and paste fails again.

[2015-05-21 13:21] mbellotti commented on #2755
Do you also want to give the sysadmin the ability to restore a deleted user?

[2015-05-21 16:16] aalecs commented on #2845
After doing a bit of research on the resource view's in CKAN 2.3 I can say the following:
- they are a nice addition and surprise :)
- we can create extensions with different types of views which can have their own fanstatic resource bundles (so we can have different versions of libs)
- they can be rendered in an iframe to avoid lib version clashes and this means for us we don't have to write cont

[2015-05-21 16:16] #2845 closed, assigned to aalecs

[2015-05-22 06:50] danmihaila commented on #2886
@mbellotti this is still an issue. I tried local and I couldn't logged in back. WIth email validation module on i was getting no err, i removed it from common-config and i am getting this one

The form contains invalid entries:

[code]

[2015-05-22 07:47] cjhendrix commented on #2755
Good idea. But not essential.  We could always add that later if their is a demand.

[2015-05-22 08:06] cjhendrix opened #2888 "redirected login doesn't work from /dataset/new"
This one is quite obscure.  It can probably stay in the backlog forever.

On both stag and prod (0.9.0):
- If an anonymous user clicks "contribute data", they are taken to /contribute with a login prompt **which works**.  No problem.  And this is the normal workflow.
- However if an unathenticated user navigates (via address bar) to /dataset/new, they get the same login prompt, which doesn't work.

[2015-05-22 08:11] cjhendrix commented on #2831
Tested and working.  But I still see some odd behavior:

Typing "refuge" returns "refugee", but not "refugees" even though both are (unfortunately) tags.

Maybe this is a limitation of how the matching algorithm is working and we have to live with it, but it would be nice to know.

[2015-05-22 08:27] danmihaila opened #2891 "Custom org page: javascript alert"
@mbellotti we still have this error since https://github.com/OCHA-DAP/hdx-ckan/issues/2438 and was noticed today by @reubano in our demo
A. Javascript Alert
I tried to reproduce it:
1. I edited wfp org
2. add logos
3. add vizualization type (wfp and not 3w as selected by default)

I got this alert: check screenshot
![screen shot 2015-04-02 at 14 04 01](https://cloud.githubusercontent.com/assets/38

[2015-05-22 08:33] cjhendrix commented on #2810
First one tested.  I don't quite understand the 2nd one, but I don't see anything weird in that area other that the already-documented #2885

[2015-05-22 08:43] cjhendrix commented on #2718
@danmihaila Totally agree on prioritization comment you made above.

[2015-05-22 08:58] cjhendrix commented on #2542
Tested on stag and not working, but I think maybe we can't send emails from stag?   It allowed me to create an account immediately and begin working. Reopening just to ask the question about what to expect on stag.

[2015-05-22 09:03] danmihaila commented on #2542
@cjhendrix this was tested yesterday. We agreed that we will not deploy email validation yet, and we will wait for 2.3 migration and new registration module. I removed the module, so that's why you see the old behaviour. I will move this issue into backlog until we decide to re-integrate it.

[2015-05-22 09:04] cjhendrix commented on #2835
Funny, the above one is working for me (stag and prod).  Maybe something you did while investigating the issue?

I tested a few others and confirm that they aren't working (on stag 0.9.0):
https://test-data.hdx.rwlabs.org/dataset/children_under_five_mortality_rate_per_1000_live_births/resource/8cb9e373-eb4e-4a29-a4dd-86105f8bb844
https://test-data.hdx.rwlabs.org/dataset/prevalence_of_hiv_total_of_

[2015-05-22 09:06] danmihaila commented on #2835
this has to do with removing /hdx/ from indicator url
@teodorescuserban lets discuss about this and fix it. I am not sure if we have to push any indicators to ckan db

[2015-05-22 10:04] aalecs commented on #2725
Seems to be ok now - tested out both views: HDX page and embedded widget

![2015-05-22 12 55 13](https://cloud.githubusercontent.com/assets/5638491/7768270/1484a3dc-0082-11e5-9c14-84d1ace6313e.png)
![2015-05-22 12 55 48](https://cloud.githubusercontent.com/assets/5638491/7768271/14cfaf94-0082-11e5-876a-6a19b01090bd.png)

[2015-05-22 10:04] #2725 closed, assigned to aalecs

[2015-05-22 11:54] danmihaila commented on #2885
assigned to @SimonbJohnson to work on it when he is back

[2015-05-22 12:07] mbellotti commented on #2542
I thought we had agreed to keep it enabled on staging?

On Fri, May 22, 2015 at 5:03 AM, danmihaila notifications@github.com
wrote:

[2015-05-22 12:11] mbellotti commented on #2831
CJ, are you sure they are both active tags? A while back you asked me to
change the functionality of the autocomplete to remove tags that have no
datasets assigned to them.

On Fri, May 22, 2015 at 4:11 AM, cjhendrix notifications@github.com wrote:

[2015-05-22 12:13] danmihaila commented on #2542
yes, but we will use staging to test before going to prod. I assume we will have the email validation module on dev or on another stag2 server.

[2015-05-22 12:28] alexandru-m-g commented on #2631
Results for point geometries:

2 million points seems already a bit too much ( at least in our current configuration )
- about 8 mins to push to PostGIS
- and about 30 seconds for Chubbs to respond
- not to mention that firefox is not very responsive either in the meantime
- at zoom level 10 it starts working ok

400k is relatively decent
- less than 2 mins to push to PostGIS
- about 7 seconds for

[2015-05-22 12:37] cjhendrix commented on #2366
So it looks like our solution was to eliminate them everywhere?

[2015-05-22 12:39] danmihaila commented on #2366
I think the new design didn't contain those icons. On home page it was the initial code from CKAN

[2015-05-22 12:53] danmihaila commented on #2886
after reimport db, I don't see anymore the error. closing this one

[2015-05-22 12:53] #2886 closed, assigned to mbellotti

[2015-05-22 13:00] danmihaila commented on #2507
@alexandru-m-g or @teodorescuserban any comments about this?

[2015-05-22 13:29] danmihaila commented on #2378
@cjhendrix I also tested on staging and local. I can not reproduce it. Can you please try it again and if you can reproduce it please tell us the steps (user, etc)

[2015-05-22 13:29] mbellotti commented on #2832
Closing for now.

[2015-05-22 13:34] reubano commented on #2832
So what is the conclusion?

[2015-05-22 13:35] cjhendrix opened #2892 "Custom Org: On mobile, the sticky logo disappears after scrolling down to datasets list"
I don't think we want to start dealing with minor mobile issues, but this one is fairly subtle, so I wanted to capture it when I found it.  I'll create a label for us to keep track of these.

On Android: On the WFP page, the sticky logo appears when scrolling down, but if you keep scrolling down to the dataset list. The sticky logo becomes unstuck, scrolls off the top, and then is not visible when

[2015-05-22 13:51] danmihaila opened #2893 "Custom org page: save not working in Safari"
Open Edit organization in Safari. Use custom option , WFP visualization and press "update organization".
It is not saving and page is loaded the same

[2015-05-22 13:56] danmihaila opened #2894 "Custom location page: create new location raise an error local"
I guess it has something to do with CPS or not...Location is saved, but when I am trying to view it local it raise this error.
File '/srv/ckan/ckanext-hdx_org_group/ckanext/hdx_org_group/controllers/country_controller.py', line 76 in country_read
  self.get_dataset_results(country_code)
File '/srv/ckan/ckanext-hdx_org_group/ckanext/hdx_org_group/controllers/country_controller.py', line 139 in get_

[2015-05-22 13:57] danmihaila commented on #2832
We will do this after upgrading 2.3 I will reopen this issue and add it to backlog for the moment

[2015-05-22 14:17] #2728 closed, assigned to aalecs

[2015-05-22 14:22] alexandru-m-g commented on #2866
1.  If the name of the field is actually forced to upper-case when saving that's definitely a bug
2.  As far as I see we have many datastore tables that have column names that include both upper and lower case letters: https://data.hdx.rwlabs.org/dataset/json-repository/resource/fb37281c-f0d1-43bd-a13d-b9cc9044dc47 , https://data.hdx.rwlabs.org/dataset/json-repository/resource/515c2575-0d94-4e54-8

[2015-05-22 14:35] alexandru-m-g commented on #2507
Seems like the resource changed and also the data is in the datastore. Is there another resource that causes the same problem ?

[2015-05-22 14:56] luiscape commented on #2866
@alexandru-m-g as of point **2**, you are right there are fields with upper cases. However, those field, for some reason, are not "queriable" using the SQL interface. Examples as follow:
- If you search for value=284, you will get the following JSON:

[code]

**Query URL:** https://data.hdx.rwlabs.org/api/action/datastore_search_sql?sql=SELECT%20*%20FROM%20%22515c2575-0d94-4e54-8a5c-dc943a92e18a%2

[2015-05-22 15:22] cjhendrix commented on #2378
Still happening for me.  On Windows 8 Chrome (and just to be thorough on my Lenovo laptop):
1. Log in as sysadmin (myself in this case)
2. go to /group/new
3. create "Tatooine" and save
4. click "contribute"
5. search for Tatooine in the dropdown, **it's not there**
6. type up this issue for two minutes, then think it would be good to confirm it exists
7. load /group/tatooine in a new tab.  It exi

[2015-05-22 15:45] mbellotti commented on #2378
Is the Lenovo Linux based or also Windows 8? Because there does appear to
be some wonkiness between Windows 8 and Chrome:

https://productforums.google.com/forum/#!topic/chrome/c4i8WfJIoyA

Can you open up the inspector, load the dataset create page and tell us
what X-Cache response headers say?

On Fri, May 22, 2015 at 11:22 AM, cjhendrix notifications@github.com
wrote:

[2015-05-22 15:47] alexandru-m-g commented on #2866
@luiscape I was not suggesting that the problem doesn't exist. Was simply suggesting that if we want to remain consistent than we should have everywhere the fields in lower case: in the datastore, in the forms and everywhere else that they might be used

I've slightly modified your query above and this seems to work for me: https://data.hdx.rwlabs.org/api/action/datastore_search_sql?sql=select%20*

[2015-05-22 15:48] cjhendrix commented on #2366
got it. Thanks.

[2015-05-22 16:00] luiscape commented on #2866
@alexandru-m-g Got it, that make sense. Great with the query above! I really hadn't thought of that. Thanks for the comments.

[2015-05-22 16:03] cjhendrix commented on #2831
Good thought, but no dice.  They are both tags in use (you can filter by each on /dataset) and get a non-overlapping list of datasets.

[2015-05-25 04:59] mbellotti commented on #2755
Please test this one carefully. Because of the way routes are structured I had to reproduce all of the ones that started with /user/ in the plugin file. Otherwise these routes will 404. I'm pretty sure I got them all and tested it pretty aggressively beyond the nosetest, but still, double check that login, registration, editing, etc are working as expected.

[2015-05-25 08:25] danmihaila opened #2900 "CKAN 2.3: upgrade research"
We need a research to answer to couple of question:
1. What are the best steps to upgrade from 2.2.1 (HDX version) to 2.3? (from sources, etc)
2. Do we need to upgrade first to 2.2.2 ?
3. What are the main changes from 2.3 we don't have yet implemented?
4. What extensions/customizations from HDX are not compatbile with 2.3?
5. If we changed some core methods (or ask to be changed) - do we see thes

[2015-05-25 08:31] danmihaila commented on #2879
Moving to 56 in case there will be other adjustements

[2015-05-25 08:32] danmihaila commented on #2378
moving to Sprint 56 as it needs more testing

[2015-05-25 08:33] danmihaila commented on #2473
moved to Sprint 56 to be assigned to a dev

[2015-05-25 08:33] danmihaila commented on #2540
moving it to Sprint 56. @alexandru-m-g pls support @aalecs with nosetests in IDE

[2015-05-25 08:34] danmihaila commented on #2631
moving it to Sprint 56 as part of the new GIS module

[2015-05-25 08:34] danmihaila commented on #2748
@mbellotti is it going to be moved to Sprint 56 ?

[2015-05-25 12:17] mbellotti commented on #2748
It can be closed.

On Mon, May 25, 2015 at 4:34 AM, danmihaila notifications@github.com
wrote:

[2015-05-25 12:19] #2748 closed, assigned to mbellotti

[2015-05-25 12:36] #2821 closed, assigned to aalecs

[2015-05-25 12:39] teodorescuserban commented on #2641
I began to work on this when @cjhendrix came in Buch.

[2015-05-25 12:40] teodorescuserban commented on #2649
What is the relationship of this issue with #2641  ?

[2015-05-25 12:44] alexandru-m-g commented on #2722
This is duplicated by #2668

[2015-05-25 12:47] mbellotti commented on #2882
This question came up in our meeting today: is this just external links for resources or ALL external links throughout the site?

[2015-05-25 12:48] #2722 closed, assigned to nobody

[2015-05-25 13:13] teodorescuserban commented on #2834
Why you can't use the source smtp server timestamp?
It is in header of the email, last "Received: header".

[2015-05-26 03:03] mbellotti commented on #2891
What browser was this in?

[2015-05-26 03:18] danmihaila commented on #2891
Firefox

[2015-05-26 08:05] cjhendrix commented on #2641
Moving some notes over from #2649, which I will close.  Sorry, I had completely forgotten about this info:

From Luis:

---

The script to "register" datasets on HDX can be found here:
https://github.com/luiscape/hdxscraper-unosat/blob/master/code/create-datasets.py
It can also create resources and gallery items.

It uses three JSON files as input:
Datasets.json: https://github.com/luiscape/hdxscr

[2015-05-26 08:06] cjhendrix commented on #2649
Duplicate of #2641.  Closing.

[2015-05-26 08:06] #2649 closed, assigned to teodorescuserban

[2015-05-26 08:56] cjhendrix commented on #2378
@mbellotti:  Here are the response headers from https://data.hdx.rwlabs.org/dataset/new?organization_id=0974463c-5419-4e89-9b55-90e035074ccf

Assigning back to you, but please assign to whoever was going to follow up on this one.

HTTP/1.1 200 OK
Server: nginx
Date: Tue, 26 May 2015 08:51:58 GMT
Content-Type: text/html; charset=utf-8
Cache-Control: private
Access-Control-Allow-Origin: *
Access-Con

[2015-05-26 13:11] alexandru-m-g commented on #2631
Several notes about trying to switch to TileStache as a server:
- it works only with the spherical mercator (900913) projection
- so the query needs to transform the geometry to 900913. The config should be something like this:

[code]
-  Processing the tiles is kinda slow compared to spatial server. On an 80mb shape file that was introduced in PostGis:
  -  it takes about 1m 33s to generate a til

[2015-05-26 14:33] aalecs commented on #2381
I tested out on the Select2 page pasting a comma separated list of items and it seemed to work... the only glitch is if you don't have a comma after the last item which can be fixed also ... see: http://stackoverflow.com/questions/25367499/auto-tokenize-last-item-in-pasted-string-using-select2
The only question now is if it's worth upgraging Select2 :) @cjhendrix

[2015-05-26 15:01] aalecs commented on #2755
@mbellotti - I see that in your nose test you comment out 2 other tests and there is no commit message about that, can you please tell why those two tests were disabled?
Also I don't seem to find the part where you're testing out these two points, maybe I'm wrong:
- check as guest or regular user if user page is loading
- check as sysadmin if page loads and display a message/icon with "deleted"

[2015-05-26 16:50] mbellotti commented on #2755
I commented them out because they are part of email validation, which is
now disabled.

I missed point 1, but point 2 is definitely covered.

On Tue, May 26, 2015 at 11:01 AM, Alexandru Artimon <
notifications@github.com> wrote:

[2015-05-26 21:59] alexandru-m-g opened #2902 "Problem with Request New Organization page"
Weird header section header appearing. Check screenshot (only on staging for now ):

![create_org](https://cloud.githubusercontent.com/assets/6586348/7824434/8eadd390-040b-11e5-8983-474c93d0c0e2.png)

[2015-05-27 07:07] cjhendrix commented on #2381
I think you'll need to give an estimate to Aidan and Dan so they can prioritize the work.  It's a request coming from some user a while back, so if it's not a major time investment, I'd suggest we do it.  It would have been helpful in the first days after nepal when we were generating lots of datasets with many tags in common.

[2015-05-27 15:59] mbellotti commented on #2473
Okay, so this is not a bad link in an anchor tag. This is Leaflet.js incorrectly guessing the root path. I've been able to track this down within the library but I'm still trying to figure out how to fix it with creating a custom build of leaflet :/

[2015-05-27 16:18] teodorescuserban commented on #2473
Why use leaflet in the first place?

Mie, 27 mai 2015, 18:59, mbellotti notifications@github.com a scris:

[2015-05-27 17:28] mbellotti commented on #2473
That's what does all the fancy map stuff :)

On Wed, May 27, 2015 at 12:18 PM, Serban Teodorescu <
notifications@github.com> wrote:

[2015-05-27 19:29] mbellotti commented on #2891
This is such a bizarre and incredibly anal FF issue. It's the search form at the top of the page that's to blame, but only in FF and only if you interact with one of the javascript elements on the form (image upload, visualization select, probably also visualization color picker). If you just interact with the HTML elements on the form in FF you will not see this message >.>

[2015-05-27 19:46] mbellotti commented on #2381
Even with the trailing comma I can't get it to work correctly. Not on FF, not on Chrome :/

[2015-05-27 19:47] mbellotti commented on #2882
We're still waiting for clarification on this, correct?

[2015-05-28 04:14] teodorescuserban commented on #2473
We have leaflet, mapbox and openstreetmap.
Yey!
We need to add google maps and yahoo maps :)

Mie, 27 mai 2015, 20:28, mbellotti notifications@github.com a scris:

[2015-05-28 09:40] aalecs commented on #2718
The dataset field is still being used throughout the controller and needs to be removed consistently - topline numbers not working after original fix.

[2015-05-28 12:17] danmihaila commented on #2718
Can you check why custom location doesn't need it?

[2015-05-28 12:19] mbellotti commented on #2718
@danmihalia It's just the way @alexandru-m-g wrote this part of the controller. My bad, I didn't notice it until now, but it's an easy thing to fix. Testing it now, will push in five minutes.

[2015-05-28 12:28] mbellotti commented on #2718
Ready to go as soon as Arti merges my PR :)

[2015-05-28 12:40] danmihaila commented on #2718
@aalecs  to confirm, but I think the PR is a mixed of Sprint 55 issues and Sprint 56 issues. I am not sure if they should be deployed to PROD as hotfix.

[2015-05-28 12:43] mbellotti commented on #2718
Yeah, I didn't notice that the original PR (with a 55 issue) hadn't been merged until after I pushed the Sprint 56 issues. I've been spoiled by your fast turn around Dan :) I gave into my inherent sloppiness

[2015-05-28 12:50] alexandru-m-g commented on #2718
The controller needed both because initially we used both dataset id and resource name to identify the datastore. If we're getting rid of the datastore id from the form than it needs to be removed from the  controller as well, shouldn't be too complicated.

[2015-05-28 13:17] aalecs commented on #2718
@danmihaila - I changed this issue to Sprint 56 will be merged into dev
Hope we'll better test our fixes next time :)

[2015-05-28 14:02] aalecs commented on #2718
@mbellotti
Before merging into dev I took a look a quick look at the commit and because I investigated the issue (while it was happening on production this morning) I knew a bit about the fix and seen you missed this:

[code]

Then I thought to myself that you probably tested and it's working even with this bit of code in it, but then I tested it on your branch and it's **still not working**.

Als

[2015-05-28 16:24] mbellotti commented on #2718
.... which is why the commit message said it was ready for testing on staging. I don't have the topline data for wfp on my local environment and since this issue seemed to have some urgency to it I figured we would prefer to use the servers we bought for testing to do the testing, rather than wait for me to extract an up-to-date sql dump from staging and redo my local db. I tested it to make sure

[2015-05-28 22:16] mbellotti commented on #2882
Actually, this is a little hacky, but we might be able to solve this problem with a small javascript on the bottom of the base template: https://github.com/OCHA-DAP/hdx-ckan/blob/accd79ee91623bc088beb5454ea9fa64cd195c7a/ckanext-hdx_theme/ckanext/hdx_theme/templates/base.html#L137

[2015-05-29 15:16] luiscape opened #2910 "Update to new reCAPTCHA"
Announced at Google I/O, Google just updated its reCAPTCHA. Now, instead of an actual captcha that requires image interpretation by an user, it displays a simple check-box that reads "I'm not a robot.". Here's a screen shot:

![screen shot 2015-05-29 at 11 16 08 am](https://cloud.githubusercontent.com/assets/953118/7885824/2669a5e4-05f4-11e5-824a-e1165fb987b5.png)

I think that would be a lovely u

[2015-05-29 15:23] cjhendrix opened #2911 "Extra character in error message"
Change "Password1" to "Password"
![image](https://cloud.githubusercontent.com/assets/1654485/7886006/5ed85320-0627-11e5-93a5-0327e3513f9f.png)

[2015-05-29 23:34] alexandru-m-g commented on #2631
Started a document about setting up the environment:
https://docs.google.com/document/d/1trUidBNY996wW-Qw55k1i2I5ryUz5-l4B9jTH3RgBRo

[2015-06-01 12:39] cjhendrix opened #2912 "Password reset almost but doesn't quite work for deleted user"
1. Try to log in as a deleted user using the email address.  Log in fails as it should.
2. Click password reset.
3. Receive the password reset link by email.
4. Follow the link.
5. Get an error message:
   ![image](https://cloud.githubusercontent.com/assets/1654485/7912949/041557c0-086c-11e5-9389-bdc340842aff.png)
   We probably need to discuss what the desired behavior would be.  Reactivate the d

[2015-06-01 14:46] takavarasha opened #2913 "Do not list PDFs in the dataset list"
Currently, users are encouraged to upload additional metadata for their data (if it exists) as an additional resource in their data set. This can sometimes lead to users uploading PDF files containing the metadata. The data set list will then contain pdf documents, which may give users the  incorrect impression that PDFs are ok. See image below.
![image](https://cloud.githubusercontent.com/assets/

[2015-06-01 20:03] takavarasha commented on #2834
I wanted to keep things simple by extracting the timestamp from the same place that I am extracting the other information related to an org request.

[2015-06-02 02:19] teodorescuserban commented on #2631
Awesome.
I will integrate that into our docker suite.

[2015-06-02 09:13] aalecs commented on #2718
@mbellotti - we're not in a hurry ... please test your fix before commiting ... we're not using the staging server to test our fixes, the overhead to redeploy is big enough and sometimes the server is used for demo purposes.

[2015-06-02 09:56] aalecs commented on #2849
@alexandru-m-g - We need a custom endpoint in PGrestAPI through which we can get the bounding box for the shapes in a resource. eg:

[code]

[2015-06-02 12:29] alexandru-m-g commented on #2849
I think you can run custom SQL commands in PgrestAPI/ spatial server. There is a UI for writing them so i think you can call it from API without code changes.

[2015-06-03 02:06] mbellotti commented on #2718
![screen shot 2015-06-02 at 10 05 12 pm](https://cloud.githubusercontent.com/assets/489152/7951260/7cb3a95e-0973-11e5-8595-d79c4ad8a55b.png)

It works

[2015-06-03 17:19] #2755 closed, assigned to mbellotti

[2015-06-03 17:19] #2847 closed, assigned to mbellotti

[2015-06-03 17:19] #2888 closed, assigned to mbellotti

[2015-06-03 17:19] #2891 closed, assigned to mbellotti

[2015-06-04 07:49] #2834 closed, assigned to alexandru-m-g

[2015-06-04 07:49] #2902 closed, assigned to alexandru-m-g

[2015-06-04 09:14] danmihaila commented on #2718
I see that we added an extra section at the beginning.
We should keep Basic Details and remove General information. I checked old mockups and prod and we have only Basic Details. I'm not sure why we added General information.
See screenshot attached
![screen shot 2015-06-04 at 12 09 17](https://cloud.githubusercontent.com/assets/3865844/7980804/322a5a04-0ab3-11e5-9172-c6e512381a4d.png)

[2015-06-04 09:40] danmihaila commented on #2834
@takavarasha I tested this one on STAG and the email is going to have something like this:
...
Person's ckan email: dan@k.ro
Request time: 2015-06-04T09:24:04.339274
(This is an automated mail)
...
Please let us know if it is ok.

[2015-06-04 09:47] danmihaila commented on #2718
this appears when going to "/organization/new"

[2015-06-04 10:20] danmihaila commented on #2748
@cjhendrix it looks that we now have the sorting feature in place.
We could add filters as well, but we should check if dashboard (datasets, organizations, etc) is going to be changed or it is intensively used to implement such a feature.
what do you think?

[2015-06-04 11:54] takavarasha commented on #2834
Thanks. Saw the test email and it is exactly what I wanted

[2015-06-04 11:56] danmihaila commented on #2834
great. thanks, @takavarasha

[2015-06-04 13:13] mbellotti commented on #2718
Oooo good catch. We did not add anything new, what happens is that the Basic Information header is in another template that is only used by the new page. Easy fix.

[2015-06-04 13:39] #2718 closed, assigned to mbellotti

[2015-06-04 14:09] danmihaila commented on #2892
@cjhendrix can you give more information about OS of phone, browser and what organization you used? I checked WFP on IOS and it is working ok

[2015-06-04 19:33] takavarasha opened #2919 "Adjust the default zoom of the Nepal Earthquake page to show more idp sites"
Adjust the default zoom level of the map on the Nepal Earthquake page to show more clusters of idp sites. There is a cluster of IDP sites around Gorkha that is only visible after the user clicks on the zoom out button twice.

Desired Zoom
![image](https://cloud.githubusercontent.com/assets/6885303/7992510/f5be4d80-0acd-11e5-89e7-ab7703e5c9ba.png)

Current Zoom
![image](https://cloud.githubusercont

[2015-06-05 09:04] danmihaila opened #2920 "CKAN 2.3: nose tests"
Complete the nose tests working with 2.3 version.
When completing this task we should have a functional 2.3 branch that will allow dev team to work on migration of code from HDX to the new 2.3 version

[2015-06-05 09:08] danmihaila commented on #2660
moved to sprint 57

[2015-06-05 09:36] cjhendrix commented on #2892
I just checked.  Still happening (and still not a priority!).  I'm on Android 5.1.1, in chrome.  It's happening on WFP.  On SomaliaNGO, the sticky logo never appears.  For WFP, it problem doesn't occur if I don't zoom in first.

[2015-06-05 12:46] cjhendrix opened #2921 "Browse Page: Section links (scrollTo links) not working"
On FF and Chrome the links aren't working.  Looks like maybe the anchors got dropped?

![image](https://cloud.githubusercontent.com/assets/1654485/8006177/9c3c3a1e-0b91-11e5-9d2e-40dec7337062.png)

[2015-06-06 22:23] mbellotti commented on #1653
Have we confirmed this error still exists? So far I have not been able to reproduce it and it's quite old at this point :/

[2015-06-08 08:17] cjhendrix opened #2922 "Dataset Edit: confirmation for delete dataset is missing the white background div"
On STAG and PROD; Chrome and FF:
1. Edit a dataset
2. Click delete
3. receive confirmation page as shown below:
   ![image](https://cloud.githubusercontent.com/assets/1654485/8030453/51035234-0dc7-11e5-850b-013ef170d299.png)

[2015-06-08 08:19] cjhendrix commented on #1653
I tried to reproduce and couldn't.  Magic fix.  :)  Closing.  Score +1 for HDX.

Unfortunately, I found a new one while testing (#2922). Score +1 for the forces of chaos.  :p

[2015-06-08 08:19] #1653 closed

[2015-06-08 11:26] danmihaila commented on #2882
The link from description are working, I am still testing this issue. But I have to reopen because the "download" (k.ro) is not working if you check this resource:
https://test-data.hdx.rwlabs.org/dataset/fakexxxiso-admin-level-3-boundaries
ping @mbellotti

[2015-06-09 10:47] aalecs commented on #2849
@alexandru-m-g: Yeah I've seen the UI, but it allows only selecting existing columns from what I've checked. When I do aggregations like "ST_Extent(wkb_geometry)" it can't find that column :)

[2015-06-09 14:09] mbellotti commented on #2882
Hey Dan, I don't see a download link on the page you shared so can you be a bit more specific?

[2015-06-09 15:55] cjhendrix opened #2923 "Remove testing grid from geopreview"
![image](https://cloud.githubusercontent.com/assets/1654485/8062544/949bff32-0ed0-11e5-84ba-e7fb1c1331d9.png)

[2015-06-09 15:57] cjhendrix opened #2924 "Zoom to extent of default layer viewed"
![image](https://cloud.githubusercontent.com/assets/1654485/8062614/e57abf38-0ed0-11e5-938c-f0738c573e0f.png)

[2015-06-09 15:57] cjhendrix opened #2925 "Allow owner to pick which resource is the default previewed"
See also #2983. Interface for these two issues should be considered together.

[2015-06-09 15:59] cjhendrix opened #2926 "Geopreview not working for "long" dataset names"
@alexandru-m-g knows about this one

[2015-06-09 18:39] danmihaila commented on #2882
It is the arrow near update, preview, etc. basically is the icon that will direct you to link www.k.ro

Dan Mihaila
Sent from my iPhone

[2015-06-10 09:15] cjhendrix opened #2928 "Geopreview should work for public or private datasets"

[2015-06-10 09:20] cjhendrix opened #2930 "Generate geo preview on resources added by API"

[2015-06-10 09:22] cjhendrix opened #2931 "Generate resources for pre-existing resources"
We need to activate the geopreview for existing resources.

[2015-06-10 09:30] cjhendrix opened #2932 "Remove ogc_fid attribute from shape info"
The ogc_fid attribute is added by our backend (postgis or maybe spatial server?).  We shouldn't display that to end users.  Ideally, we should prevent it from being sent with the vector tiles at all (unless it is needed for client side rendering).

![image](https://cloud.githubusercontent.com/assets/1654485/8079327/027cba4e-0f64-11e5-974a-d31199266e51.png)

[2015-06-10 09:44] cjhendrix opened #2933 "Our simplification parameters are generating some visible slivers"
Can we configure the simplification to have a bit more fidelity?

![image](https://cloud.githubusercontent.com/assets/1654485/8079605/173548c8-0f66-11e5-9e4b-a36fc5aeb188.png)

[2015-06-10 09:48] cjhendrix opened #2934 "Geo preview dependency on formats is restrictive"
As an interim solution (until we can figure out the interface), could we have the geo preview generation be triggered on all new/updated resources with extension = .zip or geojson or json?

[2015-06-10 12:08] cjhendrix opened #2935 "Unable to upload files above about 1MB to feature or test"
In testing the geo preview, I am unable to upload a 4.5MB file.

1) create a dataset
2) select a 4.5MB or larger file to upload. you can find one [here](https://www.dropbox.com/sh/3aqdloh27yynwmp/AACCZF1hT01FqV0n0wlyJ_ica?dl=0)
3) upload spinner disappears and no further action happens on the page (name field is not populated)

This is not a problem on prod.

Although not directly related to geo p

[2015-06-10 12:21] cjhendrix commented on #2935
I reverted to testing with pure text files (ignoring geo for the moment).
On feature-data and on stag:
800kb uploads
1600kb fails

In the latter case, I see the chrome upload status bar (it got to 7%), then it disappears and the spinner disappers.  No further updates occur on the page.

the .txt files I was using are [here](https://www.dropbox.com/sh/3aqdloh27yynwmp/AACCZF1hT01FqV0n0wlyJ_ica?dl=0)

[2015-06-10 12:49] teodorescuserban commented on #2935
@cjhendrix tested while I was watching the logs. No error were thrown, however, the small file succeeded while the bigger file failed.

It failed repeatedly on the POST request to /storage/upload_handle (pending then timing out with 502 status message). I was pretty sure it has to have something with the containers config but it doesn't.

@aalecs please try to identify the latest changes around th

[2015-06-10 13:51] cjhendrix commented on #2934
Of course that means we would be sending (eventually) failure messages to any user trying to upload a zipfile with something other than a shapefile in it.  So maybe not such a great suggestion.

[2015-06-10 14:44] mbellotti commented on #2935
So just to clarify, we are seeing this issue on production but not on staging?

[2015-06-10 14:55] yumiendo commented on #2934
I had an idea to include small FAQ on the "submit data" page - where we could include questions like "Can I preview my geo data?" and we'll list formats thats previewable. let me know your thoughts

[2015-06-10 14:56] teodorescuserban commented on #2935
Production is ok. Feature and test are not.

[2015-06-10 14:58] mbellotti commented on #2935
Oh okay, because @cjhendrix said "This is not a problem on stag." so I'm not sure which server I should use to diagnose the issue?

[2015-06-10 15:08] cjhendrix commented on #2935
My bad.

The problem is on feature and test (stag).  Production is ok.

[2015-06-10 15:11] cjhendrix commented on #2934
yes.  That could work as a quick solution. It implies the user has uploaded a zip, wondered why it isn't previewing, checks the faq, and sees that they have to use the magic "zipped shapefile" words.

[2015-06-10 15:17] yumiendo commented on #2934
I can provide a comp for this but I'd need someone to compile the FAQ - when would you need the comp by & who would be able to compile FAQ??

[2015-06-10 18:17] teodorescuserban commented on #2934
But we want users to upload simple zip files? The web server is compressing the file on the fly on download so there should be no reason to upload a simple zip file.

[2015-06-10 21:28] takavarasha opened #2938 "WFP Custom Org Page: South Sudan and Sudan data not visible on the the map"
The adm0_id for South Sudan [70001] and Sudan [40764] which are coming from the datastore do not match the ADMO_CODE for South Sudan [74] and Sudan [6] in the geojson variable in data/un_world_topo.js file. Additionally, the geojson does not have a polygon for State of Palestine [adm0_id=999].

[2015-06-11 06:36] mbellotti commented on #2935
Honestly, the best way to fix this is by using a file upload plugin that chunks larger files. The problem is most likely that production has more resources than staging. There's always going to be some point where the file is too large and the request times out. https://github.com/ckan/ckan/issues/2368

[2015-06-11 07:21] cjhendrix commented on #2935
@teodorescuserban Before working on a plugin, could we test Marianne's hypothesis by giving feature more resources?

[2015-06-11 07:24] cjhendrix commented on #2934
Yes, but they still might do it.  :)  Tagging @amcguire62 for Yumi's questions about tasking and timing.  I can write the FAQ material, but it's not clear to me if we are considering this a block or not for going to production with geo preview, so I'm not sure about timing.

[2015-06-11 08:46] teodorescuserban commented on #2935
Only by shutting down stag and demo will feature get more resources.
But not significantly more.

Staging VM is slower and on slower hard drives. Dev is even slower.

Only prod is the real thing. What I would suggest is to have a separate set of containers on prod to test out this feature :)

I will only start the containers when we test, on a convenient time (less visitors etc) so prod itself won

[2015-06-11 16:53] luiscape opened #2939 "CSS issue with the deleting dataset confirmation page"
After clicking on "Delete" on a dataset page, I am directed to a confirmation page that asks me to confirm if I really want to do that. When I got there I saw this page that had some broken CSS:

![screen shot 2015-06-11 at 12 45 49 pm](https://cloud.githubusercontent.com/assets/953118/8112915/e58f3800-1038-11e5-8155-56ae78bbc527.png)

[2015-06-11 16:55] teodorescuserban commented on #2939
+1

[2015-06-11 17:15] pjdufour opened #2940 "Metadata / Editing Order"
On the "edit metadata" page for a dataset, the "Date of Dataset" is frequently "beneath the fold" even for large screens.  For remotely hosted datasets when the source data is updated, the only metadata fields that need to be updated are the description and date.  It'll be a lot quicker for users to eyeball the "Date of Dataset" field and change it if it is higher up in the page.  There are probab

[2015-06-12 10:25] teodorescuserban commented on #2935
Prod tests completed successfully.
See attached screenshots.

![upload 32 mb - bmon](https://cloud.githubusercontent.com/assets/1542984/8128323/7894caa2-1106-11e5-809b-5156bd18921a.png)
+++++++++++++++++++++++++++++++++
![upload 32 mb - chrome timing](https://cloud.githubusercontent.com/assets/1542984/8128324/7895d0aa-1106-11e5-99a5-8351195de1ec.png)
+++++++++++++++++++++++++++++++++
![upload 32 m

[2015-06-12 10:30] teodorescuserban commented on #2935
Conclusions:
- stag is slower (as stated previously).
- careful on migration to the new provider (tagging @amcguire62) - this test should be included in the load testing.

[2015-06-12 10:48] cjhendrix commented on #2939
duplicate of #2922   :p

[2015-06-12 10:48] #2939 closed, assigned to nobody

[2015-06-12 13:25] teodorescuserban opened #2941 "HTML tags pushed from API not working"
This is related to OCHA-DAP/cod-migration#7, OCHA-DAP/cod-migration#11, OCHA-DAP/cod-migration#13

The HTML tags are in various fields: description (notes), source, license_title, caveats and possibly other.

Please provide a guideline on what to use and where.

Important for now would be working < a > and < ul >.

Tagging @cjhendrix to assign and add more desirable tags.

[2015-06-13 18:09] SimonbJohnson commented on #2938
@aalecs Here's the new topojson https://github.com/SimonbJohnson/WFP-food-price/blob/master/data/un_world_topo.js

Will hopefully get the chance to set up docker on my mac this week are you able to handle this in the mean time?

[2015-06-14 14:40] SimonbJohnson commented on #2885
@aalecs Missing an equals in the if statement

https://github.com/SimonbJohnson/WFP-food-price/commit/7fe184ba11e523f300fb4e478d54bf0de809b832

[2015-06-15 10:51] danmihaila opened #2942 "Links: open new tab not working very well"
Production > Go to Home page, click on "Data" or "Browse" - it will open a new tab.
@mbellotti I think the javascript way of doing this is not great as it has collateral actions.
We will have to hotfix this one

[2015-06-15 12:11] teodorescuserban commented on #2641
for status see:
https://github.com/OCHA-DAP/cod-migration/issues/

[2015-06-15 12:11] #2641 closed, assigned to teodorescuserban

[2015-06-15 12:13] teodorescuserban commented on #2835
Sorry, I kinda missed that.
If you will link the files from cps over https this will not happen.

[2015-06-15 12:17] danmihaila opened #2943 "CKAN 2.3: ckanext-hdx_crisis"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_crisis

We will have to migrate Ebola crisis page to be used as a custom location (similar to Nepal Earthquake). So, we don't bring any code related to Ebola, but dev should check if Ebola crisis page is working and can be set as Nepal crisis.

[2015-06-15 12:21] danmihaila opened #2944 "CKAN 2.3: ckanext-hdx_org_group"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_org_group
- [ ] HDX CKAN plugin: hdx_group

Questions:
- do we need both plugins?
- I know that CKAN core fixed some problems regarding organizations vs groups. Are we still having a problem?

[2015-06-15 12:25] danmihaila opened #2945 "CKAN 2.3: ckanext-hdx_package"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_package

It should improve our way or storing files also. From what I saw in 2.3 there are 2 big changes that we might want:
- when saving a dataset, it will also upload the resource. In HDX CKAN the resources are uploaded via ajax
- "OFS" is not used anymore and fi

[2015-06-15 12:27] danmihaila opened #2946 "CKAN 2.3: ckanext-hdx_search"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_search

A new search will come in place in the next sprint. Until then lets comment what we currently have and be prepared for next changes that will improve our search.
I think this task should go together with SOLR task

[2015-06-15 12:29] danmihaila opened #2947 "CKAN 2.3: ckanext-hdx_theme"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_theme
  Clean and refactor css, javascripts, templates, HDX custom templates, optimize (you know the drill)
- [ ] Boostrap
  Make sure we are using only one version of Bootstrap. Basically 2.3 should use a newer version we already use, so we should be fine moving.

[2015-06-15 12:31] danmihaila opened #2948 "CKAN 2.3: ckanext-hdx_users"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_users

[2015-06-15 12:33] danmihaila opened #2949 "CKAN 2.3: ckanext-hdx_sitemap"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: hdx_sitemap

Questions:
- can we write some nosetests or Selenium to test the output?
- is it compatible with google and yahoo (or any other search engine) ?
- is HDX showing the custom pages?

[2015-06-15 12:35] danmihaila opened #2950 "CKAN 2.3: external plugin"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] HDX CKAN plugin: stats
- [ ] HDX CKAN plugin: text_preview
- [ ] HDX CKAN plugin: recline_preview
- [ ] HDX CKAN plugin: datastore

[2015-06-15 12:37] danmihaila opened #2951 "CKAN 2.3: SOLR"
Check this document:
https://docs.google.com/document/d/1D6kdWctMio8FyqmsqGt4BonIMatETQppQu_n-98eY4M/edit#
- [ ] Check HDX SOLR schema with schema from 2.3
- [ ] Make a report about the changes.
- [ ] any impact over the new search changes we want to do?

[2015-06-15 13:04] mbellotti commented on #2942
Yup, this is a minor problem with site_url and HTTPS. I fixed it six days
ago, but no one has merged the PR.

On Mon, Jun 15, 2015 at 6:51 AM, danmihaila notifications@github.com
wrote:

[2015-06-15 14:03] cjhendrix opened #2952 "Placeholder for CPS deploy"