[2015-08-31 10:08] cjhendrix commented on #2337
Agreed.

[2015-08-31 10:08] #2337 closed, assigned to nobody

[2015-08-31 10:13] cjhendrix commented on #2320
I think it is still an issue.   And may affect the COD migration (see https://github.com/OCHA-DAP/cod-migration/issues/66)

[2015-08-31 10:15] cjhendrix commented on #2227
I recommend we implement.    To answer Sarah's question, yes, I think they would break to a second line, and we should make sure they break all together (we wouldn't want the first icon at the end of the first line and the others on the second line, for example)/

[2015-08-31 10:16] cjhendrix commented on #2195
Long since done.  :)

[2015-08-31 10:16] #2195 closed

[2015-08-31 10:18] danmihaila commented on #3022
assigned to @yumiendo for comments

[2015-08-31 10:27] danmihaila commented on #2362
I misread the title. Assigned @yumiendo for more comments

[2015-08-31 10:42] aalecs commented on #2893
Was still an issue, and will be fixed with this commit ;)

[2015-08-31 10:42] #2893 closed, assigned to aalecs

[2015-08-31 11:08] aalecs commented on #2561
Decreased the bottom margin on the button so that larger logos can fit. Beware that on deploy we need to regenerate all the custom css in order for this to work.

[2015-08-31 11:08] #2561 closed, assigned to aalecs

[2015-08-31 12:59] #2885 closed, assigned to aalecs

[2015-08-31 13:01] alexandru-m-g commented on #3094
@cjhendrix The code is committed . How should I change the FAQ text ?

[2015-08-31 13:02] #3366 closed, assigned to alexandru-m-g

[2015-08-31 13:03] #3394 closed, assigned to mbellotti

[2015-08-31 13:07] danmihaila commented on #3431
@teodorescuserban pls chat with @alexandru-m-g and redeploy staging to test this issue. thanks

[2015-08-31 13:10] #2335 closed, assigned to nobody

[2015-08-31 13:10] #2336 closed, assigned to nobody

[2015-08-31 13:15] #2739 closed, assigned to aalecs

[2015-08-31 13:26] danmihaila commented on #2970
the next steps:
1. @teodorescuserban  will deploy staging server with latest stag code with clean db from prod
2. @teodorescuserban  will run gospawn and be sure the COD datasets are imported on feature server and let CJ know
3. @cjhendrix  will perform several searches related to [country]+COD and come back to us.
If results are not good we will think to boost tags.
Assigned to @cjhendrix

[2015-08-31 13:32] #2333 closed, assigned to nobody

[2015-08-31 13:32] #2334 closed, assigned to nobody

[2015-08-31 14:36] yumiendo commented on #3429
![org_02_spec](https://cloud.githubusercontent.com/assets/8006323/9581225/18e3879c-4fcc-11e5-975e-558a2a8196f8.png)

please use this one instead.

[2015-08-31 14:39] cjhendrix opened #3471 "Geopreview processing starts but does not complete"
Another one:

https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=afghanistan-admin-level-3-boundaries

[2015-08-31 16:05] yumiendo commented on #3022
im noticing that not all but a lot of datasets do have dataset date in either title / description / file name and im not sure repeating dates are necessarily good solution.

Would it be more obvious if we put "last updated:" in front of "Month-DD, YEAR"?  (screen attached below)

Ive also noticed that the date stamp in the search result is reflecting activity...(looks like there is no distinction

[2015-08-31 16:16] yumiendo commented on #2227
I agree. I'd say add as a row below the title.

[2015-08-31 16:28] yumiendo commented on #2764
agree with cj.
I think at the dataset level (edit mode) - it'd be nicer to see all info exposed.

so the best approach would be:
- display the whole description

...until we can introduce a new contribute flow via empty dataset page (cj's idea).

[2015-08-31 16:42] yumiendo commented on #2790
I personally like "show all" but I was flagged that it's going to run into loading issue(esp for search results). so we're using "show 25|50|100"
<img width="1229" alt="screen shot 2015-08-31 at 12 41 04 pm" src="https://cloud.githubusercontent.com/assets/8006323/9583959/2dd30e6a-4fdc-11e5-8e1b-af7d0dfa3744.png">

This would definitely be a nice feature for search results.
<img width="1402" alt="s

[2015-08-31 16:50] yumiendo commented on #2125
How have we dealt with someone who forgot username before the new onboarding?
do we have a page like "forgot password"(https://data.hdx.rwlabs.org/user/reset) for username?

[2015-08-31 17:02] yumiendo commented on #3395
please refer to the javascript warning comps.
![screen2 screen4](https://cloud.githubusercontent.com/assets/8006323/9584685/840b861e-4fe0-11e5-89fc-a784897a4644.png)

[2015-08-31 17:13] yumiendo commented on #2801
like the idea.
can we do drag / drop to add files?
<img width="1394" alt="screen shot 2015-08-31 at 1 23 06 pm" src="https://cloud.githubusercontent.com/assets/8006323/9584893/cdcda6c8-4fe1-11e5-9534-2d7529ff444c.png">

imaginary scenario:
1. user with privilege (probably org admin only...) drag/drop the resources
2. loading screen is displayed...file is uploaded
3. (with the current contribute fl

[2015-09-01 09:05] danmihaila commented on #2764
ok. Adding this issue for next sprint.

[2015-09-01 09:05] danmihaila commented on #2227
@yumiendo can you please provide a quick mockup?

[2015-09-01 09:08] danmihaila commented on #3022
@yumiendo I think there are 2 types of dates as CJ commented:
- metadata date - automatically set in database when a dataset is changed
- dataset date - user has to fill this field in admin form
  I am not sure I understand your comment.
  Basically, we need to decide how to display both dates in case they exists. I also noticed that there are users asking about dataset date which is important.

[2015-09-01 09:13] danmihaila commented on #2790
@cjhendrix @yumiendo - where do we want to have this new feature:
- [ ] /search
- [ ] /dataset
  I also wanted to raise the issue that on custom org page
- we have pagination
- we don't 25|50|100
- we have a search bar
  Do we want to show the list of datasets in a common way?
  ![screen shot 2015-09-01 at 12 11 30](https://cloud.githubusercontent.com/assets/3865844/9600260/c4577030-50a2-11e5-8382

[2015-09-01 09:16] danmihaila commented on #2125
@yumiendo  I don't remember to have this feature.
In this case do we want this new feature? Basically right now we can login with username or email, in my opinion it doesn't make sense to have it.
Assigned to @cjhendrix for comments too

[2015-09-01 09:17] danmihaila commented on #3395
@alexandru-m-g I will move this issue for next sprint as it will be part of other changes regarding this messages and alerts

[2015-09-01 09:29] danmihaila opened #3472 "Javascript alerts"
We need to refactor the javascript alerts.
- [ ]  make a dataset private/public. Similar to
  ![edit_membership](https://cloud.githubusercontent.com/assets/3865844/9600618/beef81e4-50a4-11e5-938f-4cabd18668f0.png)
- [x] add member
  ![add_member](https://cloud.githubusercontent.com/assets/3865844/9600631/c8720714-50a4-11e5-963d-985f4b7e5719.png)
- [x] delete member
  ![delete_dataset](https://clou

[2015-09-01 12:17] #2799 closed, assigned to danmihaila

[2015-09-01 12:21] alexandru-m-g commented on #3471
After investigating with @teodorescuserban, we came back to the following conclusion:
-  We can see in the logs that the geoprocessing takes places and actually ends succesfully
-  CKAN is notified about this via the API and returns _successful_
-  The status of the resource is then modified ( so the _successful_ state of the resource is overwritten ). How does this happen:
  -  The cod migration

[2015-09-01 12:21] #3471 closed, assigned to alexandru-m-g

[2015-09-01 13:06] #3021 closed, assigned to danmihaila

[2015-09-01 13:08] cjhendrix commented on #3284
I just now added a url to the bottom of the issue description above.  It's another page where I see this issue.

[2015-09-01 13:08] cjhendrix commented on #2125
We have this.  But it leads to an old (old) style page https://data.hdx.rwlabs.org/user/reset

[2015-09-01 13:10] danmihaila commented on #3150
assigned to @yumiendo for comments
How should we show the selected tab? grey background with red underline?
![add_member copy](https://cloud.githubusercontent.com/assets/3865844/9605037/eab52328-50c3-11e5-9cdb-603f7efa3b05.png)

[2015-09-01 13:13] danmihaila commented on #2125
I think there are 2 different things:
- forgot password
- forgot username/email
  Forgot password is CKAN default which I think should be included in onboarding. I think we don't need forgot username/email feature.

[2015-09-01 13:17] cjhendrix commented on #3022
Regarding @yumiendo 's suggestion:  "last updated" is confusing  because it isn't clear if we are saying when the ckan record was updated (such as fixing a type in the description) or when the actual data file (as in a new weekly version of an XLXS of ebola cases) is updated.  Users care more about the latter than the former.

[2015-09-01 14:42] cjhendrix commented on #2970
for number 3 above, the searches are actually looking pretty good.
`[country name] + cod` and `cod + [country name]` are returning the public cods for the country.

We fall down on things like `north korea cod` because we use the more formal country name, but we can't solve that until we add short names/alternative names to groups in ckan.

[2015-09-01 14:44] yumiendo commented on #3150
lets do the same as what we have currently for dataset / indicators https://data.hdx.rwlabs.org/dataset?sort=metadata_modified+desc
selected / hover in red.

[2015-09-01 14:44] danmihaila commented on #2125
assigned to @yumiendo for comments

[2015-09-01 14:46] danmihaila opened #3476 "Onboarding: forgot password feature"
We need a mockup to integrate the forgot password in our onboarding. Assigning to @yumiendo for mockup
Right now we have: https://data.hdx.rwlabs.org/user/reset

[2015-09-01 14:47] danmihaila commented on #3150
ok, agreed.
![screen shot 2015-09-01 at 17 46 42](https://cloud.githubusercontent.com/assets/3865844/9607378/79a2d032-50d1-11e5-8f89-b4ff162ca27f.png)

[2015-09-01 14:50] cjhendrix commented on #3094
Tagging @ochadataproject for approval of change to FAQ text.   It's ok for this commit to be deployed without the FAQ change, if approval is still pending.

Change this paragraph:

![image](https://cloud.githubusercontent.com/assets/1654485/9607364/05b02c2c-50c9-11e5-9583-b3164fc77762.png)

to

`The HDX system will attempt to create a map, or geographic preview, from geodata formats that it recogn

[2015-09-01 15:00] alexandru-m-g commented on #2970
I'm still wondering if a "very important" text field ( as explained in a comment above) that is available only to  a restricted group of users wouldn't be helpful for making the search results more friendly.

[2015-09-01 15:15] alexandru-m-g commented on #3431
@teodorescuserban a new configuration is need on gislayer for the db password: DB_PASS

Also the requirements changed so a `pip install -r requirements.txt` is needed

[2015-09-01 15:16] yumiendo commented on #2125
Im ok with just having "forgot password?" option for now.
if we see too many users get stuck with forgetting username/email address...then we'll come back to this feature.

[2015-09-01 15:16] #2125 closed

[2015-09-01 17:43] yumiendo commented on #3412
@danmihaila
Can we address this with https://github.com/OCHA-DAP/hdx-ckan/issues/3472

[2015-09-01 17:53] danmihaila commented on #3412
Yes, we will do it.

[2015-09-01 18:16] ochadataproject commented on #3094
Looks fine thanks

On Tuesday, September 1, 2015, cjhendrix notifications@github.com wrote:

[2015-09-01 18:56] yumiendo commented on #3476
2 comps attached - form field & confirmation
![forgot_password](https://cloud.githubusercontent.com/assets/8006323/9613413/2fb9a454-50b9-11e5-94e8-ab77cbec1b62.png)
![forgot_password2](https://cloud.githubusercontent.com/assets/8006323/9613414/2fba6eac-50b9-11e5-8444-3e50e412f192.png)

after the confirmation - can we take user back to the page they were on?
currently after password reset it goes t

[2015-09-01 23:06] mbellotti commented on #2754
Should we have HDX email the deleted user to let them know someone wants them to come back? :)

[2015-09-02 12:25] danmihaila commented on #3458
@mbellotti
1. first task in the initial description is still available. I reproduced it local.
Steps:
- go to http://localhost:5000/organization/edit/innago
- check description which is empty field:
  ![screen shot 2015-09-02 at 15 22 39](https://cloud.githubusercontent.com/assets/3865844/9630985/7df82f64-5186-11e5-9675-69b211ec941f.png)
- leave description empty
- save organization
  Organization

[2015-09-02 12:46] danmihaila commented on #3476
ok, will see how we can do it.
thanks @yumiendo and assigned this task for next sprint

[2015-09-02 13:02] #3284 closed, assigned to mbellotti

[2015-09-02 13:02] #3432 closed, assigned to mbellotti

[2015-09-02 13:45] mbellotti commented on #3458
Try this, go back to edit/innago. This time instead of just leaving the description box as is and saving it, focus on the textarea and hit backspace (or delete, it shouldn't matter). This time you will get a validation error... so I'm wondering if this is an issue with markdown?

[2015-09-02 15:02] danmihaila opened #3481 "ROEA page fixes"
@aalecs we need to do this as hotfix on prod. please work on this asap.
1."Coping" should be changed by " Lack of Coping Cap" or any abbreviation
2. The source that Sarah suggested is not "OCHA ROEA" but "OCHA, UNHCR,FEWSNET"

[2015-09-03 10:41] cjhendrix opened #3482 "Geopreview: OSM basemap not refreshing on chrome (win7)"
I've been seeing this problem over the last week.  Restarts haven't helped.  Happens only on chrome, not FF.

When zooming in our out of the geo preview map, the OSM tiles are often not refreshed, though I have seen it work sometimes as well.  The tile requests are from (for example) https://data.hdx.rwlabs.org/crisis-tiles/8/149/131.png  and are stuck as "pending".

![image](https://cloud.githubu

[2015-09-03 10:52] teodorescuserban commented on #3482
Assign it to me please.

Joi, 3 sept. 2015, 13:41, cjhendrix notifications@github.com a scris:

[2015-09-03 12:33] danmihaila opened #3483 "Docker alignment with prod configuration"
This is an issue that should be assigned to all devs in order to be aligned with configurations made on server.
It will be also an advantage in order to have all the features installed on local machines, to be able to get snapshots of database easier, etc.

[2015-09-03 13:11] danmihaila opened #3484 "Browse page: cleaning code"
We still have several imports of browse resources in code and we should remove them and comment the browse page for the moment.

[2015-09-03 13:23] #2975 closed, assigned to danmihaila

[2015-09-03 13:25] danmihaila opened #3486 "Onboarding: followee list"
Improve the list of items that user can initially follows when during the onboarding.
Ping @yumiendo to be aware of this and comments

[2015-09-03 13:54] danmihaila opened #3487 "Request membership"
Check request membership behaviour if it is working. If it is not working, fix it :)

[2015-09-03 14:41] danmihaila commented on #3487
this is working fine, pinging @amcguire62

[2015-09-03 14:43] #3487 closed, assigned to danmihaila

[2015-09-03 15:09] alexandru-m-g commented on #3466
@teodorescuserban there will be another config change needed for this on the gislayer side:

[code]

[2015-09-03 15:56] cjhendrix commented on #3094
FYI @ochadataproject :  We changed the text a bit above to capture a subtlety about how this works. I think it's fine, but let us know if you want changes.  Thanks @alexandru-m-g for catching it.

[2015-09-03 16:09] #2558 closed, assigned to danmihaila

[2015-09-03 16:28] #3094 closed, assigned to alexandru-m-g

[2015-09-03 21:04] yumiendo commented on #3486
some running list of ideas:
- top country pages (popularity)
- curated country pages
- orgs with most datasets
- (if crises are happening) crises page
  etc

[2015-09-03 22:30] yumiendo commented on #3428
dan - would the 2 types of icons visible to all users or just to sys admin? does data team need to provide the thumbnail or is the dev team in charge?

Im throwing another idea here -
assuming the data team has 1.make 3 selection 2. provide thumbnail and update these periodically.

sketches attached below -
1. add "edit" button on the organisation list page (only visible to sys admin....thought ab

[2015-09-04 06:34] danmihaila commented on #3428
hey @yumiendo, thank you for these mockups. I forgot to update this issue, but we decided at our last call with data team to manage the three featured organizations via a dataset from datastore.
We might still need these mockups in case we want to add this feature to allow data team to have an UI interface to manage them.

[2015-09-04 06:35] danmihaila opened #3490 "Custom pages"
Research what is the best approach for creating the custom pages. brainstorm with dev team, call/email with OKFN

[2015-09-04 09:22] teodorescuserban commented on #3466
Why you don't use the already defined `CKAN_SERVER_URL` and just make `RESOURCE_ID_LIST_API` as a path?
Like:
`RESOURCE_ID_LIST_API='/api/action/hdx_resource_id_list'`

[2015-09-04 09:23] teodorescuserban commented on #3466
We could use that on `GIS_API_PATTERN` and `RESOURCE_UPDATE_API` as well.

[2015-09-04 11:02] alexandru-m-g commented on #3466
I meant to have the API endpoints as completely separate since it gives more flexibility. For example, if some API needs to be accessed via HTTP while another needs HTTPS. Or if some API endpoint gets moved out of the CKAN application.

The CKAN_SERVER_URL was added as a quick fix for a completely different problem.

[2015-09-04 12:22] aalecs commented on #3481
1. fixed in the code
2. can be configured in the org edit page at the visualisation config section

[2015-09-04 12:22] #3481 closed, assigned to aalecs

[2015-09-04 13:41] teodorescuserban commented on #3466
Ok. Understood. You are perfectly right.

Vin, 4 sept. 2015, 14:02, Alexandru Gartner notifications@github.com a
scris:

[2015-09-07 06:46] #3458 closed, assigned to mbellotti

[2015-09-07 11:51] cjhendrix commented on #3112
After conversation with @alexandru-m-g, we will leave the cursor change out for now until we can discuss the best design solution (via another issue).

[2015-09-07 11:55] cjhendrix opened #3498 "Geopreview highlight color."
The color with which we highlight selected geometries is dark red, but this coincides with the color of overlapping geometries and polygon outlines.   We should consider a more distinct highlight color.

[2015-09-07 13:47] danmihaila opened #3501 "Nosetest errors - featured orgs"
@mbellotti there are several errors related to 3 nosetests you added. You could fix the first error by importing user_extra plugin into test and changes to create_test_data I think. Check how is done in other tests. The other errors are related to missing imports
## ERROR: ckanext.hdx_org_group.tests.test_controller.test_custom_org_controller.TestMembersController.test_edit_custom_orgs

Traceback

[2015-09-07 13:49] danmihaila opened #3502 "Nosetest errors: missing thumbnail"
I think we should display the default image from Yumi in case we don't find the a thumbnail.
# FAILED (errors=2, failures=1)
## ERROR: test_page_load.TestPageLoad.test_page_load

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/nose/case.py", line 197, in runTest
    self.test(_self.arg)
  File "/srv/ckan/ckanext-hdx_theme/ckanext/hdx_theme/tests/test_pages/test_pa

[2015-09-07 13:57] danmihaila commented on #2227
pinging @yumiendo for a mockup :)

[2015-09-07 13:59] teodorescuserban commented on #2265
Yep. Works ok now.
Closing.

[2015-09-07 13:59] #2265 closed, assigned to teodorescuserban

[2015-09-07 14:05] danmihaila commented on #3442
this is high priority now for Sprint 65.

[2015-09-07 14:09] #3466 closed, assigned to alexandru-m-g

[2015-09-07 14:50] alexandru-m-g opened #3503 "Analyzing ways of having the onhover functionality with the new geopreview"
### Problem

In order for _onhover_ to work the javascript library needs to take the point ( where the mouse currently is ) and look through the features of the existing layer and find the corresponding one. This is very resource intensive as explained here: https://github.com/SpatialServer/Leaflet.MapboxVectorTile/issues/23
### Possible solution

There is a fork of the Leaflet.MapboxVectorTile re

[2015-09-07 15:11] alexandru-m-g commented on #3112
@cjhendrix as discussed I opened a related ticket that deals with the onhover functionality research:

https://github.com/OCHA-DAP/hdx-ckan/issues/3503

[2015-09-07 15:11] #3112 closed, assigned to alexandru-m-g

[2015-09-07 16:11] cjhendrix commented on #2227
Can I suggest we don't do the icons on a second line (unless it breaks that way).  For most of our (non-inidcator) datasets, we have a lot of spaciness in the top section already.   It's Yumi's call, but I'd suggest having a look at datasets (not indicators) with and without geopreview as well as with and without the org logo to get a feel for the different situations in which the icons will occur

[2015-09-08 08:27] aalecs commented on #3430
To install CaptureJS: npm install -g capturejs
PhantomJS 1.9 can be installed using apt-get.

But 1.9 has an issue with rendering maps so we use a different repository that provides 2.0:
sudo add-apt-repository ppa:tanguy-patte/phantomjs
sudo apt-get update
sudo apt-get install phantomjs

[2015-09-08 08:39] teodorescuserban commented on #3430
Installed on staging.

[2015-09-08 09:45] danmihaila commented on #3395
closing this one, duplicated by #3472

[2015-09-08 09:45] #3395 closed, assigned to alexandru-m-g

[2015-09-08 09:49] danmihaila commented on #3412
this will be done via #3472 Added to @aalecs to have an eye on it

[2015-09-08 09:50] danmihaila commented on #3043
@cjhendrix is this still an issue?

[2015-09-08 09:56] danmihaila commented on #2118
I see in our test only the update resource metadata. @mbellotti can you point to the ckan core test for resource create, update, delete ? I think @cjhendrix is right to include in our running test just to be sure it is working well.

[2015-09-08 10:04] teodorescuserban commented on #3431
Still need to gather up with @alexandru-m-g to configure this.

[2015-09-08 11:29] cjhendrix commented on #3498
@yumiendo Could you take a look at this one?  Not urgent, but I think it would make a noticeable improvement in geopreview.

[2015-09-08 11:33] cjhendrix commented on #3258
@alexandru-m-g I think we can close this one.  Please reopen if I'm wrong.  The dataset that caused me to reopen was a COD and we've understood (if not resolved) that issue.

[2015-09-08 11:33] #3258 closed, assigned to alexandru-m-g

[2015-09-08 11:37] cjhendrix commented on #3261
Closing.  This is happening because we are leaving out anything that isn't a string in order to make them fit the box better.  We can turn them all on when we solve the issue about showing more attributes.

[2015-09-08 11:37] #3261 closed, assigned to nobody

[2015-09-08 11:46] alexandru-m-g commented on #2973
This is basically duplicating https://github.com/OCHA-DAP/hdx-ckan/issues/3466.

Closing this ticket.

[2015-09-08 11:46] #2973 closed, assigned to alexandru-m-g

[2015-09-08 11:53] cjhendrix opened #3504 "Geopreview: enable support for KMZ"
This may require enabling a different kml driver.  Requested by @luiscape primarily for the UNOSAT datasets.

[2015-09-08 12:08] alexandru-m-g opened #3505 "Have a CKAN health check page"
Now that HDX has many components it's easy to loose track of them and it's hard to check if they're all working after a redeploy.

I think we should have CKAN ping the other services to see if they're operational and present the results in a health check page like: http://mylocalwebstop.com/wp-content/uploads/2015/02/screenshot-11.png. This would be easy to check by any sysadmin and could be indic

[2015-09-08 12:10] danmihaila commented on #3505
I will include here the email server. I know @teodorescuserban created a git issue to test the email server.

[2015-09-08 12:16] danmihaila commented on #2911
@cjhendrix i think this is the old registration module and we can close this one. can u confirm and close it pls?

[2015-09-08 12:29] cjhendrix commented on #3043
As far as I know, yes.  We fail on large file sizes (500mb) but we don't give a clear indication to the user of what happened or why.

[2015-09-08 13:04] #2970 closed, assigned to cjhendrix

[2015-09-08 13:16] teodorescuserban commented on #3483
Please lets talk.
Reason 1: I'm in the middle of doing some major changes on how prod docker stack is created.
Reason 2: you should be very easily able to follow the same prod procedure to bring up parts of stack or the entire stack on your local env.

[2015-09-08 13:27] yumiendo commented on #3498
I just looked at this example - https://data.hdx.rwlabs.org/dataset/senegal-administrative-boundaries
We could maybe use higher opacity (like 100% in same red) for the boundary/outlines?

[2015-09-08 13:37] mbellotti commented on #2321
Test this first, because we're not sure if it still exists

[2015-09-08 13:44] cjhendrix commented on #1611
Long ago done.

[2015-09-08 13:44] #1611 closed

[2015-09-08 13:46] danmihaila commented on #1575
dataset page, create/edit . Replace file/s -> resource/s

[2015-09-08 13:53] cjhendrix commented on #3453
Loads the logged in user's profile page instead of the list of users when trailing / is included

![image](https://cloud.githubusercontent.com/assets/1654485/9736481/b336c608-5641-11e5-8363-05ff127cc771.png)

[2015-09-08 16:46] teodorescuserban commented on #3505
Not sure if ckan itself should test everything. I would rather have the
util container do that but lets talk

Mar, 8 sept. 2015, 15:10, danmihaila notifications@github.com a scris:

[2015-09-08 18:51] alexandru-m-g commented on #3505
I didn't go too much into detail above but basically each tool should test it's own dependencies ( like gislayer should test access to postgis, redis, spatial etc ).

Just the page showing the status should be on CKAN. So CKAN centralizes the data since they all ultimately communicate with CKAN in one way or another.

[2015-09-08 21:25] yumiendo commented on #2227
After looking at various cases - I think icons on the same row as actions (share, edit, delete etc) is the safest location for them.

different cases below....

<img width="1406" alt="screen shot 2015-09-08 at 5 29 40 pm" src="https://cloud.githubusercontent.com/assets/8006323/9747808/fd2966ce-564d-11e5-8fc6-f9e5b6ef292b.png">
<img width="1409" alt="screen shot 2015-09-08 at 5 28 06 pm" src="https

[2015-09-08 21:58] teodorescuserban commented on #3431
Good brownbag session with @alexandru-m-g :)
In the brownbag was a bottle but still good session :)

[2015-09-08 21:58] #3431 closed, assigned to teodorescuserban

[2015-09-08 22:28] yumiendo commented on #1593
added the lock icon(svg) to the google drive
https://drive.google.com/open?id=0B24NBcgmV490VjFQMFRoZ3V3VXc
and sorry for stupid question but what does 'deleted' mean?? if you delete something...why can we still see it?

[2015-09-09 02:35] luiscape commented on #1593
@yumiendo jumping on here, in CKAN nothing is ever really deleted. If an user deletes something, only that user will be able to "see" that dataset. That user and system administrators, like us. The advantage of that is that if an user makes a mistake we can "undelete" pretty much anything using the API.

[2015-09-09 04:36] teodorescuserban commented on #1593
Remember "Recycle Bin"?

Mie, 9 sept. 2015, 05:35, Luis Capelo notifications@github.com a scris:

[2015-09-09 08:41] cjhendrix opened #3508 "Search. Grrr."
For COD migration, we have created (temporarily) tags in the form of `nodeid1234`.  Often, searching by that tag finds the dataset.  However sometimes it does not.  For example none of these searches return the single dataset having the tag:

https://data.hdx.rwlabs.org/search?q=nodeid3976+water
https://data.hdx.rwlabs.org/search?q=nodeid3976+ethiopia
https://data.hdx.rwlabs.org/search?q=nodeid397

[2015-09-09 09:36] cjhendrix commented on #2227
Looks good to me.   Makes the buttons look less misaligned when there are icons to show.  @yumiendo Could handle #1593 the same way?

[2015-09-09 09:41] cjhendrix commented on #2911
I did this the other day and didn't notice it.  Closing.

[2015-09-09 09:41] #2911 closed, assigned to nobody

[2015-09-09 09:57] teodorescuserban commented on #3508
are we sure the search for nodeid is well performed if you dont specify
that is a tag?

În Mie, 9 sept. 2015 la 11:41, cjhendrix notifications@github.com a scris:

[2015-09-09 11:06] cjhendrix commented on #3508
It works in many cases.  I just can't understand why sometimes it doesn't.  I still think we need to privilege tags more in the search weighting.

[2015-09-09 12:48] danmihaila commented on #1593
@teodorescuserban it is like Recycle Bin, but there is not "empty recycle bin" button :)

[2015-09-09 12:48] teodorescuserban commented on #1593
yes it is. I got a big red one :)
willing to share the knowledge about it :)

În Mie, 9 sept. 2015 la 15:48, danmihaila notifications@github.com a
scris:

[2015-09-09 13:22] cjhendrix commented on #3471
tested but it was an intermittent problem and therefore hard to replicate.  Seems to be fixed.

[2015-09-09 14:24] yumiendo commented on #1593
thanks guys for the info.
I just tested deleting my dummy data...I do see a 'deleted' label on dataset page.

2 questions:
1. am I supposed to be able to click on the label to revive data? (right now it doesnt....)
2. if 'deleted' is not actionable - where do i go to revive data? (I couldnt find it)

I didn't see 'deleted' on dashboard after deleting the file - is it supposed to appear there too?

[2015-09-09 14:26] luiscape commented on #1593
@yumiendo I believe there isn't an option in the UI that allows an user to "revive" data. It is only available through the API to the final user at the moment ...

[2015-09-09 14:38] cjhendrix commented on #1593
That's correct.  I like it when one ancient issue links to another ancient issue.  :)  #782  Happy we are digging down into these!

[2015-09-09 14:40] yumiendo commented on #1593
ahaahaha I was just thinking about 'undelete' action.
is this something people requested or would be useful to the data team?

[2015-09-09 14:44] luiscape commented on #1593
@yumiendo at times we have to undelete datasets or resources. It comes around for the Data Team at least once every two months or so. Cc'ing @takavarasha so he can contribute.

[2015-09-09 14:49] cjhendrix commented on #1593
From an interface perspective, I just made the issue about undelete because it seems weird to show users deleted datasets but not to give them the ability to undelete.   As far as  I know, no users have asked for it.

[2015-09-09 14:55] yumiendo commented on #1593
@cjhendrix I agree...maybe its an option to make it visible to sys admin only?

[2015-09-09 14:57] cjhendrix commented on #3268
The visualization is hidden, but the datasets not showing. Reopening, but could also be a new issue.

![image](https://cloud.githubusercontent.com/assets/1654485/9765286/cbf04b6a-5713-11e5-941c-4abda5002235.png)

[2015-09-09 15:09] cjhendrix commented on #1593
I suggest that _if_ we are going to build a button for it, we can easily make it visible to both sysadmins and users who have rights on the dataset to be undeleted.

[2015-09-09 15:13] cjhendrix commented on #3146
behavior is the same for me (in an incognito window, chrome)

[2015-09-09 15:16] cjhendrix commented on #3146
Oops!  Was testing on prod.  Sorry.  Closing.

[2015-09-09 15:16] #3146 closed, assigned to danmihaila

[2015-09-09 15:24] cjhendrix commented on #2799
Very cool!  I think that's a lot more useful than views!

[2015-09-09 16:22] teodorescuserban commented on #1593
There needs to be a research seeing what implications this delete /
undelete have around dataset names and history.

Just to be clear about the "Recycle Bin". From server console, I can either
"purge" a dataset or "undelete" it. Purge will remove it permanently, while
undelete will make it active again.

@luiscape if there are only a handful of datasets per month that need to be
purged / undeleted

[2015-09-09 16:36] luiscape commented on #1593
@yumiendo, @scraperdragon, @cjhendrix to make it clear, there is no feature request from the Data Team. This isn't much of a need nor a problem.

[2015-09-09 16:37] teodorescuserban commented on #1593
:)

În Mie, 9 sept. 2015 la 19:36, Luis Capelo notifications@github.com a
scris:

[2015-09-09 18:55] yumiendo commented on #1593
Sorry to side track from the main topic which is about private icon.

I find 'deleted' label strange without having a way to "undelete" a dataset and the fact that something I deleted doesn't go away kind of scares me. (original issue by CJ https://github.com/OCHA-DAP/hdx-ckan/issues/782)
but it sounds like ''undelete" functionality is NOT needed at the moment.

(I just tried this and it's strange

[2015-09-09 19:49] luiscape commented on #1593
Hiding a dataset from a user if it is deleted seems reasonable to me. That is, that user would only be able to see that dataset if she knew the specific URL (or dataset id) of that dataset.

[2015-09-10 02:35] mbellotti opened #3509 "Make facet filtering UX clearer"
Currently when users want to filter a search by a facet they click a small funnel icon in the search bar to pull down the filter window. However it is not clear what this icon is or what it should do. Let's find a better way to alert users to the possibility of filters.

[2015-09-10 05:07] #3502 closed, assigned to mbellotti

[2015-09-10 08:49] danmihaila commented on #3268
the code is good, but I found that in custom org at less part there is
#content > div.container.mainContent > div > div > div > div > div > div > div:nth-child(4) { display:NONE !important;}
which makes that part to be hidden. Pinging @luiscape and @takavarasha to be aware, that now the section can be hidden if there is no visualization selected and for organizations that have the custom selector,

[2015-09-10 08:49] #3268 closed, assigned to danmihaila

[2015-09-10 08:49] danmihaila commented on #3268
fixed on staging, will do it on production after redeploy or maybe it is better for data team to check and remove.

[2015-09-10 08:51] danmihaila commented on #3501
fixed

[2015-09-10 08:51] #3501 closed, assigned to mbellotti

[2015-09-10 08:51] #3428 closed, assigned to mbellotti

[2015-09-10 08:51] #3429 closed, assigned to aalecs

[2015-09-10 08:52] danmihaila commented on #2269
@luiscape can you please test this on staging and put here a comment if everything is ok? thanks

[2015-09-10 08:54] danmihaila commented on #2540
@aalecs  reopening this one and moving to sprint 65 for nosetests

[2015-09-10 09:02] danmihaila commented on #2754
the functionality is working ok, user can not be invited. But there is a redirect to a login page and I think we should remain on same alert message displaying the error message. In case there is no placeholder for message we can ask @yumiendo to help.
Moving this one to sprint 65
![screen shot 2015-09-10 at 12 00 40](https://cloud.githubusercontent.com/assets/3865844/9784419/c6f8367c-57b3-11e5-9e

[2015-09-10 09:12] danmihaila commented on #3318
@teodorescuserban @cjhendrix can one of you confirm this is ok now on staging?

[2015-09-10 09:13] danmihaila commented on #3366
@cjhendrix can you run the script and test this one. code looks good now

[2015-09-10 09:17] danmihaila commented on #3481
ping @takavarasha and @luiscape. Please check Arti's comment.

[2015-09-10 12:29] takavarasha commented on #1593
I am of the opinion that in the absence of a recycle bin, a deletion must be permanent. There are many reasons why a user might want to delete something. Typical cases are they were doing tests and no longer need the dataset. There are more serious cases though, like when user uploads something sensitive or deeply personal (by mistake) and they just want to take it down. I can imagine the frustrat

[2015-09-10 12:52] danmihaila commented on #1593
I think we should have a discussion about how to handle the deletion of different entities: dataset, location, organization, user in HDX CKAN. To compare it how it is in CKAN and what are our preferences and of course if we want to change what will be the implications...
@amcguire62 we should set a call with data team and try to figure out what we want and what is best scenario in our case.

[2015-09-11 08:05] danmihaila opened #3514 "Featured org section: tweaks"
- [x] add anchors for Visualization section, key figures and datasets in org view page
- [x] clicking on thumbnail and red label will go to org page and scroll to visualization section or key figures
- [x] clicking on "14 datasets" will go to org page and scroll to dataset list
- [x] display only max 2 lines of description for orgs and make a fix height for boxes
- [x] new height for red box is 27

[2015-09-11 08:56] cjhendrix commented on #1593
Since @amcguire62 is on vacation at the moment, let me try an channel him.  :)  We got into this discussion because we are trying to action #2227.  And the topic of this issue (#1593) is closely related and could be solved at the same time.    These are purely about display of a dataset's status and not about the delete/recycle/undelete issue, so I suggest we split them.

This issue plus #2227:  d

[2015-09-13 21:55] alexandru-m-g commented on #3504
This is a related commit: https://bitbucket.org/agartner/gisrestlayer/commits/433a393ffca4ae98b62de38499a1981dbcac51d6

[2015-09-14 03:41] mbellotti commented on #2321
I ran this through locally and on staging and it seems to be working as expected.

[2015-09-14 03:41] #2321 closed, assigned to mbellotti

[2015-09-14 06:39] teodorescuserban commented on #3074
tagging @alexandru-m-g : lets discuss :)

[2015-09-14 07:09] cjhendrix commented on #1593
By the way, just FYI, I saw today that we _do_ show a deleted badge on the dataset view page.  Screen grab from staging is below.

![image](https://cloud.githubusercontent.com/assets/1654485/9844033/381bea7e-5ac0-11e5-8f25-2e6a53008dfb.png)

[2015-09-14 07:12] cjhendrix opened #3532 "Custom Org: can't see difference between private and public datasets"
On custom org, private datasets are shown to authorized users, however there is no icon/badge to differentiate them.  This has been confusing to org admins.

Add the lock icon https://drive.google.com/open?id=0B24NBcgmV490VjFQMFRoZ3V3VXc to the search results similar to what is shown here:
![image](https://cloud.githubusercontent.com/assets/1654485/9959819/059d539e-5e17-11e5-94f0-3e29910a8006.png)

[2015-09-14 07:19] cjhendrix commented on #782
There has been some user commentary on this issue as well, on the duplicate #694 (even older!)

[2015-09-14 07:25] cjhendrix opened #3533 "Featured Organizations: missing thumbnail and large thumbnail sizes"
I think the dev team is aware of these issues already but I didn't find an issue for them.  Please close if duplicate.
- [x] thumbnail for AFG is missing (3W section)
- [ ] thumbnails are large 1170x500 px and 200 to 500KB.  I think something like 500 px wide is enough even when zooming in on the page to 200%.

![image](https://cloud.githubusercontent.com/assets/1654485/9844334/9f900008-5ac2-11e5-

[2015-09-14 07:33] cjhendrix opened #3534 "Organization List: Add a sorting option "number of public datasets" and make it the default"
Currently we sort alphabetically, but it might be more useful (both to users and as an incentive to orgs) to sort by the number of public datasets (descending).

![image](https://cloud.githubusercontent.com/assets/1654485/9844417/6f342884-5ac3-11e5-8824-95afc9b96132.png)

[2015-09-14 07:59] cjhendrix opened #3535 "Dataset View: problems with share resource button"
Each of the 4 options in the share button on a --->**resource**<--- has "XXXX" as the URL component of the share link.  Compare to the links for the share button on the dataset to see the difference.

![image](https://cloud.githubusercontent.com/assets/1654485/9844882/2db07fda-5ac7-11e5-939f-68bf69df4a1f.png)

[2015-09-14 08:24] alexandru-m-g commented on #1593
@cjhendrix, I think it comes from here: https://github.com/OCHA-DAP/hdx-ckan/issues/356

[2015-09-14 08:42] danmihaila commented on #3535
@alexandru-m-g can you work on this pls?

[2015-09-14 11:34] cjhendrix commented on #3498
As discussed on the demo call, higher opacity doesn't work since overlapping features also result in higher opacity.

[2015-09-14 12:17] cjhendrix commented on #1593
Wow, we're going to start finding dinosaur fossils if we dig much further back . . .

[2015-09-14 12:43] teodorescuserban commented on #3430
Made its way to prod.
I had a strange issue today when deploying prod.
I got the following error on the new container:

[code]

I solved it by reinstalling capturejs:

[code]

[2015-09-14 12:43] #3430 closed, assigned to aalecs

[2015-09-14 12:53] alexandru-m-g commented on #3498
Since this was asked in the demo call, here are the properties that the js library that we use can handle ( and which can be changed when selected ):

### For points:
- color
- opacity
- radius
- border color
- border size

### For lines:
- color
- opacity
- size

### For polygons:
- color
- opacity
- border color
- border size

[2015-09-14 14:51] cjhendrix commented on #3534
@ochadataproject suggested "popular" as a sorting option also.  We would need to add tracking of some metric of org popularity (org page views, total datasets, total views of an org's datasets?)

[2015-09-14 15:23] yumiendo commented on #3498
for dots (eg.https://data.hdx.rwlabs.org/dataset/kenya-water-and-sanitation-facilities-in-mathare)

normal state:
- fill (same color #f0655e @60% opacity)
- no border

selected:
- border color (#f0655e @100% opacity)
- border size: 2px
- fill (opacity remains at 60%)

for polygons (ie. https://data.hdx.rwlabs.org/dataset/kenya-food-security-0-0-0)
normal state:
- fill (same color #f0655e @20% opac

[2015-09-14 15:47] cjhendrix opened #3536 "CPS: placeholder for resource detection bug"
We need to address this issue in the next sprint and notify the data team as soon as it is resolved.
https://github.com/OCHA-DAP/DAP-System/issues/346

Let's try to keep discussion on that issue, not on this one.

[2015-09-15 04:14] mbellotti commented on #3076
This is a problem in core https://github.com/ckan/ckan/issues/1676 Although they seem to not want to do anything about it. I've made the change he suggested to our search extension. The solr index will have to be rebuilt in order to see the effect (@teodorescuserban)

[2015-09-15 07:28] #3514 closed, assigned to aalecs

[2015-09-15 07:43] #2754 closed, assigned to mbellotti

[2015-09-15 07:43] #3453 closed, assigned to mbellotti

[2015-09-15 08:26] danmihaila commented on #3486
@yumiendo the most popular country means the country with the most datasets, then we add the custom pages, custom crises and orgs with most datasets.
What about HDX organization? it has the most datasets, should we skip it?
pinging @cjhendrix for comments or ideas too

[2015-09-15 08:49] danmihaila opened #3538 "Main Nav tweaks"
bring back FAQ on the same line as main nav(we might have to squeeze the space next to the HDX logo)  and put "Feedback" in the footer.

![nav_cleanup](https://cloud.githubusercontent.com/assets/3865844/9872083/aee9be9e-5b9f-11e5-90e1-a2630b90c044.png)

[2015-09-15 08:55] danmihaila opened #3539 "FAQ feedback tweaks"
- [ ] shrink the question field(height) a little so all of the capcha is exposed ?
- [ ] is it possible to move the scroll bar to the side? (so it won’t overlap with the text fields)
- [x] can we make the capcha wider to match the rest of the text fields?
  <img width="640" alt="screen shot 2015-09-08 at 10 16 28 am" src="https://cloud.githubusercontent.com/assets/3865844/9872201/57dea906-5ba0-11e

[2015-09-15 09:05] cjhendrix opened #3540 "Resource Preview: data proxy not working"
I can't get preview of any datasets (tried some CSV, XLS, and geojson).

[2015-09-15 09:08] teodorescuserban commented on #3540
on staging?

[2015-09-15 09:09] cjhendrix opened #3541 "Resource Preview: new download button not working and style adjustments"
- [ ] the download button at the bottom isn't working.  This button is somewhat new.  Did we add it intentionally?  Maybe it appeared as part of ckan 2.3 and we can simply remove it.
- [ ] add space between the top right buttons (edit and download in the screen cap) and the breadcrumb div

[2015-09-15 09:14] cjhendrix opened #3542 "Share button defaulting to long URLs"
Apparently we have exceeded our quota on shortened URLs and are failing (gracefully!!) back to the long URL.  No one is complaining about this, so I think we ignore for now, but I just wanted to document it since it came up recently due to an unrelated bug in the share function.    **If** we decide to fix it, @alexandru-m-g  thought we may be able to get a much higher quota by passing an API key t

[2015-09-15 09:15] cjhendrix commented on #3540
prod

[2015-09-15 09:19] danmihaila commented on #3540
@alexandru-m-g can you investigate? if it is easy to fix lets do it today, if not we move it to next sprint. thanks

[2015-09-15 09:21] teodorescuserban commented on #3540
fixed.
had a similar issue on staging as well. fixed.
closing.

[2015-09-15 09:21] #3540 closed, assigned to teodorescuserban

[2015-09-15 09:24] teodorescuserban commented on #3540
fixed on demo and feature as well...

[2015-09-15 09:28] danmihaila commented on #3540
I think we still have a problem with json preview

[2015-09-15 09:55] #3412 closed, assigned to aalecs

[2015-09-15 10:02] teodorescuserban commented on #3540
example?

În Mar, 15 sept. 2015 la 12:28, danmihaila notifications@github.com a
scris:

[2015-09-15 10:16] alexandru-m-g commented on #3540
I don't think json ( as opposed to geojson ) was made to work after the upgrade to CKAN 2.3.

[2015-09-15 11:12] teodorescuserban commented on #3540
me neither

În Mar, 15 sept. 2015 la 13:16, Alexandru Gartner notifications@github.com
a scris:

[2015-09-15 21:47] alexandru-m-g commented on #3257
@cjhendrix  as I see leaflet doesn't allow one to add a custom checkbox to the layers panel. Alternatively we could create another small panel on the bottom right side for this.

[2015-09-16 07:45] cjhendrix commented on #3257
Then  I think we should not do this one.  I don't want to add something visible in the main window.  And it's definitely not worth forking leaflet.

[2015-09-16 08:52] cjhendrix commented on #3486
I'd suggest we get most popular datasets in there.  Dataset view pages are by far the most viewed pages (of course there are a lot more of them).

![image](https://cloud.githubusercontent.com/assets/1654485/9900404/da9665b2-5c60-11e5-81cf-81f583874684.png)

[2015-09-16 09:24] yumiendo commented on #3486
@danmihaila I think having HDX there is going to help users...(being the top contributor) so let's include.
@cjhendrix sure ! how often should we refresh the list of datasets? (assuming we're using GA...)is there a way to set up so it refreshes every so often?

[2015-09-16 10:33] #3028 closed, assigned to aalecs

[2015-09-16 10:38] cjhendrix commented on #3486
Cool.  CKAN gives us a measure of popularity on datasets (I think it's number of views in the last 3 weeks).  It's what is used when you rank a search result by popularity, so no need to pull from GA.

[2015-09-16 10:56] cjhendrix commented on #3366
Looks good.  Seems to be (correctly) failing if any of the required parameters are missing from the json passed to the API.

[2015-09-16 11:07] danmihaila commented on #3486
from what I know only datasets and resources have popular views. For the moment we can not access the google analytics data.
I would say that the next improvement should be done based on Yumi's suggestion and next step to integrate with GA data.
ping @alexandru-m-g for more ideas

[2015-09-16 11:41] #3370 closed, assigned to alexandru-m-g

[2015-09-16 11:57] cjhendrix commented on #3318
Sorry, I know I'm quite late on this.  But yes working on stag and prod.

[2015-09-16 12:07] alexandru-m-g commented on #3535
Fix was committed.

[2015-09-16 12:07] #3535 closed, assigned to alexandru-m-g

[2015-09-16 12:08] alexandru-m-g commented on #2932
This was done

[2015-09-16 12:08] #2932 closed, assigned to alexandru-m-g

[2015-09-16 13:51] #2469 closed, assigned to alexandru-m-g

[2015-09-16 14:40] yumiendo commented on #1593
Two options to add private icon.
@danmihaila - is it a lot of effort to make "my dataset" view like data list (option b)?

option A. (quick fix)
Add private(lock) icon https://drive.google.com/open?id=0B24NBcgmV490VjFQMFRoZ3V3VXc
next to the title of dataset on
1.my dataset (dashboard, image below)
<img width="1403" alt="screen shot 2015-09-16 at 10 38 12 am" src="https://cloud.githubusercontent.c

[2015-09-16 14:49] yumiendo commented on #2227
I isolated the private icon from other icons because its more important to the owner.
please see the treatment here https://github.com/OCHA-DAP/hdx-ckan/issues/1593

[2015-09-16 21:27] alexandru-m-g commented on #3181
We could avoid loading the "main" bundle from "base/javascript/resource.config" and create our own bundle in the 'hdx_theme' plugin and change page.html to load that one.

This would avoid modifying the 1 line in CKAN core but not sure it's worth the change as it doesn't help us with the goal of having an easier CKAN upgrade process and ensuring new features from new CKAN versions are part of HDX.

[2015-09-17 07:48] aalecs commented on #3539
In order to make it look like in the photo, I did the following:
      - hidden please fill out text so we can have more space
      - no more scroll bar + captcha wider

[2015-09-17 08:12] danmihaila commented on #3181
Did you try this solution? I like it...

[2015-09-17 08:12] cjhendrix opened #3551 "User menu falling out of browser"
Chrome on Win 7.  Zoomed to 100%.  Chrome window maximized.

![image](https://cloud.githubusercontent.com/assets/1654485/9928075/9c55ec46-5d23-11e5-99ea-2ac5c2c71669.png)

On FF for comparison (working fine)
![image](https://cloud.githubusercontent.com/assets/1654485/9928178/a57104ae-5d24-11e5-9e5f-29d923218d24.png)

[2015-09-17 08:31] cjhendrix commented on #1593
Looks good to me. Option B if easy, option A if not, IMHO.

A couple of additional suggestions to make Yumi's fix cover all cases:

1) additionally put the private icon on the various flavors of search results on org, custom org, location, and custom location
2) @yumiendo, there will also be a deleted badge in some of these locations (see first screen cap on this issue).  Maybe we want a small ico

[2015-09-17 08:51] aalecs commented on #2313
@danmihaila  I did check what are the results of removing the CKAN default classes and these are the places where the UI breaks:
- datasets page
  - stying for breadcrumbs
  - datasets labels (zippedshapefile, etc)
  - order by - wrong position
  - some distance in indicator preview between description and labels - might be caused by labels not rendering
- header - search box not vertically aligne

[2015-09-17 08:54] #2764 closed, assigned to aalecs

[2015-09-17 09:16] cjhendrix opened #3553 "Dashboard: using direct URL when not logged in results in 404"
Trying to load /dashboard results in 404.

Can we redirect to `/user/login?came_from=`  as we do with other unauthorized access attempts?

[2015-09-17 09:51] cjhendrix opened #3555 "Rationalize the different ways we display dataset search results"
We have at least 6 different ways of displaying search results.  It would be good to reduce that number and standardize:
1. Display of icons (popular, quality checked, subnational, deleted, private)
2. Interface for filters (we have two ways: left sidebar and top drawer)
3. Where private/deleted datasets are shown to authorized users (deleted datasts not shown in standard search result and custom

[2015-09-17 09:51] cjhendrix commented on #3555
As this involves both dev and design, pinging @amcguire62 for prioritization.

[2015-09-17 10:41] cjhendrix opened #3556 "Dashboard: delete behavior different on stag and prod"
On the My Datasets page, when clicking the `Delete` link on a dataset in the list,  I get different delete behaviors between stag and prod.

On stag, I get a the correct behavior (modal), however the delete button in the modal **doesn't** work (nothing happens on click).
![image](https://cloud.githubusercontent.com/assets/1654485/9931122/31689486-5d39-11e5-830d-2911809c7af4.png)

On prod, I get re

[2015-09-17 10:45] cjhendrix opened #3557 "Changes to dashboard>my datasets"
**For all dashboard tabs (my datasets, my orgs, newsfeed, my locations)**
- [ ] Add "Dashboard" header at the top of all dashboard pages as shown in mockup below.  Tabs are below.  The text "Dashboard" does not change with selection of a different tab.

**For "My Datasets"**
- [ ] Do not display deleted datasets on My Datasets
- [ ] Change dataset list display to match HDX style as shown in mockup

[2015-09-17 10:49] cjhendrix opened #3558 "Text change on dataset deletion modal"
Change

`You are deleting dataset`

to

`You are deleting a dataset`

![image](https://cloud.githubusercontent.com/assets/1654485/9931278/9893dd86-5d3a-11e5-832a-d62870fe55ea.png)

[2015-09-17 11:26] alexandru-m-g commented on #3181
@danmihaila  As I said, I'm not sure we're gaining anything by going this route. Let's talk.

[2015-09-17 13:14] danmihaila opened #3559 "Organization list: Hover"
add a hover state to the image/mini header area of featured org
![screen-shot-2015-09-17-at-7 30 57-am](https://cloud.githubusercontent.com/assets/3865844/9933945/1f4d06a6-5d57-11e5-8cb9-3cf86f81ba55.png)

[2015-09-17 13:17] danmihaila commented on #3556
On staging we have the new look. Pinging @aalecs for 'delete" action not working.

[2015-09-17 13:53] danmihaila opened #3560 "visualization: loading icon"
when visualization is taking too long we should add a javascript "loading..." as we have for resource upload.
or try to display something until the whole data is download.
for 3w, wfp and roea dashboard.
ping @aalecs, @yumiendo  and @SimonbJohnson for ideas.

[2015-09-17 14:31] yumiendo commented on #3560
there is a loading state/screen for when uploading files (share data) <- this takes the whole screen but maybe we could use it for the visualization part of the page?

previously: https://github.com/OCHA-DAP/hdx-ckan/issues/3236

[2015-09-17 14:32] danmihaila commented on #3560
do we want the whole page to be disabled or only the 3w visualization?

[2015-09-17 14:38] yumiendo commented on #3560
let's apply it for the visualization section of the page only (or whichever takes longest) and let users get to other sections of the page as needed.

[2015-09-17 14:45] yumiendo commented on #3560
the text should read "Loading...this might take a few seconds"

[2015-09-17 15:05] yumiendo commented on #1593
@ochadataproject comp is as above. option B(legit fix) is preferred direction to streamline the design of all pages which is part of another issue... https://github.com/OCHA-DAP/hdx-ckan/issues/3555

[2015-09-17 15:41] mbellotti commented on #2506
So this feature is not on the dataset page itself, but in a tab under resource edit. You have to click Manage. Then click the resources tab, then click the button the reorder resources.

It's not clear to me whether we want to keep this UX or put the feature somewhere else? Should be easy to just add another button next to "Add New Resource" @yumiendo

[2015-09-17 17:47] ochadataproject commented on #1593
thanks Yumi the private icon seems fine. I dont see the big difference
between A and B. We we do need to re-do the dashboard at some stage. Also I
know there was a long discussion about delete and undelete. How did we
resolve that?

On Thu, Sep 17, 2015 at 11:05 AM, yumiendo notifications@github.com wrote:

[2015-09-18 08:01] cjhendrix commented on #1593
Delete/Undelete is part of the #3555 issue that we prioritized yesterday (and the [4 or 5 other issues closely related to it](https://github.com/OCHA-DAP/hdx-ckan/labels/DatasetLists)).   By the time you read this we will have had the first call on breaking the work down.  I think the delete/undelete part will be the last piece to build, but we will have to decide what behavior we want this week s

[2015-09-18 12:36] cjhendrix opened #3562 "Research how to really really delete ckan datasets"
We want to make deletions by users real.  Currently ckan's delete works about as well as Ashley Madison's.

Note that permanent delete is already implemented at cli level in ckan (there is paster dataset purge DATASET_ID) and api level for orgs and groups [for example](http://docs.ckan.org/en/ckan-2.3/api/index.html#ckan.logic.action.delete.group_purge).

[2015-09-18 12:50] danmihaila opened #3563 "Redirect when user is not login and use of ?came_from="
Find 3 pages, that user needs to be logged in to access it (e.g https://data.hdx.rwlabs.org/dataset/new) and check how we can capture "came_from".

[2015-09-18 12:59] cjhendrix commented on #3482
I haven't seen this happening for the last week or so.  Closing for now.

[2015-09-18 12:59] #3482 closed, assigned to nobody

[2015-09-18 13:00] danmihaila opened #3565 "Monitor of external plugins"

[2015-09-18 13:01] cjhendrix commented on #3022
@yumiendo  We probably should resolve this one as part of the #3555 work.  Happy to discuss.

[2015-09-18 13:03] #3078 closed, assigned to mbellotti

[2015-09-18 13:03] #3468 closed, assigned to mbellotti

[2015-09-18 13:23] danmihaila opened #3567 "Investigate the flame icon : views vs downloads"

[2015-09-18 13:24] cjhendrix commented on #3509
This is being worked on as part of #3555 and it's related issues.  Moved to epics and will close when the design and implementation are done.

[2015-09-18 13:52] mbellotti commented on #3002
Update on the status of this: So far I cannot reproduce it either locally or on staging. I can't reproduce it on production either, but weirdly production will not let me rename files at all. I'll be looking at the logs today to try to get to the bottom of this.

[2015-09-18 13:53] teodorescuserban commented on #3002
Will provide logs and support @mbellotti in 4 hours.

În Vin, 18 sept. 2015 la 16:52, mbellotti notifications@github.com a
scris:

[2015-09-18 14:09] cjhendrix opened #3568 "Dataset View Page: Adding icons"
This summarizes and will close issues #1593 and #2297.

Add icons for dataset status (private, deleted) and for dataset properties (subnational, gallery item, quality checked, comparable, popular).  The mockups below (and specs to come) give show how it should look in different situations and some related changes (adding lines, adjusting heights).

For the private icon, use https://drive.google.co

[2015-09-18 14:12] cjhendrix commented on #782
Closing this one.  Duplicate of #694

[2015-09-18 14:12] #782 closed

[2015-09-18 14:30] takavarasha commented on #3002
I just tested this out on production and the bug is no longer present

[2015-09-18 15:26] alexandru-m-g commented on #3565
@danmihaila is this the same as #3505 ?

[2015-09-18 15:33] teodorescuserban commented on #3002
I think it might be related to the ussue you had, Godfrey with new org req.

Vin, 18 sept. 2015, 17:30, Godfrey Takavarasha notifications@github.com a
scris:

[2015-09-19 09:50] #3150 closed, assigned to aalecs

[2015-09-19 09:50] #3556 closed, assigned to aalecs

[2015-09-19 09:51] #3413 closed, assigned to aalecs

[2015-09-19 09:53] #3484 closed, assigned to aalecs

[2015-09-19 10:58] alexandru-m-g commented on #3565
Closing this one in favor of #3505. Duplicates

[2015-09-19 10:58] #3565 closed, assigned to nobody

[2015-09-20 22:06] alexandru-m-g commented on #3505
## Idea

These checks should test that the services are up and running on the expected host & port. They should not play the role of unit tests.

The main goal is to see that our services are connected properly on the production server.

The checks should be simple.

The results could at first be displayed as a JSON result (action / API ). HTML page could come later.

## What  ?
-  dataproxy
-  cp

[2015-09-20 22:22] yumiendo commented on #3568
@danmihaila @aalecs below is the spec for the icon group - let me know if you have any Q !
the icon is same size as what we used on the search result page (15px height)
<img width="1384" alt="screen shot 2015-09-20 at 6 00 23 pm" src="https://cloud.githubusercontent.com/assets/8006323/9983252/154be446-5fc4-11e5-88c3-adb20965d0e3.png">
<img width="1382" alt="screen shot 2015-09-20 at 6 29 55 pm" sr

[2015-09-21 02:52] mbellotti commented on #3450
Having read over the example code, I have no objection to using this approach. I modeled our approach after ckan comments extension because it seemed to give greater flexibility concerning deploy procedures.

[2015-09-21 02:52] #3450 closed, assigned to mbellotti

[2015-09-21 07:59] #3490 closed, assigned to danmihaila

[2015-09-21 08:34] #3559 closed, assigned to aalecs

[2015-09-21 08:38] aalecs commented on #2673
Right now we can nicely implement this feature just for the WFP page/visualisation because it's the only one that was designed to be embeddable at any point and it has state exports. The rest of the visualisations can only be exported at the initial state.

[2015-09-21 09:32] danmihaila commented on #3508
@cjhendrix I found some issues:
- as you see in screenshot, nodeid3976 is not returned for the whole list of datasets
- the dataset you pasted is private and this might be the reason.
  I guess this issue should be close in case making this dataset public is still not showing.

[2015-09-21 09:39] cjhendrix commented on #3508
D'oh!

[2015-09-21 09:39] #3508 closed, assigned to nobody

[2015-09-21 10:01] cjhendrix opened #3574 "Resources with no format block updating of dataset"
Discovered by @alexandru-m-g .  These datasets were made before format was a required field and consequently block any edit to the dataset or resources until a format is set.  Solution is to manually set resource format on each one.

accidentes-con-map
administrative-boundaries
amenaza-volcanica-ingeominas-2007
assessment-coverage-interactive-portal
ccy-overview-2014
countries-wher-mdm-is-active
c

[2015-09-21 10:12] alexandru-m-g commented on #2118
As discussed in the previous spar call I added unit tests for the changed resource create/update

[2015-09-21 10:28] #2118 closed

[2015-09-21 12:00] cjhendrix commented on #3574
All but two were fixed manually.  The two will need to be fixed in the db as discussed with @alexandru-m-g.  Below are the datasets, resource ids, and formats to be set:

_For dataset https://data.hdx.rwlabs.org/dataset/nrt-conservancies-growth_

4c8a1c60-b40d-4299-90c5-5ef37eecffb9,xls
e8d2035c-dd3f-4659-966f-2bfa54650dc4,shp
14c9df97-bcb8-44d1-ac14-0c290bade9f9,shp
0a2b735e-478d-4623-8313-09cd45

[2015-09-21 12:39] danmihaila commented on #2506
moving this issue to sprint 67 as will probably be part of a design/mockups from @yumiendo
this is the default ckan core:
![image1](https://cloud.githubusercontent.com/assets/3865844/9991900/ddb8d602-6076-11e5-8955-c831d0ef7779.JPG)
Assigned to @yumiendo for more comments and ideas if there will be part of the big refactor of contribute flow.

[2015-09-21 12:41] #3483 closed, assigned to alexandru-m-g

[2015-09-21 12:44] alexandru-m-g commented on #3483
Repo and documentation are here: https://bitbucket.org/agartner/hdxckan-dev-docker-compose
If you don't have access to the repo please let me know.

[2015-09-21 12:52] alexandru-m-g commented on #3257
@aalecs suggested we might use a fake layer to generate a checkbox in the layers panel and then try to handle handle the click events ourselves and not let them go to leaflet.

Another way might be to generate the checkbox dynamically via javascript on page load.

Basically, both options are hacks since leaflet doesn't allow this by default.

[2015-09-21 12:58] cjhendrix commented on #3257
Clever ideas!  But since it's not too easy and is low priority, let's move this to the backlog for now.

[2015-09-21 13:12] #3181 closed, assigned to alexandru-m-g

[2015-09-21 13:13] danmihaila commented on #3002
closing it

[2015-09-21 13:13] #3002 closed, assigned to mbellotti

[2015-09-21 13:20] teodorescuserban commented on #3562
Package delete api call is [here](http://docs.ckan.org/en/ckan-2.3/api/index.html#ckan.logic.action.delete.package_delete)

[2015-09-21 13:29] mbellotti commented on #3505
solr? cps?

[2015-09-22 04:11] mbellotti commented on #3534
I don't have anything in the org dicts right now that I can use as popularity, but if you settle on the criteria I can probably add it?

[2015-09-22 08:38] aalecs opened #3577 "Update ROEA visualisation"

[2015-09-22 11:11] alexandru-m-g commented on #3540
Tested on stag and prod.

[2015-09-22 11:22] alexandru-m-g commented on #3539
Still see some scrollbars but might be only on my machine:

Chrome
![chrome](https://cloud.githubusercontent.com/assets/6586348/10017227/4828eb9e-6135-11e5-9e20-ff5c8217af7d.png)

Firefox
![ff](https://cloud.githubusercontent.com/assets/6586348/10017234/4cc1c48c-6135-11e5-8b3c-1e441e944462.png)

[2015-09-22 11:39] alexandru-m-g commented on #3476
I tried to reset the password by using the **email** but I get the below message:

![reset_password](https://cloud.githubusercontent.com/assets/6586348/10017493/6d2cddc2-6137-11e5-8b80-d62f4d674ec9.png)

I tried for my user with my main gmail address.

[2015-09-22 12:28] cjhendrix commented on #2321
I tested on prod also and it's fine.  I think the new signup process took care of this one.

[2015-09-22 12:51] cjhendrix opened #3580 "New signup probably needs more testing for edge cases"
In testing other issues, I've noticed a couple of things that seem odd.

For example, deleted users can't be invited to orgs, an email that has never been used on HDX can be invited.  I've also seen previously deleted emails not being available for sign up.  There wasn't time to fully test all the possible permutations, but we probably still have some rough edges there we could work on when we hav

[2015-09-22 13:21] cjhendrix commented on #3076
tested with this one  https://test-data.hdx.rwlabs.org/dataset/a-test-of-accented-character-sorting. Working.

[2015-09-22 13:21] #3476 closed, assigned to danmihaila

[2015-09-22 13:28] cjhendrix commented on #3076
but the character "Í" is still sorting after z.  https://test-data.hdx.rwlabs.org/dataset?sort=title_case_insensitive+desc

[2015-09-22 13:33] cjhendrix commented on #3150
zoomed to 90% in chrome the red line is misaligned, but not really a big deal.  Marking as tested.

![image](https://cloud.githubusercontent.com/assets/1654485/10019717/29ea1fb8-613f-11e5-9539-66b16e944142.png)

[2015-09-22 13:38] danmihaila commented on #3580
I am not sure if the mentioned cases have something to do with the new onboarding. lets discuss on slack or skype

[2015-09-22 13:45] alexandru-m-g commented on #3472
@danmihaila
This seems to work fine except I don't know how to delete groups and locations. Can you check or tell me where it's done ?

[2015-09-22 13:49] alexandru-m-g commented on #3476
Fixed by @danmihaila and tested on stag

[2015-09-22 13:50] danmihaila commented on #3472
<img width="456" alt="screen shot 2015-09-22 at 16 49 19" src="https://cloud.githubusercontent.com/assets/3865844/10020146/f9c8d3dc-6149-11e5-8142-a89d75c4feea.png">

[2015-09-22 14:08] cjhendrix opened #3583 "Show all attributes in geopreview."
Once #3370 is resolved, we can display all attributes in the geopreview.  At the moment, we only display string fields.

[2015-09-22 14:31] alexandru-m-g commented on #3459
@danmihaila Can you please test this on stag. Not sure what I'm supposed to see/not see anymore

[2015-09-22 14:37] #3472 closed, assigned to alexandru-m-g

[2015-09-22 14:50] danmihaila commented on #3459
it is almost good. When login there is the action "onboarding_followee_list" called.
printscreen attached and ping @aalecs
<img width="1118" alt="screen shot 2015-09-22 at 17 48 13" src="https://cloud.githubusercontent.com/assets/3865844/10021802/6fa6282c-6152-11e5-9cf6-9283f283d633.png">

[2015-09-22 15:44] cjhendrix commented on #3534
@ochadataproject @yumiendo We didn't quite settle on how to define "popularity" for sorting organizations.  I suggest we use the sum of all recent views on datasets belonging to the org (ckan already tracks that).    Does that sound reasonable (and technically feasible) to everyone?

[2015-09-22 15:55] mbellotti commented on #3534
Not sure how efficient that is from a technical point of view. Let me play with it tonight and get back to you.

Sent from my iPhone

[2015-09-22 19:10] #3539 closed, assigned to aalecs

[2015-09-23 09:23] #3459 closed, assigned to aalecs

[2015-09-23 09:26] #3560 closed, assigned to aalecs

[2015-09-23 11:58] #3076 closed, assigned to mbellotti

[2015-09-23 12:26] danmihaila opened #3591 "Replace Resource -> file"
@mbellotti made some changes here https://github.com/OCHA-DAP/hdx-ckan/issues/1575, but I think we have to adjust FAQ, blog and help.
assigned to CJ for confirmation
<img width="1280" alt="screen shot 2015-09-23 at 15 23 35" src="https://cloud.githubusercontent.com/assets/3865844/10044954/5ca26de8-6207-11e5-855a-11e7d992e1ef.png">
<img width="1280" alt="screen shot 2015-09-23 at 15 23 03" src="htt

[2015-09-23 12:44] danmihaila commented on #3450
@alexandru-m-g do you want to make the migration of code? do we need a call for re this issue?

[2015-09-23 12:56] #3577 closed, assigned to aalecs

[2015-09-23 14:09] danmihaila opened #3593 "reset thumbnails to be accessed only by sysadmin"

[2015-09-23 17:16] alexandru-m-g commented on #3505
After talking to @mbellotti and @teodorescuserban:
-  will create a separate ckan extension ( so that it could potentially be reused )
-  there will be different types of checks that can be configured to test different services, like: open port check, http status code check, etc . There should be an easy way to add new types of checks.
-  there will be a configuration file that will specify a list

[2015-09-24 07:58] cjhendrix commented on #3504
Tested with two different kmz files, both returning the same error. Reopening.

https://test-data.hdx.rwlabs.org/api/3/action/package_show?id=geotest02

[2015-09-24 08:58] teodorescuserban commented on #3504
nobody tols me that I need to redeploy gis layer and worker containers with the new code. :)
@alexandru-m-g just told me and I did.

please try again.

ps: i will redeploy on prod as well after we confirm all green

[2015-09-24 09:06] cjhendrix commented on #3504
Working on stag.  Closing.

[2015-09-24 09:06] #3504 closed, assigned to alexandru-m-g

[2015-09-24 09:55] teodorescuserban commented on #3504
thanks @cjhendrix will deploy on prod now.

[2015-09-24 10:04] #3591 closed, assigned to cjhendrix

[2015-09-24 10:05] danmihaila commented on #1575
I guess this was a bit unclear. We need to use resource everywhere and not files.
So replace all the occurrences of "file"/"files" with "resouce"/"resources"
Moving this to next sprint and ping @mbellotti

[2015-09-24 10:05] alexandru-m-g commented on #3071
@mbellotti as I see here only lite-main.css was changed but not the less file.

[2015-09-24 10:08] danmihaila commented on #3071
moving it to sprint 66

[2015-09-24 11:18] teodorescuserban commented on #3504
Deployed.
Tagging @cjhendrix as he might want to test this on prod.

[2015-09-24 13:29] mbellotti commented on #1575
Wait what? I'm sorry I don't understand. We were using resources
everywhere, the only places the word files were used is instructions when
uploading actual files. Changing that would be unnecessary confusing.

On Thu, Sep 24, 2015 at 6:05 AM, danmihaila notifications@github.com
wrote:

[2015-09-24 15:54] cjhendrix opened #3601 "Review and add to GA events and custom dimensions"
We need to add some additional google analytics events, but first we want to review what we have.

This issue is to work with CJ to do the following:
- [ ] Confirm that the existing events are still used in all the cases where we think the should be
- [ ] Brainstorm an event and custom dimensions structure for we want to add (both now and what we anticipate adding in the future)
- [ ] Add the even

[2015-09-24 16:17] #3259 closed, assigned to alexandru-m-g

[2015-09-24 20:43] mbellotti commented on #3071
lite-main.less doesn't match lite-main.css at all, so how do you want this updated?

[2015-09-24 21:03] alexandru-m-g commented on #3071
_lite-main.css_ is generated by _lite-main.less_. You just need to follow the trail.

For example:
- in lite-main.css you have at the end:

[code]
-  this is generated like this: _lite-main.less -> (imports) ckan.less -> (imports) iehacks.less_ where you can find:

[code]

[2015-09-24 21:27] mbellotti commented on #3071
Pinging @aalecs as to where this code should be moved.

[2015-09-25 01:10] mbellotti commented on #3534
Okay, so here's the deal: the function organization_list which is what produces this list does not include the option to list all the datasets in the organization (which is just as well as the resulting dictionary would be HUGE) The number of views/downloads is stored in the package dict, not the org dict. So we can do this by modifying the org_dict but it's not a simple thing and will take way mo

[2015-09-25 07:25] danmihaila commented on #3534
@mbellotti pls check this commit, I think @alexandru-m-g did something similar for @aalecs removing the deleted datasets.
Edit: this is the url: https://github.com/OCHA-DAP/hdx-ckan/commit/30eb2bc2313a52fc2d839fffb191c6c5f61786d9 I am not sure if it helps, but we could do something similar.
If there is not enough time, we could schedule this for next sprint, just let me know

[2015-09-25 07:27] #1575 closed

[2015-09-25 07:27] #3541 closed, assigned to mbellotti

[2015-09-25 07:27] #3558 closed, assigned to mbellotti

[2015-09-25 07:30] danmihaila opened #3607 "Style adjustments org page"
Org page space between title and first section is a bit too big
![org](https://cloud.githubusercontent.com/assets/3865844/10095170/6c2965cc-6370-11e5-9152-1bc5160632cc.jpg)
![loc](https://cloud.githubusercontent.com/assets/3865844/10095169/6c292db4-6370-11e5-93d2-d78db1f573d2.jpg)

[2015-09-25 08:04] aalecs commented on #3071
@mbellotti @alexandru-m-g The lite-main.css file represents the legacy styles from CKAN that we're still using in the admin pages.

I suggest adding the overrides at the end of the lite-main.less file since they are going to be taken into consideration over the styles from CKAN.

[2015-09-25 09:09] cjhendrix opened #3608 "Replace our location page maps with vector tiles"
The current geojson that is used to draw national boundaries on default location pages is quite simplified (to keep the file size small even for countries with long borders).  Could we replace that with a vector tile dataset of all countries, but only display the country of interest?

Could we also allow users to navigate between countries by clicking on that map (this function will be more obviou

[2015-09-25 11:50] #3593 closed, assigned to danmihaila

[2015-09-25 13:05] #3557 closed, assigned to aalecs

[2015-09-25 15:50] mbellotti commented on #3534
This commit uses organization_show, which does have an include_packages option. Organization_list does not. Out of the box we cannot sort by package views/downloads without access to the package dict There are a couple of options from here:

1) Iterate through every single org and call organization_show to get a list of datasets to calculate the popularity score for each organization. **NOT RECOMM

[2015-09-25 18:18] alexandru-m-g commented on #3557
This was mostly already done by #3557 . I'm just changing the style a bit here.

Pinging @cjhendrix

[2015-09-25 18:18] alexandru-m-g commented on #3532
This was mostly already done by #3557 . I'm just changing the style a bit here.

Pinging @cjhendrix

[2015-09-25 18:41] #3532 closed, assigned to alexandru-m-g

[2015-09-25 20:20] mbellotti commented on #3567
Sorry I keep meaning to ask @danmihaila about this, and keep forgetting. I know we discussed this, but I cannot remember what exactly I'm investigating here?

Will finish it off this weekend :)

[2015-09-26 04:31] danmihaila commented on #3567
When having datasets list, we see flame. What means the value?
On dataset view page, the flame is sync with the value from bottom, continous browsing(downloads)
Also, What is the timeframe we calculate views/downloads?

Dan Mihaila

[2015-09-27 17:58] alexandru-m-g commented on #3505
This commit is also related to this issue https://bitbucket.org/agartner/gisrestlayer/commits/909f4f027380d5c507b4bdcb697a7a6238421608

[2015-09-28 00:58] mbellotti commented on #3562
So, I've implemented dataset delete as dataset purge which was easy, but there's a catch: dataset purge does not remove files that have been uploaded, just the database row for the dataset.

Obviously this is not what we want, but we should probably talk about how we want to modify this. Is it something we want to modify in core for the ckan community or not?

[2015-09-28 00:59] #3071 closed, assigned to mbellotti

[2015-09-28 01:16] mbellotti commented on #3567
There are indeed page views, but the object it uses to determine where or not to display the flame icon has two options ("recent", and "total"). It makes sense to use recents to determine popularity, but better to display the total. Committed a change to this effect

[2015-09-28 07:26] cjhendrix commented on #3534
Unless there are other ideas, I'd suggest you and @danmihaila estimate the work required for option 3 and discuss with @amcguire62

[2015-09-28 07:56] danmihaila commented on #3567
I think this is ok, but we need to call it "downloads". You can check https://github.com/OCHA-DAP/hdx-ckan/issues/2799 and the commit related to 2799.
thanks

[2015-09-28 08:37] cjhendrix commented on #3601
Issue updated based on conversation with @amcguire62 .

[2015-09-28 08:38] danmihaila opened #3618 "Security issues: check all our custom actions/api calls if they have/need auth"

[2015-09-28 08:56] #2540 closed, assigned to aalecs

[2015-09-28 08:56] #3607 closed, assigned to teodorescuserban

[2015-09-28 09:12] danmihaila commented on #3074
@teodorescuserban having the monitor of external services implemented by @alexandru-m-g i think we can close this one

[2015-09-28 09:13] cjhendrix commented on #3583
I think this may have already been done.   @alexandru-m-g @aalecs ?

[2015-09-28 09:37] alexandru-m-g commented on #3583
I was looking for this ticket but couldn't find it. It was done here https://github.com/OCHA-DAP/hdx-ckan/issues/2932

[2015-09-28 09:41] alexandru-m-g commented on #3074
@danmihaila  for now the monitor verifies HTTP services ( so not the email service ). Will need to talk to @teodorescuserban to see how to best test the email service.

[2015-09-28 09:50] alexandru-m-g commented on #3505
@danmihaila @teodorescuserban
This commit involves changes on both CKAN and gislayer. There is a new extension in CKAN called ckanext-hdx_service_checker.

The following steps will be needed:
-  A `python setup.py develop` will probably be needed in the new extension.
-  on CKAN, in prod.ini: `hdx.checks.config_path = /srv/ckan/ckanext-hdx_service_checker/ckanext/hdx_service_checker/config/config.

[2015-09-28 09:50] cjhendrix commented on #3583
Great!  Thanks.  Closing.

[2015-09-28 10:14] danmihaila opened #3622 "Security issues: ckanext-hdx_crisis"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:15] danmihaila opened #3623 "Security issues: ckanext-hdx_org_group"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:15] danmihaila opened #3624 "Security issues: ckanext-hdx_package"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:21] danmihaila opened #3625 "Security issues: ckanext-hdx_search"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:22] danmihaila opened #3626 "Security issues: ckanext-hdx_theme"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:23] danmihaila opened #3627 "Security issues: ckanext-hdx_user_extra"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:23] danmihaila opened #3628 "Security issues: ckanext-hdx_users"
sub-issue under #3618
- [ ] check all our custom actions/api calls if they have/need auth
- [ ]  nosetest for our custom action

[2015-09-28 10:38] teodorescuserban commented on #3505
why not adding hdx.checks.config_path to common-config.ini.txt?

În Lun, 28 sept. 2015 la 12:50, Alexandru Gartner notifications@github.com
a scris:

[2015-09-28 10:39] teodorescuserban commented on #3505
do we require an update on gislayer / gisworker code?

În Lun, 28 sept. 2015 la 13:38, Serban Teodorescu <
teodorescu.serban@gmail.com> a scris:

[2015-09-28 10:40] cjhendrix opened #3629 "Organization List: going to page 2 of search result loses the query"
To replicate:
1. Go to /organization
2. Search the org list for "ocha" (correctly loads https://data.hdx.rwlabs.org/organization?q=ocha)
3. Go to page two of the results (**incorrectly** loads https://data.hdx.rwlabs.org/organization?sort=title+asc&limit=25&page=2)
4. Also note that it doesn't contain an anchor to scroll down to the dataset list (as we do with other simlar pages).

[2015-09-28 11:02] danmihaila opened #3630 "Research about resource views"
After doing this we should be able:
- [ ] to have the methodology how to write a hdx custom view - for example displaying a chart (bar chart) similar to the one from Mali page
- [ ] how to display the view on preview page
- [ ] how to adjust rights of creating and saving views

[2015-09-28 11:52] alexandru-m-g commented on #3505
@teodorescuserban
1.  You're right. I'll make the change and add it to common config.
2.  Yes gislayer / worker needs to be updated ( check my comment above )

[2015-09-28 12:41] #3562 closed, assigned to mbellotti

[2015-09-28 12:59] teodorescuserban commented on #3442
will be done today.

[2015-09-28 13:07] cjhendrix commented on #3534
Actually, after a discussion on the SPAR, we'll close this for now and leave it as is (sorting by number of public datasets).  If we are still interested in exploring some other measure of popularity, we can come up with an estimate for option 3 as described by Marianne above.

[2015-09-28 13:07] #3534 closed, assigned to mbellotti

[2015-09-28 13:18] SimonbJohnson opened #3633 "On top bar longer usernames overlap feedback text"
<img width="1274" alt="screen shot 2015-09-28 at 14 15 34" src="https://cloud.githubusercontent.com/assets/2110742/10136303/b357d65e-65eb-11e5-86b4-1c1a20934fe8.png">

[2015-09-28 13:25] cjhendrix opened #3634 "Browse clean up"
redirect https://data.hdx.rwlabs.org/browse  to https://data.hdx.rwlabs.org/group

[2015-09-28 14:47] danmihaila opened #3637 "Ebola hotfix adding an extra layer"
Get new cases from https://raw.githubusercontent.com/BrcMapsTeam/Ebola-Web-Map/master/data/data.js
var NewConfirms = {"GIN001001":"0",....
and add it as the 1st top layer, in total there willl be 7 layers
Label: New cases last week
Please do it as hotfix.

[2015-09-28 16:24] alexandru-m-g commented on #3536
The corresponding ticket on CPS repo was closed so closing this one as well.

[2015-09-28 16:24] #3536 closed, assigned to alexandru-m-g

[2015-09-28 21:44] pjdufour commented on #694
+1

[2015-09-28 22:28] yumiendo commented on #3555
@danmihaila @ochadataproject @amcguire62 @JavierTeran

Hi all, attached is standardized header treatment/new filters.
- Data (showing header/all filters)
  ![data](https://cloud.githubusercontent.com/assets/8006323/10150302/c082c80e-660c-11e5-8e74-153a73f5e2ed.png)
- Custom location (mali - showing header/all filters - CJ pointed out some data contain multiple countries so please keep the location

[2015-09-29 14:39] yumiendo commented on #3022
hi all - as per earlier call, comp attached.
<img width="1200" alt="screen shot 2015-09-28 at 7 32 34 pm" src="https://cloud.githubusercontent.com/assets/8006323/10167410/67927a48-6696-11e5-86bc-b3ded933113c.png">

[2015-09-30 18:30] #3567 closed, assigned to mbellotti

[2015-09-30 20:20] alexandru-m-g commented on #3637
I looked both on staging and prod and I don't see any "New cases last week " layer. There's one called "New confirmed cases" at the bottom but it's not the 1st.  @aalecs are there some other details that are not mentioned in the ticket ?

[2015-09-30 20:24] alexandru-m-g commented on #3593
@danmihaila How should I test this  ? I went to https://test-data.hdx.rwlabs.org/organization?reset_thumbnails=true as a normal user but I didn't get any message.

[2015-09-30 20:31] alexandru-m-g commented on #3568
The button group on the dataset page seem to appear twice. For example here: https://test-data.hdx.rwlabs.org/dataset/afghanistan-admin-level-2-boundaries-blah
Check screenshot:
![buttons](https://cloud.githubusercontent.com/assets/6586348/10205687/537b9536-67cb-11e5-97cb-d217a91c575d.png)

[2015-09-30 20:33] teodorescuserban commented on #3593
I can help you check the thumbnails timestamp.:)

Mie, 30 sept. 2015, 23:24, Alexandru Gartner notifications@github.com a
scris:

[2015-09-30 20:33] danmihaila commented on #3593
We can reopen it. Right now there is no error message. By default ckan allows adding parameters but it will not throw errors. We could try test the api call or ... Write a nosetest 😀

Dan Mihaila

[2015-09-30 20:49] alexandru-m-g commented on #3558
@cjhendrix @mbellotti I was trying to test this so I created a new dataset both as a normal user and as a sysadmin BUT I don't see the "Delete" link under the dataset. Check screenshot.
Is that normal ?

![delete_not_appearing](https://cloud.githubusercontent.com/assets/6586348/10206112/edf0d69c-67cd-11e5-826e-abc76eb9e1b1.png)

[2015-09-30 20:51] alexandru-m-g commented on #3558
It seems like it is normal according to: https://github.com/OCHA-DAP/hdx-ckan/issues/3557 . Then this issue becomes irrelevant :)

[2015-09-30 21:01] alexandru-m-g commented on #3538
@aalecs seems like Contact in the footer is the same as Feedback. Is that why this wasn't moved to the footer ( according to the description of this ticket ) ?

[2015-09-30 21:25] alexandru-m-g commented on #3508
Nothing to test here.

[2015-10-01 09:44] amcguire62 commented on #3580
Can we identify what triggers the edge case. In parallel either Godfrey or myself is going to approach some of the these failed reg users to better understand why they could not complete their registration process.

[2015-10-01 10:22] teodorescuserban commented on #3580
Maybe this one will be split as a new issue: the signup process seem to use case sensitive email addresses, which makes possible the creation of multiple accounts with the same email.

For example:

teodorescu.serban@example.com
Teodorescu.Serban@gmail.com

[2015-10-01 10:58] amcguire62 commented on #3580
Yes and i found another example of a failed registration which had a duplicate so for some its reasonable to assume this is causing an issue ...

[2015-10-01 12:06] teodorescuserban commented on #3580
Please note this is not a case-sensitive issue. I found duplicates having exactly the same letters (same capitalization).

[2015-10-01 14:22] luiscape opened #3651 "Popular / downloads icon inside dataset shows different figure than the one at the bottom of datasets"
When visiting a dataset ([ebola-cases-2014](https://data.hdx.rwlabs.org/dataset/ebola-cases-2014)) the user now finds an icon on the left-hand side that shows the number of downloads that dataset has. That figure is different than the figure shown at the bottom of the dataset.

Figure at the top:
![screen shot 2015-10-01 at 10 20 03 am](https://cloud.githubusercontent.com/assets/953118/10223250/2d

[2015-10-01 15:21] pjdufour opened #3652 "OSM Integration: Edit in OSM Button"
Since OSM imports are currently a manual process (for valid license and quality concerns), direct imports of data from HDX into OSM are still a ways off.  However, there are still integration points that could be achieved in lieu of a more robust integration.  The simplest and easiest would be to add an "Edit in OSM" button on the GeoPreview maps.

The button could open up the OSM iD editor in the

[2015-10-01 15:29] pjdufour opened #3653 "OSM Integration: Methodology Dropdown"
OpenStreetMap Extracts don't neatly fit into any of the existing options in the Methodology dropdown.  Therefore, we end up using "other" as for the [Nepal Roads dataset](https://data.hdx.rwlabs.org/dataset/nepal-openstreetmap-extracts-roads) as adding a description in free text.

Could you add an "OSM Extract" option (or something more generic such as "Open Database Extract")?  A new option would

[2015-10-01 15:51] pjdufour opened #3654 "Twitter Card and OpenGraph Support"
Robust support for Twitter Card (https://dev.twitter.com/cards/overview) and OpenGraph (http://ogp.me/) is still missing.  There is some open graph support but it's not fully enabled.  Twitter Card and Open Graph are extremely important for a richer social media experience when sharing links, since they automatically add thumbnails, description text, etc. when you click on a "share on twitter" but

[2015-10-01 16:02] pjdufour opened #3655 "One-time CSW/GeoNode Import/Harvest"
Although fully-automated integration with data producers via CSW may be useful, it would be hard to integrate into production worfklows and also maintain a good user experience.  I like to provide a curated set of datasets on HDX rather than integrate all enterprise open data holdings as we do for data.gov.

Within that context, a one-time CSW import/harvest would still be extermely useful.  There

[2015-10-01 17:15] yumiendo commented on #3555
![data_searchrec](https://cloud.githubusercontent.com/assets/8006323/10227950/582c5e9e-683e-11e5-8b41-97802aa49314.png)
attached is a version with 'You might also like..." above the search results

[2015-10-01 22:31] yumiendo commented on #2612
Hi all, I want to clean up and update the data & file section of the dataset page but until that happens....
below is the interim solution to display the file size.
<img width="1407" alt="screen shot 2015-10-01 at 6 43 42 pm" src="https://cloud.githubusercontent.com/assets/8006323/10235426/5f512d40-686a-11e5-9823-4d2b1e174d32.png">

[2015-10-01 23:02] alexandru-m-g opened #3656 "user related database issue with duplicating rows"
It seems that sometimes duplicates appear in the database for **validation_tokens** table and for **user_extra** table. Check below:

[code]

[code]

Apart from checking how this duplicates managed to appear we should also add unique constraints to sqlalchemy/ database so that this can't happen again.

[2015-10-02 07:45] amcguire62 commented on #3656
message from user
Hey Aidan,
When I click on 'Share data' ,  and log in I get this ''log in email is not available".
I got the email to confirm subscription, I would confirm and get a subscription confirmation email. Though I think it skips a stage. When I tried to sign up with my personal email, before HDX confirming my subscription, I filled out my names, With the official email I don't get to t

[2015-10-02 16:17] alexandru-m-g opened #3657 "Disable newsletter registration at signup"
Create a hotfix for disabling newsletter registration at signup

[2015-10-02 16:26] alexandru-m-g commented on #3656
The issue for the hotfix is here: #3657

[2015-10-03 20:22] alexandru-m-g commented on #3622
There are not actions in hdx_crisis

[2015-10-03 20:22] #3622 closed, assigned to alexandru-m-g

[2015-10-03 21:13] #3623 closed, assigned to alexandru-m-g

[2015-10-03 21:28] alexandru-m-g commented on #3626
I'm commenting out the hdx_get_sysadmins. It doesn't seem to be used anymore
@danmihaila you added it so let me know if there's some reason why we should keep it.

[2015-10-03 22:08] alexandru-m-g commented on #3626
Also changed hdx_get_shape_info() to not be an action anymore. It doesn't make sense to be called by itself.

[2015-10-03 22:08] #3626 closed, assigned to alexandru-m-g

[2015-10-03 22:24] alexandru-m-g commented on #3624
All actions in this extension do a check_access ( where needed ).

[2015-10-03 22:24] #3624 closed, assigned to alexandru-m-g

[2015-10-05 08:55] danmihaila commented on #3568
@alexandru-m-g I think this is a problem with COD import as it is treated as indicator. check breadcrumb and the whole list of COD datasests

[2015-10-05 08:57] danmihaila commented on #3568
pinging @cjhendrix and @teodorescuserban

[2015-10-05 09:06] danmihaila commented on #3568
i looks it is triggered not by COD, but only when we have a geopreview. It should be a problem in geopreview template.

[2015-10-05 09:13] alexandru-m-g commented on #3568
@danmihaila Ok, so maybe this actually belongs in another ticket as it's own separate bug. We need to decide how we treat indicators that have geopreview ?

[2015-10-05 09:46] danmihaila commented on #3568
I think it is not this. i think it is a but how we display templates. will digg into this now.

[2015-10-05 10:27] teodorescuserban opened #3664 "Enable travis"
Enable travis builds.

Travis migrated to a docker infrastructure and is now very friendly with docker stacks.

[2015-10-05 10:45] danmihaila opened #3667 "Onboarding: reset password"
For users which are not validated, when doing the reset password it should send again the validation token.
For users which are valid, it should reset the password (current process).
Question: what about the deleted users?

[2015-10-05 11:33] danmihaila commented on #3651
@luiscape do we want to display downloads or views? I guess right now it is displayed the number of views, but we could correlate it with the total number of downloads
pinging @cjhendrix to be aware of this

[2015-10-05 11:38] danmihaila opened #3668 "Blog: align top and bottom menu/link with latest changes"

[2015-10-05 11:40] danmihaila commented on #3633
this is fixed with the new top menu. closing this one

[2015-10-05 11:40] #3633 closed, assigned to nobody

[2015-10-05 11:46] danmihaila commented on #3022
@mbellotti when solving this issue please check last comment from Yumi with comp attached. this is the final requirement

[2015-10-05 12:07] danmihaila commented on #3030
this will be done in #3555

[2015-10-05 12:11] danmihaila commented on #2913
@takavarasha @luiscape is this still a request we want to implement?

[2015-10-05 12:13] #3637 closed, assigned to aalecs

[2015-10-05 12:13] #3568 closed, assigned to danmihaila

[2015-10-05 13:04] #3657 closed, assigned to alexandru-m-g

[2015-10-05 13:05] teodorescuserban commented on #3442
Well I was too confident. :)
I will do it in a few days, though.

[2015-10-05 13:05] #3505 closed, assigned to alexandru-m-g

[2015-10-05 13:37] teodorescuserban commented on #3664
I configured travis builds using our docker stack.
I do have one error on tests - see  [here](https://travis-ci.org/OCHA-DAP/hdx-ckan/builds/83690664)
Pinging @alexandru-m-g for a late-night brainstorm :)

[2015-10-05 17:32] luiscape commented on #3651
@danmihaila That's a good idea. At this point I am interested in consistency. That is, if we show "downloads" on the footer it would be nice to have "downloads" in the hover as well.

Personally, I like the way it is: flame icon is about views and the footer is about downloads. I would just change the text of the hover to "views" instead of "downloads". Does that make sense?

[2015-10-06 00:11] davidmegginson opened #3676 "Possible text-encoding issue"
Forwarded from Chris Foo at UNHCR (assigned initially to Dan for triage):

On October 5, 2015 at 4:50:01 PM, David Asbury (dasbury@esri.com) wrote:

Thanks Chris, it all looks good.

Do you happen to know the guys that built HDX? I ask because I have a question about the encoding on some of their text files. Looks like they might be using ISO-8859-1 and not UTF-8, which is making some browsers hic

[2015-10-06 09:25] #2313 closed, assigned to aalecs

[2015-10-06 10:14] #3625 closed, assigned to mbellotti

[2015-10-06 10:45] cjhendrix opened #3678 "custom org: uploading the two logos fails"
Same on stag and prod v0.11.15.11
1. Create a new org
2. Make it custom
3. Set both logos to upload a file
4. Save
5. Logo is not displayed (see screen cap below)
6. Edit the org
7. Set both logos to upload a file (again)
8. Save
9. Server error returned.

![image](https://cloud.githubusercontent.com/assets/1654485/10306590/6d45ec8a-6c28-11e5-8d14-6e57e8ac8763.png)

[2015-10-06 10:49] cjhendrix commented on #3678
Note that uploading the logos one at a time works normally.

[2015-10-06 11:09] danmihaila commented on #3678
assigned to @mbellotti for current sprint

[2015-10-06 11:33] danmihaila commented on #3676
@davidmegginson can you get a sample url or file? We need to see if the problem is with ckan or files uploaded by users.

[2015-10-06 11:49] cjhendrix opened #3679 "Add Members: difficult to find user unless username is known or obvious"
When adding an existing user to an org, you have to either know or guess the username.  Perhaps we should also display user names (and possibly emails?)to make it easier to select the user?

This comes from a real-world case of trying to add someone named "Djimadji Constant Djimet Sou" to an org.  Her (his?) username is "djims".  If I hadn't known about the search bar on /user (which we don't adve

[2015-10-06 16:29] alexandru-m-g opened #3680 "Not all resource download events are being captured by google analytics"
Somebody going directly to a resource download link will not be tracked by google analytics (GA) since he's not clicking the download button ( the GA event is triggered via js ).

A user might go directly to a link if he sees a **shared** link on one of the social networks OR if he has bookmarked it.

We could possibly track this by sending the download events from the server side to google analyt

[2015-10-06 18:25] teodorescuserban commented on #3680
+1

Mar, 6 oct. 2015, 19:29, Alexandru Gartner notifications@github.com a
scris:

[2015-10-07 17:05] #3628 closed, assigned to mbellotti

[2015-10-08 09:52] danmihaila opened #3684 "Popular/downloads/view flame icons"
This is related to #3651, #3680 and another already closed issue.
- [ ] We need to understand how ckan is tracking dataset page views and resources download.
- [ ] We need to understand how to display page views and resource download. After we know this, we can talk to @yumiendo  and @luiscape how to display
- [ ] What is the difference between direct access for download or click in browser
- [ ]

[2015-10-08 12:48] danmihaila commented on #3505
The tool looks ok. @alexandru-m-g can you check if the errors are real on staging? Lookind forward to check on prod
<img width="1280" alt="screen shot 2015-10-08 at 15 46 56" src="https://cloud.githubusercontent.com/assets/3865844/10366564/fba3a772-6dd3-11e5-8f42-3177eff00b91.png">

[2015-10-08 13:29] danmihaila opened #3685 "onhover change style of some buttons on dataset page"
https://test-data.hdx.rwlabs.org/dataset/ohdr-nethope-2014-ebola
check delete, edit, add gallery item

[2015-10-08 13:40] danmihaila commented on #3538
@yumiendo we need you to validate this issue. I checked  on https://test-data.hdx.rwlabs.org/dataset header and footer, are they ok?
<img width="1187" alt="screen shot 2015-10-08 at 16 37 37" src="https://cloud.githubusercontent.com/assets/3865844/10367820/386d7fa0-6ddb-11e5-96bc-dcb467ce5b2f.png">
<img width="1191" alt="screen shot 2015-10-08 at 16 37 35" src="https://cloud.githubusercontent.com/

[2015-10-08 14:09] alexandru-m-g commented on #3505
Made 2 changes that should help avoid the errors on the server.

[2015-10-08 14:20] danmihaila commented on #2313
I am not sure how I can test this one @aalecs I see many changes and probably will have some problems soon :)

[2015-10-08 22:36] yumiendo commented on #3538
We removed 'feedback' from the top bar so can we add it back into the footer?
<img width="1383" alt="screen shot 2015-10-08 at 6 48 11 pm copy" src="https://cloud.githubusercontent.com/assets/8006323/10381765/6e6b686e-6deb-11e5-974c-d4dec41c64a1.png">

[2015-10-08 22:53] yumiendo commented on #3538
also once we implement the new filters...can we remove the funnel icon and shift the main navigation to the left (roughly 40px...) comp attached.
<img width="1323" alt="screen shot 2015-10-08 at 7 07 47 pm" src="https://cloud.githubusercontent.com/assets/8006323/10382024/c5585676-6ded-11e5-8f48-555e326c4f2f.png">

[2015-10-09 07:55] danmihaila commented on #3538
@aalecs lets made also the changes re Feedback and funnel icon in sprint 68. Thanks

[2015-10-09 08:08] danmihaila commented on #3629
@mbellotti item 4 [Also note that it doesn't contain an anchor to scroll down to the dataset list (as we do with other simlar pages] is not completed. reopened

[2015-10-09 11:43] teodorescuserban opened #3688 "capture js test is failing on travis"
I tested and the file is indeed created. The only problem is that the test is occurring faster than capturejs can complete.
There needs to be a pause between the capturejs task and the test itself.
We didn't had problems running it outside of travis.
This is a blocker for #3664
Assigning @danmihaila to decide what to do.

[2015-10-09 11:57] teodorescuserban commented on #3664
I made a new issue for the error.
I forced the test to pass.
Travis check is done. :)

[2015-10-09 12:01] #3664 closed, assigned to teodorescuserban

[2015-10-09 12:15] danmihaila commented on #3688
we will probably need to change the test to run method sync or to add a delay.
pinging @mbellotti as she wrote the code and test.

[2015-10-09 15:53] mbellotti commented on #3629
It was (
https://github.com/OCHA-DAP/hdx-ckan/commit/8de036515febadaff5fedeb2117f3e3d843592ef),
but there was a merge conflict on the template file between my changes and
Arti's (I think it was Arti) so it might have gotten overwritten by
resolving that. Will restore.

On Fri, Oct 9, 2015 at 4:08 AM, danmihaila notifications@github.com wrote:

[2015-10-09 15:59] danmihaila commented on #3629
Ok, np

Dan Mihaila

[2015-10-12 11:25] danmihaila commented on #3629
@mbellotti please let me know when you make a new PR for this. We want to deploy to prod this week. thanks

[2015-10-12 12:41] mbellotti commented on #3629
Sure, it's in my newest batch of commits. Should I break it off into a
separate branch or will you deploy with 68?

On Mon, Oct 12, 2015 at 7:25 AM, danmihaila notifications@github.com
wrote:

[2015-10-12 12:43] danmihaila commented on #3629
Yes, it should be only this commit (for sprint 67) as it will be merged
into stag and prod today. dmihaila@dginternational.org

On Mon, Oct 12, 2015 at 3:41 PM, mbellotti notifications@github.com wrote:

[2015-10-12 12:43] cjhendrix opened #3691 "Not all private datasets get lock icon"
I just added two new datasets to staging (via api).  Both are private, however only one gets the lock icon.

Icon: https://test-data.hdx.rwlabs.org/dataset/chad-roads
No icon: https://test-data.hdx.rwlabs.org/dataset/chad-administrative-boundaries

[2015-10-12 12:49] cjhendrix opened #3692 "Strange formatting on Newsfeed entries"
On stag

![image](https://cloud.githubusercontent.com/assets/1654485/10428256/5ff509cc-70f0-11e5-8916-9a2d0a3e95cc.png)

[2015-10-12 12:52] teodorescuserban commented on #3692
Staging might be broken, you know? :)
Let me just do a fast redeploy.

În Lun, 12 oct. 2015 la 15:49, cjhendrix notifications@github.com a scris:

[2015-10-12 12:52] danmihaila commented on #3691
I think one has geo preview, and one is only dataset. I will add it to current sprint with high priority.

[2015-10-12 12:53] teodorescuserban commented on #3692
Hmh, actually not many merges these days. Only Alex's checker.

În Lun, 12 oct. 2015 la 15:51, Serban Teodorescu <
teodorescu.serban@gmail.com> a scris:

[2015-10-12 12:53] teodorescuserban commented on #3692
Redeployed staging, nevertheless.

În Lun, 12 oct. 2015 la 15:52, Serban Teodorescu <
teodorescu.serban@gmail.com> a scris:

[2015-10-12 12:54] danmihaila commented on #3692
dataset with long names is breaking this. Pinging @yumiendo to consider this when redesign dashboard.

[2015-10-12 13:33] danmihaila opened #3693 "Health checks: email and capturejs"
Add email check (@teodorescuserban idea is to use a button)
add capturejs check

[2015-10-12 13:36] teodorescuserban commented on #3074
As per discussed today:

@alexandru-m-g will do a service check by testing the ip/port pair of `smtp.server` and `smtp_server` is open.
@alexandru-m-g will subsequently provide a button on the health check to generated some kind of "print test page" by email (possibly sending it to the email address of the sysadmin that is clicking on it).

also tagging @danmihaila and @cjhendrix

[2015-10-12 13:53] cjhendrix opened #3694 "Some files download, some files redirect to log in"
On stag (works normally on prod):
1. Login as a sysadmin
2. go to https://test-data.hdx.rwlabs.org/dataset/a-test-dataset-with-large-files
3. try to download each file

Resources 1-4 and 7 work for me
Resources 5 and 6 redirect to login.

Note that all these were present on production and brought over with the database.

I'm seeing similar behavior on newly created datasets with filestore resource

[2015-10-12 14:00] yumiendo commented on #3692
thank you for this -
when does “New activity item” label show up? I just accessed my dashboard and the new item has a red dot next to it.
<img width="1440" alt="screen shot 2015-10-12 at 10 10 10 am" src="https://cloud.githubusercontent.com/assets/8006323/10429640/0a93c25c-70c8-11e5-9e49-85f9183cffb6.png">

[2015-10-12 23:08] teodorescuserban commented on #3694
Only zip files, right?

Lun, 12 oct. 2015, 16:53, cjhendrix notifications@github.com a scris:

[2015-10-13 05:16] mbellotti commented on #3684
Okay so tracking.js sends an ajax POST request back to CKAN in two different situations:
- When the script is initialized (ie - on page load) This therefore tracks the number of "views"
- When the download button is clicked, thereby tracking the number of downloads.

Therefore dataset views does not equal the total of all resource views within the dataset because they are usually tracking differen

[2015-10-13 07:40] cjhendrix commented on #3694
the fifth resource is a text file.

[2015-10-13 09:50] cjhendrix opened #3697 "API: creating a filestore resource with accented characters in file name fails"
See issue https://github.com/OCHA-DAP/cod-migration/issues/83 for more details.

The actual file that is failing can be downloaded from https://www.humanitarianresponse.info/sites/www.humanitarianresponse.info/files/datasets/Camps_R%C3%A9fugi%C3%A9s_2.zip

[2015-10-13 11:59] danmihaila commented on #3629
this is done and tested on stag, closing it

[2015-10-13 11:59] #3629 closed, assigned to mbellotti

[2015-10-13 13:18] luiscape commented on #3684
@mbellotti very informative!

[2015-10-13 15:50] mbellotti commented on #3542
Sorry I keep forgetting to write up my thoughts on this. Yes, Alex is right. The Google URL shortener api can be used without a key, but the limits are much stricter. Register HDX with Google and add a key to the request will give us 1,000,000 requests per day. [ @cjhendrix it looks like we need you to do this, since we do not have access to the HDX google account ] Since we store old requests, th

[2015-10-13 15:50] mbellotti commented on #3542
Also I can fix this as soon as I have the key :)

[2015-10-13 16:12] alexandru-m-g commented on #3693
@danmihaila I suggest we split this into 2 separate tasks.

[2015-10-13 16:15] alexandru-m-g commented on #3542
Our own shortening service - that's interesting. Could be a possible solution ( not the only one ) to be able to count the users that clicked on shared resource download links ( related to #3680 )

[2015-10-15 14:11] teodorescuserban commented on #3697
After @danmihaila and @alexandru-m-g hacked at it a bit, the following conclusion can be made:
when creating from api, the filename of the uploaded resource must NOT have funny characters.

This is solved in UI by converting funny chars to standard ones (Camps_Réfugiés_2.zip to Camps_Refugies_2.zip).

It is still to be determined what exactly in ckan does this conversion and why it doesn't do it f

[2015-10-15 14:15] teodorescuserban commented on #3694
All redirects to login when trying to download private zip or images are related to a misconfig in varnish container that has been fixed on production but not on staging.

Fixed & closing.

[2015-10-15 14:22] #2320 closed, assigned to nobody

[2015-10-15 15:10] cjhendrix commented on #3697
I think we can drop the high priority on this one.  It's not a big problem for the migration. But we can keep it in the backlog as something to look at when we have time.

[2015-10-16 12:05] #3634 closed, assigned to danmihaila

[2015-10-16 14:27] luiscape opened #3704 "Performance: Organizations with Lots of Datasets Take a Long time to Load"
When visiting the following organizations:
- [HDX](http://data.hdx.rwlabs.org/organization/hdx)
- [OurAirports](https://data.hdx.rwlabs.org/organization/ourairports)
- [UNOSAT](https://data.hdx.rwlabs.org/organization/un-operational-satellite-appplications-programme-unosat)

I have noticed serious response times -- on the magnitude of 20 seconds. The browser hangs waiting a response from the serve

[2015-10-16 14:30] danmihaila commented on #3704
great feedback. we will check it to see how it loads on different aspects. HDX has many datasets, but OurAirports and UNOSAT took about 3-4 secs to load. Anyway, we will check this

[2015-10-19 09:34] danmihaila opened #3705 "Provide a list of recent registered users after a specific date (api or script)"

[2015-10-19 11:42] #3651 closed, assigned to mbellotti

[2015-10-19 11:42] #3684 closed, assigned to mbellotti

[2015-10-19 11:42] #3691 closed, assigned to mbellotti

[2015-10-19 12:14] danmihaila commented on #3022
I have local this error: File '/srv/ckan/ckanext-hdx_theme/ckanext/hdx_theme/helpers/helpers.py', line 142 in get_dataset_date_format
  dt = datetime.datetime.strptime(d, '%m/%d/%Y')
File '/usr/lib/python2.7/_strptime.py', line 325 in _strptime
  (data_string, format))
ValueError: time data '' does not match format '%m/%d/%Y'

[2015-10-19 12:42] alexandru-m-g commented on #3656
@mbellotti, I might be wrong, but I think that adding the unique=True for sqlalchemy won't affect existing tables. Do we need a SQL patch that @teodorescuserban can run on production ?

[2015-10-19 12:54] danmihaila commented on #3656
I think we should have a nosetest as well to check uniqueness. Also, we need to add a unique constraint for user_extra ( a touple - user_id, key)

[2015-10-19 13:36] cjhendrix opened #3707 "User is getting a windows performance alert when using HDX"
I have only heard of this from one user, but I thought it was worth documenting in case anyone has any ideas or in case we start hearing of it more.

![image](https://cloud.githubusercontent.com/assets/1654485/10579176/fc295416-7676-11e5-981c-c473b7ee2a4e.png)

[2015-10-19 13:37] #3685 closed, assigned to aalecs

[2015-10-19 13:38] danmihaila commented on #3705
done

[2015-10-19 13:38] #3705 closed, assigned to danmihaila

[2015-10-19 13:43] teodorescuserban commented on #3707
I was under the impression that we do not support Internet Explorer.
Was it just me?

Lun, 19 oct. 2015, 16:36, cjhendrix notifications@github.com a scris:

[2015-10-19 13:46] teodorescuserban commented on #3707
Oh sorry it is firefox :)
On the other hand, not having enough video ram for aero theme + something else... That is a very poorly optimized low end computer.

[2015-10-19 13:49] #3538 closed, assigned to aalecs

[2015-10-19 14:10] danmihaila commented on #3601
closed

[2015-10-19 14:10] #3601 closed, assigned to alexandru-m-g

[2015-10-19 17:38] danmihaila commented on #3667
@mbellotti requirement no 1 is not done. Reopening it

[2015-10-20 01:44] mbellotti commented on #3542
Can we close this?

[2015-10-20 02:35] mbellotti commented on #3656
@alexandru-m-g You're not wrong, but it's just two simple SQL commands. One to remove existing duplicates, and one to alter the table. Didn't seem worth writing a ckan interface for them -vs- just directly executing them. We will never need to do this again.

[2015-10-20 02:48] mbellotti commented on #3656
@danmihaila Doesn't that completely defeat the purpose of the user_extra table?

[2015-10-20 06:17] danmihaila commented on #3542
Is it done?

[2015-10-20 08:13] cjhendrix opened #3709 "Dataset Edit: Showing "files" instead of "resources""
![image](https://cloud.githubusercontent.com/assets/1654485/10601631/279bc470-7713-11e5-9c78-be85cf376fad.png)

[2015-10-20 09:11] danmihaila commented on #3656
@mbellotti regarding Alex's comment - we will need to provide Serban a sql patch/command to run on prod (first we will run it on stag)
re user_extra: I think we should never get same user with the same key two times in db. So, I guess it is ok to have the uniqueness on (user_id, key)

[2015-10-20 09:30] cjhendrix opened #3711 "Geopreview: limit the maximum zoom to a level that osm supports"
If a resource has a single point, the zoom level is so close that OSM doesn't support it (at least I think that's what's happening).

![image](https://cloud.githubusercontent.com/assets/1654485/10603358/e8edee0a-771d-11e5-98c7-156e8d67772e.png)

https://data.hdx.rwlabs.org/dataset/dr-congo-elections

[2015-10-20 10:45] cjhendrix commented on #3583
The integer attribute is not showing, at least for this dataset:
https://data.hdx.rwlabs.org/dataset/dr-congo-contour-lines

![image](https://cloud.githubusercontent.com/assets/1654485/10604945/3fcd6b88-7728-11e5-9b9e-6d78e3be6fe7.png)

![image](https://cloud.githubusercontent.com/assets/1654485/10604966/54ff1bf0-7728-11e5-89c3-44f06b4707ae.png)

I think maybe we miscommunicated about this issue.

[2015-10-20 11:25] mbellotti commented on #3542
There is nothing to do unless CJ wants to generate an API key.

Sent from my iPhone

[2015-10-20 11:32] mbellotti commented on #3656
Right but if I set the user_id column to unique then users can only have one extra listed in the db. If I set the key to unique then  only one user in all of HDX can have a specific extra. So why would you want to modify the DB table?

Sent from my iPhone

[2015-10-20 11:39] cjhendrix opened #3714 "Geopreview: slow load"
Long time to load the vector tiles on this geopreview.  Probably about 12 seconds for the tiles to load.  I reloaded again from an incognito window to see if caching would improve, but it seemed about the same.

It's a line dataset, 38mb.  https://data.hdx.rwlabs.org/dataset/cote-d-ivoire-water-courses

Task is for CJ to double check that this is still happening and not related to an overtaxed com

[2015-10-20 11:41] cjhendrix commented on #3714
Looking at the data, it kind of looks like it's not getting simplified.

[2015-10-20 11:56] danmihaila commented on #3656
@mbellotti I am talking about adding a unique constraint composed by 2 columns. Lets chat on slack if it is not clear.

[2015-10-20 11:58] danmihaila commented on #3542
did you discuss with @cjhendrix about this?

[2015-10-20 12:31] mbellotti commented on #3656
So you mean some kind of hash of the two columns values put in a third
brand new column?

On Tue, Oct 20, 2015 at 7:56 AM, danmihaila notifications@github.com
wrote:

[2015-10-20 12:36] danmihaila commented on #3656
I mean to be something like:
CREATE TABLE example (
    a integer,
    b integer,
    c integer,
    UNIQUE (a, c)
);
http://www.postgresql.org/docs/9.4/static/ddl-constraints.html

[2015-10-20 12:36] mbellotti commented on #3542
There's really nothing to discuss, it's a research issue. I researched the
answer to his question and pinged him with possible actions. The actual
issue itself says he plans on just ignoring the issue for now.

On Tue, Oct 20, 2015 at 7:58 AM, danmihaila notifications@github.com
wrote:

[2015-10-20 12:46] mbellotti commented on #3656
Well then I don't understand what the point of user_extra is at all.
Package_extra and group_extra (which presumably user_extra was modeled
after) do not seem to have this constraint. So you're restricting the
ultimate usefulness of the table in order to solve a problem we do not
actually have. What happens if in the future there is an extra that we wish
to allow a user to have more than one of?

[2015-10-20 12:55] cjhendrix commented on #3542
@mbellotti  What kind of API key do we need?  Choose from Server, Browser, iOS, Android.    I'm guessing it's Server, but wanted to confirm.

[2015-10-20 13:58] mbellotti commented on #3542
Yup :) You're right. Send key to me over slack DM when you have it?

Sent from my iPhone

[2015-10-20 14:17] alexandru-m-g commented on #3583
Was showing only strings, integers and floats ( floats are actually converted strings because of some parsing issues that we had with ogr2ogr ) as I didn't want to show some weird blobs for example.

Added "numeric" to the list now.

[2015-10-21 03:23] mbellotti commented on #3656
Depending on how many duplicates we have... This is the query most efficient for large tables with large number of duplicates:

CREATE TABLE tmp AS (SELECT \* from validation_tokens limit 1) with no data;
INSERT INTO tmp SELECT DISTINCT ON (user_id) \*  FROM validation_tokens;
DROP TABLE validation_tokens;
ALTER TABLE tmp RENAME TO validation_tokens;
ALTER TABLE validation_tokens ADD UNIQUE (user_

[2015-10-21 08:07] #3583 closed, assigned to alexandru-m-g

[2015-10-21 09:11] danmihaila commented on #3656
do we know how many rows tokens are duplicated? Also, do we know the cause?

[2015-10-21 09:17] danmihaila opened #3717 "HDX views: create the hdx geo view"
Access allowed to sysadmin (for the moment)
A sysadmin will be allowed to add a hdx geo view for a resource. Probably it will be one layer view per resource.
@alexandru-m-g any configuration fields to be added we might want?

[2015-10-21 09:21] danmihaila opened #3718 "HDX views: create the CHART (bar,line) view"
Access allowed to sysadmin (for the moment)
A sysadmin will be allowed to add a hdx CHART view for a resource. First iteration will be to display a simple chart with only one source.
Admin fields needed:
Title,
Data Type (bar chart, line chart),
X Axis Label,
X Column,
Y Axis Label,
Y Column,
Source,
Data Link URL,
Label

[2015-10-21 09:42] danmihaila opened #3719 "Vis embed: Embed external visualization UI on org pages"
Allow an external vis to be embed on org pages. If designed as component, it should be easy to integrate into custom location page.
Admin fields to be considered:
- URL of vis
- Title
- Data Link URL
- type of vis (check below)

There should be 2 options:
- display a screenshot or embed part of the visualization. When click it will open in new tab the full vis page
- display full visualization usi

[2015-10-21 09:42] danmihaila opened #3720 "Vis embed: Embed external visualization (Admin section) on org pages"
Allow an external vis to be embed on org pages. If designed as component, it should be easy to integrate into custom location page.
Admin fields for component:
- URL of vis
- Title
- Data Link URL

[2015-10-21 09:54] cjhendrix commented on #3692
Strange.  Seems I get the "new" label instead of the dot.

[2015-10-21 10:35] danmihaila commented on #3692
it looks like a bug. @cjhendrix you might need to show @mbellotti how is happening in case she can not reproduce.

[2015-10-21 11:22] danmihaila commented on #2481
@mbellotti can we close this issue?

[2015-10-21 11:36] takavarasha commented on #2913
Yes, although I would consider this to be a low priority request.

[2015-10-21 11:39] mbellotti commented on #2481
Yup!

Sent from my iPhone

[2015-10-21 11:39] danmihaila commented on #2481
closing it

[2015-10-21 11:39] #2481 closed, assigned to nobody

[2015-10-21 11:55] mbellotti commented on #3656
Basically it happened because the email validator was case sensitive. That
was fixed in an earlier issue.

On Wed, Oct 21, 2015 at 5:11 AM, danmihaila notifications@github.com
wrote:

[2015-10-21 12:02] teodorescuserban commented on #3656
We encountered multiple validation tokens for same cased email address so
it must be more than this.

Mie, 21 oct. 2015, 14:55, mbellotti notifications@github.com a scris:

[2015-10-21 12:26] danmihaila commented on #3656
Serban, can you send by email a full list of duplicates. I think there were only 2, but lets see.

[2015-10-21 12:56] #3630 closed, assigned to alexandru-m-g

[2015-10-21 13:24] danmihaila commented on #3667
in tokens.py:57 there is missing an import for "hdx_mailer"
can you please fix it asap? tnx

[2015-10-21 14:15] mbellotti commented on #3667
Done

[2015-10-21 15:29] cjhendrix commented on #3280
This one may be another example:  https://data.hdx.rwlabs.org/dataset/honduras-other-0-0

(note that the resource has been "fixed" so the problem of crashing the browser is no longer an issue on this particular dataset, but the overall problem remains, read on)

This is the same problem. There are 12 points in the dataset that have coordinates = 12 records (points) in that dataset that have coordi

[2015-10-21 15:49] cjhendrix commented on #3280
Yes, this is the same problem. There are 12 points in the dataset that have coordinates = 12 records (points) in that dataset that have coordinates = -1.7976931348623157e+308, -1.7976931348623157e+308.

Exactly the same as the syria example in the main issue description above.  This is probably some default that ESRI generates in certain conditions for records that have no geometry. I wonder if we

[2015-10-21 17:33] teodorescuserban commented on #3280
I wonder how 1e+308 looks like in js, python or postgres :)

Mie, 21 oct. 2015, 18:49, cjhendrix notifications@github.com a scris:

[2015-10-21 17:35] teodorescuserban commented on #3280
I mean, jokes aside, we can just replace the numbers greater than longint
with 0 in js - addressing the browser issue right in the browser.

Because other chain parts doesnt seem to have a problem with it.

Mie, 21 oct. 2015, 20:33, Serban Teodorescu teodorescu.serban@gmail.com a
scris:

[2015-10-21 17:36] teodorescuserban commented on #3280
Some solution around replacing the string e+xxx with 0 in js before we even
try to reder anything.
I say string because number compare might lead to the same issue.

Mie, 21 oct. 2015, 20:35, Serban Teodorescu teodorescu.serban@gmail.com a
scris:

[2015-10-22 09:35] cjhendrix commented on #3280
Similar problem when uploading this file: https://www.dropbox.com/s/rmegntsfq7l275i/malawi_health_fac_hisp.zip?dl=0

The extent of the shapefile is correct, however the bbox visible in the ckan api has the magic 1+e308 and in HDX, the page never completes loading.

In this case, the input layer has a partially defined coordinate system (WGS84).    I re-exported with epsg:4326 and it works correctl

[2015-10-22 11:07] danmihaila opened #3731 "Test load after changes re filters"
url to be tested:
http://test-data.hdx.rwlabs.org/dataset/
http://test-data.hdx.rwlabs.org/organization/wfp
http://test-data.hdx.rwlabs.org/search
http://test-data.hdx.rwlabs.org/search?q=&tags=cod
http://test-data.hdx.rwlabs.org/group/mli
http://test-data.hdx.rwlabs.org/group/nepal-earthquake

Same for prod

[2015-10-22 17:11] alexandru-m-g commented on #3555
@danmihaila @teodorescuserban
2 things will be needed on the next deploy (staging and prod):
1.  Run the following sql query on the database:

[code]
2.  Change the **solr schema** with the new one from here: https://github.com/OCHA-DAP/hdx-ckan/blob/18213f4b71d7e1c922d18c7a2faabfe7c960905c/ckanext-hdx_search/ckanext/hdx_search/hdx-solr/schema.xml

[2015-10-23 08:48] cjhendrix opened #3736 "mistaken URL for FAQ leads to 500 rather than 404"
Not a big deal, but seems odd.  Loading /about/faq returns 500.  I would expect 404.

[2015-10-23 09:09] teodorescuserban commented on #3555
- reindex

[2015-10-24 07:19] cjhendrix opened #3747 "Geopreview: geojson service not previewing"
The resource here https://data.hdx.rwlabs.org/dataset/mexico-volcanes-activos is a geojson service.  Downloed, the data looks fine (in qgis), but with the "geojson" file type, it doesn't preview.

I noticed that the service delivers a file called simply "geojson", so maybe the naming is a problem?

[2015-10-24 07:49] cjhendrix opened #3748 "Should this file have exceeded our upload limits?"
https://data.hdx.rwlabs.org/dataset/mexico-continuo-de-elevaciones-mexicano

It is a zip file containing several rar files.

[2015-10-24 09:45] cjhendrix opened #3749 "Geopreview: attribute display using wrong encoding"
The shapefile source for this one is in UTF 8, but the attribute display in geopreview seems to use something else:

![image](https://cloud.githubusercontent.com/assets/1654485/10710023/8ee7de28-7a44-11e5-8b6a-59fc1cdad07d.png)

Same data in QGIS:
![image](https://cloud.githubusercontent.com/assets/1654485/10710025/a4fb0000-7a44-11e5-8b29-a4cbdf9d5af3.png)

[2015-10-24 09:46] cjhendrix commented on #2972
Dataset with >20,000 points where this is becoming a problem

https://data.hdx.rwlabs.org/dataset/mexico-recursos-en-salud

[2015-10-26 11:15] cjhendrix opened #3750 "Geopreview: Everything looks ok with this one in QGIS, but geopreview has a crazy extent"
Extents of the file look fine in QGIS: xMin,yMin 61.0015,23.9622 : xMax,yMax 79.2384,37.0316

But from our api: BOX(62.8094901807575 **-345.137507041407**,77.24811554 37.0315789417147)

When enabling geopreview, the exent is global and the data doesn't display.  I've updated the geopreview twice with the same result.

It would be good to know if this is a problem at our end or in the file (more li

[2015-10-27 05:38] mbellotti commented on #3692
Right... haven't been able to reproduce, but best guess from looking at the code is that the css stylesheet was not loading correctly. Changing default text to a \* which should work?

[2015-10-27 09:12] danmihaila commented on #3731
@teodorescuserban any feedback on this one?

[2015-10-27 11:28] teodorescuserban commented on #3731
@danmihaila actually it looks a bit better or the same.
You should be abel to notice the difference between prod and stag - both are underloaded at the moment.

[2015-10-27 11:29] teodorescuserban commented on #3731
Closing. You are welcome to reopen or comment.

[2015-10-27 11:29] #3731 closed, assigned to teodorescuserban

[2015-10-27 11:41] teodorescuserban commented on #3442
I changed priority on this one, @danmihaila

[2015-10-27 12:28] mbellotti commented on #3679
@cjhendrix How often do we get new users now? The feature you're suggesting is best implemented with a new Solr core, or in a pinch we can use the same trick we used with lunr.js for predictive search. But that wouldn't be ideal if we expected to see a larger number of users joining.

[2015-10-27 13:36] cjhendrix commented on #3679
Organisations and members seem to be a relatively popular feature (anecdotally), but I haven't heard specific user complaints about this.

I wouldn't expect a massive increase in users joining, so maybe the lunr.js fix would be ok.  @amcguire62 @danmihaila ?

[2015-10-28 09:46] danmihaila opened #3753 "New Filters: tweaks"
This is related to work done on #3555
- [ ] Remove filter search from the main "Datalist page" (/dataset). Once a user hits a search or if they are on an org / country page filter search can appear (/search page). /dataset will look like it is now on prod  with no filters. /search will have the new filters.
- [ ] On /search page bring back the "You might also like:....." feature
- [ ] On the exist

[2015-10-28 11:42] cjhendrix opened #3754 "Feature server showing up in Google Rankings"
![image](https://cloud.githubusercontent.com/assets/1654485/10787461/627cd674-7d71-11e5-994d-22a97c4ded5b.png)

[2015-10-28 11:44] cjhendrix opened #3755 "Layout errors on Preview Page"
![image](https://cloud.githubusercontent.com/assets/1654485/10787484/8d2839d6-7d71-11e5-8ffd-ab1b3f2354c5.png)

[2015-10-28 12:07] teodorescuserban commented on #3754
It looks like a bug in the default container configuration that would disable http basic auth.

I will fix it today.

I would also create a default `robots.txt` file with the following content:

[code]

In the end, by default, you will need a password to enter test sites (again) + bots would be prevented anyway from crawling the site.

Special care must be taken to replace `robots.txt` with the cu

[2015-10-28 15:01] alexandru-m-g commented on #3718
AS discussed with @danmihaila this should be similar to the Mali page.

[2015-10-29 13:37] danmihaila opened #3756 "Caching improvements"
Lets see how we can improve some pages. Brainstorm with dev team needed and to compare with other websites.

[2015-10-29 13:38] danmihaila opened #3757 "Datasets icons bug"
From @takavarasha
The informative icons such as the lock for private datasets or the hot flame are missing on dataset pages if the contributor of the dataset has a custom org page. See two images below showing private datasets from two orgs, one custom and the other standard

![good](https://cloud.githubusercontent.com/assets/3865844/10819864/2248c648-7e53-11e5-9a74-3c7fd12d08ce.jpg)
![wrong](http

[2015-10-30 12:33] danmihaila commented on #3656
for user_extra: ALTER TABLE user_extra ADD UNIQUE (user_id,key)
@teodorescuserban I will add the final commands into a google sheet for deploy for next week.

[2015-10-30 13:02] #3704 closed, assigned to alexandru-m-g

[2015-10-30 13:02] #3709 closed, assigned to mbellotti

[2015-10-30 20:12] pjdufour opened #3758 "Citations"
It would great if there was an easy way to generate citations of datastes on HDX (in markdown?).  For example, created and hosting PDF map product on other website that uses data from HDX.  Can I easily copy a citation string that links backs instead of having to copy and paste 5 fields for each of the 5 datasets I got from HDX?  That's a lot of copying and pasting.  Maybe markdown strings would b

[2015-11-02 08:54] #3553 closed, assigned to mbellotti

[2015-11-02 10:08] #3627 closed, assigned to danmihaila

[2015-11-02 12:26] #3555 closed, assigned to aalecs

[2015-11-02 12:26] #3753 closed, assigned to aalecs

[2015-11-02 12:33] danmihaila opened #3763 "Bug on preview resource"
![screen shot 2015-11-02 at 14 32 32](https://cloud.githubusercontent.com/assets/3865844/10881814/a10db86c-816e-11e5-9a1b-e0ede68f0cd2.png)

[2015-11-02 13:50] danmihaila opened #3764 "Integrate the 4w visualization"
https://github.com/nerevu/HDX-4W
http://nerevu.github.io/HDX-4W/

[2015-11-02 16:06] yumiendo commented on #3022
Can be add a break after the org name, before the dates?
before & after below:
BEFORE
<img width="1196" alt="screen shot 2015-11-02 at 11 19 22 am" src="https://cloud.githubusercontent.com/assets/8006323/10886685/46d4e7de-8151-11e5-8adf-58f3592d9ce4.png">

AFTER
<img width="1198" alt="screen shot 2015-11-02 at 11 18 52 am copy" src="https://cloud.githubusercontent.com/assets/8006323/10886720/7ab34

[2015-11-02 19:07] luiscape commented on #2913
I would agree with @takavarasha's points above.

[2015-11-03 09:17] danmihaila commented on #3022
ok, will do it

[2015-11-03 09:44] danmihaila opened #3766 "Dashboard: Bug on filters"
- [ ] check empty tag in filter
- [ ] there are 2 dropdown to order by...

![screen shot 2015-11-03 at 11 44 23](https://cloud.githubusercontent.com/assets/3865844/10905046/445cbdcc-8220-11e5-9c5d-84b313c3cbe9.png)

[2015-11-03 09:48] #3022 closed, assigned to danmihaila

[2015-11-03 09:53] danmihaila commented on #3667
Reopened. When user is not valided and I am trying to perform a password reset:You have not yet validated your email.

[2015-11-03 09:57] danmihaila commented on #3678
I am trying to click on "upload" button and javascript popup is not working. Reopening it.

[2015-11-03 09:57] danmihaila commented on #3678
@alexandru-m-g can you fix this asap?

[2015-11-03 10:22] danmihaila commented on #3694
@teodorescuserban I see again this issue on staging
https://test-data.hdx.rwlabs.org/dataset/a-test-dataset-with-large-files
try a zip one:
http://test-data.hdx.rwlabs.org/dataset/2be86412-ed82-41a4-8606-7994453e4de5/resource/960152e1-bfbe-4e08-b429-5b732e797333/download/africa-adm2-multipoly-gadm-shp.zip

[2015-11-03 10:22] danmihaila commented on #3705
provided list to Aidan

[2015-11-03 10:45] danmihaila opened #3768 "Edit dataset: tags and locations are displayed ugly"
![screen shot 2015-11-03 at 12 40 57](https://cloud.githubusercontent.com/assets/3865844/10906223/66065110-8228-11e5-8d2c-cd718783cfac.png)
@yumiendo @amcguire62 do we plan to also change the edit datasets? if yes, maybe it doesn't make sense to fix this issue.

[2015-11-03 10:59] danmihaila commented on #3542
assigned to @aalecs to investigate why when not logged in the popup is not well aligned.

[2015-11-03 10:59] danmihaila commented on #3692
@cjhendrix can you please test this on staging?

[2015-11-03 11:03] danmihaila commented on #2612
right now it is displaying a number and not in brackets
https://test-data.hdx.rwlabs.org/dataset/yemen-administrative-boundaries-settlements
it is not done according to mockups. reopening it and assigning it @alexandru-m-g

[2015-11-03 11:20] teodorescuserban commented on #3694
please confirm it works now.
closing.

[2015-11-03 11:20] #3694 closed, assigned to teodorescuserban

[2015-11-03 11:35] danmihaila opened #3771 "Share url"
Sharing via our buttons(for a dataset) is working for google+ and twitter but not working for Facebook and email. It is sharing the homepage (or the old xxxx string)

[2015-11-03 12:54] cjhendrix commented on #3692
Still a bit weird:

![image](https://cloud.githubusercontent.com/assets/1654485/10908469/7c9346b8-8232-11e5-8848-69fd6f4f665e.png)

[2015-11-03 12:58] #3766 closed, assigned to alexandru-m-g

[2015-11-03 14:38] danmihaila commented on #3692
low priority for the moment according to @amcguire62 , moving to sprint candidates

[2015-11-03 16:16] yumiendo commented on #3692
i'd bring it up to the same height as tabs....

<img width="1400" alt="screen shot 2015-11-03 at 11 32 06 am" src="https://cloud.githubusercontent.com/assets/8006323/10913510/3e04b3de-821c-11e5-85e3-773ef3a737be.png">

[2015-11-03 16:28] #3667 closed, assigned to danmihaila

[2015-11-03 16:50] yumiendo commented on #3768
those location tags are reused in the new contribute flow - so maybe if we fix it we'll be able to reuse?
- add margin-bottom 20px.
- the location name shouldnt be broken up into 2 lines (not sure how you call this fixes...)

[2015-11-03 17:45] #3678 closed, assigned to alexandru-m-g

[2015-11-04 12:25] teodorescuserban commented on #3756
It has been decided to enable the following:
1. /fanstatic cached in the browser for 1 month and on nginx for 6 hours.
2. /fonts same as above
3. /images 1 day and 1 day on server cache

On staging I will just make them all 5 minutes for client and 10 minutes for server to test.

[2015-11-04 15:34] cjhendrix opened #3781 "package_search API request broken on stag"
`/package_search?q=sanitation` is working on prod, but not on stag.  Maybe something was broken by the work on the new filters?

[2015-11-04 15:36] danmihaila commented on #3781
@alexandru-m-g can u please check this?

[2015-11-04 15:43] cjhendrix opened #3782 "Dataset Create: styling issue with multiple locations"
![image](https://cloud.githubusercontent.com/assets/1654485/10943072/2bbe7618-8313-11e5-9bb3-649ed3ae54f8.png)

[2015-11-04 15:48] #3542 closed, assigned to aalecs

[2015-11-04 15:50] cjhendrix opened #3784 "Dataset Create: Users can make any other user the maintainer of a dataset"
I don't think we want this behavior.  Perhaps this list should be limited to members of the chosen organization?

[2015-11-04 15:53] #3781 closed, assigned to alexandru-m-g

[2015-11-04 16:20] cjhendrix opened #3787 "Dataset Preview: Text preview window has become very small"
![image](https://cloud.githubusercontent.com/assets/1654485/10944203/4bdbd008-8318-11e5-944c-1784c8e356dc.png)

[2015-11-04 16:39] alexandru-m-g commented on #2612
Committed a fix for the formatting.

@danmihaila , @cjhendrix  Please note that this doesn't really mean that file sizes will start appearing. The file size is not stored by default in CKAN and getting this information and storing it when a user uploads a file doesn't seem to be trivial. So this only works for resources that for some reason ( API ) have the size info.

[2015-11-04 16:45] cjhendrix opened #3789 "Freaky! Seeing different membership info in an org depending on login"
![image](https://cloud.githubusercontent.com/assets/1654485/10944952/d3e3a112-831b-11e5-8e44-05e94e2810fa.png)

[2015-11-04 16:56] #2612 closed, assigned to alexandru-m-g

[2015-11-04 18:14] alexandru-m-g commented on #3771
@danmihaila I have committed a fix for this but this part actually needs to be rewritten.

We need to change the shortening process because right now there are a few race conditions. Best to be included in the next sprint.

[2015-11-04 18:44] #3771 closed, assigned to alexandru-m-g

[2015-11-04 19:30] teodorescuserban commented on #2612
@alexandru-m-g the resource table has a size column...
but indeed, get/set might be a bit complicated.

[2015-11-04 23:42] alexandru-m-g commented on #2612
@teodorescuserban indeed the size column is there and you can populate it via the API. But it's a bit more complex to populate that field when a user uploads a resource via the UI ( from what I've seen this doesn't happen even in CKAN 2.4 )

[2015-11-05 01:27] teodorescuserban commented on #2612
I'm sure you can make a clean nice patch back to the core :)

În Joi, 5 nov. 2015 la 01:42, Alexandru Gartner notifications@github.com
a scris:

[2015-11-05 08:31] danmihaila commented on #3789
i think there were 2 different url checked: https://test-data.hdx.rwlabs.org/organization/members/ocha-bgss and https://test-data.hdx.rwlabs.org/organization/members/ocha-bgss1 :)
ping @cjhendrix  I think we can close this

[2015-11-05 09:18] cjhendrix commented on #3789
D'oh!

[2015-11-05 09:18] #3789 closed, assigned to danmihaila

[2015-11-05 15:00] yumiendo commented on #3555
ok - will respond later today

[2015-11-06 09:24] danmihaila commented on #3719
@aalecs
- [ ] if width and/or height is not present assume some default values to fill the wdith of HDX.

[2015-11-09 08:30] #3719 closed, assigned to aalecs

[2015-11-09 08:30] #3720 closed, assigned to danmihaila

[2015-11-09 08:33] danmihaila opened #3802 "Custom pages: admin section"

[2015-11-09 08:33] danmihaila opened #3803 "Custom pages: pages module"

[2015-11-09 08:34] danmihaila opened #3804 "Custom pages: UI - displaying content"

[2015-11-09 09:59] #3656 closed, assigned to danmihaila

[2015-11-09 11:27] teodorescuserban commented on #3555
UPDATE 1119

[2015-11-09 14:14] #3717 closed, assigned to alexandru-m-g

[2015-11-10 08:19] #3718 closed, assigned to alexandru-m-g

[2015-11-10 09:11] #3757 closed, assigned to danmihaila

[2015-11-10 16:07] takavarasha opened #3812 "Resource download fails due to too many redirects"
A download did not work because of too many redirects (Chrome ERR_TOO_MANY_REDIRECTS)
Notice the http instead of https in the url field in the output from the resource_show api for the resource below. This is an issue on prod.
{
help: "https://data.hdx.rwlabs.org/api/3/action/help_show?name=resource_show",
success: true,
result: {
resource_uploader: "marindi",
cache_last_updated: null,
package_id:

[2015-11-10 16:17] danmihaila commented on #3812
will check it

[2015-11-10 19:34] #3812 closed, assigned to teodorescuserban

[2015-11-11 15:05] alexandru-m-g opened #3815 "organization/wfp shows me logged out even when I'm logged in"
Steps to reproduce ( tried in Firefox - both Linux and Mac ):
1.  Make sure you are logged out of hdx
2.  Go to https://data.hdx.rwlabs.org/organization/wfp
3.  Click on `log in` and enter username and password. You'll see the dashboard and you are logged in.
4.  Then type again in the URL bar: https://data.hdx.rwlabs.org/organization/wfp

[2015-11-11 15:08] alexandru-m-g commented on #3815
@teodorescuserban I was thinking that it might be some server configuration issue so I added the following screenshot. Maybe it's helpful.
![wfp](https://cloud.githubusercontent.com/assets/6586348/11094149/c42e22da-8896-11e5-984e-67926f326109.png)

[2015-11-11 15:18] takavarasha commented on #3812
We had another occurance of this issue today, affecting another dataset and was resolved by re-uploading the file. https://data.hdx.rwlabs.org/dataset/mrt-settlements

[2015-11-11 15:23] danmihaila commented on #3812
Now it is working. as I said, but probably we need more tests, the file
might have a lock (it can not be used) until it is fully uploaded &
unlocked by gis worker/bot

_Dan Mihaila_, IT Consultant
(M) +40 722 502 304 • (GTalk) dan.mihaila@gmail.com • (Skype) carcotelul
• (Twitter) dan_mihaila • (Yahoo) carcotelul
  dmihaila@dginternational.org

On Wed, Nov 11, 2015 at 5:18 PM, Godfrey Takavarasha

[2015-11-11 15:28] takavarasha commented on #3812
Thanks. I will ask user not to fix if it happens again but just to make the
dataset private so you guys can have a look.

On Wed, Nov 11, 2015 at 10:23 AM, danmihaila notifications@github.com
wrote:

[2015-11-11 15:30] danmihaila commented on #3812
excellent, thanks

_Dan Mihaila_, IT Consultant
(M) +40 722 502 304 • (GTalk) dan.mihaila@gmail.com • (Skype) carcotelul
• (Twitter) dan_mihaila • (Yahoo) carcotelul
  dmihaila@dginternational.org

On Wed, Nov 11, 2015 at 5:28 PM, Godfrey Takavarasha <
notifications@github.com> wrote:

[2015-11-11 15:32] teodorescuserban commented on #3815
I am having hard time to find out when and what was the ticket number, but there is a specific caching configuration for `/organization/wfp` and `/group/nepal-earthquake` that cache the pages at nginx level for 5 minutes.
You can also check out your nginx docker in `/etc/nginx/includes/ckan-cache-adjust.conf`

[2015-11-11 15:48] teodorescuserban commented on #3815
@alexandru-m-g, @danmihaila we can change it, tune it etc. :)
just let me know.

[2015-11-12 09:13] teodorescuserban commented on #3815
I will decrease the caching time to 1 minute, as per @danmihaila recommendation.

[2015-11-12 09:13] #3815 closed, assigned to nobody

[2015-11-12 09:15] danmihaila opened #3816 "Email missing at from field"
When sending email from HDX, put an address at from right now it is HDX <None>

[2015-11-12 10:38] danmihaila opened #3817 "Locations breadcrumb missing"
<img width="421" alt="screen shot 2015-11-11 at 1 52 04 pm" src="https://cloud.githubusercontent.com/assets/3865844/11116278/40f6e3bc-893a-11e5-9778-995ca4366bca.png">

[2015-11-12 17:57] alexandru-m-g commented on #3803
@teodorescuserban @danmihaila
There will be a new table for custom pages that can be created like this:
`paster hdx_pages initdb -c /srv/prod.ini` from within the hdx_pages folder/extension

[2015-11-12 18:30] teodorescuserban commented on #3803
Ok.

Joi, 12 nov. 2015, 19:57, Alexandru Gartner notifications@github.com a
scris:

[2015-11-13 10:01] danmihaila commented on #3816
closed with Serban adding a field in prod.ini

[2015-11-13 10:01] #3816 closed, assigned to danmihaila

[2015-11-16 14:29] #3817 closed, assigned to alexandru-m-g

[2015-11-16 14:31] #3803 closed, assigned to alexandru-m-g

[2015-11-16 14:31] #3763 closed, assigned to alexandru-m-g

[2015-11-16 15:14] cjhendrix opened #3824 "Recover password input is case sensitive"
We probably don't want it to be case sensitive, at least for emails.

[2015-11-17 11:50] cjhendrix opened #3825 "Link to website previews as HTML text"
In this dataset, the link is to a web page.  Preview is enabled and the displays the raw html.  Desired behavior would be to disable preview.

https://data.hdx.rwlabs.org/dataset/crs-history-in-nepal

[2015-11-17 11:56] cjhendrix opened #3826 "1 download = popular"
I **think** popularity is determined by views, but the popup is displaying the number of downloads, which can lead to odd things like this:

![image](https://cloud.githubusercontent.com/assets/1654485/11210722/714a3660-8d2a-11e5-82aa-eaf228d86978.png)

I suggest we make the popup display the count of whatever is used to determine popularity.  Downloads is probably a better measure, in my opinion.

[2015-11-17 12:55] cjhendrix opened #3827 "Dataset View: Spacing different between custom and non custom orgs"
This is on stag, but I think it's the same on prod.  Ignore the missing org icon, that's just a stag thing.

![image](https://cloud.githubusercontent.com/assets/1654485/11211842/9d95ad78-8d32-11e5-92ae-d9119b05fdce.png)

![image](https://cloud.githubusercontent.com/assets/1654485/11211861/c5ec6172-8d32-11e5-8bdb-a42d86b68859.png)

Tagging @yumiendo

[2015-11-18 13:14] danmihaila opened #3828 "Onboardinge: click 2 times on validation link shows an ugly error"

[2015-11-18 16:32] danmihaila opened #3829 "Custom org: default background should be green and not the blue "wfp""

[2015-11-18 18:22] takavarasha opened #3830 "Custom org: upload of organisation logo not working on production"
The logo upload for custom org logos is not working on production.
No error message is generated.
After the upload, image_rect and image_sq fields in the organization's customization extra are blank. We would expect to see a value like timestamp+image_file_name in those fields.

{value: "{"use_org_color": "true", "image_rect": "", "image_sq": "", "topline_resource": "", "highlight_color": "#ff6600

[2015-11-19 09:57] danmihaila commented on #3830
@takavarasha this is done by @alexandru-m-g . Will be pushed as hotfix on prod today I hope

[2015-11-19 09:57] #3830 closed, assigned to alexandru-m-g

[2015-11-20 13:23] #3827 closed, assigned to nobody

[2015-11-20 16:54] davidmegginson commented on #2804
We can handle freshness with a separate monitoring system that works like this:

![Update sequence diagram](http://www.websequencediagrams.com/cgi-bin/cdraw?lz=cGFydGljaXBhbnQgIkV4dGVybmFsIHNpdGVzIiBhcyBTb3VyY2VzCgAbDU1vbml0b3Jpbmcgc3lzdGVtACYFAAwKACAOSERYIEFQSQBKBUhEWAoKbG9vcCBmb3IgZWFjaCBkYXRhc2V0CiAANgstPkhEWDogcmVxdWVzdAAYC2FjdGl2YXRlAGEMAAsLSERYCiAgSERYLT4AgRoKOiBkb3dubG9hZABkCCByZWNvcmQKICBk

[2015-11-20 17:06] davidmegginson commented on #2804
@brew mentions the CKAN [deadoralive](https://github.com/ckan/ckanext-deadoralive) extension as another possible model to follow.

[2015-11-23 08:28] danmihaila commented on #3802
first part is done, it is needed a redesign according to mockup. I will create another issue to assign to @aalecs

[2015-11-23 08:28] #3802 closed, assigned to danmihaila

[2015-11-23 08:30] danmihaila opened #3838 "Custom pages: admin setion - redesign according to mockups"
@aalecs pls check screenshot below & use branch feature/custom-pages
![custom_page](https://cloud.githubusercontent.com/assets/3865844/11332284/225d64f8-91cd-11e5-962a-19d55b85b56c.png)

[2015-11-23 08:35] danmihaila commented on #3804
@alexandru-m-g I am closing this one. For other tweaks we can open another issue for sprint 72.

[2015-11-23 08:35] #3804 closed, assigned to alexandru-m-g

[2015-11-23 08:44] danmihaila opened #3839 "Popular/downloads/views - align the terminology and dispay consistent results"
related to #3826 and #3684
![2](https://cloud.githubusercontent.com/assets/3865844/11332561/5db6648a-91cf-11e5-8997-a50590b3b580.gif)
![1](https://cloud.githubusercontent.com/assets/3865844/11332562/5db74e72-91cf-11e5-8910-22cb95401be3.gif)

[2015-11-23 08:44] brew commented on #3824
The local part of an email address _can_ be case sensitive [1], though many email providers and services choose not to allow it.

CKAN (and HDX-CKAN) however, does allow case sensitivity in emails when registering. So, MyEmail@example.com and myemail@example.com can both be registered as different accounts.

Has there been a problem for users with the password recovery form?

If we were to do some

[2015-11-23 09:07] cjhendrix commented on #3824
It's only happened once as far as I know, and the user (me) figured it out immediately.  So I don't think it's a big problem.

I only raised it as an issue because it seemed unusual for an email to be case sensitive. But now that you've educated me on that one, I guess we should keep to the standard and retain case-sensitivity on the local part.

I'll close, but we can reopen if someone disagrees.

[2015-11-23 09:17] danmihaila commented on #3824
lets reopen it, I just had a call with Brook and he will fix it.

[2015-11-23 09:22] brew commented on #3824
I think I understand now...

Because email is being used as a unique identifier, we need to ensure email is unique in a case insensitive way through-out the application. So I need to check new user registration, edit user profile, current user values, and also user input for login and password recovery. All of these should be transformed to lowercase.

[2015-11-23 11:44] reubano commented on #2804
Took a quick look at the deadoralive source and, despite what it says, it looks pretty [synchronus](https://github.com/ckan/deadoralive/blob/master/deadoralive/deadoralive.py#L193). Could be an issue at some point.

[2015-11-23 14:47] davidmegginson commented on #2804
Thanks for checking that, @reubano — I've seen similar things in Drupal, etc, so I can imagine how it's set up.

In any case, as a basic architectural principal, we should never turn down a chance for horizontal scaling when the cost is this low; there's no reason to run these housekeeping batch tasks inside the main CKAN process, since they're not part of the interactive user experience, while th

[2015-11-23 15:04] reubano commented on #2804
@davidmegginson agreed. deadoralive is def better than the current situation. A few options for future consideration are [uptime](https://github.com/fzaninotto/uptime) or, if it must be python, [twisted](http://as.ynchrono.us/2006/05/limiting-parallelism_22.html)/[tornado](http://stackoverflow.com/a/25549675/408556)/[grequests](https://github.com/kennethreitz/grequests).

[2015-11-23 16:38] cjhendrix opened #3842 "Zoom issue with filters"
This is on production in Chrome, Win8, zoom 125%

![image](https://cloud.githubusercontent.com/assets/1654485/11342716/0ab1a396-9209-11e5-99cf-31aca897f535.png)

[2015-11-23 17:08] cjhendrix opened #3843 "Change /cod to use the filter checkbox instead of tag"
The /cod redirect currently filters by tag, but it might be help educate users to have it use the checkbox instead.

[2015-11-24 03:21] takavarasha opened #3844 "dataset-update_frequency deleted when datasets are updated on the CKAN UI"
The dataset_update_frequency field is deleted from datasets when the dataset updated using the CKAN ui

[2015-11-24 09:12] danmihaila opened #3845 "Onboarding: list of emails rejected by server email or other problems"

[2015-11-24 09:19] danmihaila opened #3846 "HDX views: create the hdx "Key Figures" view"
Displays 1 row with 4 cells or 2 rows with 8 cells.
Same style as
https://data.hdx.rwlabs.org/organization/wfp
or
https://data.hdx.rwlabs.org/group/nepal-earthquake

[2015-11-24 09:43] teodorescuserban commented on #3845
email sent.

[2015-11-24 09:43] #3845 closed, assigned to teodorescuserban

[2015-11-24 09:50] danmihaila opened #3847 "INFORM visualization"
integrate INFORM visualization and deploy it on staging and production.
it should be in our git hub ocha-dap repository and have a url initially on stag: test-data.hdx.rwlabs.org/visualization/inform and on prod
data.hdx.rwlabs.org/visualization/inform
ping @teodorescuserban , as he will work on server side

[2015-11-24 10:37] cjhendrix opened #3848 "Dataset Lists: Styling problem on filter drop downs"
I would swear we have an issue for this already, but I couldn't find it.

![image](https://cloud.githubusercontent.com/assets/1654485/11364290/bd07cf84-929f-11e5-9d91-03f0fd9d1efd.png)

[2015-11-24 10:39] danmihaila commented on #3848
yes, and it was fixed at a moment. we tested with locations and organizations. it was on windows only I think or non-mac systems

[2015-11-24 12:44] danmihaila opened #3851 "Resource preview: xlsx"
We don't display the "Preview"  button for xlsx file even if we support it
https://test-data.hdx.rwlabs.org/dataset/08d20b40-ab6d-4b9f-a5a8-a1ebbe061567
https://test-data.hdx.rwlabs.org/dataset/emergency-interventions-funded-using-the-emergency-envelope/resource/acc98edd-daed-4a8d-a136-6d62f8880e84

Low priority for sprint 73 if is it time

[2015-11-24 12:59] alexandru-m-g opened #3852 "Create a functional base test class based on HdxBaseTest"
This will automatically load all the HDX plugins so that new tests won't need to override the _load_plugins() function.

This will still allow the flexibility for each test class to only inherit from HdxBaseTest and still only load the plugins it needs.

**Note** Extensions that we plan to make available for the public should NOT create tests based on this new functional base test class

[2015-11-24 13:12] danmihaila commented on #3852
@brew this is low priority issue. Please try to finish the other assigned issues before starting this one

[2015-11-25 11:43] danmihaila opened #3855 "HDX views: create the hdx "Map" view"
For the moment lets implement the Nepal earthquake chloropleth style

[2015-11-25 12:20] cjhendrix opened #3856 "Geopreview: improve handling of non UTF-8 encodings"
For Arabic characters, shapefiles with UTF-8 specified in the .cpg file, we get correct arabic characters in leaflet (confirmed with an arabic speaker):
https://data.hdx.rwlabs.org/dataset/jordan-admin-level-1-boundaries
![image](https://cloud.githubusercontent.com/assets/1654485/11396795/a2b56102-9374-11e5-9a77-d9fa5c73a63b.png)
However, for the other popular Arabic encoding (ISO 8859-6 or simply

[2015-11-25 12:55] #3824 closed, assigned to brew

[2015-11-25 14:54] teodorescuserban commented on #3843
I need the exact url to redirect to.

[2015-11-25 14:58] danmihaila commented on #3843
@cjhendrix pls correct me if I am wrong but link should be
https://data.hdx.rwlabs.org/search?q=&ext_cod=1

[2015-11-25 15:03] cjhendrix commented on #3843
Yes, that's it.  However with that link the filter panel isn't open.  Could we have that open as well?  I think that's what @yumiendo would want since that is the current behavior.

[2015-11-25 15:11] yumiendo commented on #3843
agree with CJ -
the link you pasted https://data.hdx.rwlabs.org/search?q=&ext_cod=1 is technically a filtered view - so can we expose the filters with COD checkbox checked?

[2015-11-25 15:14] danmihaila commented on #3843
no, because it will be 2 search boxes displayed :)

[2015-11-26 10:53] amcguire62 commented on #3824
Once we decide on how we fix this - can we also incl some "on hover" text to support the user by explaining what we are doing here.

[2015-11-26 10:58] danmihaila commented on #3824
yes, basically the any uppercase letter is transformed into lowercase as any email address is working in other live systems.
@yumiendo where can we add such an explanation ?

[2015-11-26 11:09] brew commented on #3824
Do we need an explanation? We're handling the transformation and are not expecting the user to do anything.

[2015-11-26 11:26] #3826 closed, assigned to brew

[2015-11-27 08:30] danmihaila commented on #3848
this will have to be tested in a non MacoS env

[2015-11-27 08:52] #3768 closed, assigned to brew

[2015-11-27 08:52] #3782 closed, assigned to brew

[2015-11-27 08:52] #3852 closed, assigned to brew

[2015-11-27 10:26] brew commented on #3839
Fixed in #3872.

[2015-11-27 10:26] #3839 closed, assigned to brew

[2015-11-27 12:01] danmihaila opened #3878 "Custom pages: improvements"
This issue is created to keep track of the needed improvements:
- list of crisis/dashboard pages
- menu item with pages
- follow page
- share page

[2015-11-29 09:03] #3848 closed, assigned to cjhendrix

[2015-11-30 08:33] danmihaila commented on #3764
this is done, closing it

[2015-11-30 08:33] #3764 closed, assigned to aalecs

[2015-11-30 08:34] danmihaila commented on #3756
@teodorescuserban can you please update the status of this issue? we should have a call when this is complete to check the improvements.

[2015-11-30 08:35] #3842 closed, assigned to cjhendrix

[2015-11-30 13:44] danmihaila opened #3884 "New Contribute Flow: Load form and display it in a modal"
form should load dynamically when “Add Data” is clicked

[2015-11-30 13:45] #3847 closed, assigned to aalecs

[2015-11-30 13:45] danmihaila opened #3885 "New Contribute Flow: Build the body of the form"
Build the body of the  form (with fields like name, description) with just a simple placeholder for files
- create and adapt styles from custom pages
- build the the whole page as new template with only a placeholder for uploaded/uploading files
- choice “private/public” will change the mandatory fields dynamically based on 2 schemas (Data team will decide what are the mandatory fields in each cas

[2015-11-30 13:46] danmihaila opened #3886 "New Contribute Flow: Build the “Your Files” section with support only for “Browse”"
Build the “Your Files” section with support only for “Browse” (ajax uploader)
- [ ] add new files
  - click on Browse will allow user to select multiple files
  - an ajax uploader will start after user selected the files
- [ ] edit/update existing files
  - allow user to edit/update an existing file

[2015-11-30 13:48] danmihaila opened #3887 "New Contribute Flow: Create new fresh controller to support the new contribute flow"
- [x] Should generate name and other private mandatory fields in case they are missing
- [ ] resource_create / resource_update AJAX response

[2015-11-30 13:49] danmihaila opened #3888 "New Contribute Flow: Validating fields (backend)"
Validating fields (ckan) - 2 validation schemas
- For private datasets
- For public datasets

[2015-11-30 13:50] danmihaila opened #3889 "New Contribute Flow: Google Drive/Dropbox/API-URL"
- [x] research how to use Google Drive as selecting file tool
- [x] research how to use Dropbox as selecting file tool
- [x] implement Google Drive to select a file
- [x] implement Dropbox to select a file
- [x] implement API/URL feature - allow user to add an API/URL as resource (Yumi’s input still needed)

Things to investigate:
- check multiple selection for files
- how to add a link to the fil

[2015-11-30 13:50] #3829 closed, assigned to aalecs

[2015-11-30 18:42] yumiendo commented on #3843
spoke with sarah briefly -

(proposed fix)
when user goes to /cod
- change COD tag to checkbox (checked)
- with filter exposed (so users are aware its filtered view, sarah is ok with 2 search bars exposed)

(in the future - not top priority but in the list of future development)
- we might do a special page for /cod that includes interactive map/key figures.

@amcguire62 including aidan so he is i

[2015-12-01 14:35] danmihaila opened #3891 "Custom pages: tweaks"
- [x] page show not working for guest
- [x] chart popup not working
- [x] crises menu not working
- [ ] when adding a new section, fields should be hidden [Dan]

[2015-12-02 08:46] danmihaila commented on #3787
moving this one to next sprint (low priority)

[2015-12-02 08:47] danmihaila commented on #3838
this is done, closing it

[2015-12-02 08:47] #3838 closed, assigned to aalecs

[2015-12-02 08:47] danmihaila commented on #3851
moving this one to sprint candidates, not a priority right now

[2015-12-02 08:47] teodorescuserban commented on #3756
in testing. will notify you when all good.

[2015-12-02 08:48] danmihaila commented on #3846
done

[2015-12-02 08:48] #3846 closed, assigned to alexandru-m-g

[2015-12-02 08:48] danmihaila commented on #3855
done

[2015-12-02 08:48] #3855 closed, assigned to alexandru-m-g

[2015-12-02 09:01] danmihaila commented on #3782
This one is fixed, but I think we have a problem when there are too many locations and I will open a new issue about it. this is ok.

[2015-12-02 09:01] danmihaila opened #3892 "Dataset Create: styling issue with many locations"
@yumiendo pls advice on this one. pinging also @cjhendrix
![screen shot 2015-12-02 at 11 00 23](https://cloud.githubusercontent.com/assets/3865844/11526582/131bdc90-98e4-11e5-8514-fff92fad4fe7.png)

[2015-12-02 09:14] danmihaila commented on #3842
@cjhendrix can you please test this on staging and mark it with TestedSTAG ? From my computer looks good, but I wanted to double check with you.

[2015-12-02 09:15] danmihaila commented on #3848
@cjhendrix can you please test this as well . for me is ok

[2015-12-02 09:29] cjhendrix opened #3893 "Organization Search: organizations not found"
On demo, these 4 organizations exist:
- Demo - Cluster A
- Demo - Cluster B
- Demo - Cluster C
- Demo - Cluster D

However, in the organization search bar on /organization,  searching for them by name doesn't find them.  Searching "demo"  or "cluster" works, but searching "demo cluster a" or "demo - cluster a" does not.

Searching for other multi-word orgs like "ocha dr congo" for example, works.

[2015-12-02 09:32] danmihaila commented on #3893
Did you check if they show in filters?

[2015-12-02 09:45] cjhendrix commented on #3893
They are all there, but some of them disappear as you type more: A and D disappear

![image](https://cloud.githubusercontent.com/assets/1654485/11527508/1e378e98-98ea-11e5-8040-af1a96ad12fe.png)

[2015-12-02 09:45] cjhendrix commented on #3848
Working for me.

[2015-12-02 09:47] cjhendrix commented on #3842
working!

[2015-12-02 10:09] cjhendrix commented on #2378
This one is still happening.  I saw it several times yesterday when running the demos.  This could be a big problem when setting up a new group for a new crisis.  I've added it to sprint candidates so we can consider working on it again.

[2015-12-02 16:56] takavarasha opened #3897 "Allow manual upload of thumbnails for featured orgs"
Allow admins to manually upload the thumbnail for a featured org. The reason being that sometimes the initial state of a visualisation as automatically captured by the system might not adequately show the capabilities of the visualisation being featured.

[2015-12-02 20:17] alexandru-m-g opened #3898 "Changes to spacing on homepage and organization list"
Per requirements from @yumiendo the following 2 changes should be done:
-  [x] search box on the homepage should be 265px instead of 246px ( `.form-search .input-append .searchInput` )
- [x] org list view top margin 15px instead of 40px

[2015-12-03 10:17] #3898 closed, assigned to nobody

[2015-12-04 12:28] amcguire62 opened #3900 "WFP colour layout"
Identified by Simon noticed that the colours and width on the WFP datavis appear to have changed
"[04/12/2015 11:16:05] Simon Johnson: I’ve noticed the style has changed slightly on the WFP viz.  Is this deliberate or an accidental overflow of styles applied elsewhere?https://data.hdx.rwlabs.org/organization/wfp
[04/12/2015 11:16:20] Simon Johnson: if you click a country the modal header is now bl

[2015-12-07 09:09] danmihaila commented on #3900
I will work on this one this sprint.

[2015-12-07 12:52] cjhendrix opened #3902 "Consider moving the dataset_date property to the resource level"
Dataset date:  applies to whole dataset, but what if using different resources for each release of a dataset? Maybe have dataset date on resources and show latest of those for the overall dataset?  However, this is an additional complication in the interface to be sure.

[2015-12-07 13:09] cjhendrix opened #3903 "Dataset Create/Edit: Provide more guidance/functionality to users for managing changes to dataset title"
During the exercise at the IMPACT training in Cape Town, I saw people creating titles like “People in Need - May 2014”, which means that the date later has to be edited out of the title and URL (as when adding an update to the dataset).  Most did not do this, resulting in a confusing URL, and if they did edit the URL, it would break any links.  We could link to guidance that discusses what makes a

[2015-12-07 13:15] cjhendrix opened #3904 "Search results/Dataset view: Make locations more prominent so users don't need to add it to the title"
Few participants in the IMPACT training included the location in their dataset title. We probably need to automate showing of location (group) on search results and promote it more in the dataset view.  This will have the advantage of not asking them for the location info twice.

[2015-12-07 13:16] cjhendrix commented on #3904
I think it may make sense to do this either with the new contribute flow or soon thereafter, so I'm putting it in sprint candidates.

[2015-12-07 13:21] cjhendrix opened #3905 "Dataset Edit: confusion between "edit" and "update" buttons"
It’s difficult to find how to add an additional resource.  Everyone went to the update button on the first resource which led them to overwrite the existing resource rather than add a new one.   Many didn’t think the “edit” button was part of the dataset, but part of something “higher” in the hierarchy.  Even once on the edit page, it’s not obvious to go to the resources tab to add a resource.

Th

[2015-12-07 13:25] cjhendrix opened #3906 "Dataset View: Make COD status more clear on the dataset view page"
One participant asked if we could add an icon or something similar to make it clear that a dataset was a COD.  Such an icon could be part of making the COD status a flag (as opposed to a tag) and could be displayed on search results and dataset view (along with the other icons).

[2015-12-07 13:26] cjhendrix commented on #3905
I'm adding this to sprint candidates since it may make sense to consider it along with the contribute/edit flow work that is ongoing.

[2015-12-07 13:39] cjhendrix commented on #3679
This did come up at the IMPACT training in Cape Town.  Here are my notes about it:

When adding a member to an organization, a few users tried the emails first.  However this field doesn’t search for emails, only display name and user name.   Because they were logging in with email, email seemed the natural thing to search for them.  Most were able to solve this on their own by searching for the p

[2015-12-07 13:42] cjhendrix opened #3907 "Adding members to an org"
Almost everyone struggled with where to add a member to an org. They get to the org page, but the blue “X members” link  is not interpreted as a link.

[2015-12-07 13:54] cjhendrix opened #3908 "Difficult to find an organization"
When looking for an organization, participants in the IMPACT training in Cape Town often didn’t scroll down to find the organization search bar (below the featured organizations). When searching from the main nav, they sometimes didn’t see the organization suggestion above the dataset list.

[2015-12-07 14:01] cjhendrix opened #3909 "Search Results: make private datasets visible in search to those who are authorized"
I know we have looked into this before and it looked like it would be difficult to do, but based on the IMPACT training in Cape Town, people are consistently searching for private datasets in the main nav or on /dataset.

**Some options**
1. see if we can show private datasets in search results (as I said, I believe we know that this is quite hard, or at least expensive in terms of performance)
2.

[2015-12-07 14:22] cjhendrix opened #3910 "Our page size is too big for many laptops"
At the IMPACT training in Cape Town, over and over, I saw users panning left and right to use the site.  In addition to slowing them down, I think it also leaves them feeling a little lost in the workflow. It was surprising how few knew about zooming in the browser.  If we can deploy adaptive layout for mobile, it would also address this issue.

[2015-12-07 14:30] takavarasha opened #3911 "Invalid geometry causes dataset with geopreview fail to display"
The following dataset page is crashing due to incorrect geometry on geopreview: Is it possible to make the geopreview fail gracefully. https://data.hdx.rwlabs.org/dataset/jordan-settlements

[2015-12-07 14:31] cjhendrix opened #3912 "Resource preview: allow expressions in grid filters"
A participant in the IMPACT training in Cape Town wanted to use the grid preview filter function with expressions like “>100”, but it only does exact matching.

[2015-12-07 14:55] yumiendo commented on #3902
Hi cj - was this an ask from our users?

[2015-12-07 15:07] cjhendrix commented on #3902
It was a discussion that came up a couple of times during the exercise when they were adding an update to the dataset.

[2015-12-09 10:01] danmihaila opened #3913 "Prod bug: INFORM thumbnail header title is wrong"
![pasted image at 2015_12_08 05_10 pm](https://cloud.githubusercontent.com/assets/3865844/11682310/95e15712-9e6c-11e5-8e52-f6cad77a38dc.png)

[2015-12-09 10:50] #3913 closed, assigned to danmihaila

[2015-12-09 12:26] danmihaila opened #3916 "HDX views: "Map" view - tweaks"
1. threshold not working
2. district label
3. zoom level has to fix the map

[2015-12-09 12:28] danmihaila opened #3917 "HDX views: "Map" view: improvements (proposal)"
1. Add a separator between resources
2. Add dynamic columns chooser to be displayed on hover
3. Add multiple resources as layers
4. Add a zoom level
5. Customizing colors for map vs layers ?

[2015-12-10 09:51] danmihaila commented on #3916
added item 3

[2015-12-10 09:52] danmihaila opened #3918 "Custom pages: Map section"
If map is the first section the style has to be similar to Nepal and Colombia:
a thin layer with name of page and buttons [Share] [Follow*] [Edit]
*Follow is not going to be implemented yet as it requires more changes in db and model
ping @alexandru-m-g too

[2015-12-11 15:01] cjhendrix commented on #741
A user requested this to cj by skype in Dec 2015 (see feedback email)

[2015-12-14 21:25] teodorescuserban commented on #3756
On staging (test stack) you can test against the following files:

[code]

The expire is set to 7 minutes (just to make it strange enough).
One you test it and confirm all green, I will change the duration as specified in this ticket and commit to a new nginx image.

Tag @danmihaila

[2015-12-15 10:55] danmihaila opened #3921 "Custom pages: change url"
url requested by @yumiendo
/crisis/my_page
/dashboard/my_page
The other url will be:
/page/new
/page/edit/my_page

[2015-12-15 10:56] #3921 closed, assigned to danmihaila

[2015-12-15 14:09] cjhendrix opened #3924 "User agent not working on demo"
User agent is working fine on staging, but not on demo.  This is a placeholder issue for Serban so we can carve out some time to troubleshoot it.

[2015-12-16 09:19] danmihaila opened #3926 "Prod deploy with new caching system"

[2015-12-16 09:20] danmihaila commented on #3756
this is done and will be deployed to prod

[2015-12-16 09:20] #3756 closed, assigned to teodorescuserban

[2015-12-16 09:22] alexandru-m-g commented on #3887
This is done.
We decided to use the action api for dealing with resources

[2015-12-16 09:22] #3887 closed, assigned to alexandru-m-g

[2015-12-16 09:23] #3885 closed, assigned to aalecs

[2015-12-16 09:23] #3884 closed, assigned to aalecs

[2015-12-16 09:29] alexandru-m-g commented on #3916
This is related to #3918

[2015-12-16 09:31] alexandru-m-g commented on #3916
These were done in #3918

[2015-12-16 09:31] #3916 closed, assigned to alexandru-m-g

[2015-12-16 10:50] danmihaila commented on #3900
assigned to @aalecs

[2015-12-16 10:52] danmihaila opened #3927 "New Contribute Flow: Browse link"
Browse field link with blue browse link, and to be hidden. When file is chosen, file will automatically upload

[2015-12-16 10:53] danmihaila opened #3928 "New Contribute Flow: Loading images & icons"
Show animated loading image during upload & icons for file type

[2015-12-16 10:54] danmihaila opened #3929 "New Contribute Flow: radio buttons"
The radio buttons should be connected with functionality:
radio button choices + dropbox/google drive images

[2015-12-16 10:56] danmihaila opened #3930 "New Contribute Flow: Reorder the resources and Drag&Drop [Research]"
Research about how to reorder resources, drag&drop. If it is easy lets implement it, if not lets write down the result of the research and we will implement in the next sprint
In default CKAN the reordering is enabled and is working well. Maybe this should be a starting point.

[2015-12-16 10:57] danmihaila opened #3931 "New Contribute Flow: validate the labels&text of the form"
Check all form labels for mistakes and update the full text on left column

[2015-12-16 10:57] danmihaila opened #3932 "New Contribute Flow: mandatory fields"
Mark mandatory fields with red star for “private” and for “public” & check validation for mandatory fields

[2015-12-16 10:58] danmihaila opened #3933 "New Contribute Flow: Frequency field"
Update “frequency” field with values: 0, 1, 7, 14, 30, 90, 180, 365

[2015-12-16 10:58] danmihaila opened #3934 "New Contribute Flow: read about licenses"
Add link for “read about licenses” on right column

[2015-12-16 10:59] danmihaila opened #3935 "New Contribute Flow: Delete this entry button"
Implement "Delete this entry" button

[2015-12-16 11:00] danmihaila opened #3936 "New Contribute Flow: saving dataset flow"
After saving a dataset - redirect to the next screen (dataset view) and close the modal.
In the next iteration we will add also the review screen.

[2015-12-16 11:00] danmihaila opened #3937 "New Contribute Flow: final validation of saved fields/values"
Final check for saving new/ edit/update/ delete dataset - check every field

[2015-12-16 14:38] #3900 closed, assigned to aalecs

[2015-12-18 15:47] takavarasha opened #3944 "Edits of custom org pages Org admins undo custom org settings"
An edit of a custom org page by an org admin will undo the custom org settings of the org. The following steps will reproduce this issue
1. Login as a sys admin and configure a custom org page for a chosen organisation
2. Add an ordinary user account (that you have the password for) as an admin of the chosen organisation
3. Open a new incognito window and log into HDX using the ordinary user accou

[2015-12-18 16:19] danmihaila opened #3945 "4W Visualization: axis not rendered"

[2015-12-21 10:39] danmihaila opened #3947 "Home page: add EL Nino instead of Nepal Earthquake"

[2015-12-21 10:42] danmihaila opened #3948 "Request membershipt email"
change the content of the email according to this template:
https://docs.google.com/document/d/1uLHm8R-c0rRDORaxBJkF4xZjGGBdpdP3wWVwef2sK-k/edit

[2015-12-21 11:47] #3947 closed, assigned to danmihaila

[2015-12-21 11:49] danmihaila opened #3951 "Confusion for new custom page url"
/dashboard/datasets vs /dashboard/el-nino
Custom pages will have a new url: /analytics/el-nino

[2015-12-21 11:49] danmihaila commented on #3951
closed by https://github.com/OCHA-DAP/hdx-ckan/commit/5a4afd7b00b696fb1109d0c3cebd7553de545c54

[2015-12-21 11:49] #3951 closed, assigned to danmihaila

[2015-12-21 12:01] danmihaila opened #3952 "Request membership button doesn't appear for regular organizations"

[2015-12-21 12:48] #3952 closed, assigned to danmihaila

[2015-12-21 14:54] cjhendrix opened #3958 "Research COD permissions"
As agreed with ST in discussions recently, we will add an icon to indicate if a dataset is a COD.  Currently CODs are identified with a tag, but in the long term we would like it to be a flag that can only be set by editors/admins of certain organizations.  This research task is to evaluate how difficult it will be to manage that new permissioning.

Put simply, how hard would it be to have a flag

[2015-12-21 14:54] cjhendrix commented on #3958
This is based on a discussion with Yumi today as follow up to our discussion with Sarah last week.

[2015-12-21 15:50] alexandru-m-g commented on #3936
Changes to the dataset saving process:

After discussing with @yumiendo the following changes should be done to the process of saving changes to a dataset:
-  Generally, there shouldn't be any changes persisted until the user clicks on the submit button at the bottom of the page
-  More precisely:
  -  new files that are added to a dataset ( via drag&drop or via the browse button ) **should NOT be

[2015-12-22 11:12] aalecs commented on #3931
@danmihaila while working on this I found a set of missing items, mostly texts. I made a list in the format "section - item - reason":
- Dataset title & description -  "Dataset's quality has been confirmed" - tooltip missing
- Metadata - section description missing
- Metadata - Maintainer - placeholder missing
- Metadata - Location - placeholder missing
- Metadata - License - placeholder missing
-

[2015-12-22 15:56] danmihaila opened #3959 "HDX 3w visualization broken after 4w changes"
fixed with @aalecs help

[2015-12-23 10:39] danmihaila commented on #3926
@teodorescuserban I think we can close this one. pls reopen if it is not ok

[2015-12-23 10:39] #3926 closed, assigned to teodorescuserban

[2015-12-23 10:39] danmihaila commented on #3945
fixed

[2015-12-23 10:39] #3945 closed, assigned to aalecs

[2015-12-23 10:40] danmihaila commented on #3959
this is fixed

[2015-12-23 10:40] #3959 closed, assigned to danmihaila

[2015-12-29 09:56] aalecs commented on #3927
Fixed, without the automatic upload as per final requests

[2015-12-29 09:56] #3927 closed, assigned to aalecs

[2015-12-29 09:58] #3931 closed, assigned to aalecs

[2015-12-29 10:30] #3929 closed, assigned to aalecs

[2016-01-04 12:17] #3948 closed, assigned to danmihaila

[2016-01-04 12:56] cjhendrix opened #3966 "We should write a better markdown help page"
The default ckan link for explaining markdown has way more detail than needed just to help someone fill out a text field on HDX.  We could easily write a page with simple examples up top and more complex ones below, while still linking to the original markdown page for someone who wants all the details.

Current markdown explainer:
http://daringfireball.net/projects/markdown/syntax

[2016-01-04 15:05] alexandru-m-g commented on #3936
Still TODO in Sprint 76: validating resource metadata before save.

[2016-01-04 15:06] alexandru-m-g commented on #3932
Was done as part of #3887 and #3884

[2016-01-04 15:06] #3932 closed, assigned to alexandru-m-g

[2016-01-04 15:06] alexandru-m-g commented on #3888
Was done as part of  #3887 and #3884

[2016-01-04 15:06] #3888 closed, assigned to alexandru-m-g

[2016-01-04 15:07] alexandru-m-g commented on #3918
For Sprint 76: add the edit button

[2016-01-05 07:50] danmihaila commented on #3918
this is not a priority for this sprint, moving it to Sprint candidates

[2016-01-05 07:52] danmihaila commented on #3937
this was done and made this document:
https://docs.google.com/document/d/1N2YyCITigtemS69z8OEl2n8ZLYVdgmyPYlL6kX1DA8c/edit#bookmark=id.rh689hc32foz
another validation will have to be done at end of  sprint 76

[2016-01-05 07:52] #3937 closed, assigned to danmihaila

[2016-01-05 07:53] danmihaila commented on #3930
@aalecs i think there is a bug in FF (macos) when dragging: the dragged resource is previewed far in the right side. Maybe it is only a FF issue

[2016-01-05 07:54] danmihaila commented on #3886
this is done, closing it

[2016-01-05 07:54] #3886 closed, assigned to brew

[2016-01-05 07:58] danmihaila opened #3967 "New Contribute Flow: “Quality confirmed” checkbox should only be visible to sysadmins"
“Quality confirmed” checkbox should only be visible to sysadmins.
﻿﻿

[2016-01-05 08:00] danmihaila opened #3968 "New Contribute Flow: Dataset contains sub-national data - has to be default checked"
Dataset contains sub-national data - has to be default checked

[2016-01-05 08:03] danmihaila opened #3969 "New Contribute Flow: "Other" option"
-  License other
- [x] When choosing the other option of license the input field "license_other" should be visible. Otherwise, it will be hidden. Field is in place, javascript is missing
-  Methdology other
- [x] When choosing the other option of methodology the input field "methodology_other" should be visible. Otherwise, it will be hidden. Field is in place, javascript is missing

[2016-01-05 08:06] danmihaila opened #3970 "New Contribute Flow: # Resources"
Currently it is displayed: # Resources (drag and drop to sort)
"#" should be updated and display the total number of resources. When adding a new resource, the number will be updated

[2016-01-05 08:12] danmihaila opened #3971 "New Contribute Flow: “Add more resources” button should be on blue"
Style of button should be blue as in mockups

[2016-01-05 08:13] danmihaila opened #3972 "New Contribute Flow: Resources are not saved"
right now resources are not saved. @alexandru-m-g if @aalecs can not work on this issue during this sprint, please take a look with @brew

[2016-01-05 08:14] danmihaila opened #3973 "New Contribute Flow: update/edit dataset link/button"
update/edit dataset link/button should point to the new contribute flow as we have it for "add data"

[2016-01-05 08:15] danmihaila opened #3974 "New Contribute Flow: Public/private section: “This dataset is” missing red star"
Public/private section: “This dataset is” missing red star

[2016-01-05 08:18] danmihaila opened #3975 "New Contribute Flow: small adjustments of text"
Suggested edits to text (top to bottom as highlighted below):
- add a period to be consistent with other text blocks.  ...“Add more resources”.
- change “your organisation(s).” to “the organisation which owns the dataset.”
- change the first sentence to “When users search for data on HDX, their search terms will be matched to terms in your title.”
- add space before “(“
- add space after “Dec”
  !

[2016-01-05 08:32] danmihaila opened #3976 "New Contribute Flow: Resource name appears twice"
Resource name appears twice (for uploaded file).
For files (as opposed to URLs) the URL should be hidden as in mockup

[2016-01-05 08:35] danmihaila opened #3977 "New Contribute Flow: implement the delete resource"
Click on "delete" thrash icon will remove the resource from UI.
When saving the dataset, we should refresh the resources according to the new list of resources.

[2016-01-05 08:39] danmihaila opened #3978 "New Contribute Flow: closing popup after saving a dataset"

[2016-01-05 08:40] danmihaila opened #3979 "New Contribute Flow: continuous browsing"
continuous browsing ( footer ) design problem on long dataset names  ( on the dataset view page )

[2016-01-05 09:04] alexandru-m-g commented on #3978
This was already fixed

[2016-01-05 09:04] #3978 closed, assigned to alexandru-m-g

[2016-01-05 09:12] brew commented on #3976
For clarity: For uploaded files, the filepath should be hidden, but for URLs the URL is visible.

[2016-01-05 09:21] danmihaila opened #3980 "New Contribute Flow: resource numbering is not working well"
when deleting and reordering the numbers of resources are not updating/refreshing
![screen shot 2016-01-05 at 11 20 22](https://cloud.githubusercontent.com/assets/3865844/12111497/71209d6a-b39e-11e5-87f0-e224d0febcf9.png)

[2016-01-05 09:24] danmihaila commented on #3977
in case @aalecs can not handle this, @alexandru-m-g and @brew should finish this work

[2016-01-05 09:34] danmihaila opened #3981 "New Contribute Flow: Autogenerate name of dataset"
The template of the name should be:
autogenerate_username_xxxxxxxx
xx = 8 digits

[2016-01-05 10:11] cjhendrix opened #3982 "Org membership request emails use org id instead of title"
This is an email from a real org on production.

Links to the org (both work):
http://data.hdx.rwlabs.org/organization/cfc78fd0-4a2c-4338-a68f-49e4635ee335
http://data.hdx.rwlabs.org/organization/rimwg-e

![image](https://cloud.githubusercontent.com/assets/1654485/12112430/cdb1da6e-b39c-11e5-923b-3bf68e8f7e21.png)

[2016-01-05 13:07] #3933 closed, assigned to danmihaila

[2016-01-06 16:00] brew commented on #3889
Some remarks about the Dropbox/Google Drive integration:
- URLs selected with the Dropbox/Google Drive APIs will pre-fill the name field, but only if it's empty. Perhaps for the cloud resources, this should always pre-fill, regardless if it's empty?
- The link to Dropbox items is for the 'preview' page. Direct links expire after 4 hours so aren't appropriate for our use. There's a link from the pr

[2016-01-06 23:54] alexandru-m-g commented on #3889
@brew as you said, the application needs to be registered with Google/Dropbox in order for this to work. Could you explain a bit about how this is setup in HDX and what we should do on developer machines for this to work (like do we each need to create an account for this) ?

Maybe we should give some notice to the user about the fact that he is responsible to make sure that the shared resource is

[2016-01-07 10:17] brew commented on #3889
HDX has apps registered for both Dropbox and Google tied to accounts owned by HDX with each service.

The Google app (_HDX Resource URL Picker_) requires a **Browser API key**, and an **oAuth client ID**. Both credentials are available from the HDX Google account page here: https://console.developers.google.com/apis/credentials. For the app to work from a particular domain, the domain needs to be

[2016-01-07 10:21] brew commented on #3889
As far as I can see, there's no option for the user to make a file public from the Picker/Chooser (they are both very simple interfaces). I also can't see a way to filter the results to only show publicly accessible files.

[2016-01-08 18:17] brew commented on #3970
This is finished. The individually numbered elements will also update when reordered by drag n drop or when an element is removed.

[2016-01-10 20:56] #3969 closed, assigned to alexandru-m-g

[2016-01-10 20:57] alexandru-m-g commented on #3972
This was fixed.

[2016-01-10 20:57] #3972 closed, assigned to alexandru-m-g

[2016-01-10 22:06] #3968 closed, assigned to alexandru-m-g

[2016-01-11 09:05] #3970 closed, assigned to brew

[2016-01-11 09:06] #3975 closed, assigned to brew

[2016-01-11 09:18] brew commented on #3980
Check reordered position numbers are being saved to the server.

[2016-01-11 14:20] #3977 closed, assigned to brew

[2016-01-11 15:42] #3981 closed, assigned to alexandru-m-g

[2016-01-11 15:53] alexandru-m-g commented on #3979
This was because we were autogenerating long dataset titles. It's no longer the case now that we use hyphens instead of underscores

[2016-01-11 15:53] #3979 closed, assigned to alexandru-m-g

[2016-01-11 17:04] #3936 closed, assigned to alexandru-m-g

[2016-01-11 19:34] alexandru-m-g opened #3994 "Problems with the validator on the location ( groups ) field"
It happens when creating a dataset via API.

The field “groups” (a.k.a location) was ill-formatted. It contained the ISO 3-letter code of Vietnam `VNM` as upper-case. For some reason, it passes the validation, but it doesn’t assign the right country. When converting to lower case everything seems to work as expected.
( thanks to @luiscape for the description )

Probably the validation step just ch

[2016-01-12 16:50] alexandru-m-g opened #3996 "New Contribute Flow: Display validation errors under the respective fields for resources"
Just like it happens for the other fields in the dataset form

[2016-01-12 18:18] alexandru-m-g opened #3997 "Disable topline numbers on the ebola page"

[2016-01-12 18:21] #3967 closed, assigned to alexandru-m-g

[2016-01-12 23:49] alexandru-m-g opened #3998 "New Contribute Flow: Bootstrap the load of resources when editing a dataset"
-  [x] put a json with the resource list directly in the page ( Alex )
-  [x] avoid doing another request to package_show() ( Brook )
-  [x] make sure that the _url_ field for each uploaded resource is just the file name and not the entire download url. ( It helps to have correct urls when moving the database to dev servers )

[2016-01-13 15:03] brew commented on #3976
URLs from cloud services shouldn't be hidden when adding them.

[2016-01-13 16:27] #3976 closed, assigned to brew

[2016-01-13 17:26] #3980 closed, assigned to brew

[2016-01-13 17:27] brew commented on #3930
Syncing drag n drop reordering with the server is done as part of #3980 and #3970.

[2016-01-13 17:27] #3930 closed, assigned to brew

[2016-01-14 02:00] #3935 closed, assigned to alexandru-m-g

[2016-01-14 11:04] #3971 closed, assigned to brew

[2016-01-14 15:21] takavarasha commented on #3944
Just to update that this problem leads to a server error on the organizations landing page if the affected organisation is a featured organisation.

@amcguire62 @danmihaila

[2016-01-14 17:28] #3998 closed, assigned to brew

[2016-01-14 23:09] alexandru-m-g commented on #3889
After discussing with @yumiendo  to add more information for the user about how sharing via Google Drive and Dropbox works (related to permissions). There will be a short info on hover and more detailed text on the left side of the resources. The text itself will be provided by Yumi

[2016-01-14 23:36] #3997 closed, assigned to alexandru-m-g

[2016-01-14 23:39] alexandru-m-g opened #4001 "New Contribute Flow: contribute flow form to validate that the dataset has at least 1 resource"
We will validate this only for the UI and not for API generated datasets.

[2016-01-14 23:45] alexandru-m-g opened #4002 "New Contribute Flow: dataset date to allow for date range"
There should be 3 fields on the same row ( just like in the old dataset form ).

[2016-01-15 09:49] danmihaila commented on #3668
this is done, closing it

[2016-01-15 09:49] #3668 closed, assigned to danmihaila

[2016-01-15 10:27] alexandru-m-g opened #4003 "New Contribute Flow: Update frequency list should specify that the number is in days"
From @cjhendrix
Update frequency list could be a bit more human friendly.  At least we should specifiy that it is in days.  At best we could use days/weeks/months as appropriate.
@takavarasha @luiscape can you comment re this issue?
![screen shot 2016-01-20 at 11 17 46](https://cloud.githubusercontent.com/assets/3865844/12444402/7adcbf08-bf67-11e5-8bbb-34dd91be4d96.png)

[2016-01-15 10:29] alexandru-m-g opened #4004 "New Contribute Flow: do not autogenerate title of the dataset anymore"
As we don't save the resources on the fly anymore there we can now let the user choose the title (and hence also the URL ) when creating a new dataset

[2016-01-15 10:49] danmihaila opened #4005 "New Contribute Flow: small tweaks based on Cj's test (dev v0.13.5)"
- [x] After submitting a dataset with visibility = public, “Description” is no longer optional, but it is labeled as “DESCRIPTION (OPTIONAL)_”.  We probably need to change the text when the “public” option is chosen to “DESCRIPTION_”
- [x] remove "TODO author, author_email, maintainer_email as hidden ? "
- [ ]

[2016-01-15 16:30] cjhendrix opened #4006 "Two different (but apparently identical) tags for "geodata""
The UNISDR GAR15 datasets (one for each country) seem to have a geodata tag with a space in front of it:  `geodata` instead of `geodata`.  The space isn't visible in the interface, but shows up as two different tags:
![image](https://cloud.githubusercontent.com/assets/1654485/12358443/88587446-bbad-11e5-84ce-ce96ce35247c.png)

You can see the two different tags here: https://data.hdx.rwlabs.org/ap

[2016-01-15 17:02] #3996 closed, assigned to brew

[2016-01-15 21:05] takavarasha commented on #4006
Tagging @reubano

[2016-01-16 08:07] reubano commented on #4006
I fixed the issue. The api still shows the separate tags, but I updated each dataset with the spaces stripped.

[2016-01-16 08:15] teodorescuserban commented on #4006
Shouldn't we have stripping in ckan?

Sâm, 16 ian. 2016, 10:07, Reuben Cummings notifications@github.com a
scris:

[2016-01-16 21:42] #4004 closed, assigned to alexandru-m-g

[2016-01-16 21:46] alexandru-m-g commented on #3889
From @yumiendo

## left column

#### Adding files via Dropbox:

Please be advised that by adding files via dropbox, file sharing setting turns on automatically and becomes viewable by anyone with the link.

#### Adding files via Google Drive:

In order to add your file(s) from Google Drive, sharing settings of file(s) has to be on so your file(s) becomes viewable on HDX.
For instructions on how to

[2016-01-17 22:51] #3973 closed, assigned to alexandru-m-g

[2016-01-18 09:56] alexandru-m-g commented on #3928
Things that still need to be done here:
-  [x] icons for file types
-  [ ] there's a moment when the page turns gray before the contribute flow starts loading after click on edit/add dataset. This is a new req but we should probably show something there as well.

[2016-01-18 14:10] danmihaila opened #4007 "New Contribute Flow: Drag&Drop feature"

[2016-01-18 14:24] danmihaila opened #4008 "New Contribute Flow: Reorder the resources bug in FF"

[2016-01-18 15:38] cjhendrix commented on #4006
Thanks @reubano . Let's keep this open until we also clean out the tag from the suggested tags list.   Maybe that updates with a reindex or something?  I feel like old unused tags don't stay around forever.

[2016-01-19 14:42] alexandru-m-g commented on #3889
Added the documentation.

[2016-01-19 14:42] #3889 closed, assigned to alexandru-m-g

[2016-01-20 09:16] danmihaila commented on #4002
done

[2016-01-20 09:16] #4002 closed, assigned to danmihaila

[2016-01-20 09:16] danmihaila commented on #4005
done

[2016-01-20 09:16] #4005 closed, assigned to danmihaila

[2016-01-20 09:18] danmihaila commented on #3974
@alexandru-m-g any update on this one? moving it to Sprint 77

[2016-01-20 09:52] danmihaila opened #4009 "New Contribute Flow: Validate datasets with no resources"

[2016-01-20 09:53] danmihaila opened #4010 "New Contribute Flow: On resources, “File Type” box should be autocomplete."
Implement File Type  box with autocomplete feature.

[2016-01-20 09:56] danmihaila opened #4011 "New Contribute Flow: tweaks on modal"
- [ ] Tight spacing on left of modal (Win7/chrome/zoom100%). This is also true on MacOS default resolution (no external screens)
  <img width="298" alt="screen shot 2016-01-20 at 11 54 28" src="https://cloud.githubusercontent.com/assets/3865844/12445372/a01c11ba-bf6c-11e5-9eec-615273887cbc.png">
  <img width="1262" alt="screen shot 2016-01-20 at 11 58 50" src="https://cloud.githubusercontent.com/a

[2016-01-20 09:56] danmihaila opened #4012 "New Contribute Flow: Remove see preview button"

[2016-01-20 09:57] danmihaila opened #4013 "New Contribute Flow: adjust the black to gray for dragging icon"
the “drag handle” for resources is too strong in black.  Consider making it some shade of gray

[2016-01-20 09:58] danmihaila opened #4014 "New Contribute Flow: update the file name of resource when choosing another file"
Changing a file resource appears to have no effect.
- browse and upload a resource (file)
- click “browse” to replace and select a different file
- original file name remains

[2016-01-20 11:35] alexandru-m-g commented on #3974
@danmihaila It should be moved to the next Sprint. All updates to it i'll post here.

[2016-01-20 11:37] alexandru-m-g commented on #4001
@danmihaila I think we talked about putting this also in the current Sprint, right  ?

[2016-01-20 11:45] #4009 closed, assigned to nobody

[2016-01-20 11:57] danmihaila opened #4015 "Json preview not working"
based on email, json preview doesn't seem to work.
I also tried to test on staging: https://test-data.hdx.rwlabs.org/dataset/emergency-interventions-funded-using-the-emergency-envelope/resource/35705b22-9d10-42c1-9c0b-6f196742f495

[2016-01-20 12:08] #3974 closed, assigned to alexandru-m-g

[2016-01-20 14:51] takavarasha commented on #4003
My understanding is that the user should be presented with the following 9 options:
Never
Every day
Every week
Every two weeks
Every month
Every three months
Every six months
Every year
Other

Below are the values that should be saved based on what the user has selected:
Never ==> Save the value 0
Every day ==> Save the value 1
Every week ==> Save the value 7
Every two weeks ==> Save the value 14

[2016-01-21 10:05] #4012 closed, assigned to danmihaila

[2016-01-21 10:11] #4013 closed, assigned to danmihaila

[2016-01-21 10:37] danmihaila commented on #4003
ok. I will implement the values as they were now except Other as this is a new request. My advice is to use the predefined values otherwise we will end with user writing "two weeks and half" and we need to translate what user is entering in other option into values as he/she currently sees some text and not numbers.

[2016-01-21 11:51] alexandru-m-g commented on #4015
1) There is an issue with the configuration of the server that hosts the json file (data.waterpointdata.org). It doesn't support the "HEAD" HTTP command which CKAN ( actually one of it's libraries ) uses :

[code]

@amcguire62 @danmihaila
Can the owner of the server change this ?
Should we try to modify/rewrite the CKAN proxy functionality to deal with such cases ?

2) There seems to also be an is

[2016-01-21 15:50] #4001 closed, assigned to alexandru-m-g

[2016-01-21 16:01] takavarasha commented on #4003
The value entered in other must be a whole number greater than 0.

[2016-01-21 16:40] #4014 closed, assigned to alexandru-m-g

[2016-01-21 20:12] #4010 closed, assigned to alexandru-m-g

[2016-01-22 10:39] #4008 closed, assigned to aalecs

[2016-01-22 10:53] danmihaila opened #4016 "New Contribute Flow: Testing feature-data vs. mockups"

[2016-01-25 09:50] cjhendrix opened #4017 "Add member: make the dropdown default to "editor""
Editor is most common and it's easy to accidentally make someone an admin.

![image](https://cloud.githubusercontent.com/assets/1654485/12547574/73f7d914-c351-11e5-9b40-869955254f77.png)

[2016-01-27 15:56] #4015 closed, assigned to alexandru-m-g

[2016-01-28 14:47] danmihaila opened #4019 "Visit website link should open in a new tab"
![index](https://cloud.githubusercontent.com/assets/3865844/12647640/cdff30bc-c5de-11e5-8e4a-52e4aad7952b.gif)

[2016-01-28 15:27] #4019 closed, assigned to danmihaila

[2016-01-29 10:27] danmihaila opened #4021 "New Contribute Flow: strange beheviour"
Add Data > add one file.
When mouse over the thrash icon it will show the mouse arrow like mouse over a letter/text . If user tries to select the trash icon (like selecting a paragraph) it will duplicate at end of the form a resource.
![screen shot 2016-01-29 at 12 25 05](https://cloud.githubusercontent.com/assets/3865844/12673150/a7263f30-c683-11e5-9432-2bafa7c4bea0.png)
![screen shot 2016-01-29

[2016-02-01 09:14] danmihaila opened #4022 "New Contribute Flow: Resource validation"
Screenshot attached.
- [x] The validation string numbering is starting from 0 and the errors are displayed for a different resource. It should say error resource 3 instead of 2

![screen shot 2016-02-01 at 11 11 48](https://cloud.githubusercontent.com/assets/3865844/12712995/d2b45b48-c8d4-11e5-8111-f7bc97c401e5.png)
- [ ] In case user is clicking on add more resource button, but it is not entering

[2016-02-01 09:22] danmihaila opened #4023 "New Contribute Flow: Resources issues"
- [x] When adding a new resources of type "url" there are 2 fields called "File name" and user doesn't know where to place the "url"
- [ ] Trying to not put a format for an url and I am getting an error saying format is missing.
  Pls note that the error message is for resource x+1
  ![screen shot 2016-02-01 at 11 19 17](https://cloud.githubusercontent.com/assets/3865844/12713234/17676950-c8d6-11e